Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

[Wallet] Show splash screen until JS is ready on iOS (#1453)
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo/AppDelegate.m
  packages/mobile/package.json
  packages/verifier/package.json
  yarn.lock
Due: mobile

[Wallet] Prevent error from Avatar when name is missing (#1454)
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/src/components/Avatar.tsx
  packages/react-components/__mocks__/country-data.js
  packages/react-components/components/Avatar.test.tsx
  packages/react-components/components/Avatar.tsx
  packages/react-components/components/PhoneNumberInput.test.tsx
  packages/react-components/components/__snapshots__/Avatar.test.tsx.snap
  packages/react-components/components/__snapshots__/PhoneNumberInput.test.tsx.snap
  packages/react-components/package.json
Due: mobile

Added txpool family to geth apis. Sorted geth cmd options
  packages/helm-charts/testnet/templates/_helpers.tpl
Due: none

Upgrade app version to v1.5.1 Add fastlane lanes to more conveniently build apks/bundles
  packages/mobile/README.md
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/main/assets/custom/LicenseDisclaimer.txt
  packages/mobile/android/gradle.properties
  packages/mobile/fastlane/Fastfile
  packages/mobile/fastlane/README.md
  packages/mobile/package.json
Due: mobile

[Wallet] Wallet can switch between hosted and local node (#1419)
  README-dev.md
  packages/mobile/.env
  packages/mobile/.env.alfajores
  packages/mobile/.env.integration
  packages/mobile/.env.pilot
  packages/mobile/.env.pilotstaging
  packages/mobile/.env.production
  packages/mobile/.env.staging
  packages/mobile/.env.test
  packages/mobile/locales/en-US/global.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/CeloLite.tsx
  packages/mobile/src/account/__snapshots__/Account.test.tsx.snap
  packages/mobile/src/app/ErrorMessages.ts
  packages/mobile/src/app/saga.ts
  packages/mobile/src/config.ts
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/geth/consts.ts
  packages/mobile/src/geth/geth.ts
  packages/mobile/src/geth/networkConfig.ts
  packages/mobile/src/geth/saga.ts
  packages/mobile/src/identity/verification.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/transactions/send.ts
  packages/mobile/src/web3/actions.ts
  packages/mobile/src/web3/contracts.ts
  packages/mobile/src/web3/reducer.ts
  packages/mobile/src/web3/saga.ts
  packages/mobile/src/web3/selectors.ts
  packages/mobile/test/schemas.ts
Due: mobile

Add getAttestationState method
  packages/contractkit/src/wrappers/Attestations.ts
Due: none

Add validation of the request
  packages/attestation-service/migrations/20191015211858-create-attestation.js
  packages/attestation-service/models/attestation.ts
  packages/attestation-service/models/index.js
  packages/attestation-service/package.json
  packages/attestation-service/src/attestation.ts
  packages/attestation-service/src/db.ts
  packages/attestation-service/src/index.ts
  packages/attestation-service/src/request.ts
  packages/utils/src/phoneNumbers.ts
  yarn.lock
Due: none

Add Freezable contract
  packages/protocol/contracts/common/Freezable.sol
  packages/protocol/contracts/common/test/FreezableTest.sol
  packages/protocol/test/common/freezable.ts
Due: protocol

Fix reference to setName
  packages/protocol/migrations/19_elect_validators.ts
Due: protocol

Change source sortable for events cal
  packages/web/server/EventHelpers.ts
Due: none

Properly validate attestation
  packages/attestation-service/src/attestation.ts
  packages/contractkit/src/wrappers/Attestations.ts
  packages/utils/src/signatureUtils.test.ts
  packages/utils/src/signatureUtils.ts
Due: none

Increase gas limit
  packages/protocol/runTests.js
  packages/protocol/test/governance/validators.ts
  packages/protocol/truffle-config.js
Due: protocol

Fix signing
  packages/attestation-service/src/attestation.ts
Due: none

Fix contractkit test
  packages/contractkit/src/wrappers/SortedOracles.test.ts
Due: none

Try to align on epoch
  packages/celotool/src/e2e-tests/shuffle_tests.ts
Due: none

Change Airtable api key from personal gmail to celo.org account and update community calendar base key to be experience base
  packages/web/server-env-config.js.enc
Due: none

set usage of shuffled round robin in the genesis block
  packages/celotool/src/lib/generate_utils.ts
Due: none

Add an e2e shuffle test
  packages/celotool/src/e2e-tests/shuffle_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
Due: none

bummp geth image tags to master
  .env
Due: none

wip
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Due: none

Revert celotool changes
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/truffle-config.js
Due: protocol

Revert storage make change
  packages/protocol/contracts/governance/Governance.sol
Due: protocol

Fix key_placer
  scripts/key_placer.sh
Due: none

Rename DB_URL to DATABASE_URL
  packages/attestation-service/config/.env.development
  packages/attestation-service/config/database.json
  packages/attestation-service/models/index.js
  packages/attestation-service/src/db.ts
Due: none

Update key_placer.sh
  scripts/key_placer.sh
Due: none

Update gasLimit for contractkit tests
  packages/contractkit/src/test-utils/ganache.setup.ts
Due: none

Move models
  packages/attestation-service/package.json
  packages/attestation-service/src/db.ts
  packages/attestation-service/src/models/attestation.ts
  packages/attestation-service/src/models/index.js
Due: none

Remove outdated comment
  packages/protocol/contracts/governance/Election.sol
Due: protocol

Enable freezing of the exchange
  packages/protocol/contracts/stability/Exchange.sol
  packages/protocol/contracts/stability/interfaces/IExchange.sol
  packages/protocol/migrations/09_exchange.ts
  packages/protocol/test/stability/exchange.ts
Due: protocol

Fix invite saga tests
  packages/mobile/src/invite/saga.test.ts
Due: mobile

Move Freezable to new baklava directory
  packages/protocol/contracts/baklava/Freezable.sol
  packages/protocol/contracts/baklava/test/FreezableTest.sol
  packages/protocol/contracts/stability/Exchange.sol
  packages/protocol/test/baklava/freezable.ts
Due: protocol

Wait for 30 blocks and use shuffle
  packages/celotool/src/e2e-tests/shuffle_tests.ts
  packages/celotool/src/lib/generate_utils.ts
Due: none

Fix devchain script gasLimit
  packages/protocol/scripts/devchain.ts
Due: protocol

point end-to-end tests back to master
  .circleci/config.yml
Due: none

Update tests to work with contractkit
  packages/mobile/src/invite/saga.test.ts
  packages/mobile/src/stableToken/saga.test.ts
  packages/mobile/src/tokens/saga.ts
  packages/mobile/test/utils.ts
Due: mobile

Fixes key_placer.sh when encrypting files (#1465)
  scripts/key_placer.sh
Due: none

fix arg list in migrate.sh
  packages/protocol/scripts/bash/migrate.sh
Due: protocol

Update gas prices for free Tobin tax
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
