Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

fix tests
  packages/mobile/src/notifications/NotificationAmount.tsx
  packages/mobile/src/notifications/NotificationList.test.tsx
  packages/mobile/src/notifications/SummaryNotification.test.tsx
  packages/mobile/src/notifications/__snapshots__/NotificationList.test.tsx.snap
  packages/mobile/src/notifications/__snapshots__/SummaryNotification.test.tsx.snap
  packages/react-components/components/SummaryNotification.test.tsx
  packages/react-components/components/__snapshots__/SummaryNotification.test.tsx.snap
Due: mobile

Fix build
  packages/mobile/src/escrow/EscrowedPaymentListScreen.tsx
  packages/mobile/src/notifications/NotificationList.test.tsx
  packages/mobile/src/notifications/NotificationList.tsx
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListScreen.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListScreen.tsx
Due: mobile

Fix locales
  packages/mobile/locales/es-419/global.json
  packages/mobile/locales/es-419/inviteFlow11.json
  packages/mobile/locales/es-419/paymentRequestFlow.json
  packages/mobile/locales/es-419/walletFlow5.json
Due: mobile

Address the comments
  packages/mobile/src/escrow/EscrowedPaymentLineItem.tsx
  packages/mobile/src/escrow/EscrowedPaymentListItem.tsx
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/notifications/NotificationList.tsx
  packages/mobile/src/notifications/SimpleNotification.test.tsx
  packages/mobile/src/notifications/SummaryNotification.test.tsx
  packages/mobile/src/notifications/SummaryNotification.tsx
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListItem.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListItem.tsx
  packages/mobile/src/set-clock/SetClock.tsx
  packages/react-components/components/BackButton.tsx
  packages/react-components/components/BaseNotification.tsx
  yarn.lock
Due: mobile

Address PR comments
  packages/mobile/src/escrow/EscrowedPaymentListScreen.tsx
  packages/mobile/src/escrow/__snapshots__/EscrowedPaymentLineItem.test.tsx.snap
  packages/mobile/src/escrow/__snapshots__/EscrowedPaymentListItem.test.tsx.snap
  packages/mobile/src/escrow/__snapshots__/EscrowedPaymentReminderSummaryNotification.test.tsx.snap
  packages/mobile/src/home/__snapshots__/NotificationBox.test.tsx.snap
  packages/mobile/src/notifications/__snapshots__/NotificationList.test.tsx.snap
  packages/mobile/src/notifications/__snapshots__/SimpleNotification.test.tsx.snap
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListItem.tsx
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListScreen.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListItem.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListScreen.tsx
  packages/mobile/src/paymentRequest/PaymentRequestNotificationInner.tsx
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestListItem.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestListScreen.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestSummaryNotification.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestListItem.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestListScreen.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestSummaryNotification.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/PaymentRequestNotificationInner.test.tsx.snap
  packages/mobile/src/transactions/TransferFeedIcon.tsx
Due: mobile

Address comments in the PR
  packages/mobile/locales/en-US/inviteFlow11.json
  packages/mobile/locales/en-US/paymentRequestFlow.json
  packages/mobile/locales/es-419/inviteFlow11.json
  packages/mobile/locales/es-419/paymentRequestFlow.json
  packages/mobile/locales/es-419/walletFlow5.json
  packages/mobile/src/escrow/EscrowedPaymentLineItem.tsx
  packages/mobile/src/escrow/EscrowedPaymentReminderSummaryNotification.tsx
  packages/mobile/src/escrow/__snapshots__/EscrowedPaymentLineItem.test.tsx.snap
  packages/mobile/src/escrow/__snapshots__/EscrowedPaymentReminderSummaryNotification.test.tsx.snap
  packages/mobile/src/home/__snapshots__/NotificationBox.test.tsx.snap
  packages/mobile/src/paymentRequest/IncomingPaymentRequestSummaryNotification.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestSummaryNotification.tsx
  packages/mobile/src/paymentRequest/PaymentRequestNotificationInner.tsx
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestListItem.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestListScreen.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestSummaryNotification.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestSummaryNotification.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/PaymentRequestNotificationInner.test.tsx.snap
  packages/react-components/components/BaseNotification.tsx
Due: mobile

Revert for key in i18n
  packages/mobile/locales/en-US/global.json
Due: mobile

Create run-app script to handle common app configuration tasks
  packages/mobile/.env
  packages/mobile/package.json
  packages/mobile/scripts/pre-dev.sh
  packages/mobile/scripts/run_app.sh
  packages/mobile/scripts/run_e2e.sh
  packages/notification-service/config/config.integration.env
Due: mobile

Remove double Network string
  packages/celotool/src/lib/ethstats.ts
Due: none

move deployed services to a deployed version of @celo/utils
  packages/notification-service/package.json
  packages/react-components/package.json
  packages/transaction-metrics-exporter/package.json
  packages/verification-pool-api/package.json
  packages/verifier/package.json
  packages/web/package.json
Due: none

fix versions for app engine services
  packages/attestation-service/package.json
  packages/react-components/package.json
  packages/transaction-metrics-exporter/package.json
  packages/verifier/package.json
  packages/web/package.json
  yarn.lock
Due: none

Use old .env.baklavastaging
  .env.baklavastaging
Due: none

uncomment the thing. fix a tiny spelling mistake
  packages/celotool/src/cmds/bots/voting.ts
  packages/cli/src/commands/election/list.ts
Due: none

Fix/contractkit test flakyness (#2150)
  packages/celotool/src/e2e-tests/utils.ts
  packages/contractkit/jest.config.js
  packages/contractkit/src/test-utils/AlphabeticSequencer.js
  packages/contractkit/src/test-utils/ganache.setup.ts
  packages/contractkit/src/wrappers/Accounts.test.ts
  packages/contractkit/src/wrappers/SortedOracles.test.ts
  packages/contractkit/src/wrappers/Validators.test.ts
  packages/dev-utils/src/network.ts
Due: none

Three little improvements to website (#2161)
  packages/web/src/community/connect/ConnectPage.tsx
  packages/web/src/dev/BuildPage.tsx
  packages/web/src/dev/opengraph.jpg
  packages/web/src/header/OpenGraph.tsx
  packages/web/src/layout/ScreenSize.tsx
  packages/web/src/shared/ConnectionFooter.tsx
Due: none

make the initial exchange rate report be an envvar-configurable value. set it to 1 for baklava
  .env
  .env.alfajores
  .env.alfajoresstaging
  .env.baklava
  .env.baklavastaging
  .env.integration
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/migration-utils.ts
  packages/protocol/migrations/08_stabletoken.ts
Due: protocol

update NPM publish instructions
  README-dev.md
Due: none

Remove if false :|
  packages/celotool/src/cmds/deploy/upgrade/vm-testnet.ts
Due: none

Start by moving helpers back to CLI
  packages/cli/src/commands/rewards/show.ts
  packages/contractkit/src/utils/async-utils.ts
  packages/contractkit/src/utils/web3-utils.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
Due: none

Add /test_attestations endpoint on the attestation service
  packages/attestation-service/src/env.ts
  packages/attestation-service/src/index.ts
  packages/attestation-service/src/request.ts
  packages/attestation-service/src/requestHandlers/attestation.ts
  packages/attestation-service/src/requestHandlers/status.ts
  packages/attestation-service/src/requestHandlers/test_attestation.ts
  packages/cli/src/commands/identity/test-attestation-service.ts
  packages/cli/src/utils/checks.ts
  packages/cli/src/utils/command.ts
  packages/utils/src/io.ts
Due: none

VM monitoring, bigger VMs, persistent disks for full nodes, prom to sd for proxies (#2176)
  packages/celotool/src/lib/prom-to-sd-utils.ts
  packages/celotool/src/lib/terraform.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/terraform-modules/testnet/main.tf
  packages/terraform-modules/testnet/modules/bootnode/main.tf
  packages/terraform-modules/testnet/modules/bootnode/startup.sh
  packages/terraform-modules/testnet/modules/full-node/main.tf
  packages/terraform-modules/testnet/modules/full-node/startup.sh
  packages/terraform-modules/testnet/modules/full-node/variables.tf
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/main.tf
  packages/terraform-modules/testnet/modules/validator/main.tf
  packages/terraform-modules/testnet/modules/validator/outputs.tf
  packages/terraform-modules/testnet/modules/validator/startup.sh
  packages/terraform-modules/testnet/outputs.tf
Due: none

Add instructions for transitioning from phase 1.0 to phase 1.1 (#2177)
  .env.baklava
  packages/docs/getting-started/reconnecting-to-network.md
  packages/docs/getting-started/running-a-full-node.md
  packages/docs/getting-started/running-a-validator.md
  packages/protocol/truffle-config.js
  scripts/run-docker-validator-network.sh
  scripts/validator-config.rc
Due: protocol

Add reconnecting to a network to docs
  packages/docs/SUMMARY.md
Due: none

Add reconnecting to a network to docs (#2190)
  packages/docs/SUMMARY.md
Due: none

Combine epoch loops
  packages/cli/src/commands/rewards/show.ts
  packages/contractkit/src/wrappers/Election.ts
Due: none

Check sync status of attestation service
  packages/attestation-service/src/db.ts
  packages/attestation-service/src/logger.ts
Due: none

Support more than 1 attesation bot at a time
  packages/celotool/src/cmds/bots/auto-verify.ts
  packages/celotool/src/lib/migration-utils.ts
  packages/helm-charts/attestation-bot/templates/deployment.yaml
Due: none

Remove debug message
  packages/cli/src/commands/identity/test-attestation-service.ts
Due: none

Update docs
  packages/docs/command-line-interface/identity.md
Due: none

Indicate to run Twilio globally
  packages/docs/getting-started/running-a-validator.md
Due: none

Add Twilio and attestation bot envs
  .env.baklava
  .env.baklavastaging
  .env.mnemonic.baklava.enc
  .env.mnemonic.baklavastaging.enc
Due: none

Add attestation info for reconnecting
  packages/docs/getting-started/reconnecting-to-network.md
Due: none

Fix typescript types
  packages/mobile/src/app/actions.ts
  packages/mobile/src/firebase/saga.ts
  packages/react-components/analytics/wrapper.tsx
Due: mobile

Update network ID
  .env.baklava
  packages/docs/getting-started/reconnecting-to-network.md
  packages/docs/getting-started/running-a-full-node.md
  packages/docs/getting-started/running-a-validator.md
  packages/protocol/truffle-config.js
  scripts/run-docker-validator-network.sh
  scripts/validator-config.rc
Due: protocol

Use explicit react version in package so we dont have multiple reacts being imported
  packages/web/package.json
  yarn.lock
Due: none

Upgrade web3 version in mobile
  packages/mobile/package.json
  packages/mobile/src/escrow/saga.ts
  yarn.lock
Due: mobile

Bake helpers into epoch loop
  packages/cli/src/commands/rewards/show.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
Due: none

Add attestation info for reconnecting (#2195)
  packages/docs/getting-started/reconnecting-to-network.md
Due: none

Readme badge tweaks
  README.md
Due: none

Updating validator group electing gold to allow external validators easier access to being elected
  packages/protocol/migrations/20_elect_validators.ts
  packages/protocol/migrationsConfig.js
Due: protocol

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
