Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

Remove package and other stuff
  packages/web/next.config.js
  packages/web/package.json
  packages/web/src/fonts/Fonts.tsx
  packages/web/src/forms/FormComponents.tsx
  yarn.lock
Due: none

Hmm
  yarn.lock
Due: none

Shorten testris component
  packages/web/src/about/Testris.tsx
  packages/web/src/about/Tetris.tsx
  packages/web/src/about/Values.tsx
Due: none

Fix naming
  packages/web/src/about/Values.tsx
Due: none

Update to latest blockchain with select issuers fix
  packages/mobile/ios/Podfile.lock
  packages/mobile/package.json
  yarn.lock
Due: mobile

Variable name
  packages/mobile/src/web3/saga.ts
Due: mobile

Fix type errors and presentation of profile on about page
  packages/web/server/cache.ts
  packages/web/server/getContributors.ts
  packages/web/src/about/Team.tsx
  packages/web/src/fonts/Fonts.tsx
Due: none

Remove unused code style
  packages/web/src/about/Team.tsx
Due: none

Update executehotfix to require a salt flag
  packages/cli/src/commands/governance/executehotfix.ts
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/utils/web3-utils.ts
  packages/contractkit/src/wrappers/Governance.ts
Due: none

Address comments
  packages/cli/src/commands/governance/approvehotfix.ts
  packages/cli/src/commands/governance/executehotfix.ts
  packages/cli/src/commands/governance/preparehotfix.ts
  packages/cli/src/commands/governance/whitelisthotfix.ts
  packages/cli/src/utils/checks.ts
  packages/contractkit/src/wrappers/Accounts.ts
Due: none

Update celotool hotfix to work with salt
  packages/celotool/src/cmds/deploy/upgrade/hotfix.ts
Due: none

Lets try this
  yarn.lock
Due: none

Making my heart break
  yarn.lock
Due: none

WIP
  packages/mobile/package.json
  packages/mobile/src/web3/contracts.ts
  packages/mobile/src/web3/gas.ts
  packages/mobile/src/web3/saga.ts
  yarn.lock
Due: mobile

Combine sections on sms retriever
  packages/mobile/README.md
Due: mobile

Blank
  packages/web/src/about/About.tsx
Due: none

WIP
  packages/mobile/src/fees/saga.ts
  packages/mobile/src/goldToken/saga.ts
  packages/mobile/src/stableToken/saga.ts
  packages/mobile/src/tokens/saga.ts
  packages/mobile/src/transactions/saga.ts
Due: mobile

Switch to using native pbkdf to fix hanging on older devices (#2354)
  packages/mobile/__mocks__/react-native-fast-crypto.ts
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/main/java/org/celo/mobile/MainApplication.java
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/package.json
  packages/mobile/src/backup/utils.test.ts
  packages/mobile/src/import/saga.ts
  packages/mobile/src/web3/saga.ts
  yarn.lock
Due: mobile

With ignore loader
  packages/web/next.config.js
  packages/web/package.json
  yarn.lock
Due: none

Fix yarn
  yarn.lock
Due: none

Update generated docs
  packages/docs/command-line-interface/governance.md
Due: none

Update reconnecting-to-network.md
  packages/docs/getting-started/reconnecting-to-network.md
Due: none

wip: chart + aggregated data from firebase
  packages/mobile/locales/en-US/exchangeFlow9.json
  packages/mobile/locales/es-419/exchangeFlow9.json
  packages/mobile/package.json
  packages/mobile/src/components/AccountOverview.tsx
  packages/mobile/src/components/__snapshots__/AccountOverview.test.tsx.snap
  packages/mobile/src/exchange/CeloGoldHistoryChart.tsx
  packages/mobile/src/exchange/CeloGoldOverview.test.tsx
  packages/mobile/src/exchange/CeloGoldOverview.tsx
  packages/mobile/src/exchange/ExchangeHomeScreen.tsx
  packages/mobile/src/exchange/actions.ts
  packages/mobile/src/exchange/reducer.ts
  packages/mobile/src/firebase/saga.ts
  packages/mobile/src/redux/store.ts
  packages/mobile/src/web3/saga.ts
  yarn.lock
Due: mobile

Make chart as on design
  packages/mobile/src/exchange/CeloGoldHistoryChart.tsx
  packages/mobile/src/exchange/ExchangeHomeScreen.tsx
  packages/mobile/src/web3/saga.ts
Due: mobile

Refactor currency convertion and representation
  packages/mobile/src/exchange/CeloGoldHistoryChart.tsx
  packages/mobile/src/exchange/CeloGoldOverview.tsx
  packages/mobile/src/exchange/ExchangeHomeScreen.tsx
  packages/mobile/src/exchange/hooks.ts
  packages/mobile/src/exchange/selectors.ts
  packages/mobile/src/localCurrency/hooks.ts
  packages/mobile/src/utils/formatting.ts
Due: mobile

Add tests
  packages/mobile/locales/en-US/global.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/src/exchange/CeloGoldHistoryChart.test.tsx
  packages/mobile/src/exchange/CeloGoldHistoryChart.tsx
  packages/mobile/src/exchange/CeloGoldOverview.test.tsx
  packages/mobile/src/exchange/CeloGoldOverview.tsx
  packages/mobile/src/exchange/ExchangeHomeScreen.test.tsx
  packages/mobile/src/exchange/__snapshots__/CeloGoldHistoryChart.test.tsx.snap
  packages/mobile/src/exchange/__snapshots__/CeloGoldOverview.test.tsx.snap
  packages/mobile/src/exchange/hooks.ts
  packages/mobile/src/exchange/reducer.ts
  packages/mobile/src/firebase/db-rules.json
  packages/mobile/src/home/WalletHome.test.tsx
  packages/mobile/test/schemas.ts
Due: mobile

added changes to the 3 tickets
  packages/contractkit/src/wrappers/SortedOracles.ts
  packages/protocol/contracts/common/GasPriceMinimum.sol
  packages/protocol/contracts/common/GoldToken.sol
  packages/protocol/contracts/common/MultiSig.sol
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/stability/Exchange.sol
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/SortedOracles.sol
  packages/protocol/contracts/stability/StableToken.sol
  packages/protocol/contracts/stability/interfaces/ISortedOracles.sol
  packages/protocol/migrations/08_stabletoken.ts
  packages/protocol/scripts/truffle/set_exchange_rate.ts
  packages/protocol/test/stability/sortedoracles.ts
Due: protocol

fix linter
  packages/mobile/src/exchange/ExchangeHomeScreen.tsx
  packages/mobile/src/firebase/saga.ts
Due: mobile

fix tests flakyness
  packages/celotool/src/cmds/geth/start.ts
  packages/celotool/src/e2e-tests/attestations_tests.ts
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/sync_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/e2e-tests/validator_order_tests.ts
  packages/celotool/src/helpers/add_local_geth.ts
  packages/celotool/src/helpers/start_geth.ts
  packages/celotool/src/lib/generate_utils.ts
  packages/celotool/src/lib/genesis_constants.ts
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/interfaces/genesis-config.ts
  packages/celotool/src/lib/interfaces/geth-instance-config.ts
  packages/celotool/src/lib/interfaces/geth-run-config.ts
Due: none

i want to lint free
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/interfaces/geth-run-config.ts
Due: none

made verbosity configurable
  packages/celotool/src/e2e-tests/sync_tests.ts
Due: none

fix blocktime loading
  packages/celotool/src/lib/geth.ts
Due: none

set correct blocktime
  packages/celotool/src/cmds/geth/start.ts
Due: none

Types build
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/web3/contracts.ts
Due: mobile

Loading spinner async means it often loads to slow to be useful as a loading indicator
  packages/web/src/animate/LottieBase.tsx
  packages/web/src/shared/Spinner.tsx
  packages/web/src/shared/darkSpinner.json
  packages/web/src/shared/greenSpinner.json
  packages/web/src/shared/whiteSpinner.json
Due: none

Turn off no emit false for build to work
  packages/web/tsconfig.json
Due: none

Add docs on how to generate sms retriever hash (#2356)
  packages/mobile/README.md
Due: mobile

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
