Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

Make things build, tests pass
  packages/cli/src/commands/lockedgold/show.ts
  packages/cli/src/commands/lockedgold/withdraw.ts
  packages/cli/src/commands/validatorgroup/register.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/interfaces/IElection.sol
Due: protocol

[CircleCI]Test more npm packages
  .circleci/config.yml
Due: none

fix: packages/notification-service/package.json to reduce vulnerabilities
  packages/notification-service/package.json
Due: none

Cleanup alfajores config
  packages/blockchain-api/app.alfajores.yaml
  packages/blockchain-api/app.alfajoresstaging.yaml
  packages/blockchain-api/app.integration.yaml
  packages/blockchain-api/app.pilot.yaml
  packages/blockchain-api/app.pilotstaging.yaml
  packages/blockchain-api/package.json
  packages/blockchain-api/test/blockscout.test.ts
Due: none

Make floating promises errors
  packages/mobile/tslint.json
Due: mobile

Prep for Wallet v.1.5.0 deployment (#1244)
  packages/blockchain-api/app.alfajores.yaml
  packages/blockchain-api/app.alfajoresstaging.yaml
  packages/blockchain-api/app.integration.yaml
  packages/blockchain-api/app.pilot.yaml
  packages/blockchain-api/app.pilotstaging.yaml
  packages/blockchain-api/package.json
  packages/blockchain-api/test/blockscout.test.ts
  packages/mobile/.env.alfajores
  packages/mobile/.env.integration
  packages/mobile/.env.pilot
  packages/mobile/.env.pilotstaging
  packages/mobile/.env.production
  packages/mobile/.env.staging
  packages/mobile/.env.test
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/main/AndroidManifest.xml
  packages/mobile/android/app/src/main/assets/custom/LicenseDisclaimer.txt
  packages/mobile/android/gradle.properties
  packages/mobile/package.json
  packages/verification-pool-api/contracts/Attestations.ts
  packages/verification-pool-api/contracts/GoldToken.ts
  packages/verification-pool-api/contracts/StableToken.ts
  packages/verification-pool-api/src/celoEnv.ts
Due: mobile

[Wallet] Fix lint warnings from floating promises (#1269)
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/InviteReview.tsx
  packages/mobile/src/account/selectors.test.ts
  packages/mobile/src/account/selectors.ts
  packages/mobile/src/account/types.ts
  packages/mobile/src/apollo/index.ts
  packages/mobile/src/app/Debug.tsx
  packages/mobile/src/backup/Backup.tsx
  packages/mobile/src/dappkit/dappkit.ts
  packages/mobile/src/firebase/actions.ts
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/firebase/saga.ts
  packages/mobile/src/geth/geth.ts
  packages/mobile/src/import/ImportContacts.tsx
  packages/mobile/src/invite/EnterInviteCode.tsx
  packages/mobile/src/navigator/NavigationService.ts
  packages/mobile/src/notifications/EscrowedPaymentReminderNotification.tsx
  packages/mobile/src/notifications/PaymentrequestSummaryNotification.test.tsx
  packages/mobile/src/paymentRequest/PaymentRequestConfirmation.tsx
  packages/mobile/src/paymentRequest/PaymentRequestListItem.tsx
  packages/mobile/src/paymentRequest/__mocks__.ts
  packages/mobile/src/send/SendAmount.tsx
  packages/mobile/src/sentry/Sentry.ts
  packages/mobile/src/utils/AppRestart.ts
  packages/mobile/src/utils/LogUploader.ts
  packages/mobile/src/utils/linking.ts
  packages/mobile/src/verify/Verifying.tsx
  packages/mobile/test/values.ts
  packages/mobile/tslint.json
Due: mobile

this won't work
  packages/protocol/contracts/identity/Random.sol
Due: protocol

[Wallet] Add exchange tobin tax education view (#1199)
  packages/mobile/locales/en-US/exchangeFlow9.json
  packages/mobile/locales/es-419/exchangeFlow9.json
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/exchange/FeeExchangeEducation.test.tsx
  packages/mobile/src/exchange/FeeExchangeEducation.tsx
  packages/mobile/src/exchange/FeeExchangeIcon.tsx
  packages/mobile/src/exchange/__snapshots__/ExchangeConfirmationCard.test.tsx.snap
  packages/mobile/src/exchange/__snapshots__/FeeExchangeEducation.test.tsx.snap
  packages/mobile/src/images/Images.ts
  packages/mobile/src/images/rings-plus-circle.png
  packages/mobile/src/images/rings-plus-circle@x2.png
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/Screens.tsx
Due: mobile

minor fix
  packages/mobile/src/escrow/saga.ts
Due: mobile

fix cDollar in Gold tab bug
  packages/blockchain-api/src/utils.ts
Due: none

added first tests
  packages/protocol/contracts/identity/Random.sol
  packages/protocol/contracts/identity/test/TestRandom.sol
  packages/protocol/test/identity/random.ts
Due: protocol

fix cDollar in Gold tab bug (#1277)
  packages/blockchain-api/src/utils.ts
Due: none

cleanup
  packages/protocol/test/identity/random.ts
Due: protocol

Remove backhandler
  packages/mobile/jest.config.js
  packages/mobile/package.json
Due: mobile

Wallet e2e on Circle Ci (#1221)
  .circleci/config.yml
  packages/mobile/e2e/conf/avd_conf.ini
  packages/mobile/scripts/install_android_emulator_image.sh
  packages/mobile/scripts/run_e2e.sh
  packages/mobile/scripts/unlock.sh
  packages/mobile/scripts/wait_for_emulator_to_connect.sh
Due: mobile

Revert import wallet screen changes
  packages/mobile/src/import/ImportWallet.tsx
  packages/mobile/src/import/__snapshots__/ImportWallet.test.tsx.snap
Due: mobile

minor fix blockchain api
  packages/blockchain-api/src/blockscout.ts
Due: none

remove stale console.log
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/recipients/recipient.ts
Due: mobile

RetryWithBackOff for nexmo sends (#1250)
  packages/attestation-service/src/attestation.ts
  packages/attestation-service/src/sms.ts
  packages/utils/src/async.ts
  packages/verification-pool-api/src/config.ts
  packages/verification-pool-api/src/verification.ts
Due: none

Fix port forwarding for vm testnets
  packages/celotool/src/lib/port_forward.ts
Due: none

Docs with assumptions made by testnet terraform module (#848)
  packages/terraform-modules/testnet/README.md
Due: none

[CircleCI]Test more npm packages (#1263)
  .circleci/config.yml
Due: none

Fix dockerfiles, transaction-metrics-exporter has correct cmd
  dockerfiles/transaction-metrics-exporter/Dockerfile
  packages/contractkit/src/wrappers/GoldTokenWrapper.ts
Due: none

Add a button that can indicate loading
  packages/web/src/ecosystem/EcoFund.tsx
  packages/web/src/shared/Button.3.tsx
  packages/web/src/shared/LoaderButton.tsx
Due: none

Fix failing yarn builds when building docker images (#1280)
  dockerfiles/transaction-metrics-exporter/Dockerfile
  packages/contractkit/src/wrappers/GoldTokenWrapper.ts
Due: none

layout fellowship cover nicely on mobile.
  packages/web/src/community/connect/QuarterCircle.tsx
  packages/web/src/fellowship/FellowCover.tsx
  packages/web/src/layout/ScreenSize.tsx
Due: none

Combined Web UI Tweaks (#1193)
  packages/web/server/index.ts
  packages/web/src/about/team/isabelle@2x.png
  packages/web/src/about/team/joe@2x.jpg
  packages/web/src/about/team/team-list.ts
  packages/web/src/download/Cover.tsx
  packages/web/src/header/Header.3.tsx
  packages/web/src/jobs/version3/Jobs.tsx
  packages/web/src/join/ImagePanes.tsx
  packages/web/src/join/berlinOffice.jpg
  packages/web/src/join/laurance-joe.jpg
  packages/web/src/styles.ts
  packages/web/static/locales/en/download.json
Due: none

Fix lint
  packages/celotool/src/cmds/ssh-vm-node.ts
  packages/celotool/src/lib/transaction-metrics-exporter.ts
Due: none

Update docs
  packages/docs/command-line-interface/lockedgold.md
  packages/docs/command-line-interface/validatorgroup.md
Due: none

Fix unit tests
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/test/MockElection.sol
  packages/protocol/contracts/governance/test/MockLockedGold.sol
  packages/protocol/test/governance/election.ts
Due: protocol

Fix typos in dev README (#1257)
  README-dev.md
Due: none

Add lengthy timeout for celotool docker image yarn
  dockerfiles/celotool/Dockerfile
Due: none

Remove 'bonds' from cli help and fix validatorgroup:member cmd describe message (#1240)
  packages/cli/package.json
  packages/cli/src/commands/validatorgroup/member.ts
  packages/docs/command-line-interface/lockedgold.md
  packages/docs/command-line-interface/validatorgroup.md
Due: none

Fix migration
  packages/protocol/migrations/17_elect_validators.ts
Due: protocol

[celotool]Use user info from gcloud tool (#1259)
  packages/celotool/src/lib/testnet-utils.ts
Due: none

Update transaction-metrics-exporter README
  packages/transaction-metrics-exporter/README.md
Due: none

Prevent celotool dockerfile yarn network trouble error (#1281)
  dockerfiles/celotool/Dockerfile
Due: none

VM Testnets cleanup, get transaction-metrics-exporter working with VM testnets (#1278)
  packages/celotool/src/cmds/ssh-vm-node.ts
  packages/celotool/src/lib/blockscout.ts
  packages/celotool/src/lib/port_forward.ts
  packages/celotool/src/lib/terraform.ts
  packages/celotool/src/lib/transaction-metrics-exporter.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/helm-charts/transaction-metrics-exporter/templates/deployment.yaml
  packages/helm-charts/transaction-metrics-exporter/values.yaml
  packages/terraform-modules/testnet/main.tf
  packages/terraform-modules/testnet/modules/bootnode/main.tf
  packages/terraform-modules/testnet/modules/bootnode/startup.sh
  packages/terraform-modules/testnet/modules/bootnode/variables.tf
  packages/terraform-modules/testnet/modules/tx-node/main.tf
  packages/terraform-modules/testnet/modules/tx-node/startup.sh
  packages/terraform-modules/testnet/modules/tx-node/variables.tf
  packages/terraform-modules/testnet/modules/validator/main.tf
  packages/terraform-modules/testnet/modules/validator/startup.sh
  packages/terraform-modules/testnet/modules/validator/variables.tf
  packages/terraform-modules/testnet/variables.tf
  packages/transaction-metrics-exporter/README.md
Due: none

Contribute
  packages/web/src/community/EcosystemFund.png
  packages/web/src/community/Fellowship.png
  packages/web/src/community/connect/ConnectPage.tsx
  packages/web/src/community/connect/Contribute.tsx
  packages/web/src/dev/CoverAction.tsx
  packages/web/static/locales/en/community.json
Due: none

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
