Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

Update snaps
  packages/web/src/_page-tests/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  yarn.lock
Due: none

Update to latest blockchain with select issuers fix (#2362)
  packages/mobile/ios/Podfile.lock
  packages/mobile/package.json
  yarn.lock
Due: mobile

Pages test all working
  packages/web/.babelrc
  packages/web/jest.config.js
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/_error.test.tsx
  packages/web/src/_page-tests/about.test.tsx
  packages/web/src/_page-tests/code-of-conduct.test.tsx
  packages/web/src/_page-tests/community.test.tsx
  packages/web/src/_page-tests/faq.test.tsx
  packages/web/src/_page-tests/index.test.tsx
  packages/web/src/_page-tests/jobs.test.tsx
  packages/web/src/_page-tests/past-events.test.tsx
  packages/web/src/_page-tests/privacy.test.tsx
  packages/web/src/_page-tests/terms.test.tsx
  packages/web/src/_page-tests/user-agreement.test.tsx
  packages/web/src/about/About.tsx
  packages/web/src/about/Tetris.tsx
Due: none

Adds calc reserve ratio function
  packages/protocol/contracts/stability/Reserve.sol
Due: protocol

Adds test for reserve ratio
  packages/protocol/test/stability/reserve.ts
Due: protocol

Turn on Emit
  packages/web/tsconfig.json
Due: none

Fix analytics
  packages/web/pages/_app.tsx
  packages/web/pages/_document.tsx
  packages/web/server/Announcement.ts
  packages/web/server/index.ts
  packages/web/src/analytics/analytics.ts
  packages/web/src/home/HomeSystems.tsx
  packages/web/src/join/Benefits.tsx
Due: none

Turn on Emit (#2369)
  packages/web/tsconfig.json
Due: none

the trouble with yarn is...
  yarn.lock
Due: none

Remove Rewards page from web (#2353)
  packages/web/pages/rewards.tsx
Due: none

Fixes needed to make slashing work (#2346)
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/test/governance/validators.ts
Due: protocol

Switch to using native pbkdf to fix hanging on older devices (#2354)
  packages/mobile/__mocks__/react-native-fast-crypto.ts
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/main/java/org/celo/mobile/MainApplication.java
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/package.json
  packages/mobile/src/backup/utils.test.ts
  packages/mobile/src/import/saga.ts
  packages/mobile/src/web3/saga.ts
  yarn.lock
Due: mobile

Adding a command to the docker script allowing to stop validating (#2295)
  scripts/run-docker-validator-network.sh
Due: none

Switching from address whitelist to identifier whitelist.
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/migrations/19_governance_slasher.ts
  packages/protocol/migrations/20_double_signing_slasher.ts
  packages/protocol/migrations/21_downtime_slasher.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/lockedgold.ts
Due: protocol

Add docs on how to generate sms retriever hash (#2356)
  packages/mobile/README.md
Due: mobile

Adding docs
  packages/protocol/contracts/common/UsingRegistry.sol
Due: protocol

More space
  packages/web/src/about/Team.tsx
Due: none

Lint
  packages/web/src/_page-tests/_error.test.tsx
  packages/web/src/_page-tests/about.test.tsx
  packages/web/src/_page-tests/code-of-conduct.test.tsx
  packages/web/src/_page-tests/community.test.tsx
  packages/web/src/_page-tests/faq.test.tsx
  packages/web/src/_page-tests/index.test.tsx
  packages/web/src/_page-tests/jobs.test.tsx
  packages/web/src/_page-tests/past-events.test.tsx
  packages/web/src/_page-tests/privacy.test.tsx
  packages/web/src/_page-tests/terms.test.tsx
  packages/web/src/_page-tests/user-agreement.test.tsx
  packages/web/src/about/About.tsx
Due: none

README: Fix broken Contributing link
  README.md
Due: none

Update CONTRIBUTING to reference website.
  .github/CONTRIBUTING.md
Due: none

Clarify documentation on validator proxy
  packages/docs/getting-started/running-a-validator.md
Due: none

Fix Contribution Guildelines in the docs (#2370)
  .github/CONTRIBUTING.md
  README.md
Due: none

Make the same hotfix proposal executable with unique salts (#2357)
  packages/celotool/src/cmds/deploy/upgrade/hotfix.ts
  packages/cli/src/commands/governance/executehotfix.ts
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/utils/web3-utils.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/docs/command-line-interface/governance.md
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/test/governance/governance.ts
Due: protocol

Removed static_nodes_base64 var for validator
  packages/terraform-modules-public/testnet/main.tf
  packages/terraform-modules-public/testnet/modules/validator/main.tf
  packages/terraform-modules-public/testnet/modules/validator/variables.tf
Due: none

Adds isReserveLow function to epoch rewards
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/stability/interfaces/IReserve.sol
Due: protocol

Adds isReserveLow test
  packages/protocol/test/governance/epochrewards.ts
Due: protocol

Change "not syncing" to "not synced"
  packages/attestation-service/src/db.ts
Due: none

Minnor update readme
  packages/terraform-modules-public/README.md
Due: none

Update snaps
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/animation/__snapshots__/rise.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/logos/LogoDarkBg.tsx
  packages/web/src/logos/LogoLightBg.tsx
Due: none

Add links to contributing
  packages/docs/community/contributing.md
Due: none

Add links
  packages/docs/community/contributing.md
Due: none

PR comments
  packages/protocol/contracts/identity/Attestations.sol
Due: protocol

Update blockscout for alfajores and pilot envs (#1954)
  .env.alfajores
  .env.pilot
  .env.pilotstaging
Due: none

Make contributors text more decentralized
  packages/web/static/locales/en/about.json
Due: none

About page has changed
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
Due: none

Fix namespace
  packages/web/src/about/About.tsx
Due: none
