Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

Add test for blockscout getTransactions
  packages/blockchain-api/test/blockscout.test.ts
Due: none

Use milliseconds timestamp
  packages/blockchain-api/src/blockscout.ts
  packages/blockchain-api/src/schema.ts
  packages/mobile/src/apollo/types.ts
Due: mobile

Hide currency symbol in the exchange item details
  packages/mobile/src/components/CurrencyDisplay.tsx
  packages/mobile/src/transactions/ExchangeFeedItem.tsx
  packages/mobile/src/transactions/__snapshots__/ExchangeFeedItem.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransactionFeed.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransactionsList.test.tsx.snap
Due: mobile

Add depreciation notice
  packages/blockchain-api/src/schema.ts
Due: none

Add description for custom scalars
  packages/blockchain-api/src/schema.ts
Due: none

Better description for Address courtesy of https://github.com/poanetwork/blockscout/blob/130a4084eaf2c0db6ede18266b6f02e6a9230163/apps/block_scout_web/lib/block_scout_web/schema/scalars.ex#L11-L16
  packages/blockchain-api/src/schema.ts
Due: none

fix bot balance, add annotation to make it more readable with the 18 0s
  .env
  .env.baklava
  .env.baklavastaging
Due: none

Fix type regression for components wrapped by our own withTranslation
  packages/mobile/src/i18n.ts
Due: mobile

Fix type
  packages/mobile/src/exchange/CeloGoldHistoryChart.tsx
Due: mobile

first batch of unit tests added
  packages/protocol/contracts/governance/VestingInstance.sol
  packages/protocol/test/governance/vesting.ts
Due: protocol

Remove ts-ignore and cast as any instead so it doesn't swallow all errors
  packages/mobile/src/i18n.ts
Due: mobile

Remove unneeded prop
  packages/mobile/src/exchange/ExchangeConfirmationCard.test.tsx
Due: mobile

[Wallet] Fix type check regression for components wrapped by our custom `withTranslation` (#2457)
  packages/mobile/src/exchange/CeloGoldHistoryChart.tsx
  packages/mobile/src/i18n.ts
Due: mobile

Change order of profile info (#2454)
  packages/web/src/about/Team.tsx
  packages/web/src/react-native-aug.d.ts
Due: none

Add callouts to serve text messages in regions
  packages/docs/getting-started/running-a-validator.md
Due: none

more unit tests added
  packages/protocol/test/governance/vesting.ts
Due: protocol

Composition page — Alignment demos
  packages/web/pages/experience/brand/composition.tsx
  packages/web/src/_page-tests/experience/composition.test.tsx
  packages/web/src/brandkit/Composition.tsx
  packages/web/src/brandkit/common/Page.tsx
  packages/web/src/brandkit/images/aroundPhone.png
  packages/web/src/react-native-aug.d.ts
  packages/web/src/shared/menu-items.ts
  packages/web/static/locales/en/brand.json
Due: none

Composed
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/brandkit/Composition.tsx
Due: none

Fix fractions
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/brandkit/Composition.tsx
Due: none

Fewer lines
  packages/web/src/brandkit/Composition.tsx
Due: none

- added network:head command to dump some useful info
  packages/cli/src/commands/network/head.ts
Due: none

- date format - metadata
  packages/cli/src/commands/network/head.ts
Due: none

further unit tests added
  packages/protocol/test/governance/vesting.ts
Due: protocol

DENOMINATOR / getDenominator removed, numerator, denominator replaced with medianValue, unit test update
  packages/protocol/contracts/stability/SortedOracles.sol
  packages/protocol/migrations/08_stabletoken.ts
  packages/protocol/scripts/truffle/set_exchange_rate.ts
  packages/protocol/test/stability/sortedoracles.ts
Due: protocol

remove also claims
  packages/leaderboard/src/board.ts
Due: none

added check to make sure that locked values is not zero
  packages/cli/src/commands/lockedgold/lock.test.ts
  packages/cli/src/commands/lockedgold/lock.ts
Due: none

added comment
  packages/protocol/contracts/governance/DowntimeSlasher.sol
Due: protocol

take pending withdrawals into account when computing total balance
  packages/contractkit/src/kit.ts
Due: none

lint
  packages/protocol/contracts/governance/DowntimeSlasher.sol
Due: protocol

added perhaps more useful mock election
  packages/cli/src/commands/election/compare.ts
  packages/contractkit/src/wrappers/Election.ts
Due: none

Address some comments
  packages/mobile/src/components/CurrencyDisplay.tsx
  packages/mobile/src/images/Images.ts
  packages/mobile/src/images/exchangeGoldGreen.png
  packages/mobile/src/images/exchangeGreenGold.png
  packages/mobile/src/transactions/ExchangeFeedItem.tsx
  packages/mobile/src/transactions/TransactionsList.tsx
  packages/mobile/src/transactions/__snapshots__/ExchangeFeedItem.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransactionFeed.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransactionsList.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransferFeedItem.test.tsx.snap
  packages/mobile/src/utils/typescript.ts
Due: mobile

Rename MoneyAmount field `amount`-> `value`
  packages/blockchain-api/src/blockscout.ts
  packages/blockchain-api/src/schema.ts
  packages/blockchain-api/test/blockscout.test.ts
  packages/mobile/src/apollo/types.ts
  packages/mobile/src/components/CurrencyDisplay.tsx
  packages/mobile/src/exchange/ExchangeConfirmationCard.test.tsx
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/firebase/notifications.ts
  packages/mobile/src/send/TransferConfirmationCard.test.tsx
  packages/mobile/src/send/TransferConfirmationCard.tsx
  packages/mobile/src/transactions/ExchangeFeedItem.test.tsx
  packages/mobile/src/transactions/ExchangeFeedItem.tsx
  packages/mobile/src/transactions/TransactionFeed.test.tsx
  packages/mobile/src/transactions/TransactionsList.test.tsx
  packages/mobile/src/transactions/TransactionsList.tsx
  packages/mobile/src/transactions/TransferFeedItem.test.tsx
  packages/mobile/src/transactions/TransferFeedItem.tsx
  packages/mobile/src/transactions/__snapshots__/TransactionFeed.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransactionsList.test.tsx.snap
Due: mobile

Fixing tests
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/test/stability/reserve.ts
Due: protocol

fixed numerator/denominatpr in soredoracles kit
  packages/contractkit/src/wrappers/SortedOracles.ts
Due: none

more unit tests
  packages/protocol/test/governance/vesting.ts
Due: protocol

fixing-flakiness
  packages/cli/src/commands/election/run.ts
  packages/protocol/test/governance/governance.ts
Due: protocol

fixing flakiness
  packages/protocol/test/governance/governance.ts
Due: protocol

Add fiat exchange test
  packages/mobile/.env
  packages/mobile/locales/en-US/accountScreen10.json
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/FiatExchange.test.tsx
  packages/mobile/src/account/FiatExchange.tsx
  packages/mobile/src/account/__snapshots__/FiatExchange.test.tsx.snap
Due: mobile

Revert .env
  packages/mobile/.env
Due: mobile

Add comment
  packages/mobile/src/account/FiatExchange.tsx
Due: mobile

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
