Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

change in test utils
  packages/protocol/test/governance/validators.ts
Due: protocol

Address feedback
  packages/mobile/src/account/saga.ts
  packages/mobile/src/pincode/PincodeCache.ts
  packages/mobile/src/redux/migrations.test.ts
  packages/mobile/src/redux/migrations.ts
  packages/mobile/test/schemas.ts
  packages/react-components/components/NumberKeypad.tsx
Due: mobile

[celotool]Store .env config on GCS after deployment (#1086)
  packages/celotool/src/cmds/deploy/initial/testnet.ts
  packages/celotool/src/cmds/deploy/upgrade/testnet.ts
  packages/celotool/src/lib/testnet-utils.ts
  packages/celotool/src/lib/utils.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
Due: none

bump
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

Move FeeEducation view to common navigation stack.
  packages/mobile/src/navigator/Navigator.tsx
Due: mobile

fixing conflict and doing check if dataLength > 0
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/Proposals.sol
Due: protocol

move Roles from base to LockedGold
  packages/contractkit/src/base.ts
  packages/contractkit/src/index.ts
  packages/contractkit/src/wrappers/LockedGold.ts
Due: none

Added a variable for electoral threshold (#1023)
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/migrations/11_validators.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/scripts/bash/ganache.sh
  packages/protocol/scripts/devchain.ts
  packages/protocol/test/governance/validators.ts
  packages/protocol/truffle.js
Due: protocol

Fix saga test
  packages/mobile/src/account/saga.test.ts
Due: mobile

fixing conflict
  packages/protocol/contracts/governance/Governance.sol
Due: protocol

update hashing algo + salt
  packages/celotool/src/cmds/account/lookup.ts
  packages/contractkit/src/wrappers/Attestations.ts
  packages/dappkit/src/index.ts
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/main/java/org/celo/mobile/MainApplication.java
  packages/mobile/android/settings.gradle
  packages/mobile/jest_setup.ts
  packages/mobile/package.json
  packages/mobile/src/identity/contactMapping.ts
  packages/mobile/src/identity/verification.ts
  packages/mobile/src/index.d.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/utils/contacts.ts
  packages/protocol/test/identity/attestations.ts
  packages/utils/package.json
  packages/utils/src/phoneNumbers.ts
  packages/utils/src/types.d.ts
  packages/verification-pool-api/src/validation.ts
  packages/walletkit/src/attestations.ts
  yarn.lock
Due: mobile, protocol

Remove custom patch package which is not needed anymore
  package.json
  scripts/custom_patch_packages.sh
Due: none

Return to preview view when Fee Education is closed (#1068)
  packages/mobile/src/navigator/Navigator.tsx
Due: mobile

Fix clock sync code and remove obsolete react-native-system-clock module
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/main/java/org/celo/mobile/MainApplication.java
  packages/mobile/android/settings.gradle
  packages/mobile/package.json
  packages/mobile/src/index.d.ts
  packages/mobile/src/utils/time.ts
  yarn.lock
Due: mobile

only show attestation fees for the two main tokens
  packages/contractkit/src/kit.ts
  packages/contractkit/src/wrappers/Attestations.ts
Due: none

changed printing of parameters
  packages/cli/src/commands/network/parameters.ts
  packages/cli/src/utils/cli.ts
Due: none

Use latest react-native-ntp-client
  package.json
  packages/mobile/package.json
  yarn.lock
Due: mobile

Go back to web3 1.0.0-beta.37 since it is working
  packages/mobile/package.json
  packages/mobile/rn-cli.config.js
  yarn.lock
Due: mobile

Disable bitcode, geth framework doesn't support it
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
Due: mobile

Add web3 provider urls for integration and alfajores
  packages/notification-service/config/config.alfajores.env
  packages/notification-service/config/config.integration.env
  packages/notification-service/config/config.local.env
Due: none

fix sorting and ensure top event has a description
  packages/web/server/EventHelpers.ts
Due: none

Collect exchange rate time series using notification service (#1020)
  packages/notification-service/README.md
  packages/notification-service/config/config.alfajores.env
  packages/notification-service/config/config.integration.env
  packages/notification-service/config/config.local.env
  packages/notification-service/package.json
  packages/notification-service/src/config.ts
  packages/notification-service/src/exchange/exchangeQuery.ts
  packages/notification-service/src/firebase.ts
  packages/notification-service/src/index.ts
  packages/notification-service/src/polling.ts
Due: none

Add events airtable key
  packages/web/server-env-config.js.enc
Due: none

Validators tests passing
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/test/MockLockedGold.sol
  packages/protocol/test/governance/validators.ts
Due: protocol

Fix governance tests
  packages/protocol/test/governance/governance.ts
Due: protocol

Add election test file
  packages/protocol/test/governance/election.ts
Due: protocol

add a test for event helper
  packages/web/server/EventHelpers.test.ts
  packages/web/server/EventHelpers.ts
Due: none

Test can be smaller
  packages/web/server/EventHelpers.test.ts
Due: none

Date format is no longer coming in as a custom format so the default iso parsing works
  packages/web/server/EventHelpers.ts
Due: none

Remove tabletop
  packages/web/package.json
  yarn.lock
Due: none

Allow a testnet to run without ethstats (#1085)
  packages/celotool/src/lib/ethstats.ts
  packages/helm-charts/testnet/templates/ethstats.secret.yaml
Due: none

add tests for normalization of events
  packages/web/server/EventHelpers.test.ts
  packages/web/server/EventHelpers.ts
Due: none

Fix blockscout websocket jsonrpc url
  packages/helm-charts/blockscout/templates/_helpers.tpl
Due: none

Update .env and .env.integration files (#1087)
  .env
  .env.integration
Due: none

Exclude generated in vscode file watcher setting (#1082)
  .vscode/settings.json
Due: none

Remove auditor from contract context
  packages/protocol/contracts/governance/interfaces/IGovernance.sol
  packages/protocol/contracts/governance/test/MockValidators.sol
  packages/protocol/test/governance/governance.ts
Due: protocol

Fix exception caused by ToastAndroid unavailable on iOS
  packages/react-components/services/ReactNativeLogger.ts
Due: none

PR comments
  packages/attestation-service/package.json
  packages/attestation-service/src/attestation.ts
  packages/attestation-service/src/index.ts
  packages/utils/src/attestations.ts
  yarn.lock
Due: none

Temporarly commented most tests from circleCI
  .circleci/config.yml
Due: none

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
