Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

Revert "Feature #909 proxy delegatecall (#1152)"
  packages/protocol/contracts/common/MultiSig.sol
  packages/protocol/contracts/common/Proxy.sol
  packages/protocol/contracts/common/libraries/AddressesHelper.sol
  packages/protocol/contracts/governance/Proposals.sol
  packages/protocol/test/common/proxy.ts
  packages/protocol/test/governance/governance.ts
Due: protocol

Revert "Feature #909 proxy delegatecall (#1152)" (#1241)
  packages/protocol/contracts/common/MultiSig.sol
  packages/protocol/contracts/common/Proxy.sol
  packages/protocol/contracts/common/libraries/AddressesHelper.sol
  packages/protocol/contracts/governance/Proposals.sol
  packages/protocol/test/common/proxy.ts
  packages/protocol/test/governance/governance.ts
Due: protocol

Governance end-to-end tests working again
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/protocol/contracts/governance/Election.sol
Due: protocol

Fix top of emoji cut off
  packages/mobile/src/transactions/TransferFeedItem.tsx
  packages/mobile/src/transactions/__snapshots__/TransactionFeed.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransferFeedItem.test.tsx.snap
  packages/react-components/styles/fonts.tsx
Due: mobile

small changes
  packages/protocol/contracts/governance/BlockchainParameters.sol
  packages/protocol/lib/registry-utils.ts
  packages/protocol/migrations/16_governance.ts
Due: protocol

Adding a contract to store minimum required client version (#1081)
  .circleci/config.yml
  packages/celotool/ci_test_exit.sh
  packages/celotool/src/e2e-tests/exit_test.ts
  packages/protocol/contracts/governance/BlockchainParameters.sol
  packages/protocol/contracts/governance/proxies/BlockchainParametersProxy.sol
  packages/protocol/lib/proxy-utils.ts
  packages/protocol/lib/registry-utils.ts
  packages/protocol/migrations/15_blockchainparams.ts
  packages/protocol/migrations/16_governance.ts
  packages/protocol/migrations/17_elect_validators.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/common/linkedlist.ts
  packages/protocol/test/governance/blockchainparams.ts
Due: protocol

Add snapshot tests to Fee exchange education.
  packages/mobile/src/exchange/FeeExchangeEducation.test.tsx
  packages/mobile/src/exchange/FeeExchangeEducation.tsx
  packages/mobile/src/exchange/__snapshots__/ExchangeConfirmationCard.test.tsx.snap
  packages/mobile/src/exchange/__snapshots__/FeeExchangeEducation.test.tsx.snap
Due: mobile

Fix some small issues
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/exchange/FeeExchangeEducation.tsx
  packages/mobile/src/navigator/Navigator.tsx
Due: mobile

Fix lint errors
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/navigator/Navigator.tsx
Due: mobile

Add Exchange fee education view.
  packages/mobile/locales/en-US/exchangeFlow9.json
  packages/mobile/locales/es-419/exchangeFlow9.json
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/exchange/FeeExchangeEducation.tsx
  packages/mobile/src/exchange/FeeExchangeIcon.tsx
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/Screens.tsx
Due: mobile

Update image of exchange fee education view
  packages/mobile/src/exchange/FeeExchangeEducation.tsx
  packages/mobile/src/images/Images.ts
  packages/mobile/src/images/rings-plus-circle.png
  packages/mobile/src/images/rings-plus-circle@x2.png
Due: mobile

Add fee information on exchange confirmation view
  packages/mobile/locales/en-US/exchangeFlow9.json
  packages/mobile/locales/es-419/exchangeFlow9.json
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/send/FeeIcon.tsx
Due: mobile

Cache
  .circleci/config.yml
Due: none

More clear messages
  .circleci/config.yml
Due: none

fixed yml file
  .circleci/config.yml
Due: none

Avoid install if cache
  .circleci/config.yml
Due: none

Added cache
  .circleci/config.yml
Due: none

Added cache and fixed source
  .circleci/config.yml
Due: none

working
  packages/protocol/contracts/governance/BlockchainParameters.sol
  packages/protocol/lib/registry-utils.ts
Due: protocol

removed merge artifact
  packages/protocol/lib/proxy-utils.ts
Due: protocol

disabled cache
  .circleci/config.yml
Due: none

restored file
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

discart avm install
  .circleci/config.yml
Due: none

More accurate error string
  packages/mobile/src/utils/permissions.ios.ts
Due: mobile

Rename method
  packages/react-components/components/KeyboardAwareScrollView.tsx
Due: none

[Wallet] Fix top of emojis cut off in the activity feed (#1243)
  packages/mobile/src/transactions/TransferFeedItem.tsx
  packages/mobile/src/transactions/__snapshots__/TransactionFeed.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransferFeedItem.test.tsx.snap
  packages/react-components/styles/fonts.tsx
Due: mobile

try cache
  .circleci/config.yml
Due: none

try out caches
  .circleci/config.yml
Due: none

Fixed android cache
  .circleci/config.yml
Due: none

Added emulator checksum to cache
  .circleci/config.yml
  packages/mobile/scripts/install_android_emulator_image.sh
Due: mobile

give up with yarn caching
  .circleci/config.yml
Due: none

fixed package
  .circleci/config.yml
Due: none

Save cache for real
  .circleci/config.yml
Due: none

escrow trx label + identification
  packages/blockchain-api/app.alfajoresstaging.yaml
  packages/blockchain-api/app.pilot.yaml
  packages/blockchain-api/app.pilotstaging.yaml
  packages/blockchain-api/src/blockscout.ts
  packages/blockchain-api/src/schema.ts
  packages/blockchain-api/src/utils.ts
  packages/blockchain-api/test/blockscout.test.ts
  packages/mobile/locales/en-US/walletFlow5.json
  packages/mobile/locales/es-419/walletFlow5.json
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/recipients/recipient.ts
  packages/mobile/src/transactions/TransferFeedIcon.tsx
  packages/mobile/src/transactions/TransferFeedItem.tsx
  packages/mobile/src/transactions/actions.ts
  packages/mobile/src/transactions/reducer.ts
  packages/mobile/src/transactions/transferFeedUtils.ts
Due: mobile

use cache before detox build
  .circleci/config.yml
Due: none

Chance cache name
  .circleci/config.yml
Due: none

Fix remaining lint issues
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/InviteReview.tsx
  packages/mobile/src/account/selectors.test.ts
  packages/mobile/src/account/selectors.ts
  packages/mobile/src/account/types.ts
  packages/mobile/src/apollo/index.ts
  packages/mobile/src/app/Debug.tsx
  packages/mobile/src/backup/Backup.tsx
  packages/mobile/src/dappkit/dappkit.ts
  packages/mobile/src/firebase/actions.ts
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/firebase/saga.ts
  packages/mobile/src/geth/geth.ts
  packages/mobile/src/import/ImportContacts.tsx
  packages/mobile/src/invite/EnterInviteCode.tsx
  packages/mobile/src/notifications/EscrowedPaymentReminderNotification.tsx
  packages/mobile/src/notifications/PaymentrequestSummaryNotification.test.tsx
  packages/mobile/src/paymentRequest/PaymentRequestConfirmation.tsx
  packages/mobile/src/paymentRequest/PaymentRequestListItem.tsx
  packages/mobile/src/paymentRequest/__mocks__.ts
  packages/mobile/test/values.ts
Due: mobile

tests running
  packages/protocol/contracts/governance/BlockchainParameters.sol
  packages/protocol/lib/registry-utils.ts
Due: protocol

undo accidental change and fix a space
  packages/protocol/contracts/common/linkedlists/SortedLinkedListWithMedian.sol
  packages/protocol/migrations/08_stabletoken.ts
  packages/protocol/test/stability/sortedoracles.ts
Due: protocol

Added cache to gradle
  .circleci/config.yml
Due: none
