Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

Assert score almost equal
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

Add attestation service status endpoint (#1761)
  packages/attestation-service/package.json
  packages/attestation-service/src/env.ts
  packages/attestation-service/src/index.ts
  packages/attestation-service/src/request.ts
  packages/attestation-service/src/requestHandlers/attestation.ts
  packages/attestation-service/src/requestHandlers/status.ts
  packages/attestation-service/src/sms/base.ts
  packages/attestation-service/src/sms/index.ts
  packages/attestation-service/src/sms/nexmo.ts
  packages/attestation-service/src/sms/twilio.ts
  packages/utils/src/collections.ts
  packages/utils/src/io.ts
  yarn.lock
Due: none

Sign whole metadata instead of individual claims
  packages/contractkit/src/identity/claims/account.test.ts
  packages/contractkit/src/identity/claims/claim.ts
  packages/contractkit/src/identity/metadata.ts
Due: none

Add structured logging and Prometheus events
  packages/attestation-service/config/.env.development
  packages/attestation-service/index.d.ts
  packages/attestation-service/package.json
  packages/attestation-service/src/db.ts
  packages/attestation-service/src/env.ts
  packages/attestation-service/src/index.ts
  packages/attestation-service/src/logger.ts
  packages/attestation-service/src/metrics.ts
  packages/attestation-service/src/request.ts
  packages/attestation-service/src/requestHandlers/attestation.ts
  yarn.lock
Due: none

Fix up CLI
  packages/cli/src/commands/account/claim-keybase.ts
  packages/cli/src/utils/identity.ts
  packages/contractkit/src/identity/claims/claim.ts
  packages/contractkit/src/identity/claims/keybase.ts
  packages/contractkit/src/identity/metadata.ts
  packages/utils/src/signatureUtils.ts
Due: none

Fix
  packages/contractkit/src/identity/claims/account.test.ts
Due: none

fix mutation bug and local signing test
  packages/contractkit/src/providers/celo-private-keys-subprovider.ts
  packages/contractkit/src/utils/signing-utils.ts
  packages/contractkit/src/utils/tx-signing.test.ts
  packages/contractkit/src/utils/tx-signing.ts
  packages/contractkit/types/web3.d.ts
Due: none

Fix build
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

edit documentation
  packages/contractkit/README.md
  packages/contractkit/src/providers/celo-private-keys-subprovider.ts
  packages/docs/developer-resources/contractkit/examples.md
Due: none

Explicitly wait for nodes to sync in end-to-end tests (#1752)
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/sync_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
Due: none

test each combination of gateway fee params and update gas
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

gix the various signing-utils
  packages/faucet/src/protocol/signing-utils.ts
  packages/protocol/lib/signing-utils.ts
  packages/verification-pool-api/src/signing-utils.ts
Due: protocol

separating running a validator page in alfajores and baklava pages
  packages/docs/getting-started/running-a-validator-alfajores.md
  packages/docs/getting-started/running-a-validator-baklava.md
  packages/docs/getting-started/running-a-validator.md
Due: none

Dedup packages
  yarn.lock
Due: none

Fix TypeScript build error
  packages/contractkit/src/test-utils/PromiEventStub.ts
Due: none

Fix another TypeScript build error
  packages/react-components/analytics/wrapper.tsx
Due: none

Remove ts-ignore which is not needed anymore
  packages/celotool/src/lib/generate_utils.ts
Due: none

Fix rlp import
  packages/celotool/src/lib/generate_utils.ts
Due: none

More TypeScript build error fix ;)
  packages/transaction-metrics-exporter/src/index.ts
Due: none

Fix new TypeScript build error
  packages/celotool/src/lib/utils.ts
Due: none

Attempt to fix e2e
  .circleci/config.yml
  packages/mobile/.env.test
Due: mobile

Use common helm chart, faucet load test accounts
  packages/celotool/src/cmds/deploy/initial/contracts.ts
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/generate_utils.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/celotool/src/lib/load-test.ts
  packages/helm-charts/.gitignore
  packages/helm-charts/common/templates/_helpers.tpl
  packages/helm-charts/load-test/templates/load-test.statefulset.yaml
  packages/helm-charts/testnet/requirements.lock
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/helm-charts/testnet/templates/txnode.statefulset.yaml
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Due: none

Change bootnode to use bootnode account type when generating keys
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/helm-charts/testnet/templates/bootnode.deployment.yaml
  packages/helm-charts/testnet/templates/txnode.statefulset.yaml
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Due: none

Remove acme provider
  packages/terraform-modules/testnet/main.tf
Due: none

Load test clients use genesis from google storage
  packages/celotool/src/cmds/deploy/initial/load-test.ts
  packages/celotool/src/lib/endpoints.ts
  packages/celotool/src/lib/load-test.ts
  packages/celotool/src/lib/testnet-utils.ts
Due: none

set up a key for local signing through an optional flag on the base command. use toFixed(). fix examples, add defaults, etc for the docs
  packages/cli/src/base.ts
  packages/cli/src/commands/localaccounts/add.ts
  packages/cli/src/commands/oracle/rates.ts
  packages/cli/src/commands/oracle/report.ts
  packages/cli/src/utils/local_accounts.ts
  packages/docs/command-line-interface/localaccounts.md
  packages/docs/command-line-interface/oracle.md
Due: none

And even more fixes for TypeScript build errors ;)
  packages/mobile/src/qrcode/QRScanner.tsx
  packages/mobile/src/verify/VerificationInputScreen.tsx
  packages/mobile/src/verify/VerificationInterstitialScreen.tsx
  packages/mobile/src/web3/saga.ts
Due: mobile

Address feedback and fix verification auto input bug
  packages/mobile/src/invite/EnterInviteCode.tsx
  packages/mobile/src/verify/VerificationCodeRow.tsx
  packages/mobile/src/verify/__snapshots__/VerificationCodeRow.test.tsx.snap
  packages/react-components/components/WithTextInputPasteAware.tsx
Due: mobile

Deduplicate yarn packages (#1549)
  packages/celotool/src/lib/generate_utils.ts
  packages/celotool/src/lib/utils.ts
  packages/contractkit/src/test-utils/PromiEventStub.ts
  packages/mobile/src/qrcode/QRScanner.tsx
  packages/mobile/src/verify/VerificationInputScreen.tsx
  packages/mobile/src/verify/VerificationInterstitialScreen.tsx
  packages/mobile/src/web3/saga.ts
  packages/react-components/analytics/wrapper.tsx
  packages/transaction-metrics-exporter/src/index.ts
  yarn.lock
Due: mobile

[Wallet] Implement new redeem invite design and add skip option (#1757)
  packages/mobile/locales/en-US/global.json
  packages/mobile/locales/en-US/nuxNamePin1.json
  packages/mobile/locales/en-US/nuxVerification2.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/locales/es-419/nuxNamePin1.json
  packages/mobile/locales/es-419/nuxVerification2.json
  packages/mobile/src/components/CodeRow.test.tsx
  packages/mobile/src/components/CodeRow.tsx
  packages/mobile/src/components/__snapshots__/CodeRow.test.tsx.snap
  packages/mobile/src/invite/EnterInviteCode.test.tsx
  packages/mobile/src/invite/EnterInviteCode.tsx
  packages/mobile/src/invite/__snapshots__/EnterInviteCode.test.tsx.snap
  packages/mobile/src/invite/actions.ts
  packages/mobile/src/invite/reducer.test.ts
  packages/mobile/src/invite/reducer.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/verify/VerificationCodeRow.test.tsx
  packages/mobile/src/verify/VerificationCodeRow.tsx
  packages/mobile/src/verify/VerificationInputScreen.tsx
  packages/mobile/src/verify/__snapshots__/VerificationCodeRow.test.tsx.snap
  packages/mobile/src/verify/__snapshots__/VerificationInputScreen.test.tsx.snap
  packages/mobile/test/schemas.ts
  packages/react-components/components/KeyboardSpacer.tsx
  packages/react-components/components/WithTextInputPasteAware.tsx
Due: mobile

Fix carousel and animations on iOS
  packages/mobile/package.json
  packages/mobile/src/components/Carousel.tsx
  yarn.lock
Due: mobile

Remove workarounds for lottie bug
  packages/mobile/src/icons/DancingRings.tsx
  packages/mobile/src/icons/LoadingSpinner.tsx
Due: mobile

Try CircleCI memory+ class to fix build step (6GB instead of 4GB)
  .circleci/config.yml
Due: none

adding configuration steps about attestation service
  packages/docs/getting-started/running-a-validator-baklava.md
Due: none

database section
  packages/docs/getting-started/running-a-validator-baklava.md
Due: none

[Wallet] Fix carousel and animations on iOS (#1769)
  packages/mobile/package.json
  packages/mobile/src/components/Carousel.tsx
  packages/mobile/src/icons/DancingRings.tsx
  packages/mobile/src/icons/LoadingSpinner.tsx
  yarn.lock
Due: mobile

make typescript happy
  packages/cli/src/base.ts
  packages/cli/src/commands/oracle/report.ts
Due: none

Added first version of public terraform module. WIP
  packages/terraform-modules-public/.gitignore
  packages/terraform-modules-public/README.md
  packages/terraform-modules-public/example/main.tf
  packages/terraform-modules-public/testnet/README.md
  packages/terraform-modules-public/testnet/main.tf
  packages/terraform-modules-public/testnet/modules/proxy/main.tf
  packages/terraform-modules-public/testnet/modules/proxy/outputs.tf
  packages/terraform-modules-public/testnet/modules/proxy/startup.sh
  packages/terraform-modules-public/testnet/modules/proxy/variables.tf
  packages/terraform-modules-public/testnet/modules/tx-node-load-balancer/main.tf
  packages/terraform-modules-public/testnet/modules/tx-node-load-balancer/output.tf
  packages/terraform-modules-public/testnet/modules/tx-node-load-balancer/variables.tf
  packages/terraform-modules-public/testnet/modules/tx-node/main.tf
  packages/terraform-modules-public/testnet/modules/tx-node/outputs.tf
  packages/terraform-modules-public/testnet/modules/tx-node/startup.sh
  packages/terraform-modules-public/testnet/modules/tx-node/variables.tf
  packages/terraform-modules-public/testnet/modules/validator/main.tf
  packages/terraform-modules-public/testnet/modules/validator/outputs.tf
  packages/terraform-modules-public/testnet/modules/validator/startup.sh
  packages/terraform-modules-public/testnet/modules/validator/variables.tf
  packages/terraform-modules-public/testnet/outputs.tf
  packages/terraform-modules-public/testnet/variables.tf
Due: none

add time to mitigate flake seen in CI
  packages/celotool/src/e2e-tests/sync_tests.ts
Due: none

Try CircleCI memory+ class to fix build step (6GB instead of 4GB) (#1770)
  .circleci/config.yml
Due: none

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
