Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

WIP getting zerosync to actually turn on
  packages/mobile/.env
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/web3/actions.ts
  packages/mobile/src/web3/contracts.ts
  packages/mobile/src/web3/reducer.ts
  packages/mobile/src/web3/saga.ts
  packages/mobile/src/web3/selectors.ts
Due: mobile

fix: packages/faucet/package.json & packages/faucet/.snyk to reduce vulnerabilities
  packages/faucet/.snyk
  packages/faucet/package.json
Due: none

Address comments; remove url and authorizedBy.active, allow for variable membershiphistorylength
  packages/celotool/src/cmds/deploy/initial/contracts.ts
  packages/cli/src/commands/validator/list.ts
  packages/cli/src/commands/validator/register.ts
  packages/cli/src/commands/validatorgroup/list.ts
  packages/cli/src/commands/validatorgroup/register.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/lib/test-utils.ts
  packages/protocol/test/governance/validators.ts
Due: protocol

Fix build
  packages/contractkit/src/wrappers/Validators.test.ts
  packages/contractkit/src/wrappers/Validators.ts
Due: none

Fix migrations, end-to-end tests
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/protocol/migrations/17_elect_validators.ts
  packages/protocol/migrationsConfig.js
Due: protocol

Fix tests
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

Update CLI docs
  packages/docs/command-line-interface/validator.md
  packages/docs/command-line-interface/validatorgroup.md
Due: none

added comments
  packages/protocol/contracts/identity/Random.sol
  packages/protocol/contracts/identity/test/TestRandom.sol
  packages/protocol/test/identity/random.ts
Due: protocol

fixing lint
  packages/protocol/contracts/identity/Random.sol
Due: protocol

use new contract kit version in cli
  packages/cli/package.json
Due: none

Fix up tests
  packages/mobile/src/account/Account.test.tsx
  packages/mobile/src/account/InviteReview.test.tsx
  packages/mobile/src/backup/BackupComplete.tsx
  packages/mobile/src/backup/BackupQuiz.test.tsx
  packages/mobile/src/backup/BackupQuiz.tsx
  packages/mobile/src/backup/BackupSocial.test.tsx
  packages/mobile/src/backup/BackupSocial.tsx
  packages/mobile/src/backup/BackupSocialIntro.test.tsx
  packages/mobile/src/backup/BackupVerify.tsx
  packages/mobile/src/backup/__snapshots__/BackupComplete.test.tsx.snap
  packages/mobile/src/backup/__snapshots__/BackupIntroduction.test.tsx.snap
  packages/mobile/src/backup/__snapshots__/BackupPhrase.test.tsx.snap
  packages/mobile/src/backup/__snapshots__/BackupPhraseContainer.test.tsx.snap
  packages/mobile/src/backup/__snapshots__/BackupQuestion.test.tsx.snap
  packages/mobile/src/backup/__snapshots__/BackupQuiz.test.tsx.snap
  packages/mobile/src/backup/__snapshots__/BackupSocial.test.tsx.snap
  packages/mobile/src/backup/__snapshots__/BackupSocialIntro.test.tsx.snap
  packages/mobile/src/backup/utils.test.ts
  packages/mobile/src/backup/utils.ts
Due: mobile

QR scanner permission changes
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/src/qrcode/NotAuthorizedView.test.tsx
  packages/mobile/src/qrcode/NotAuthorizedView.tsx
  packages/mobile/src/qrcode/QRScanner.tsx
  packages/mobile/src/qrcode/__snapshots__/NotAuthorizedView.test.tsx.snap
  packages/mobile/src/utils/permissions.android.ts
  packages/mobile/src/utils/permissions.ios.ts
Due: mobile

Fix tests
  packages/mobile/locales/en-US/backupKeyFlow6.json
  packages/mobile/locales/en-US/global.json
  packages/mobile/src/account/Account.test.tsx
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/__snapshots__/Account.test.tsx.snap
  packages/mobile/src/app/saga.ts
  packages/mobile/src/backup/__snapshots__/BackupQuiz.test.tsx.snap
  packages/mobile/src/home/NotificationBox.tsx
  packages/mobile/src/home/__snapshots__/NotificationBox.test.tsx.snap
  packages/mobile/src/invite/__snapshots__/EnterInviteCode.test.tsx.snap
  packages/mobile/src/notifications/__snapshots__/EscrowedPaymentReminderNotification.test.tsx.snap
  packages/mobile/src/notifications/__snapshots__/PaymentrequestSummaryNotification.test.tsx.snap
  packages/mobile/src/notifications/__snapshots__/SimpleNotification.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/PaymentRequestListItem.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/PaymentRequestListScreen.test.tsx.snap
  packages/mobile/src/shared/__snapshots__/BackupPrompt.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/NoActivity.test.tsx.snap
  packages/react-components/components/SmallButton.tsx
Due: mobile

Fix style in backup quiz screen
  packages/mobile/src/backup/BackupQuiz.tsx
Due: mobile

Setup spanish string translations and fixup the global.json file
  packages/mobile/locales/es-419/backupKeyFlow6.json
  packages/mobile/locales/es-419/global.json
Due: mobile

A bit of cleanup
  packages/mobile/src/backup/BackupModal.tsx
  packages/mobile/src/backup/__snapshots__/BackupQuiz.test.tsx.snap
  packages/mobile/src/shared/BackupPrompt.tsx
  packages/react-components/components/Button.tsx
Due: mobile

Undo readme changes
  README-dev.md
  packages/mobile/README.md
Due: mobile

Fixed channell naming
  packages/mobile/src/firebase/actions.ts
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/firebase/saga.ts
Due: mobile

channel now is not an action
  packages/mobile/src/firebase/actions.ts
  packages/mobile/src/firebase/firebase.test.ts
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/firebase/saga.ts
Due: mobile

certora adaptations to new code - WIP
  .gitignore
  packages/protocol/CertoraRunConfigurations.sh
  packages/protocol/certora_verify.json
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/specs/governance.spec
  packages/protocol/specs/harnesses/GovernanceHarness.sol
  packages/protocol/specs/harnesses/LockedGoldHarness.sol
  packages/protocol/specs/list.spec
  packages/protocol/specs/locked_gold.spec
Due: protocol

Use navigateToURI helper instead of Linking.openURL
  packages/mobile/src/qrcode/NotAuthorizedView.tsx
Due: mobile

Remove unnecessary async keyword
  packages/mobile/src/qrcode/NotAuthorizedView.tsx
Due: mobile

[Wallet] New camera permission flow (#1398)
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/src/qrcode/NotAuthorizedView.test.tsx
  packages/mobile/src/qrcode/NotAuthorizedView.tsx
  packages/mobile/src/qrcode/QRScanner.tsx
  packages/mobile/src/qrcode/__snapshots__/NotAuthorizedView.test.tsx.snap
  packages/mobile/src/utils/permissions.android.ts
  packages/mobile/src/utils/permissions.ios.ts
Due: mobile

Script to deploy new contract impl
  packages/protocol/scripts/governance/00-deploy-impl.ts
Due: protocol

like in master
  packages/protocol/package.json
Due: protocol

UsingLockedGold was removed
  packages/protocol/contracts/governance/UsingLockedGold.sol
Due: protocol

trying to remove some flakiness
  packages/protocol/test/stability/stabletoken.ts
Due: protocol

pull all the contractkit work out of #1394
  packages/contractkit/package.json
  packages/contractkit/src/test-utils/ganache.setup.ts
  packages/contractkit/src/test-utils/migration-override.json
  packages/contractkit/src/wrappers/SortedOracles.test.ts
  packages/contractkit/src/wrappers/SortedOracles.ts
  packages/protocol/migrations/08_stabletoken.ts
  packages/protocol/scripts/devchain.ts
  yarn.lock
Due: protocol

don't need to use ts-ignore if you fill an empty block with a comment
  packages/contractkit/src/wrappers/SortedOracles.test.ts
Due: none

update app check function and update firebase database rules schema
  packages/mobile/package.json
  packages/mobile/src/app/saga.ts
  packages/mobile/src/firebase/db-rules.json
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/firebase/saga.ts
Due: mobile

typo
  .circleci/config.yml
Due: none

start with an empty array for priceOracleAccounts just to have this config value defined
  packages/protocol/migrationsConfig.js
Due: protocol

remove stale console.logs
  packages/mobile/package.json
  packages/mobile/src/firebase/saga.ts
Due: mobile

split command, attach workspace
  .circleci/config.yml
Due: none

Deleted circular dep and used context for firebase calls
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/firebase/saga.ts
Due: mobile

getting solc
  .circleci/config.yml
Due: none

can't move to path, so referring to solc from certoraBuild
  .circleci/config.yml
Due: none

deleted old action
  packages/mobile/src/firebase/actions.ts
Due: mobile

and of course, chmod
  .circleci/config.yml
Due: none
