Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

[N05] Typos (#2896)
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/common/linkedlists/SortedLinkedList.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/stability/SortedOracles.sol
Due: protocol

yarn.lock changes
  yarn.lock
Due: none

[N23] Unused code (#2905)
  packages/protocol/contracts/common/FixidityLib.sol
  packages/protocol/contracts/stability/Reserve.sol
Due: protocol

[N21] Inconsistent use of onlyVm modifier (#2903)
  packages/protocol/contracts/common/CalledByVm.sol
  packages/protocol/contracts/common/GasPriceMinimum.sol
  packages/protocol/contracts/common/GoldToken.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/identity/Random.sol
  packages/protocol/contracts/stability/StableToken.sol
  packages/protocol/contracts/stability/interfaces/IStableToken.sol
Due: protocol

dummy test script
  packages/azure/package.json
Due: none

Fix dappkit in the wallet (#2930)
  packages/dappkit/package.json
  packages/mobile/src/dappkit/DappKitSignTxScreen.tsx
  yarn.lock
Due: mobile

Update packages/protocol/migrationsConfig.js
  packages/protocol/migrationsConfig.js
Due: protocol

Line length
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

Adding releasegold proxy
  packages/celotool/src/lib/helm_deploy.ts
  packages/protocol/contracts/governance/proxies/ReleaseGoldProxy.sol
Due: protocol

[L13] Fraction reduction is not applied in all methods (#2890)
  packages/protocol/contracts/common/FractionUtil.sol
  packages/protocol/contracts/common/test/FractionUtilTest.sol
  packages/protocol/contracts/stability/Exchange.sol
Due: protocol

[N08] Trust assumptions on hotfixes (#2898)
  packages/docs/celo-codebase/protocol/governance.md
Due: none

Fix
  packages/protocol/contracts/common/GoldToken.sol
Due: protocol

Sets governance thresholds during migration (#2871)
  packages/protocol/governanceConstitution.js
  packages/protocol/lib/web3-utils.ts
  packages/protocol/migrations/22_governance.ts
  packages/protocol/test/common/integration.ts
Due: protocol

Oops
  packages/protocol/contracts/common/GoldToken.sol
Due: protocol

oops 2, oopsier
  packages/protocol/contracts/common/GoldToken.sol
Due: protocol

Require validator was registered with group for rewards
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

Fix
  packages/protocol/test/stability/sortedoracles.ts
Due: protocol

prettify
  packages/protocol/migrationsConfig.js
Due: protocol

Lint
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
Due: protocol

Oops
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

Update docs
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_sortedoracles_.sortedoracleswrapper.md
Due: none

Update gas cost
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

Allow specifying different requirement for internal multisig txs (#2883)
  packages/protocol/contracts/common/MultiSig.sol
  packages/protocol/test/common/multisig.ts
Due: protocol

Fix PIN entering screen, when account is not created yet
  packages/mobile/src/pincode/PincodeConfirmation.tsx
Due: mobile

Changing to using minimum value rather than throwing assert
  packages/protocol/contracts/governance/SlasherUtil.sol
  packages/protocol/test/governance/double_signing_slasher.ts
  packages/protocol/test/governance/downtime_slasher.ts
Due: protocol

[cli] Validator group reorder to first place (#2914)
  packages/cli/src/commands/validatorgroup/member.ts
Due: none

Update packages/cli/src/utils/checks.ts
  packages/cli/src/utils/checks.ts
Due: none

updated docs
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_governance_.governancewrapper.md
Due: none

[N22] Not using EIP 1967: Standard Proxy Storage Slots (#2904)
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/lib/genesis_constants.ts
  packages/protocol/contracts/common/Proxy.sol
Due: protocol

optimize, fix bug
  packages/protocol/contracts/identity/Attestations.sol
Due: protocol

Unlock: adding a check whether account is voting (#2840)
  packages/cli/src/commands/lockedgold/unlock.ts
  packages/cli/src/utils/checks.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_governance_.governancewrapper.md
Due: none

added new test case
  packages/protocol/contracts/identity/test/MockAttestations.sol
  packages/protocol/test/identity/attestations.ts
Due: protocol

override prompt
  packages/cli/src/commands/account/authorize.test.ts
Due: none

lint
  packages/protocol/contracts/identity/Attestations.sol
Due: protocol

Move sorted oracles to fixidity (#2885)
  packages/cli/src/commands/oracle/report.ts
  packages/contractkit/src/wrappers/SortedOracles.test.ts
  packages/contractkit/src/wrappers/SortedOracles.ts
  packages/docs/command-line-interface/oracle.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_sortedoracles_.sortedoracleswrapper.md
  packages/docs/developer-resources/contractkit/reference/enums/_wrappers_sortedoracles_.medianrelation.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_sortedoracles_.medianrate.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_sortedoracles_.oraclerate.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_sortedoracles_.sortedoraclesconfig.md
  packages/protocol/contracts/stability/SortedOracles.sol
  packages/protocol/contracts/stability/interfaces/ISortedOracles.sol
  packages/protocol/migrations/08_stabletoken.ts
  packages/protocol/scripts/truffle/set_exchange_rate.ts
  packages/protocol/test/stability/sortedoracles.ts
Due: protocol

Add prompt when registering validators or groups (#2756)
  packages/cli/package.json
  packages/cli/src/commands/account/authorize.test.ts
  packages/cli/src/commands/validator/register.test.ts
  packages/cli/src/commands/validator/register.ts
  packages/cli/src/commands/validatorgroup/register.ts
  packages/cli/src/utils/cli.ts
  packages/docs/command-line-interface/validator.md
  packages/docs/command-line-interface/validatorgroup.md
  yarn.lock
Due: none

[L06] Lack of validation may produce unexpected state in the distribution of epoch rewards (#2931)
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

working
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Due: protocol

going to perform test on master
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Due: protocol

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
