Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

[Wallet] Fix gold charts staying in loading state when USD is the selected currency (#2591)
  packages/mobile/src/exchange/CeloGoldHistoryChart.tsx
  packages/mobile/src/exchange/CeloGoldOverview.tsx
Due: mobile

Adding todos
  packages/protocol/contracts/governance/VestingInstance.sol
  packages/protocol/test/governance/vesting.ts
Due: protocol

Fix spelling of word explicit in comment (#2596)
  packages/cli/src/commands/exchange/dollars.ts
  packages/cli/src/commands/exchange/gold.ts
Due: none

Fix typo in error message of validatorgroup:member
  packages/contractkit/src/wrappers/Validators.ts
Due: none

normalize any addresses used as keys in maps
  packages/celotool/src/cmds/bots/auto-vote.ts
Due: none

Fix typo in error message of validatorgroup:member (#2600)
  packages/contractkit/src/wrappers/Validators.ts
Due: none

Fix governance protocol tests
  packages/protocol/test/governance/governance.ts
Due: protocol

Fix governance contractkit
  packages/contractkit/src/wrappers/Governance.test.ts
  packages/contractkit/src/wrappers/Governance.ts
Due: none

Fix governance CLI propose and docs
  packages/cli/src/commands/governance/propose.ts
  packages/docs/command-line-interface/governance.md
Due: none

Add some tests
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/migrations/07_reserve.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/stability/reserve.ts
Due: protocol

Remove describe.only()
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/test/stability/reserve.ts
Due: protocol

Fix full video playback for about Video on iOS (#2553)
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/jobs.test.tsx.snap
  packages/web/src/about/About.tsx
  packages/web/src/shared/VideoModal.tsx
  packages/web/src/utils/abortableFetch.ts
Due: none

📸 key imagery page snap
  packages/web/src/_page-tests/experience/__snapshots__/key-imagery.test.tsx.snap
Due: none

Voting bot can exclude groups from its consideration (#2569)
  .env.baklava
  .env.baklavastaging
  packages/celotool/src/cmds/bots/auto-vote.ts
  packages/celotool/src/cmds/deploy/initial/voting-bot.ts
  packages/celotool/src/lib/voting-bot.ts
  packages/helm-charts/voting-bot/templates/voting-bot.cronjob.yaml
Due: none

vesting smart contracts and related ts configs only (#2537) (#2558)
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/e2e-tests/validator_order_tests.ts
  packages/cli/package.json
  packages/contractkit/package.json
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/common/interfaces/IAccounts.sol
  packages/protocol/contracts/governance/VestingFactory.sol
  packages/protocol/contracts/governance/VestingInstance.sol
  packages/protocol/contracts/governance/interfaces/IElection.sol
  packages/protocol/contracts/governance/interfaces/ILockedGold.sol
  packages/protocol/contracts/governance/interfaces/IVestingFactory.sol
  packages/protocol/contracts/governance/interfaces/IVestingInstance.sol
  packages/protocol/contracts/governance/proxies/VestingFactoryProxy.sol
  packages/protocol/contracts/governance/test/MockElection.sol
  packages/protocol/contracts/governance/test/MockLockedGold.sol
  packages/protocol/lib/registry-utils.ts
  packages/protocol/migrations/11_vesting_factory.ts
  packages/protocol/migrations/12_lockedgold.ts
  packages/protocol/migrations/13_validators.ts
  packages/protocol/migrations/14_election.ts
  packages/protocol/migrations/15_epoch_rewards.ts
  packages/protocol/migrations/16_random.ts
  packages/protocol/migrations/17_attestations.ts
  packages/protocol/migrations/18_escrow.ts
  packages/protocol/migrations/19_blockchainparams.ts
  packages/protocol/migrations/20_governance_slasher.ts
  packages/protocol/migrations/21_double_signing_slasher.ts
  packages/protocol/migrations/22_downtime_slasher.ts
  packages/protocol/migrations/23_governance.ts
  packages/protocol/migrations/24_elect_validators.ts
  packages/protocol/scripts/build.ts
  packages/protocol/test/governance/vesting.ts
Due: protocol

Got externally exposed k8s testnets working
  .env
  .env.alfajores
  .env.alfajoresstaging
  .env.baklava
  .env.baklavastaging
  .env.integration
  .env.integrationtesting
  .env.pilot
  .env.pilotstaging
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/celotool/src/lib/kubernetes.ts
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/helm-charts/testnet/templates/proxy.service.yaml
  packages/helm-charts/testnet/templates/proxy.statefulset.yaml
  packages/helm-charts/testnet/templates/txnode.service.yaml
  packages/helm-charts/testnet/templates/txnode.statefulset.yaml
  packages/helm-charts/testnet/templates/validators.service.yaml
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Due: none

Fix integration proposals
  packages/protocol/test/common/integration.ts
Due: protocol

Add docs on key usage around protocol
  packages/docs/celo-codebase/protocol/identity/accounts.md
Due: none

Add more detailed instructions for key rotation
  packages/docs/celo-codebase/protocol/identity/accounts.md
Due: none

- add connectValidatorPeers when ever nodes are started
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/sync_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

Fix Pay & Decline buttons when open app from notification
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/src/escrow/EscrowedPaymentListScreen.tsx
  packages/mobile/src/firebase/actions.ts
  packages/mobile/src/firebase/notifications.ts
  packages/mobile/src/firebase/saga.ts
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListItem.test.tsx
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListItem.tsx
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListScreen.tsx
  packages/mobile/src/paymentRequest/IncomingPaymentRequestSummaryNotification.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListItem.test.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListItem.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListScreen.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestSummaryNotification.tsx
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestListItem.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestListItem.test.tsx.snap
  packages/mobile/src/send/SendConfirmation.tsx
  packages/notification-service/src/firebase.ts
  packages/notification-service/src/handlers.ts
Due: mobile

Added switch command
  packages/celotool/src/cmds/deploy/switch.ts
  packages/celotool/src/cmds/deploy/switch/blockscout.ts
Due: none

Do not attach policy when not needed. Minnor improvements
  packages/celotool/src/lib/blockscout.ts
  packages/celotool/src/lib/helm_deploy.ts
Due: none

- added connect peers method to connect all kinds not nodes not only validators
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/sync_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/interfaces/geth-instance-config.ts
Due: none

Make detox e2e tests work on iOS
  packages/mobile/Gemfile
  packages/mobile/Gemfile.lock
  packages/mobile/e2e/Transfer.spec.js
  packages/mobile/index.js
  packages/mobile/ios/Podfile.lock
  packages/mobile/package.json
  packages/mobile/scripts/run_e2e.sh
  packages/mobile/src/setupE2eEnv.e2e.ts
  packages/mobile/src/setupE2eEnv.ts
Due: mobile

Use waitForGethConnectivity, rearrange sagas
  packages/mobile/src/account/DataSaver.tsx
  packages/mobile/src/account/actions.ts
  packages/mobile/src/account/reducer.ts
  packages/mobile/src/geth/actions.ts
  packages/mobile/src/geth/reducer.ts
  packages/mobile/src/geth/saga.ts
  packages/mobile/src/geth/selectors.ts
  packages/mobile/src/invite/JoinCelo.tsx
  packages/mobile/src/web3/actions.ts
  packages/mobile/src/web3/reducer.ts
  packages/mobile/src/web3/saga.ts
  packages/mobile/src/web3/selectors.ts
  packages/mobile/test/schemas.ts
  packages/mobile/test/utils.ts
Due: mobile

Experience Brand > Imagery Page (#2524)
  packages/web/__mocks__/react-lazyload-fadein.ts
  packages/web/public/static/locales/en/brand.json
  packages/web/server/AssetBase.ts
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/key-imagery.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/_page-tests/experience/key-imagery.test.tsx
  packages/web/src/brandkit/IconsPage.tsx
  packages/web/src/brandkit/KeyImagery.tsx
  packages/web/src/brandkit/common/CCLicense.tsx
  packages/web/src/brandkit/common/Page.tsx
  packages/web/src/brandkit/common/Showcase.tsx
  packages/web/src/dev/cakeLayering.jpg.zip
  packages/web/src/layout/ScreenSize.tsx
Due: none

Developers page for SDK launch
  packages/web/pages/developers/index.tsx
  packages/web/public/static/locales/en/dev.json
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/build/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/developers/Index.test.tsx
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/dev/CoverActions.tsx
  packages/web/src/dev/DeveloperPhoneCover.tsx
  packages/web/src/dev/DevelopersPage.tsx
  packages/web/src/dev/Engage.tsx
  packages/web/src/dev/code-coins-dark.png
  packages/web/src/dev/gold-code-dark-bg.png
  packages/web/src/header/Header.3.tsx
  packages/web/src/i18n.ts
  packages/web/src/layout/ScreenSize.tsx
  packages/web/src/shared/SocialChannels.tsx
  packages/web/src/shared/menu-items.ts
Due: none

🌈 Update documentation icon
  packages/web/src/dev/CoverActions.tsx
  packages/web/src/dev/Documentation.png
  packages/web/src/dev/stable-coin-paper-dark-bg.png
Due: none

💬 convert literals to translatable
  packages/web/public/static/locales/en/common.json
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/build/__snapshots__/index.test.tsx.snap
  packages/web/src/i18n.ts
  packages/web/src/shared/SocialChannels.tsx
Due: none

Wip Terraform setup
  packages/celotool/src/lib/helm_deploy.ts
  packages/celotool/src/lib/terraform.ts
  packages/celotool/src/lib/testnet-utils.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/terraform-modules/testnet/main.tf
  packages/terraform-modules/testnet/modules/full-node/main.tf
  packages/terraform-modules/testnet/modules/full-node/outputs.tf
  packages/terraform-modules/testnet/modules/full-node/startup.sh
  packages/terraform-modules/testnet/modules/full-node/variables.tf
  packages/terraform-modules/testnet/modules/validator/main.tf
  packages/terraform-modules/testnet/modules/validator/startup.sh
Due: none

Fix build / lint issue
  packages/web/src/brandkit/IconsPage.tsx
Due: none

Fix build / lint issue (#2610)
  packages/web/src/brandkit/IconsPage.tsx
Due: none

Add link to funding request form
  packages/web/src/dev/Engage.tsx
  packages/web/src/shared/menu-items.ts
Due: none

Vertically center the content against the image
  packages/web/src/dev/Engage.tsx
Due: none

Update details of slashing docs
  packages/docs/celo-codebase/protocol/proof-of-stake/penalties.md
  packages/protocol/contracts/governance/DowntimeSlasher.sol
Due: protocol

Add getFirstBlockNumberForEpoch to downtime_slasher since removed from validators
  packages/protocol/test/governance/downtime_slasher.ts
Due: protocol

💬 Fix text for brand icon (#2609)
  packages/web/public/static/locales/en/common.json
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/build/__snapshots__/index.test.tsx.snap
  packages/web/src/i18n.ts
  packages/web/src/shared/SocialChannels.tsx
Due: none

Add missing EPOCH definition
  packages/protocol/test/governance/downtime_slasher.ts
Due: protocol

Fix
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/sync_tests.ts
Due: none

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
