Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

Point all packages to latest ganache-cli master (#1488)
  packages/attestation-service/package.json
  packages/contractkit/package.json
  packages/protocol/package.json
  yarn.lock
Due: protocol

Appease the linter
  packages/protocol/contracts/baklava/Freezable.sol
  packages/protocol/contracts/baklava/test/FreezableTest.sol
  packages/protocol/contracts/stability/Exchange.sol
Due: protocol

PR comments
  packages/celotool/src/cmds/account/verify.ts
  packages/contractkit/src/wrappers/Attestations.ts
  packages/mobile/src/identity/verification.test.ts
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/migrations/14_attestations.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/identity/attestations.ts
  packages/utils/src/attestations.ts
  packages/verification-pool-api/contracts/Attestations.ts
  packages/walletkit/src/attestations.ts
Due: mobile, protocol

Add simulator to start command
  packages/mobile/package.json
Due: mobile

Update tests to work with mineBlocks utility
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/test/governance/governance.ts
Due: protocol

[Wallet] Fix wei invite bug (#1489)
  packages/mobile/src/import/saga.test.ts
  packages/mobile/src/import/saga.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/tokens/saga.ts
Due: mobile

added a parameter to limit variation to the median price
  packages/protocol/contracts/stability/SortedOracles.sol
  packages/protocol/test/stability/sortedoracles.ts
Due: protocol

Leave walletkit untouched
  packages/walletkit/src/attestations.ts
Due: none

recompute rate when reports are removed
  packages/protocol/contracts/stability/SortedOracles.sol
Due: protocol

mathemagic
  packages/web/pages/_app.tsx
  packages/web/src/dev/Transceive.tsx
Due: none

Fix getActionableAttestations
  packages/celotool/src/cmds/account/verify.ts
Due: none

Updates to UsingPrecompiles
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

Pr comments
  packages/contractkit/src/utils/signing.test.ts
  packages/utils/src/signatureUtils.test.ts
  packages/utils/src/signatureUtils.ts
Due: none

Remove kit from parameters
  packages/celotool/src/cmds/account/verify.ts
Due: none

Storing previous randomness values (#1197)
  packages/protocol/contracts/identity/Random.sol
  packages/protocol/contracts/identity/test/TestRandom.sol
  packages/protocol/migrations/13_random.ts
  packages/protocol/migrations/16_governance.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/identity/attestations.ts
  packages/protocol/test/identity/random.ts
  packages/protocol/test/stability/stabletoken.ts
Due: protocol

Reduce lines and cleanup code
  packages/web/src/dev/Transceive.tsx
Due: none

Lazy load cookie consent component
  packages/web/src/header/CookieConsent.tsx
  packages/web/src/header/Header.3.tsx
Due: none

Implement tobin tax
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/actions.ts
  packages/mobile/src/exchange/reducer.ts
  packages/mobile/src/exchange/saga.ts
Due: mobile

Fix tobin tax null handling
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
Due: mobile

Update snapshot test
  packages/mobile/src/exchange/__snapshots__/ExchangeConfirmationCard.test.tsx.snap
Due: mobile

PR comments
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/lib/web3-utils.ts
  packages/protocol/migrations/10_accounts.ts
  packages/protocol/test/common/accounts.ts
  packages/protocol/test/common/integration.ts
  packages/protocol/test/governance/validators.ts
Due: protocol

Fix lint
  packages/attestation-service/src/models/attestation.ts
Due: none

Remove intiialize
  packages/protocol/test/identity/attestations.ts
Due: protocol

Allow getTokenContract to be properly typed
  packages/mobile/src/tokens/saga.ts
Due: mobile

Readd lost code
  packages/protocol/test/identity/attestations.ts
Due: protocol

Undo changes in walletkit/verification pool
  packages/verification-pool-api/contracts/Attestations.ts
  packages/walletkit/src/attestations.ts
Due: none

Uses Ethereum address for the PoP and latest hashing algorithm
  packages/celotool/package.json
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/migrations/17_elect_validators.ts
  packages/protocol/package.json
  yarn.lock
Due: protocol

Temporarily changes Geth tests branch to kobigurk/proof_of_possesion_zexe_upgrade
  .circleci/config.yml
Due: none

lint
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

changes ci tests to point back to master for some of the tests
  .circleci/config.yml
Due: none

CI: makes exit test use temp branch
  .circleci/config.yml
Due: none

Change android play store description copy to match ios
  packages/mobile/fastlane/metadata/android/en-US/full_description.txt
  packages/mobile/fastlane/metadata/android/es-419/full_description.txt
Due: mobile

some more copy updates
  packages/mobile/fastlane/metadata/android/es-419/full_description.txt
  packages/mobile/locales/en-US/accountScreen10.json
  packages/mobile/locales/en-US/nuxNamePin1.json
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/locales/es-419/nuxNamePin1.json
Due: mobile

Revert validator changes
  packages/protocol/contracts/governance/interfaces/IValidators.sol
  packages/protocol/contracts/governance/test/MockValidators.sol
Due: protocol

Add GovernanceTest contract for mocking precompiles
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/test/GovernanceTest.sol
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/governance.ts
Due: protocol

Deploy celo's image of ethstats (#1421)
  .env
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/ethstats.ts
  packages/helm-charts/ethstats/values.yaml
Due: none

Fix lint
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/governance.ts
Due: protocol

Revert validator test changes
  packages/protocol/test/governance/validators.ts
Due: protocol

Revert validator contract changes
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

Tweak testnet banner to comply with the iOS App Store rules
  packages/mobile/locales/en-US/walletFlow5.json
  packages/mobile/locales/es-419/walletFlow5.json
  packages/mobile/src/home/WalletHome.tsx
Due: mobile

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
