Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

Trigger the local currency fetch from the auto refresh loop
  packages/mobile/src/home/saga.test.ts
  packages/mobile/src/home/saga.ts
  packages/mobile/src/localCurrency/actions.ts
  packages/mobile/src/localCurrency/reducer.ts
  packages/mobile/src/localCurrency/saga.test.ts
  packages/mobile/src/localCurrency/saga.ts
  packages/mobile/src/localCurrency/selectors.ts
Due: mobile

Fix local currency persisted state not reset when LOCAL_CURRENCY_SYMBOL changes
  packages/mobile/src/localCurrency/reducer.ts
Due: mobile

Remove commented code
  packages/mobile/src/localCurrency/saga.test.ts
Due: mobile

[NotificationService] Fix incorrect push notification sent (#923)
  packages/mobile/android/app/src/debug/google-services.json.enc
  packages/mobile/android/app/src/staging/google-services.json.enc
  packages/notification-service/config/config.alfajoresstaging.env
  packages/notification-service/src/blockscout/transfers.ts
  packages/notification-service/test/transfers.test.ts
Due: mobile

[wallet] improve local currency exchange rate polling (#883)
  packages/mobile/jest_setup.ts
  packages/mobile/src/home/__snapshots__/CeloDollarsOverview.test.tsx.snap
  packages/mobile/src/home/__snapshots__/WalletHome.test.tsx.snap
  packages/mobile/src/home/saga.test.ts
  packages/mobile/src/home/saga.ts
  packages/mobile/src/localCurrency/actions.ts
  packages/mobile/src/localCurrency/reducer.ts
  packages/mobile/src/localCurrency/saga.test.ts
  packages/mobile/src/localCurrency/saga.ts
  packages/mobile/src/localCurrency/selectors.ts
  packages/mobile/src/redux/sagas.ts
  packages/mobile/src/transactions/ExchangeFeedItem.tsx
  packages/mobile/src/transactions/__snapshots__/TransactionFeed.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransferFeedItem.test.tsx.snap
Due: mobile

adding details about android SDK & genymotion install in Linux
  SETUP.md
Due: none

working on linked list
  packages/protocol/contracts/common/linkedlists/LinkedList.sol
  packages/protocol/contracts/common/test/LinkedListTest.sol
  packages/protocol/migrationsConfig.js
  packages/protocol/test/common/linkedlist.ts
Due: protocol

progress
  packages/mobile/src/account/reducer.ts
  packages/mobile/src/apollo/types.ts
  packages/mobile/src/send/TransferConfirmationCard.tsx
  packages/mobile/src/transactions/TransactionFeed.tsx
  packages/mobile/src/transactions/TransferFeedItem.tsx
  packages/react-components/components/Avatar.tsx
  packages/react-components/components/ContactCircle.tsx
Due: mobile

add a helper function to check if synced, handling the case w=in which syncing has not (re)started, and the latest block is old
  packages/cli/src/commands/node/synced.ts
  packages/cli/src/utils/helpers.ts
Due: none

added some more tests
  packages/protocol/test/common/linkedlist.ts
Due: protocol

pr comment fixes
  packages/faucet/scripts/test-celo-adapter.ts
  packages/faucet/src/tx.ts
Due: none

Add a helper function to require a node is synced. Use this function at the beginning of any commands that need the node to be synced
  packages/cli/src/commands/account/balance.ts
  packages/cli/src/commands/account/transferdollar.ts
  packages/cli/src/commands/account/transfergold.ts
  packages/cli/src/commands/exchange/list.ts
  packages/cli/src/commands/exchange/selldollar.ts
  packages/cli/src/commands/exchange/sellgold.ts
  packages/cli/src/commands/lockedgold/list.ts
  packages/cli/src/commands/lockedgold/lockup.ts
  packages/cli/src/commands/lockedgold/notify.ts
  packages/cli/src/commands/lockedgold/register.ts
  packages/cli/src/commands/lockedgold/rewards.ts
  packages/cli/src/commands/lockedgold/show.ts
  packages/cli/src/commands/lockedgold/withdraw.ts
  packages/cli/src/commands/validator/affiliation.ts
  packages/cli/src/commands/validator/list.ts
  packages/cli/src/commands/validator/register.ts
  packages/cli/src/commands/validator/show.ts
  packages/cli/src/commands/validatorgroup/list.ts
  packages/cli/src/commands/validatorgroup/member.ts
  packages/cli/src/commands/validatorgroup/register.ts
  packages/cli/src/commands/validatorgroup/show.ts
  packages/cli/src/commands/validatorgroup/vote.ts
  packages/cli/src/utils/helpers.ts
Due: none

remove superfluous console.log
  packages/cli/src/commands/account/transferdollar.ts
Due: none

Cleanup uses of contact circle and avatar
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/AccountInfo.test.tsx
  packages/mobile/src/account/AccountInfo.tsx
  packages/mobile/src/account/Profile.tsx
  packages/mobile/src/account/__snapshots__/Account.test.tsx.snap
  packages/mobile/src/account/__snapshots__/AccountInfo.test.tsx.snap
  packages/mobile/src/account/__snapshots__/Invite.test.tsx.snap
  packages/mobile/src/account/__snapshots__/InviteReview.test.tsx.snap
  packages/mobile/src/account/reducer.ts
  packages/mobile/src/apollo/__mockData__.ts
  packages/mobile/src/components/Avatar.tsx
  packages/mobile/src/components/AvatarSelf.tsx
  packages/mobile/src/exchange/Activity.tsx
  packages/mobile/src/exchange/actions.ts
  packages/mobile/src/paymentRequest/__snapshots__/PaymentRequestConfirmation.test.tsx.snap
  packages/mobile/src/qrcode/QRCode.tsx
  packages/mobile/src/qrcode/__snapshots__/QRCode.test.tsx.snap
  packages/mobile/src/recipients/RecipientItem.tsx
  packages/mobile/src/recipients/__snapshots__/RecipientItem.test.tsx.snap
  packages/mobile/src/recipients/recipient.ts
  packages/mobile/src/send/__snapshots__/SendAmount.test.tsx.snap
  packages/mobile/src/send/__snapshots__/SendConfirmation.test.tsx.snap
  packages/mobile/src/transactions/ExchangeFeedItem.test.tsx
  packages/mobile/src/transactions/TransactionFeed.test.tsx
  packages/mobile/src/transactions/TransactionFeed.tsx
  packages/mobile/src/transactions/TransactionReviewScreen.tsx
  packages/mobile/src/transactions/TransferFeedItem.tsx
  packages/mobile/src/transactions/__snapshots__/TransactionFeed.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransferFeedItem.test.tsx.snap
  packages/mobile/src/transactions/actions.ts
  packages/mobile/src/transactions/reducer.ts
  packages/react-components/components/ContactCircle.tsx
Due: mobile

regenerate docs to include the new command
  packages/docs/command-line-interface/node.md
Due: none

Further simplify Avatar component
  packages/mobile/src/components/Avatar.tsx
  packages/mobile/src/send/__snapshots__/TransferConfirmationCard.test.tsx.snap
  packages/mobile/src/send/__snapshots__/TransferReviewCard.test.tsx.snap
Due: mobile

[faucet] Improve logging (#922)
  packages/faucet/scripts/test-celo-adapter.ts
  packages/faucet/src/celo-adapter.ts
  packages/faucet/src/database-helper.ts
  packages/faucet/src/debug-provider.ts
  packages/faucet/src/index.ts
  packages/faucet/src/tx.ts
Due: none

Validates in Proxy.sol if address is a contract,implements #909
  packages/protocol/contracts/common/Proxy.sol
  packages/protocol/test/common/proxy.ts
Due: protocol

Update SETUP.md
  SETUP.md
Due: none

Fix exchange trade screen handling of small amounts
  packages/mobile/src/config.ts
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
  packages/mobile/src/utils/currencyExchange.ts
  packages/mobile/src/utils/formatting.ts
Due: mobile

Fix so that typing in full name sets the calling code
  packages/web/src/fauceting/PhoneInput.tsx
Due: none

wip
  packages/web/src/fauceting/PhoneInput.tsx
Due: none

[faucet] Improve logging (#922) (#945)
  packages/faucet/scripts/test-celo-adapter.ts
  packages/faucet/src/celo-adapter.ts
  packages/faucet/src/database-helper.ts
  packages/faucet/src/debug-provider.ts
  packages/faucet/src/index.ts
  packages/faucet/src/tx.ts
Due: none

Flags should be ON
  packages/web/flags.js
Due: none

Locally run ultralight clients sync with v5
  packages/mobile/.env
  packages/mobile/.env.trevor1
  packages/mobile/.env.trevor2
  packages/mobile/src/geth/geth.ts
  packages/mobile/src/geth/network-config.ts
  packages/terraform-modules/testnet/main.tf
  packages/terraform-modules/testnet/modules/bootnode/main.tf
  packages/terraform-modules/testnet/modules/bootnode/startup.sh
  packages/terraform-modules/testnet/modules/bootnode/variables.tf
  packages/terraform-modules/testnet/modules/tx-node/startup.sh
  packages/terraform-modules/testnet/modules/validator/startup.sh
  yarn.lock
Due: mobile

Split up backup flow into separate screens
  packages/mobile/locales/en-US/backupKeyFlow6.json
  packages/mobile/package.json
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/app/ErrorMessages.ts
  packages/mobile/src/backup/BackupComplete.tsx
  packages/mobile/src/backup/BackupIntroduction.tsx
  packages/mobile/src/backup/BackupPhrase.tsx
  packages/mobile/src/backup/BackupPhraseContainer.tsx
  packages/mobile/src/backup/BackupQuestion.tsx
  packages/mobile/src/backup/BackupQuiz.tsx
  packages/mobile/src/backup/BackupSocial.tsx
  packages/mobile/src/backup/BackupSocialFirst.tsx
  packages/mobile/src/backup/BackupSocialSecond.tsx
  packages/mobile/src/backup/BackupVerify.tsx
  packages/mobile/src/backup/utils.ts
  packages/mobile/src/navigator/BackHandler.tsx
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/Screens.tsx
  yarn.lock
Due: mobile

Remove own backhandler
  packages/mobile/src/navigator/BackHandler.tsx
  packages/mobile/src/navigator/Navigator.tsx
Due: mobile

finish/fix tests for setStableToken
  packages/protocol/test/stability/exchange.ts
Due: protocol

Redeploy integration with older version
  .env.integration
Due: none

Use integer division for exchange calculation
  packages/protocol/contracts/stability/Exchange.sol
Due: protocol

Use more realistic reserve balance in test
  packages/protocol/test/stability/exchange.ts
Due: protocol

fix zIndez overlap underlap issue
  packages/web/src/download/Cover.tsx
  packages/web/src/download/MobileApp.tsx
  packages/web/src/fauceting/PhoneInput.tsx
Due: none

Updates
  packages/web/src/fauceting/PhoneInput.tsx
  yarn.lock
Due: none

allow +
  packages/web/src/fauceting/PhoneInput.tsx
Due: none

Update import flow with social option
  packages/mobile/locales/en-US/nuxRestoreWallet3.json
  packages/mobile/src/import/ImportWallet.tsx
Due: mobile

Flags should be ON (#947)
  packages/web/flags.js
Due: none

Add word Venture to ecofund name
  packages/web/static/locales/en/community.json
Due: none

Catch mnemonic split error
  packages/mobile/src/backup/BackupSocial.tsx
Due: mobile

Add Celo FAQ to importwallet
  packages/mobile/src/import/ImportWallet.tsx
Due: mobile

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
