Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

Cleanup
  packages/mobile/.env
  packages/mobile/src/firebase/firebase.ts
Due: mobile

Remove unneeded fragments
  packages/mobile/src/import/ImportWallet.tsx
  packages/mobile/src/import/ImportWalletSocial.tsx
Due: mobile

Throw error if user address in the db doesn't match the persisted address
  packages/mobile/src/firebase/firebase.ts
Due: mobile

Don't autocomplete if not on Android
  packages/mobile/package.json
  packages/react-components/components/PhoneNumberInput.tsx
  packages/verifier/package.json
  yarn.lock
Due: mobile

[Wallet] Add support for social wallet (Safeguards) import (#1414)
  packages/mobile/locales/en-US/backupKeyFlow6.json
  packages/mobile/locales/en-US/nuxNamePin1.json
  packages/mobile/locales/en-US/nuxRestoreWallet3.json
  packages/mobile/locales/es-419/backupKeyFlow6.json
  packages/mobile/locales/es-419/nuxNamePin1.json
  packages/mobile/locales/es-419/nuxRestoreWallet3.json
  packages/mobile/src/account/__snapshots__/EditProfile.test.tsx.snap
  packages/mobile/src/account/__snapshots__/Invite.test.tsx.snap
  packages/mobile/src/backup/BackupPhrase.tsx
  packages/mobile/src/backup/BackupPhraseContainer.test.tsx
  packages/mobile/src/backup/BackupPhraseContainer.tsx
  packages/mobile/src/backup/BackupSocial.tsx
  packages/mobile/src/backup/__snapshots__/BackupPhraseContainer.test.tsx.snap
  packages/mobile/src/backup/__snapshots__/BackupSocial.test.tsx.snap
  packages/mobile/src/backup/utils.test.ts
  packages/mobile/src/backup/utils.ts
  packages/mobile/src/import/ImportWalletEmpty.test.tsx
  packages/mobile/src/import/ImportWalletEmpty.tsx
  packages/mobile/src/import/ImportWalletSocial.test.tsx
  packages/mobile/src/import/ImportWalletSocial.tsx
  packages/mobile/src/import/__snapshots__/ImportWalletEmpty.test.tsx.snap
  packages/mobile/src/import/__snapshots__/ImportWalletSocial.test.tsx.snap
  packages/mobile/src/import/actions.ts
  packages/mobile/src/import/reducer.ts
  packages/mobile/src/import/saga.test.ts
  packages/mobile/src/import/saga.ts
  packages/mobile/src/invite/__snapshots__/JoinCelo.test.tsx.snap
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/Screens.tsx
  packages/mobile/src/send/__snapshots__/SendAmount.test.tsx.snap
  packages/mobile/src/verify/__snapshots__/Verify.test.tsx.snap
  packages/mobile/test/schemas.ts
  packages/mobile/test/values.ts
  packages/react-components/components/TextInput.tsx
  packages/react-components/components/WithTextInputPasteAware.tsx
  packages/react-components/components/__snapshots__/PhoneNumberInput.test.tsx.snap
  packages/react-components/icons/Paste.tsx
  packages/verifier/src/components/__snapshots__/PhoneNumberInput.test.tsx.snap
Due: mobile

Use exit on iOS since we can't restart like Android
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/locales/en-US/global.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/package.json
  packages/mobile/src/app/AppLoading.tsx
  packages/mobile/src/app/ErrorScreen.tsx
  packages/mobile/src/utils/AppRestart.ts
  yarn.lock
Due: mobile

update blockchain api escrow address
  packages/blockchain-api/app.alfajoresstaging.yaml
  packages/blockchain-api/app.pilot.yaml
  packages/blockchain-api/app.pilotstaging.yaml
  packages/blockchain-api/src/utils.ts
Due: none

app version check remove backward compatibility
  packages/mobile/src/firebase/firebase.test.ts
  packages/mobile/src/firebase/firebase.ts
Due: mobile

Update snapshot
  packages/mobile/src/app/__snapshots__/AppLoading.test.tsx.snap
Due: mobile

numRates can just be a number, rather than a BigNumber
  packages/contractkit/src/wrappers/SortedOracles.ts
Due: none

PR feedback
  packages/mobile/.env
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/firebase/notifications.ts
  packages/mobile/src/firebase/saga.ts
  packages/mobile/src/sentry/actions.ts
  packages/mobile/src/sentry/saga.ts
Due: mobile

lint
  packages/mobile/src/firebase/actions.ts
Due: mobile

Fixed link
  packages/verifier/ios/verifier.xcodeproj/project.pbxproj
Due: none

WIP adding exchange/saga tests
  packages/mobile/src/exchange/saga.test.ts
Due: mobile

Make changes based on review
  packages/mobile/.env
  packages/mobile/.env.alfajores
  packages/mobile/.env.integration
  packages/mobile/.env.pilot
  packages/mobile/.env.pilotstaging
  packages/mobile/.env.production
  packages/mobile/.env.staging
  packages/mobile/.env.test
  packages/mobile/locales/en-US/global.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/src/app/ErrorMessages.ts
  packages/mobile/src/config.ts
  packages/mobile/src/geth/networkConfig.ts
  packages/mobile/src/web3/contracts.ts
  packages/mobile/src/web3/saga.ts
Due: mobile

Add browse code button to full stack area and update title of features area
  packages/web/src/dev/Cover.tsx
  packages/web/src/dev/Features.tsx
  packages/web/src/dev/FullStack.tsx
  packages/web/static/locales/en/dev.json
Due: none

Order those imports
  packages/web/src/dev/FullStack.tsx
Due: none

Add connection footer to build page
  packages/web/src/dev/BuildPage.tsx
  packages/web/src/shared/ConnectionFooter.tsx
Due: none

Rename towards signing keys
  packages/cli/src/commands/account/authorize.ts
  packages/contractkit/src/wrappers/Accounts.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/common/interfaces/IAccounts.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/test/MockLockedGold.sol
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/test/common/accounts.ts
  packages/protocol/test/identity/attestations.ts
Due: protocol

More copying of files from other branch over
  packages/web/src/dev/BuildPage.tsx
  packages/web/src/dev/Features.tsx
  packages/web/src/layout/BookLayout.tsx
  packages/web/src/shared/ConnectionFooter.tsx
Due: none

Add alignment options to social channels
  packages/web/src/shared/SocialChannels.tsx
Due: none

JK
  packages/web/src/dev/FullStack.tsx
Due: none

Fix tests and mock to implement interface
  packages/protocol/contracts/governance/test/MockValidators.sol
  packages/protocol/test/governance/governance.ts
Due: protocol

Fix contractkit tests
  packages/cli/src/commands/validatorgroup/member.ts
  packages/contractkit/src/wrappers/Validators.ts
Due: none

Move firebase interfaces Ito a new file and lazy load PhoneInput
  packages/web/server/FirebaseClient.ts
  packages/web/server/FirebaseServerSide.ts
  packages/web/server/controllers.ts
  packages/web/server/index.ts
  packages/web/src/dev/FaucetPage.tsx
  packages/web/src/download/Cover.tsx
  packages/web/src/fauceting/FaucetInterfaces.ts
  packages/web/src/fauceting/RequestFunds.tsx
  packages/web/src/fauceting/utils.ts
Due: none

Fix
  packages/cli/src/commands/validatorgroup/member.ts
Due: none

Cleanup
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/test/governance/election.ts
  packages/protocol/test/governance/validators.ts
Due: protocol

Add back translations
  packages/web/static/locales/en/community.json
Due: none

Downsize image
  packages/web/src/home/merchant.jpg
Due: none

Move balance fetching to ck. Tested on alfajores
  packages/mobile/.env
  packages/mobile/src/exchange/saga.test.ts
  packages/mobile/src/exchange/saga.ts
  packages/mobile/src/goldToken/saga.ts
  packages/mobile/src/import/saga.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/stableToken/saga.ts
  packages/mobile/src/tokens/saga.ts
  packages/mobile/src/web3/contracts.ts
Due: mobile

Fix circle config
  .circleci/config.yml
Due: none

Tiny copy change
  packages/web/src/community/connect/FellowViewer.tsx
Due: none

Add contract decimals caching
  packages/mobile/src/tokens/saga.ts
Due: mobile

PR comments
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/test/identity/attestations.ts
Due: protocol

add comments
  packages/mobile/src/tokens/saga.ts
Due: mobile

Reset pincode cache if unlock fails
  packages/mobile/src/pincode/PincodeCache.ts
  packages/mobile/src/web3/saga.ts
Due: mobile

Add decimal caching
  packages/mobile/src/exchange/saga.ts
  packages/mobile/src/tokens/saga.ts
Due: mobile

Revert .env file
  packages/mobile/.env
Due: mobile

Contract unit tests passing
  .circleci/config.yml
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IGovernance.sol
  packages/protocol/contracts/governance/test/MockGovernance.sol
  packages/protocol/contracts/governance/test/MockValidators.sol
  packages/protocol/test/governance/election.ts
  packages/protocol/test/governance/lockedgold.ts
  packages/protocol/test/governance/validators.ts
Due: protocol

Re-add isVoting tests
  packages/protocol/test/governance/governance.ts
Due: protocol

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
