Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

added migrations
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IValidators.sol
  packages/protocol/lib/registry-utils.ts
  packages/protocol/migrations/19_governance.ts
  packages/protocol/migrations/20_elect_validators.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/validators.ts
Due: protocol

adding reference to variables required by attestation service and full node
  scripts/validator-config.rc
Due: none

Adding support to new instrutions for running the attestation service
  scripts/run-docker-validator-network.sh
Due: none

[Wallet] Create run_app.sh script to facilitate app development (#2186)
  .env.baklava
  .env.baklavastaging
  packages/blockchain-api/.env
  packages/blockchain-api/app.integration.yaml
  packages/mobile/package.json
  packages/mobile/scripts/pre-dev.sh
  packages/mobile/scripts/run_app.sh
  packages/mobile/scripts/run_e2e.sh
  packages/notification-service/config/config.integration.env
  packages/notification-service/config/config.local.env
  packages/notification-service/config/config.test.env
Due: mobile

adding more instructions to attestation service
  scripts/run-docker-validator-network.sh
Due: none

Finish progress reporting in contact import
  packages/mobile/README.md
  packages/mobile/src/identity/actions.ts
  packages/mobile/src/identity/contactMapping.ts
  packages/mobile/src/identity/reducer.ts
Due: mobile

try with more gas?
  packages/protocol/lib/web3-utils.ts
Due: protocol

Address comments
  packages/mobile/src/identity/verification.test.ts
  packages/mobile/src/identity/verification.ts
Due: mobile

actually added migrations, also unit test for governance slasher
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/GovernanceSlasher.sol
  packages/protocol/contracts/governance/test/MockLockedGold.sol
  packages/protocol/contracts/governance/test/TestDoubleSigningSlasher.sol
  packages/protocol/contracts/governance/test/TestGovernanceSlasher.sol
  packages/protocol/migrations/19_governance_slasher.ts
  packages/protocol/migrations/20_double_signing_slasher.ts
  packages/protocol/migrations/22_governance.ts
  packages/protocol/migrations/23_elect_validators.ts
  packages/protocol/test/governance/governance_slasher.ts
Due: protocol

calculate the average score for validator groups
  packages/celotool/src/cmds/bots/voting.ts
Due: none

Fix lints
  packages/protocol/test/stability/reserve.ts
Due: protocol

Fix lint
  packages/utils/src/async.ts
Due: none

Fix more lints:
  packages/protocol/test/stability/reserve.ts
Due: protocol

Fix more lints
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
Due: none

Last lint
  packages/cli/src/commands/rewards/show.ts
Due: none

unit tests working
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/test/TestDoubleSigningSlasher.sol
  packages/protocol/contracts/governance/test/TestGovernanceSlasher.sol
  packages/protocol/test/governance/double_signing_slasher.ts
Due: protocol

Add utils as a dep (#2252)
  packages/blockchain-api/package.json
Due: none

fixing lint
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/test/governance/double_signing_slasher.ts
  packages/protocol/test/governance/governance_slasher.ts
Due: protocol

Add getActiveVotesForGroup accessor
  packages/protocol/contracts/governance/Election.sol
Due: protocol

Patch to remove 'iex(1)> ' from logs
  packages/helm-charts/blockscout/templates/blockscout-indexer.deployment.yaml
  packages/helm-charts/blockscout/templates/blockscout-web.deployment.yaml
Due: none

WIP
  packages/web/package.json
  packages/web/src/about/About.tsx
  packages/web/src/dev/Cover.tsx
  packages/web/src/dev/Engage.tsx
  packages/web/src/dev/FullStack.tsx
  packages/web/src/dev/StackSection.tsx
  packages/web/src/jobs/version3/JobRows.tsx
  packages/web/src/shared/Button.3.tsx
  packages/web/src/shared/HollowOval.tsx
  packages/web/src/shared/PlayCircle.tsx
  yarn.lock
Due: none

Type imports
  packages/celotool/src/lib/geth.ts
Due: none

fixing lint
  packages/utils/src/collections.test.ts
  packages/utils/src/collections.ts
Due: none

Make changes based on review
  packages/mobile/locales/en-US/nuxVerification2.json
  packages/mobile/locales/es-419/nuxVerification2.json
  packages/mobile/src/exchange/ExchangeReview.test.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
  packages/mobile/src/navigator/Headers.tsx
  packages/mobile/src/navigator/Navigator.tsx
Due: mobile

TS issue
  packages/celotool/src/cmds/geth/trace.ts
Due: none

Update tests
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/__snapshots__/ExchangeReview.test.tsx.snap
Due: mobile

Fix spelling
  packages/web/src/about/backers/backers.ts
  packages/web/src/about/backers/general-catalyst.jpg
Due: none

Linting
  packages/web/src/about/Team.tsx
Due: none

Remove console.log
  packages/mobile/src/exchange/ExchangeReview.tsx
Due: mobile

Lint
  packages/web/src/community/connect/CodeOfConduct.tsx
  packages/web/src/ecosystem/EcoCover.tsx
Due: none

Get it running
  packages/web/src/community/EcoFund.tsx
  packages/web/src/community/connect/EventRow.tsx
  packages/web/src/community/connect/Tenets.tsx
  packages/web/src/shared/Button.3.tsx
  packages/web/src/shared/navigation.tsx
Due: none

Update Role on About Page
  packages/web/src/about/team/team-list.ts
Due: none

Update Role on About Page (#2271)
  packages/web/src/about/team/team-list.ts
Due: none

WIP debugging
  packages/mobile/.env
  packages/mobile/src/home/TransactionsList.tsx
  packages/mobile/src/transactions/TransactionFeed.tsx
  packages/mobile/src/transactions/saga.ts
Due: mobile

Add missing spanish translation
  packages/mobile/locales/es-419/exchangeFlow9.json
Due: mobile

Add space to trigger build
  packages/mobile/src/transactions/TransactionFeed.tsx
Due: mobile

Remove space to trigger build
  packages/mobile/src/transactions/TransactionFeed.tsx
Due: mobile

Trigger build
  packages/react-components/styles/fonts.tsx
Due: none

comments
  packages/celotool/src/cmds/geth/trace.ts
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

Add space to trigger build
  packages/mobile/README.md
Due: mobile

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
