Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: 'packages/mobile/'
        flags: mobile
        threshold: 5%
        target: 70%
      web:
        paths: 'packages/web/'
        flags: web
        threshold: 2%
        target: 75%
      protocol:
        paths: 'packages/protocol/'
        flags: protocol
        threshold: 5%
        target: 90%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

Added chaos-mesh package and command
  packages/celotool/src/cmds/deploy/destroy/chaos-mesh.ts
  packages/celotool/src/cmds/deploy/initial/chaos-mesh.ts
  packages/celotool/src/cmds/deploy/upgrade/chaos-mesh.ts
  packages/celotool/src/lib/chaos-mesh.ts
  packages/celotool/src/lib/cluster.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/helm-charts/chaos-mesh/.helmignore
  packages/helm-charts/chaos-mesh/Chart.yaml
  packages/helm-charts/chaos-mesh/manifests/crd.yaml
  packages/helm-charts/chaos-mesh/manifests/local-volume-provisioner.yaml
  packages/helm-charts/chaos-mesh/manifests/tiller-rbac.yaml
  packages/helm-charts/chaos-mesh/templates/NOTES.txt
  packages/helm-charts/chaos-mesh/templates/_helpers.tpl
  packages/helm-charts/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  packages/helm-charts/chaos-mesh/templates/collector-mysql.yaml
  packages/helm-charts/chaos-mesh/templates/collector-rbac.yaml
  packages/helm-charts/chaos-mesh/templates/controller-manager-deployment.yaml
  packages/helm-charts/chaos-mesh/templates/controller-manager-rbac.yaml
  packages/helm-charts/chaos-mesh/templates/controller-manager-service.yaml
  packages/helm-charts/chaos-mesh/templates/dashboard-deployment.yaml
  packages/helm-charts/chaos-mesh/templates/post-install-create-cert-job.yaml
  packages/helm-charts/chaos-mesh/templates/post-install-mutatingwebhook-job.yaml
  packages/helm-charts/chaos-mesh/templates/pre-delete-job.yaml
  packages/helm-charts/chaos-mesh/templates/prometheus-configmap.yaml
  packages/helm-charts/chaos-mesh/templates/prometheus-deployment.yaml
  packages/helm-charts/chaos-mesh/templates/prometheus-rbac.yaml
  packages/helm-charts/chaos-mesh/templates/prometheus-service.yaml
  packages/helm-charts/chaos-mesh/values.yaml
  packages/helm-charts/load-test/templates/load-test.statefulset.yaml
  packages/helm-charts/pumba/templates/daemonset.yaml
Due: none

Added variable to optionally clean validator roundstate folder
  .env
  packages/celotool/src/lib/helm_deploy.ts
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Due: none

Added chaos scenarios
  chaos-scenarios/README.md
  chaos-scenarios/failure.yaml
  chaos-scenarios/kill.yaml
  chaos-scenarios/kill_all.yaml
  chaos-scenarios/network_corrupt.yaml
  chaos-scenarios/network_loss.yaml
  chaos-scenarios/network_partition.yaml
Due: none

Default test blockchain branch to master
  .circleci/config.yml
Due: none

Fix PIN entering screen, when account is not created yet (#2932)
  packages/mobile/src/pincode/PincodeConfirmation.tsx
Due: mobile

Add iOS Universal links + Firebase Dynamic links
  packages/mobile/ios/celo/AppDelegate.m
  packages/mobile/ios/celo/Info.plist
  packages/mobile/ios/celo/celo.entitlements
  packages/mobile/package.json
  packages/mobile/src/firebase/dynamicLinks.ts
  packages/mobile/src/invite/EnterInviteCode.test.tsx
  packages/mobile/src/invite/EnterInviteCode.tsx
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/invite/utils.test.ts
  packages/mobile/src/invite/utils.ts
  packages/mobile/src/utils/appstore.ts
  packages/mobile/src/utils/permissions.ios.ts
  yarn.lock
Due: mobile

cleanup
  packages/protocol/runTests.js
  packages/protocol/test/governance/election.ts
Due: protocol

fix tests
  packages/mobile/__mocks__/react-native-firebase.ts
  packages/mobile/__mocks__/react-native-install-referrer.ts
  packages/mobile/__mocks__/react-native-version-check.ts
  packages/mobile/ios/celo/AppDelegate.m
  packages/mobile/ios/celo/Info.plist
  packages/mobile/ios/celo/celo.entitlements
  packages/mobile/package.json
  packages/mobile/src/firebase/dynamicLinks.test.ts
  packages/mobile/src/firebase/dynamicLinks.ts
  packages/mobile/src/invite/EnterInviteCode.test.tsx
  packages/mobile/src/invite/EnterInviteCode.tsx
  packages/mobile/src/invite/saga.test.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/invite/utils.test.ts
  packages/mobile/src/utils/appstore.ts
  yarn.lock
Due: mobile

cleanup
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Due: protocol

[Wallet] Upgrade version to 1.6.1
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/main/assets/custom/LicenseDisclaimer.txt
  packages/mobile/android/gradle.properties
  packages/mobile/ios/celo-tvOS/Info.plist
  packages/mobile/ios/celo-tvOSTests/Info.plist
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/ios/celo/Info.plist
  packages/mobile/ios/celoTests/Info.plist
  packages/mobile/package.json
Due: mobile

cleanup
  packages/protocol/test/governance/election.ts
Due: protocol

Allow private ips for proxy public enode ip (--proxy.allowprivateip)
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Due: none

forgot this
  packages/protocol/runTests.js
Due: protocol

ok
  packages/web/src/about/Team.tsx
Due: none

[Wallet] Make iOS block out view less aggressive
  packages/mobile/ios/celo/AppDelegate.m
Due: mobile

changed to not use storage
  packages/protocol/contracts/stability/StableToken.sol
Due: protocol

Update packages/celotool/src/lib/helm_deploy.ts
  packages/celotool/src/lib/helm_deploy.ts
Due: none

[Wallet] Upgrade version to 1.6.1 (#2941)
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/main/assets/custom/LicenseDisclaimer.txt
  packages/mobile/android/gradle.properties
  packages/mobile/ios/celo-tvOS/Info.plist
  packages/mobile/ios/celo-tvOSTests/Info.plist
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/ios/celo/Info.plist
  packages/mobile/ios/celoTests/Info.plist
  packages/mobile/package.json
Due: mobile

Update .env.alfajores
  .env.alfajores
Due: none

Update .env.baklava
  .env.baklava
Due: none

[Wallet] Fix errors when phone doesn't support invite messaging apps Update SMS invite code text A bit of cleanup around invite saga
  packages/mobile/__mocks__/src/navigator/NavigationService.ts
  packages/mobile/locales/en-US/global.json
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/src/alert/__snapshots__/AlertBanner.test.tsx.snap
  packages/mobile/src/alert/actions.ts
  packages/mobile/src/app/ErrorMessages.ts
  packages/mobile/src/home/WalletHome.test.tsx
  packages/mobile/src/home/WalletHome.tsx
  packages/mobile/src/invite/actions.ts
  packages/mobile/src/invite/reducer.ts
  packages/mobile/src/invite/saga.test.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/invite/utils.ts
  packages/mobile/src/pincode/PincodeSet.tsx
  packages/mobile/src/redux/sagas.ts
  packages/mobile/src/send/SendAmount.tsx
  packages/mobile/src/send/saga.ts
  packages/react-components/components/SmartTopAlert.tsx
Due: mobile

Removing old files
  packages/protocol/contracts/governance/ReleaseGoldFactory.sol
  packages/protocol/contracts/governance/ReleaseGoldInstance.sol
  packages/protocol/contracts/governance/interfaces/IReleaseGoldFactory.sol
  packages/protocol/contracts/governance/interfaces/IReleaseGoldInstance.sol
Due: protocol

some fixes
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/protocol/contracts/stability/StableToken.sol
Due: protocol

updated comments
  packages/protocol/contracts/stability/StableToken.sol
Due: protocol

Fix geth1.9 master deployment. Fix tests
  packages/celotool/src/lib/generate_utils.ts
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Due: none

Add asset allocations to Reserve.initialize
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/interfaces/IReserve.sol
  packages/protocol/migrations/07_reserve.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/epochrewards.ts
  packages/protocol/test/stability/reserve.ts
Due: protocol

Adding event
  packages/protocol/contracts/governance/ReleaseGold.sol
  packages/protocol/test/governance/release_gold.ts
Due: protocol

Remove safe cast tests
  packages/protocol/contracts/common/SafeCastTest.sol
  packages/protocol/test/common/safecast.ts
Due: protocol

remove unnecessary mapping
  packages/protocol/contracts/stability/StableToken.sol
Due: protocol

Prettify
  packages/protocol/contracts/common/MultiSig.sol
Due: protocol

Remove codecov for protocol until coverage working again
  .codecov.yml
Due: none

Add --yes when registering group
  packages/cli/src/commands/validatorgroup/commission.test.ts
Due: none

Remove dev settings
  packages/mobile/src/app/saga.ts
  packages/mobile/src/components/Carousel.tsx
  packages/mobile/src/verify/VerificationLoadingScreen.tsx
Due: mobile

Revert
  packages/mobile/src/app/saga.ts
Due: mobile

changes to get kubernetes testnets to work
  packages/celotool/src/lib/helm_deploy.ts
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Due: none

removed redundant cmd line option
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Due: none

add blured fade in for portraits
  packages/web/server/getContributors.ts
  packages/web/src/about/Contributor.ts
  packages/web/src/about/Team.tsx
Due: none

[Wallet] Fix errors with invite flow when messaging app is unsupported (#2944)
  packages/mobile/__mocks__/src/navigator/NavigationService.ts
  packages/mobile/locales/en-US/global.json
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/src/alert/__snapshots__/AlertBanner.test.tsx.snap
  packages/mobile/src/alert/actions.ts
  packages/mobile/src/app/ErrorMessages.ts
  packages/mobile/src/home/WalletHome.test.tsx
  packages/mobile/src/home/WalletHome.tsx
  packages/mobile/src/invite/actions.ts
  packages/mobile/src/invite/reducer.ts
  packages/mobile/src/invite/saga.test.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/invite/utils.ts
  packages/mobile/src/pincode/PincodeSet.tsx
  packages/mobile/src/redux/sagas.ts
  packages/mobile/src/send/SendAmount.tsx
  packages/mobile/src/send/saga.ts
  packages/react-components/components/SmartTopAlert.tsx
Due: mobile

update tests now that components take an array rather than an random seed
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/about.test.tsx
  packages/web/src/about/About.test.tsx
  packages/web/src/about/Team.test.tsx
Due: none

Fix test
  packages/protocol/test/governance/release_gold.ts
Due: protocol
