Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

[wallet]Select blockchain url based on testnet (#936)
  packages/mobile/.env
  packages/mobile/src/config.ts
  packages/mobile/src/geth/network-config.ts
Due: mobile

check if synced in base command. add ability to skip that check
  packages/cli/src/base.ts
  packages/cli/src/commands/account/balance.ts
  packages/cli/src/commands/account/transferdollar.ts
  packages/cli/src/commands/account/transfergold.ts
  packages/cli/src/commands/config/get.ts
  packages/cli/src/commands/config/set.ts
  packages/cli/src/commands/exchange/list.ts
  packages/cli/src/commands/exchange/selldollar.ts
  packages/cli/src/commands/exchange/sellgold.ts
  packages/cli/src/commands/lockedgold/list.ts
  packages/cli/src/commands/lockedgold/lockup.ts
  packages/cli/src/commands/lockedgold/notify.ts
  packages/cli/src/commands/lockedgold/register.ts
  packages/cli/src/commands/lockedgold/rewards.ts
  packages/cli/src/commands/lockedgold/show.ts
  packages/cli/src/commands/lockedgold/withdraw.ts
  packages/cli/src/commands/node/accounts.ts
  packages/cli/src/commands/node/synced.ts
  packages/cli/src/commands/validator/affiliation.ts
  packages/cli/src/commands/validator/list.ts
  packages/cli/src/commands/validator/register.ts
  packages/cli/src/commands/validator/show.ts
  packages/cli/src/commands/validatorgroup/list.ts
  packages/cli/src/commands/validatorgroup/member.ts
  packages/cli/src/commands/validatorgroup/register.ts
  packages/cli/src/commands/validatorgroup/show.ts
  packages/cli/src/commands/validatorgroup/vote.ts
  packages/cli/src/utils/helpers.ts
Due: none

remove console.log statements
  packages/protocol/test/stability/exchange.ts
Due: protocol

Update config file, create function signatures
  packages/notification-service/src/config.ts
  packages/notification-service/src/exchange/exchangeQuery.ts
Due: none

Increase memory requests for Alfajores nodes (#966)
  .env.alfajores
Due: none

Add comments about divide usage
  packages/protocol/contracts/common/FixidityLib.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/stability/Exchange.sol
  packages/protocol/contracts/stability/StableToken.sol
Due: protocol

Alphabetize imports
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

Add makeExhangeQuery and getWeb3Instance
  packages/notification-service/package.json
  packages/notification-service/src/exchange/exchangeQuery.ts
  packages/notification-service/src/polling.ts
Due: none

Add persistent volumes to tx nodes
  packages/celotool/src/lib/helm_deploy.ts
  packages/helm-charts/testnet/templates/txnode.statefulset.yaml
Due: none

fixed too long line
  packages/protocol/contracts/governance/LockedGold.sol
Due: protocol

Make PVCs SSD
  packages/helm-charts/testnet/templates/txnode.statefulset.yaml
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Due: none

Add exchangeRatePair object
  packages/notification-service/src/exchange/exchangeQuery.ts
  packages/notification-service/src/firebase.ts
Due: none

[CircleCI]Run protocol test with and without coverage (#991)
  .circleci/config.yml
Due: none

Upgrade cli and walletkit package (#987)
  packages/celotool/package.json
  packages/cli/package.json
  packages/mobile/package.json
  packages/transaction-metrics-exporter/package.json
  packages/walletkit/package.json
Due: mobile

Add Nexmo as a text provider for MX and US numbers (#1002)
  packages/verification-pool-api/index.d.ts
  packages/verification-pool-api/package.json
  packages/verification-pool-api/src/config.ts
  packages/verification-pool-api/src/verification.ts
  packages/verification-pool-api/test/mocks.ts
  yarn.lock
Due: none

[celotool] Fund Faucet accounts on network init (#990)
  packages/celotool/src/cmds/deploy/initial/contracts.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/lib/generate_utils.ts
  packages/protocol/migrations/08_stabletoken.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/scripts/bash/migrate.sh
Due: protocol

Add call to exchangePolling
  packages/notification-service/src/index.ts
Due: none

Create web3 instance every time polled
  packages/notification-service/src/polling.ts
Due: none

Expose and test validator set precompiles (#874)
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/truffle.js
Due: protocol

Use fixidity helpers from utils
  packages/protocol/test/stability/exchange.ts
Due: protocol

Update web3 handling and add exchangeRate to firebase
  packages/notification-service/src/exchange/exchangeQuery.ts
  packages/notification-service/src/firebase.ts
Due: none

[CircleCI]Run protocol coverage once a day
  .circleci/config.yml
Due: none

Add Mobile End-to-end to Circle CI
  .circleci/config.yml
Due: none

Write record to firebase
  packages/notification-service/src/exchange/exchangeQuery.ts
  packages/notification-service/src/firebase.ts
  packages/notification-service/src/polling.ts
Due: none

Add to package.json
  packages/notification-service/package.json
Due: none

Update to integration provider url for testing
  packages/notification-service/src/exchange/exchangeQuery.ts
Due: none

[CircleCI]Run protocol coverage once a day (#1018)
  .circleci/config.yml
Due: none

PR review
  packages/mobile/package.json
  packages/mobile/src/qrcode/utils.ts
Due: mobile

Implement CK Attestations wrapper and use in Celotool
  packages/celotool/src/cmds/account/verify.ts
  packages/contractkit/src/wrappers/Attestations.ts
Due: none

Get local test working
  packages/notification-service/README.md
  packages/notification-service/src/exchange/exchangeQuery.ts
  packages/notification-service/src/firebase.ts
  packages/notification-service/src/polling.ts
Due: none

Encode ssd disk configuration in .env file
  .env
  .env.alfajores
  .env.alfajoresstaging
  .env.integration
  .env.pilot
  .env.pilotstaging
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/helm-charts/testnet/templates/txnode.statefulset.yaml
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Due: none

Add web3 provider as a param
  packages/notification-service/src/config.ts
  packages/notification-service/src/exchange/exchangeQuery.ts
  packages/notification-service/src/polling.ts
Due: none

Remove unused interface
  packages/notification-service/src/exchange/exchangeQuery.ts
Due: none

Add TokenWrapper
  packages/contractkit/src/wrappers/TokenWrapper.ts
Due: none

Cleanup
  packages/notification-service/src/config.ts
  packages/notification-service/src/firebase.ts
Due: none

Add comments, remove unneeded BigNumber type signature
  packages/notification-service/src/exchange/exchangeQuery.ts
Due: none

Fix fixed fraction division underflow (#952)
  packages/contractkit/src/wrappers/Exchange.test.ts
  packages/protocol/contracts/common/FixidityLib.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/stability/Exchange.sol
  packages/protocol/contracts/stability/StableToken.sol
  packages/protocol/test/stability/exchange.ts
  packages/utils/src/fixidity.ts
Due: protocol

Refactor functions to make unit testing possible
  packages/notification-service/src/exchange/exchangeQuery.ts
  packages/notification-service/src/polling.ts
Due: none

Add exchange tests
  packages/notification-service/test/exchange.test.ts
Due: none

Make exchange queries in parallel
  packages/notification-service/src/exchange/exchangeQuery.ts
Due: none

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
