Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

Fixes typo
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

Switch to community reward from infra reward
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

Revert "Adds almost equal with a percent deviation"
  packages/celotool/src/e2e-tests/utils.ts
Due: none

Switch to get target voter rewards
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/test/governance/epochrewards.ts
Due: protocol

PR Nit
  packages/protocol/contracts/governance/EpochRewards.sol
Due: protocol

Fix lint
  packages/contractkit/src/wrappers/Election.ts
Due: none

Fix lint
  packages/protocol/test/stability/reserve.ts
Due: protocol

⬆️ update next-i18n-Next to fix static file deprecation warning by moving locales to public
  packages/web/package.json
  packages/web/public/static/locales/en/about.json
  packages/web/public/static/locales/en/applications.json
  packages/web/public/static/locales/en/brand.json
  packages/web/public/static/locales/en/codeofconduct.json
  packages/web/public/static/locales/en/common.json
  packages/web/public/static/locales/en/community.json
  packages/web/public/static/locales/en/dev.json
  packages/web/public/static/locales/en/download.json
  packages/web/public/static/locales/en/faq.json
  packages/web/public/static/locales/en/faucet.json
  packages/web/public/static/locales/en/home.json
  packages/web/public/static/locales/en/jobs.json
  packages/web/public/static/locales/en/technology.json
  packages/web/public/static/locales/en/terms.json
  packages/web/src/community/CodeOfConduct.tsx
  yarn.lock
Due: none

Revert "PR Nit"
  packages/protocol/contracts/governance/EpochRewards.sol
Due: protocol

Fix e2e tests
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/e2e-tests/validator_order_tests.ts
Due: none

Fix rounding error in Election.sol (#2540)
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Due: protocol

Changes during deploy
  .env.alfajoresstaging
  packages/mobile/.env
  packages/protocol/migrationsConfig.js
Due: mobile, protocol

Add Youtube to Footer + (#2556)
  packages/web/pages/_app.tsx
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/brandkit/common/Page.tsx
  packages/web/src/header/Header.3.tsx
  packages/web/src/icons/YouTube.tsx
  packages/web/src/shared/Footer.tsx
  packages/web/src/shared/menu-items.ts
Due: none

✅ add test for phone Input component (#2554)
  packages/web/src/_page-tests/test-utils.ts
  packages/web/src/brandkit/common/MobileMenu.test.tsx
  packages/web/src/fauceting/PhoneInput.test.tsx
  packages/web/src/fauceting/PhoneInput.tsx
Due: none

Fix off-by-one error in attributing signatures to blocks in CLI (#2559)
  packages/celotool/src/lib/port_forward.ts
  packages/cli/src/commands/validator/signed-blocks.ts
  packages/cli/src/commands/validator/status.ts
  packages/cli/src/utils/election.ts
Due: none

change description
  packages/celotool/src/cmds/geth/start.ts
Due: none

Adapt description
  packages/celotool/src/cmds/geth/start.ts
Due: none

add comment to transferERC20Token
  packages/celotool/src/lib/geth.ts
Due: none

- type all the things
  packages/celotool/src/lib/generate_utils.ts
  packages/celotool/src/lib/geth.ts
Due: none

- remove ternary
  packages/celotool/src/lib/geth.ts
Due: none

- add description
  packages/celotool/src/cmds/geth/start.ts
Due: none

- rename amount / instances
  packages/celotool/src/cmds/geth/start.ts
Due: none

Remove the optimistic update and refresh all the balances
  packages/mobile/src/stableToken/reducer.ts
  packages/mobile/src/transactions/TransactionsList.test.tsx
  packages/mobile/src/transactions/TransactionsList.tsx
Due: mobile

Fix shadow on single incoming payment request notification
  packages/mobile/src/escrow/__snapshots__/EscrowedPaymentListItem.test.tsx.snap
  packages/mobile/src/escrow/__snapshots__/EscrowedPaymentReminderSummaryNotification.test.tsx.snap
  packages/mobile/src/home/__snapshots__/NotificationBox.test.tsx.snap
  packages/mobile/src/notifications/IncomingPaymentRequestSummaryNotification.tsx
  packages/mobile/src/notifications/OutgoingPaymentRequestSummaryNotification.tsx
  packages/mobile/src/notifications/__snapshots__/SimpleNotification.test.tsx.snap
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListScreen.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListItem.tsx
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestListItem.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestListScreen.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestSummaryNotification.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestListItem.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestListScreen.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestSummaryNotification.test.tsx.snap
  packages/react-components/components/BaseNotification.tsx
Due: mobile

Add explicit gas to exchange transactions to prevent errors (#2552)
  packages/cli/src/commands/exchange/dollars.ts
  packages/cli/src/commands/exchange/gold.ts
Due: none

exclude groups, and pass them through helm in a way that works
  .env.baklava
  .env.baklavastaging
  packages/celotool/src/cmds/bots/auto-vote.ts
  packages/celotool/src/cmds/deploy/initial/voting-bot.ts
  packages/celotool/src/lib/voting-bot.ts
  packages/helm-charts/voting-bot/templates/voting-bot.cronjob.yaml
Due: none

initial version of announce e2e tests
  packages/celotool/ci_test_announce.sh
  packages/celotool/src/e2e-tests/announce_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
Due: none

📸 about page snap
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
Due: none

📸 How could I forget the snaps!
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/jobs.test.tsx.snap
Due: none

WIP
  packages/mobile/.env
  packages/mobile/README.md
  packages/mobile/package.json
  packages/mobile/src/account/DataSaver.tsx
  packages/mobile/src/app/Debug.tsx
Due: mobile

✨ add brand kit to the connection footer
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/build/__snapshots__/index.test.tsx.snap
  packages/web/src/icons/DrawCoin.tsx
  packages/web/src/icons/draw-coin-light-bg.png
  packages/web/src/shared/ConnectionFooter.tsx
  packages/web/src/shared/SocialChannels.tsx
  packages/web/static/locales/en/community.json
Due: none

Remove geth free references
  packages/mobile/.env
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/web3/contracts.ts
  packages/mobile/src/web3/saga.ts
Due: mobile

Fix: Use lightest
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

📸💄 add option for no top margin, reduce space between engage and experience areas
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/build/__snapshots__/index.test.tsx.snap
  packages/web/src/layout/BookLayout.tsx
  packages/web/src/shared/ConnectionFooter.tsx
Due: none

PR cleanup
  packages/mobile/src/account/DataSaver.tsx
  packages/mobile/src/app/saga.ts
  packages/mobile/src/geth/saga.ts
  packages/mobile/src/shared/DisconnectBanner.tsx
Due: mobile

Add readable proposals to governance:view command (#2545)
  packages/cli/src/commands/governance/view.ts
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/docs/command-line-interface/governance.md
Due: none

🧹Web cleanup (readme + static dir) (#2562)
  packages/web/README.md
  packages/web/package.json
  packages/web/public/assets/CeloColorLogo.zip
  packages/web/public/assets/CeloColorLogoReverse.zip
  packages/web/public/assets/CeloGlyphs.zip
  packages/web/public/assets/CeloLogoPackage.zip
  packages/web/public/assets/CeloMonochromeLogo.zip
  packages/web/public/assets/CeloMonochromeLogoReverse.zip
  packages/web/public/images/AboutPreview.jpg
  packages/web/public/static/favicon.ico
  packages/web/public/static/locales/en/about.json
  packages/web/public/static/locales/en/applications.json
  packages/web/public/static/locales/en/brand.json
  packages/web/public/static/locales/en/codeofconduct.json
  packages/web/public/static/locales/en/common.json
  packages/web/public/static/locales/en/community.json
  packages/web/public/static/locales/en/dev.json
  packages/web/public/static/locales/en/download.json
  packages/web/public/static/locales/en/faq.json
  packages/web/public/static/locales/en/faucet.json
  packages/web/public/static/locales/en/home.json
  packages/web/public/static/locales/en/jobs.json
  packages/web/public/static/locales/en/technology.json
  packages/web/public/static/locales/en/terms.json
  packages/web/public/static/normalize.css
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/about/VideoCover.tsx
  packages/web/src/brandkit/Logo.tsx
  packages/web/src/community/CodeOfConduct.tsx
  yarn.lock
Due: none

update contributing.md
  packages/docs/community/contributing.md
Due: none

Internal k8s testnet working
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/helm-charts/testnet/templates/proxy.service.yaml
  packages/helm-charts/testnet/templates/proxy.statefulset.yaml
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Due: none

First pass at #2390
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/interfaces/IReserve.sol
  packages/protocol/migrations/07_reserve.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/epochrewards.ts
  packages/protocol/test/stability/reserve.ts
Due: protocol

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
