Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

remove --bail flag from e2e tests
  packages/celotool/ci_test_attestations.sh
  packages/celotool/ci_test_blockchain_parameters.sh
  packages/celotool/ci_test_governance.sh
  packages/celotool/ci_test_slashing.sh
  packages/celotool/ci_test_sync.sh
  packages/celotool/ci_test_transfers.sh
  packages/celotool/ci_test_validator_order.sh
Due: none

Rename to moonpay-auth, update readme to be moonpay specific
  packages/auth/README.md
  packages/moonpay-auth/.env.enc
  packages/moonpay-auth/.firebaserc
  packages/moonpay-auth/.gitignore
  packages/moonpay-auth/README.md
  packages/moonpay-auth/firebase.json
  packages/moonpay-auth/package.json
  packages/moonpay-auth/src/config.ts
  packages/moonpay-auth/src/index.ts
  packages/moonpay-auth/tsconfig.json
  packages/moonpay-auth/tslint.json
  packages/moonpay-auth/yarn.lock
Due: none

Update key_placer with moonpay auth
  scripts/key_placer.sh
Due: none

Add Moonpay auth package for signing Moonpay requests (#2749)
  packages/moonpay-auth/.env.enc
  packages/moonpay-auth/.firebaserc
  packages/moonpay-auth/.gitignore
  packages/moonpay-auth/README.md
  packages/moonpay-auth/firebase.json
  packages/moonpay-auth/package.json
  packages/moonpay-auth/src/config.ts
  packages/moonpay-auth/src/index.ts
  packages/moonpay-auth/tsconfig.json
  packages/moonpay-auth/tslint.json
  packages/moonpay-auth/yarn.lock
  scripts/key_placer.sh
  yarn.lock
Due: none

Change `C-Labs || C Labs` to `cLabs` (#2747)
  packages/docs/celo-codebase/protocol/privacy.md
  packages/docs/getting-started/glossary.md
  packages/docs/getting-started/running-a-validator.md
  packages/terraform-modules/testnet/README.md
  packages/web/public/static/locales/en/codeofconduct.json
  packages/web/public/static/locales/en/common.json
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/stake-off/__snapshots__/terms.test.tsx.snap
  packages/web/src/community/connect/FellowViewer.tsx
  packages/web/src/terms/StakeOffTerms.tsx
  scripts/key_placer.sh
Due: none

Fix calculateUptime
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

Sdk page from real mock part 1
  packages/web/public/static/locales/en/dev.json
  packages/web/src/dev/CoverActions.tsx
  packages/web/src/dev/DeveloperPhoneCover.tsx
  packages/web/src/dev/DevelopersPage.tsx
  packages/web/src/dev/FullStack.tsx
  packages/web/src/dev/Phone.tsx
  packages/web/src/dev/Sandbox.tsx
  packages/web/src/dev/educate-dark-bg.png
Due: none

adjust docs for the phase 3 launch
  packages/docs/SUMMARY.md
  packages/docs/celo-codebase/protocol/governance.md
  packages/docs/getting-started/running-a-full-node.md
  packages/docs/operations-manual/node-upgrades.md
Due: none

Fix flaky e2e governance test (#2766)
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

Adjust docs for the phase 3 launch (#2767)
  packages/docs/SUMMARY.md
  packages/docs/celo-codebase/protocol/governance.md
  packages/docs/getting-started/running-a-full-node.md
  packages/docs/operations-manual/node-upgrades.md
Due: none

[Wallet] Run E2E test on iOS (#2622)
  .circleci/config.yml
  packages/mobile/.env.test
  packages/mobile/.gitignore
  packages/mobile/Gemfile
  packages/mobile/Gemfile.lock
  packages/mobile/e2e/Transfer.spec.js
  packages/mobile/e2e/init.js
  packages/mobile/e2e/utils.js
  packages/mobile/index.js
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/ios/celo/AppDelegate.m
  packages/mobile/ios/sentry.properties.template
  packages/mobile/package.json
  packages/mobile/scripts/run_e2e.sh
  packages/mobile/src/setupE2eEnv.e2e.ts
  packages/mobile/src/setupE2eEnv.ts
  packages/utils/src/parsing.test.ts
  packages/utils/src/parsing.ts
Due: mobile

Remove unneeded deprecated crypto package causing react native packager to fail
  packages/moonpay-auth/package.json
  yarn.lock
Due: none

Add --allow-insecure-unlock to celo-accounts node
  packages/docs/getting-started/running-a-validator.md
Due: none

Add note about --allow-insecure-unlock to unlocking docs
  packages/docs/getting-started/running-a-validator.md
Due: none

wip e2e tests
  packages/celotool/ci_test_validator_handshake.sh
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/e2e-tests/validator_handshake_tests.ts
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/interfaces/geth-instance-config.ts
  packages/dev-utils/src/network.ts
Due: none

Add --allow-insecure-unlock to docs (#2768)
  packages/docs/getting-started/running-a-validator.md
Due: none

Use same version of typescript and tslint as the rest of the monorepo
  packages/moonpay-auth/package.json
  yarn.lock
Due: none

added check
  packages/protocol/contracts/stability/Reserve.sol
Due: protocol

when using concurrentMap handle the promises correctly
  packages/celotool/src/cmds/bots/auto-vote.ts
Due: none

adding unit test
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/test/stability/reserve.ts
Due: protocol

function to do the update
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

added method to accounts
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

adding mocks
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IValidators.sol
  packages/protocol/contracts/governance/test/MockValidators.sol
  packages/protocol/test/governance/validators.ts
Due: protocol

adding tests
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/cli/src/commands/account/authorize.test.ts
  packages/cli/src/commands/account/authorize.ts
  packages/contractkit/src/wrappers/Accounts.test.ts
  packages/contractkit/src/wrappers/Accounts.ts
  packages/protocol/contracts/governance/test/MockValidators.sol
  packages/protocol/test/governance/validators.ts
Due: protocol

changing fallback here too
  packages/protocol/contracts/governance/Governance.sol
Due: protocol

fixing typing
  packages/protocol/test/governance/validators.ts
Due: protocol

Added DISABLE_WEBAPP to blockscout indexer (#2650)
  packages/helm-charts/blockscout/templates/blockscout-indexer.deployment.yaml
  packages/helm-charts/blockscout/templates/blockscout-web.deployment.yaml
Due: none

fixing cli test
  packages/cli/src/commands/account/authorize.test.ts
Due: none

updating docs
  packages/docs/command-line-interface/account.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_accounts_.accountswrapper.md
Due: none

[Wallet] Fix React Native packager failing (#2770)
  packages/moonpay-auth/package.json
  yarn.lock
Due: none

Use getUnfrozenReserveGoldBalance instead of getReserveGoldBalance
  packages/protocol/contracts/stability/Exchange.sol
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/interfaces/IReserve.sol
Due: protocol

add nousb flag to prevent confusing logs
  packages/docs/getting-started/running-a-full-node.md
  packages/docs/getting-started/running-a-validator.md
Due: none

Remove --bail flag from e2e tests (#2759)
  packages/celotool/ci_test_attestations.sh
  packages/celotool/ci_test_blockchain_parameters.sh
  packages/celotool/ci_test_governance.sh
  packages/celotool/ci_test_slashing.sh
  packages/celotool/ci_test_sync.sh
  packages/celotool/ci_test_transfers.sh
  packages/celotool/ci_test_validator_order.sh
Due: none

Adding separate refunding address
  packages/protocol/contracts/governance/ReleaseGoldFactory.sol
  packages/protocol/contracts/governance/ReleaseGoldInstance.sol
  packages/protocol/contracts/governance/interfaces/IReleaseGoldFactory.sol
  packages/protocol/test/governance/vesting.ts
Due: protocol

Looking good sdk page
  packages/web/public/static/locales/en/dev.json
  packages/web/src/dev/DevelopersPage.tsx
  packages/web/src/dev/Engage.tsx
  packages/web/src/dev/Phone.tsx
  packages/web/src/dev/Sandbox.tsx
  packages/web/src/dev/StackSection.tsx
  packages/web/src/styles.ts
Due: none

📸
  packages/web/public/static/locales/en/common.json
  packages/web/src/_page-tests/build/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/dev/Sandbox.tsx
Due: none

Bump invite fee higher
  packages/mobile/src/invite/saga.ts
Due: mobile

Bump build
  packages/mobile/android/gradle.properties
Due: mobile

Change twitter handle
  packages/web/src/header/OpenGraph.tsx
  packages/web/src/shared/SocialChannels.tsx
Due: none

Update snaps
  packages/mobile/src/account/__snapshots__/InviteReview.test.tsx.snap
  packages/mobile/src/send/__snapshots__/TransferReviewCard.test.tsx.snap
Due: mobile

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
