Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

Update clearGethCache
  packages/mobile/src/geth/geth.ts
Due: mobile

Explicitly wait for a new epoch
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

Fix build
  packages/cli/src/utils/identity.ts
Due: none

Most unit tests passing
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/cli/src/commands/validator/update-bls-key.ts
  packages/contractkit/src/base.ts
  packages/contractkit/src/web3-contract-cache.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/migrations/20_elect_validators.ts
  packages/protocol/test/governance/validators.ts
  packages/utils/src/bls.ts
Due: protocol

Add EpochRewards smart contract to calculate epoch rewards and payments (#1558)
  .circleci/config.yml
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/e2e-tests/validator_order_tests.ts
  packages/contractkit/src/base.ts
  packages/contractkit/src/contract-cache.ts
  packages/contractkit/src/web3-contract-cache.ts
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/common/test/MockGoldToken.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IElection.sol
  packages/protocol/contracts/governance/proxies/EpochRewardsProxy.sol
  packages/protocol/contracts/governance/test/EpochRewardsTest.sol
  packages/protocol/contracts/governance/test/MockElection.sol
  packages/protocol/contracts/governance/test/ValidatorsTest.sol
  packages/protocol/contracts/stability/SortedOracles.sol
  packages/protocol/contracts/stability/test/MockSortedOracles.sol
  packages/protocol/lib/registry-utils.ts
  packages/protocol/lib/test-utils.ts
  packages/protocol/lib/web3-utils.ts
  packages/protocol/migrations/12_validators.ts
  packages/protocol/migrations/14_epoch_rewards.ts
  packages/protocol/migrations/15_random.ts
  packages/protocol/migrations/16_attestations.ts
  packages/protocol/migrations/17_escrow.ts
  packages/protocol/migrations/18_blockchainparams.ts
  packages/protocol/migrations/19_governance.ts
  packages/protocol/migrations/20_elect_validators.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/scripts/build.ts
  packages/protocol/test/governance/epochrewards.ts
  packages/protocol/test/governance/validators.ts
  packages/protocol/test/stability/exchange.ts
  packages/protocol/test/stability/reserve.ts
Due: protocol

Point end-to-end governance test back to master
  .circleci/config.yml
Due: none

Point end-to-end governance test back to master (#1665)
  .circleci/config.yml
Due: none

WIP
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/utils/src/bls.ts
Due: protocol

working on leaderboard query
  packages/leaderboard/package.json
  packages/leaderboard/src/board.ts
  yarn.lock
Due: none

Clean up test code
  packages/mobile/src/firebase/firebase.test.ts
Due: mobile

[Wallet] Fix app deprecation check mechanism (#1358)
  packages/mobile/src/app/saga.test.ts
  packages/mobile/src/app/saga.ts
  packages/mobile/src/firebase/db-rules.json
  packages/mobile/src/firebase/firebase.test.ts
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/firebase/saga.ts
Due: mobile

Use native API instead
  packages/react-components/components/PhoneNumberInput.test.tsx
  packages/react-components/components/PhoneNumberInput.tsx
Due: none

feat: add ParentSeals to genesis header
  packages/celotool/src/lib/generate_utils.ts
Due: none

[Wallet] Add spinner, timer, and tip text to Verification input screen (#1656)
  packages/mobile/locales/en-US/nuxVerification2.json
  packages/mobile/locales/es-419/nuxVerification2.json
  packages/mobile/src/verify/VerificationCodeRow.test.tsx
  packages/mobile/src/verify/VerificationCodeRow.tsx
  packages/mobile/src/verify/VerificationInputScreen.test.tsx
  packages/mobile/src/verify/VerificationInputScreen.tsx
  packages/mobile/src/verify/__snapshots__/VerificationCodeRow.test.tsx.snap
  packages/mobile/src/verify/__snapshots__/VerificationInputScreen.test.tsx.snap
Due: mobile

Added ethstats keys for berlintestnet002
  .env
Due: none

Hide invite education copy after invite was redeemed
  packages/mobile/src/invite/EnterInviteCode.tsx
Due: mobile

[wallet] Hide invite education copy after invite was redeemed (#1670)
  packages/mobile/src/invite/EnterInviteCode.tsx
Due: mobile

Fix addresses for ntfc. service
  packages/notification-service/src/util/utils.ts
Due: none

wip
  packages/celotool/src/cmds/geth/simulate_client.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/lib/geth.ts
Due: none

Add golang to setup docs
  SETUP.md
Due: none

Clarify error message in test
  packages/notification-service/test/transfers.test.ts
Due: none

Fix token addresses for notification service (#1674)
  packages/notification-service/src/util/utils.ts
  packages/notification-service/test/transfers.test.ts
Due: none

Fixed test, for some reason CI wasn't finding the mocks
  packages/react-components/components/PhoneNumberInput.test.tsx
Due: none

[wallet] Fixed Native phone picker Use native API instead (#1669)
  packages/react-components/components/PhoneNumberInput.test.tsx
  packages/react-components/components/PhoneNumberInput.tsx
Due: none

wip
  packages/celotool/src/cmds/geth/simulate_client.ts
  packages/celotool/src/lib/geth.ts
Due: none

Limit QR code scanner to 1 code per second
  packages/mobile/src/qrcode/QRScanner.tsx
Due: mobile

Disable Dark mode for iOS
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo/Info.plist
Due: mobile

Merge
  .env
Due: none

Address the comments
  packages/mobile/src/qrcode/QRScanner.tsx
Due: mobile

run command within cluster
  packages/celotool/src/cmds/report_oracle_value.ts
Due: none

end-to-end governance test passing
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

get host ip dynamically
  packages/celotool/src/cmds/report_oracle_value.ts
Due: none

Merge hotfix and proposal utility
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/wrappers/Governance.test.ts
  packages/contractkit/src/wrappers/Governance.ts
Due: none

Dedupe address functions
  packages/mobile/src/identity/commentKey.ts
  packages/mobile/src/identity/verification.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/verify/Verifying.tsx
  packages/utils/src/signatureUtils.ts
Due: mobile

Use expressive names for wrappers
  packages/contractkit/src/wrappers/Attestations.ts
  packages/contractkit/src/wrappers/BaseWrapper.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Exchange.ts
  packages/contractkit/src/wrappers/GasPriceMinimum.ts
  packages/contractkit/src/wrappers/GoldTokenWrapper.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/contractkit/src/wrappers/Reserve.ts
  packages/contractkit/src/wrappers/SortedOracles.ts
  packages/contractkit/src/wrappers/StableTokenWrapper.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/utils/src/address.ts
Due: none

changes constants
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

Use lambdas in basewrapper functions
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/wrappers/BaseWrapper.ts
Due: none

Add numberLikeToFrac helper to base wrapper
  packages/contractkit/src/wrappers/BaseWrapper.ts
  packages/contractkit/src/wrappers/Exchange.ts
  packages/contractkit/src/wrappers/SortedOracles.ts
Due: none

Fix tslint disable
  packages/contractkit/src/wrappers/LockedGold.ts
Due: none

Fix lint
  packages/contractkit/src/wrappers/Exchange.ts
  packages/contractkit/src/wrappers/SortedOracles.ts
Due: none

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
