Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

make block time an attribute
  packages/celotool/src/cmds/geth/start.ts
Due: none

Switch to css grid so it actually works
  packages/web/src/about/Team.tsx
  packages/web/src/react-native-aug.d.ts
  packages/web/static/locales/en/about.json
Due: none

Boom
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
Due: none

Dont race
  packages/web/src/analytics/analytics.ts
Due: none

Optimize Bundles (#2352)
  packages/web/fullstack/sentry.ts
  packages/web/next.config.js
  packages/web/pages/_app.tsx
  packages/web/pages/_document.tsx
  packages/web/server/Announcement.ts
  packages/web/server/EventHelpers.ts
  packages/web/server/FirebaseServerSide.ts
  packages/web/server/addToCRM.ts
  packages/web/server/index.ts
  packages/web/server/mediumAPI.ts
  packages/web/server/sentry.ts
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/animation/__snapshots__/rise.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/analytics/analytics.ts
  packages/web/src/animate/LottieBase.tsx
  packages/web/src/forms/FormComponents.tsx
  packages/web/src/header/BlueBanner.tsx
  packages/web/src/header/CookieConsent.tsx
  packages/web/src/header/Header.3.tsx
  packages/web/src/home/HomeCarousel.tsx
  packages/web/src/home/HomeSystems.tsx
  packages/web/src/join/Benefits.tsx
  packages/web/src/logos/Logo.tsx
  packages/web/src/logos/LogoDarkBg.tsx
  packages/web/src/logos/LogoLightBg.tsx
  packages/web/src/privacy/Privacy.tsx
  packages/web/src/shared/Spinner.tsx
  packages/web/src/shared/darkSpinner.json
  packages/web/src/shared/greenSpinner.json
  packages/web/src/shared/whiteSpinner.json
  packages/web/src/utils/sentry.ts
  packages/web/static/locales/en/brand.json
Due: none

[Docs] Update Contributing guide with links to good first issues (#2375)
  packages/docs/community/contributing.md
Due: none

Changing to lighter-weight structure.
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/lockedgold.ts
Due: protocol

Typo
  packages/protocol/contracts/common/UsingRegistry.sol
Due: protocol

Updating params
  packages/protocol/migrationsConfig.js
Due: protocol

Changing params
  packages/protocol/migrationsConfig.js
Due: protocol

Change "not syncing" to "not synced" (#2372)
  packages/attestation-service/src/db.ts
Due: none

Freeze exchange and epoch rewards on initialize
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/stability/Exchange.sol
Due: protocol

Freeze in migrations instead
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/stability/Exchange.sol
  packages/protocol/migrations/09_exchange.ts
  packages/protocol/migrations/14_epoch_rewards.ts
Due: protocol

Add audio of celo Fix gray
  packages/web/public/audio/celo-pronunce.mp3
  packages/web/public/audio/celo-pronunce.ogg
  packages/web/src/about/About.tsx
  packages/web/src/about/AudioIcon.tsx
  packages/web/src/about/Backers.tsx
  packages/web/src/about/Tetris.tsx
  packages/web/src/community/connect/FullCircle.tsx
  packages/web/static/locales/en/about.json
Due: none

Nitty gritty
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/about/About.tsx
Due: none

Fix merge
  packages/mobile/src/exchange/ExchangeReview.tsx
Due: mobile

Aaronmgdr/about followup (#2376)
  .github/CONTRIBUTING.md
  packages/web/public/audio/celo-pronunce.mp3
  packages/web/public/audio/celo-pronunce.ogg
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/about/About.tsx
  packages/web/src/about/AudioIcon.tsx
  packages/web/src/about/Backers.tsx
  packages/web/src/about/Team.tsx
  packages/web/src/about/Tetris.tsx
  packages/web/src/community/connect/FullCircle.tsx
  packages/web/src/react-native-aug.d.ts
  packages/web/static/locales/en/about.json
Due: none

Fix circle not being started
  packages/web/src/community/connect/FullCircle.tsx
Due: none

[Wallet] Fix slow activity feed tx confirmations (#2290)
  packages/mobile/src/apollo/__mockData__.ts
  packages/mobile/src/apollo/types.ts
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/exchange/saga.ts
  packages/mobile/src/home/TransactionsList.tsx
  packages/mobile/src/stableToken/saga.test.ts
  packages/mobile/src/tokens/saga.ts
  packages/mobile/src/transactions/ExchangeFeedItem.test.tsx
  packages/mobile/src/transactions/TransactionFeed.test.tsx
  packages/mobile/src/transactions/TransactionFeed.tsx
  packages/mobile/src/transactions/TransferFeedItem.test.tsx
  packages/mobile/src/transactions/__snapshots__/TransactionFeed.test.tsx.snap
  packages/mobile/src/transactions/reducer.ts
  packages/walletkit/src/contract-utils.ts
Due: mobile

Use my trying so we dont blow up
  packages/web/server/mediumAPI.ts
Due: none

Additional small fixes
  packages/celotool/src/cmds/deploy/upgrade/hotfix.ts
  packages/protocol/contracts/governance/Governance.sol
Due: protocol

fixing balance calculation
  packages/cli/src/commands/account/show-claimed-accounts.ts
  packages/contractkit/src/kit.ts
Due: none

fixing balance calculation
  packages/cli/src/commands/account/balance.ts
Due: none

Improvements following recommendations/comments
  packages/terraform-modules-public/README.md
  packages/terraform-modules-public/example/README.md
  packages/terraform-modules-public/example/variables.tf
  packages/terraform-modules-public/testnet/main.tf
  packages/terraform-modules-public/testnet/modules/attestation-service/startup.sh
  packages/terraform-modules-public/testnet/modules/attestation-service/variables.tf
  packages/terraform-modules-public/testnet/modules/proxy/main.tf
  packages/terraform-modules-public/testnet/modules/proxy/startup.sh
  packages/terraform-modules-public/testnet/modules/proxy/variables.tf
  packages/terraform-modules-public/testnet/modules/tx-node/main.tf
  packages/terraform-modules-public/testnet/modules/tx-node/variables.tf
  packages/terraform-modules-public/testnet/modules/validator/main.tf
  packages/terraform-modules-public/testnet/modules/validator/startup.sh
  packages/terraform-modules-public/testnet/modules/validator/variables.tf
  packages/terraform-modules-public/testnet/variables.tf
Due: none

derive ganache keys from the mnemonic
  packages/celotool/src/e2e-tests/slashing_tests.ts
  packages/protocol/migrations/23_elect_validators.ts
  packages/protocol/package.json
  yarn.lock
Due: protocol

all ganache configurations are centralized in packages/protocol/truffle-config.js
  packages/dev-utils/src/ganache-setup.ts
  packages/protocol/runTests.js
  packages/protocol/scripts/devchain.ts
  packages/protocol/truffle-config.js
Due: protocol

fixed Mariono's issues
  packages/protocol/contracts/governance/VestingFactory.sol
  packages/protocol/contracts/governance/VestingInstance.sol
  packages/protocol/contracts/governance/interfaces/IVestingFactory.sol
  packages/protocol/test/governance/vesting.ts
Due: protocol

refactotred vesting instance
  packages/protocol/contracts/governance/VestingInstance.sol
Due: protocol

Using bootnodes. More fix
  packages/terraform-modules-public/example/variables.tf
  packages/terraform-modules-public/testnet/main.tf
  packages/terraform-modules-public/testnet/modules/proxy/main.tf
  packages/terraform-modules-public/testnet/modules/proxy/startup.sh
  packages/terraform-modules-public/testnet/modules/proxy/variables.tf
  packages/terraform-modules-public/testnet/modules/tx-node/main.tf
  packages/terraform-modules-public/testnet/modules/tx-node/startup.sh
  packages/terraform-modules-public/testnet/modules/tx-node/variables.tf
Due: none

Fixed documentation error
  packages/terraform-modules-public/example/README.md
Due: none

attestation service connection to fullnode
  packages/terraform-modules-public/testnet/main.tf
Due: none

usign bootnodes instead of static-nodes file, implements #2387
  scripts/run-docker-validator-network.sh
Due: none

Blockscout logs patch for json format (#2268)
  .env
  packages/helm-charts/blockscout/templates/blockscout-indexer.deployment.yaml
  packages/helm-charts/blockscout/templates/blockscout-web.deployment.yaml
Due: none

fix linter
  packages/mobile/src/exchange/CeloGoldHistoryChart.tsx
Due: mobile

Address PR comments and switch to victory-charts
  packages/mobile/jest.config.js
  packages/mobile/locales/en-US/exchangeFlow9.json
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/exchangeFlow9.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/package.json
  packages/mobile/src/components/Avatar.tsx
  packages/mobile/src/exchange/CeloGoldHistoryChart.test.tsx
  packages/mobile/src/exchange/CeloGoldHistoryChart.tsx
  packages/mobile/src/exchange/CeloGoldOverview.tsx
  packages/mobile/src/exchange/ExchangeHomeScreen.tsx
  packages/mobile/src/exchange/__snapshots__/CeloGoldHistoryChart.test.tsx.snap
  packages/mobile/src/exchange/__snapshots__/CeloGoldOverview.test.tsx.snap
  packages/mobile/src/exchange/actions.ts
  packages/mobile/src/exchange/hooks.ts
  packages/mobile/src/exchange/reducer.ts
  packages/mobile/src/firebase/saga.ts
  packages/mobile/src/home/CeloDollarsOverview.tsx
  packages/mobile/src/home/__snapshots__/CeloDollarsOverview.test.tsx.snap
  packages/mobile/src/home/__snapshots__/WalletHome.test.tsx.snap
  packages/mobile/src/utils/currencyExchange.ts
  yarn.lock
Due: mobile

Update import
  packages/web/server/mediumAPI.ts
Due: none

Pr comments
  packages/mobile/src/exchange/actions.ts
  yarn.lock
Due: mobile

start making corrections based on review. note: this does not work yet
  packages/celotool/src/cmds/bots/auto-vote.ts
Due: none

fund voting bot accounts in genesis
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/generate_utils.ts
Due: none

Comments
  packages/protocol/migrationsConfig.js
Due: protocol

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
