Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

Rename h5a -> h5
  packages/web/src/brandkit/Color.tsx
  packages/web/src/brandkit/IconsPage.tsx
  packages/web/src/brandkit/Intro.tsx
  packages/web/src/brandkit/Logo.tsx
  packages/web/src/brandkit/Typography.tsx
  packages/web/src/brandkit/color/Palette.tsx
  packages/web/src/brandkit/typography/UseageExample.tsx
Due: none

Mobile styles for h3 and h4 were not differentiated from h5 or paragraph style sufficiently
  packages/web/src/styles.ts
Due: none

updated docs to use the correct port
  packages/docs/getting-started/running-a-validator.md
Due: none

Add validator group names and --no-truncate flag
  packages/cli/src/commands/rewards/show.ts
Due: none

Document the need to counter-claim accounts
  packages/docs/getting-started/running-a-validator.md
Due: none

Deploy CLI 0.0.30-beta9 and ContractKit 0.2.7
  packages/attestation-service/package.json
  packages/celotool/package.json
  packages/cli/package.json
  packages/contractkit/package.json
  packages/contractkit/src/identity/claims/account.test.ts
  packages/contractkit/src/identity/claims/account.ts
  packages/mobile/package.json
Due: mobile

geth->celo.ipc, plus unlock flag
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/lib/geth.ts
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/mobile/src/geth/geth.ts
  packages/terraform-modules/testnet/modules/tx-node/startup.sh
  packages/terraform-modules/testnet/modules/validator/startup.sh
Due: mobile

fixed proxy ip address env var
  packages/docs/getting-started/running-a-validator.md
Due: none

Fix lint errors
  packages/mobile/src/exchange/ExchangeBuyScreen.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
Due: mobile

Provide an endpoint that can accept POST requests (#2106)
  packages/celotool/src/lib/attestation.ts
Due: none

Add issue templates and update CODEOWNERS for auto labelling and assigning - non-collaborators cant add labels or assignees
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/cli-issue.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/custom-issue-collaborator.md
  .github/ISSUE_TEMPLATE/custom-issue-non-collaborator.md
  .github/ISSUE_TEMPLATE/docs-issue.md
  .github/ISSUE_TEMPLATE/wallet-issue.md
  .github/ISSUE_TEMPLATE/web-issue.md
Due: none

improve descriptions
  README.md
Due: none

Update glossary.md
  packages/docs/getting-started/glossary.md
Due: none

Move functions to contractkit
  packages/cli/src/commands/rewards/show.ts
  packages/contractkit/src/utils/web3-utils.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
Due: none

Add restart-vm-validators cmd
  packages/celotool/src/cmds/restart-vm-validators.ts
  packages/celotool/src/cmds/ssh-vm-node.ts
Due: none

better handing of claims
  packages/leaderboard/src/board.ts
Due: none

some issues with verifying account claim
  packages/contractkit/src/identity/claims/account.ts
  packages/leaderboard/src/board.ts
Due: none

better error handling?
  packages/leaderboard/src/board.ts
Due: none

Docs SBAT specify the correct proxy ip address and port (#2110)
  packages/docs/getting-started/running-a-validator.md
Due: none

PR comments
  packages/docs/getting-started/running-a-validator.md
Due: none

Fix port
  scripts/run-docker-validator-network.sh
Due: none

Document the need to counter-claim accounts (#2113)
  packages/docs/getting-started/running-a-validator.md
Due: none

Making default temporary dir the $HOME/.celo folder
  scripts/run-docker-validator-network.sh
Due: none

added function to get the total balances
  packages/cli/src/commands/account/balance.ts
  packages/contractkit/src/kit.ts
Due: none

added command to show info about claimed accounts
  packages/cli/src/commands/account/balance.ts
  packages/cli/src/commands/account/show-claimed-accounts.ts
  packages/contractkit/src/identity/claims/verify.ts
Due: none

better comparison script
  packages/protocol/scripts/certora/compareResults.py
  packages/protocol/scripts/certora/test.py
Due: protocol

lint
  packages/cli/src/commands/account/show-claimed-accounts.ts
  packages/contractkit/src/kit.ts
Due: none

updating docs
  packages/docs/command-line-interface/account.md
Due: none

adding improved mini tester and accounts
  .circleci/config.yml
  packages/protocol/scripts/certora/compareResults.py
  packages/protocol/scripts/certora/test.py
  packages/protocol/specs/accounts.spec
Due: protocol

Making $HOME/.celo the default temporary folder (#2117)
  scripts/run-docker-validator-network.sh
Due: none

rewrite of tester module
  packages/protocol/scripts/certora/compareResults.py
  packages/protocol/scripts/certora/minitester.py
Due: protocol

Add more logging to the attestation bot (#2105)
  packages/celotool/src/cmds/bots/auto-verify.ts
  packages/celotool/src/lib/attestation.ts
  packages/contractkit/src/wrappers/Attestations.ts
Due: none

Fix tests
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

minitester fix
  packages/protocol/scripts/certora/minitester.py
Due: protocol

adding accounts expected
  packages/protocol/specs/AccountsExpected.json
Due: protocol

commenting out warning check
  packages/protocol/scripts/certora/minitester.py
Due: protocol

returning addError
  packages/protocol/scripts/certora/minitester.py
Due: protocol

Update disclaimers
  packages/docs/important-information/alfajores-testnet-disclaimer.md
  packages/docs/important-information/baklava-testnet-disclaimer.md
Due: none

Fix build
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

Test that reserve receives epoch rewards (#2103)
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none
