Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: 'packages/mobile/'
        flags: mobile
        threshold: 5%
        target: 70%
      web:
        paths: 'packages/web/'
        flags: web
        threshold: 2%
        target: 75%
      protocol:
        paths: 'packages/protocol/'
        flags: protocol
        threshold: 5%
        target: 90%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

[Wallet] Fix missing spanish translation (#2539)
  .env.alfajoresstaging
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/redux/sagas.ts
Due: mobile

collect coverage on web (#2415)
  .circleci/config.yml
  .codecov.yml
  packages/web/package.json
Due: none

Fix coin colors (#2441)
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/community/connect/FullCircle.tsx
Due: none

Experience Brand > Imagery Page (#2524)
  packages/web/__mocks__/react-lazyload-fadein.ts
  packages/web/public/static/locales/en/brand.json
  packages/web/server/AssetBase.ts
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/key-imagery.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/_page-tests/experience/key-imagery.test.tsx
  packages/web/src/brandkit/IconsPage.tsx
  packages/web/src/brandkit/KeyImagery.tsx
  packages/web/src/brandkit/common/CCLicense.tsx
  packages/web/src/brandkit/common/Page.tsx
  packages/web/src/brandkit/common/Showcase.tsx
  packages/web/src/dev/cakeLayering.jpg.zip
  packages/web/src/layout/ScreenSize.tsx
Due: none

Fix typo in error message of validatorgroup:member (#2600)
  packages/contractkit/src/wrappers/Validators.ts
Due: none

do not fetch affiliates (#2508)
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
Due: none

Add docs for Accounts key/signer management (#2604)
  packages/docs/SUMMARY.md
  packages/docs/node-operations/key-management.md
Due: none

vesting smart contracts and related ts configs only (#2537) (#2558)
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/e2e-tests/validator_order_tests.ts
  packages/cli/package.json
  packages/contractkit/package.json
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/common/interfaces/IAccounts.sol
  packages/protocol/contracts/governance/VestingFactory.sol
  packages/protocol/contracts/governance/VestingInstance.sol
  packages/protocol/contracts/governance/interfaces/IElection.sol
  packages/protocol/contracts/governance/interfaces/ILockedGold.sol
  packages/protocol/contracts/governance/interfaces/IVestingFactory.sol
  packages/protocol/contracts/governance/interfaces/IVestingInstance.sol
  packages/protocol/contracts/governance/proxies/VestingFactoryProxy.sol
  packages/protocol/contracts/governance/test/MockElection.sol
  packages/protocol/contracts/governance/test/MockLockedGold.sol
  packages/protocol/lib/registry-utils.ts
  packages/protocol/migrations/11_vesting_factory.ts
  packages/protocol/migrations/12_lockedgold.ts
  packages/protocol/migrations/13_validators.ts
  packages/protocol/migrations/14_election.ts
  packages/protocol/migrations/15_epoch_rewards.ts
  packages/protocol/migrations/16_random.ts
  packages/protocol/migrations/17_attestations.ts
  packages/protocol/migrations/18_escrow.ts
  packages/protocol/migrations/19_blockchainparams.ts
  packages/protocol/migrations/20_governance_slasher.ts
  packages/protocol/migrations/21_double_signing_slasher.ts
  packages/protocol/migrations/22_downtime_slasher.ts
  packages/protocol/migrations/23_governance.ts
  packages/protocol/migrations/24_elect_validators.ts
  packages/protocol/scripts/build.ts
  packages/protocol/test/governance/vesting.ts
Due: protocol

Micro Improvement to web tests (#2527)
  .codecov.yml
  packages/web/src/dev/LeaderBoard.test.tsx
  packages/web/src/home/MissionText.tsx
  packages/web/src/utils/abortableFetch.test.ts
Due: none

Deployed integration (#2550)
  .env.integration
Due: none

[Wallet] Clean up forno mode (#2584)
  packages/mobile/.env
  packages/mobile/.env.alfajores
  packages/mobile/.env.integration
  packages/mobile/.env.pilot
  packages/mobile/.env.pilotstaging
  packages/mobile/.env.production
  packages/mobile/.env.staging
  packages/mobile/.env.test
  packages/mobile/README.md
  packages/mobile/locales/en-US/accountScreen10.json
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/account/DataSaver.tsx
  packages/mobile/src/account/__snapshots__/DataSaver.test.tsx.snap
  packages/mobile/src/account/actions.ts
  packages/mobile/src/account/reducer.ts
  packages/mobile/src/app/saga.test.ts
  packages/mobile/src/app/saga.ts
  packages/mobile/src/config.ts
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/geth/actions.ts
  packages/mobile/src/geth/networkConfig.ts
  packages/mobile/src/geth/reducer.ts
  packages/mobile/src/geth/saga.ts
  packages/mobile/src/geth/selectors.ts
  packages/mobile/src/invite/JoinCelo.test.tsx
  packages/mobile/src/invite/JoinCelo.tsx
  packages/mobile/src/invite/saga.test.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/redux/sagas.ts
  packages/mobile/src/redux/selectors.ts
  packages/mobile/src/shared/DisconnectBanner.tsx
  packages/mobile/src/transactions/send.ts
  packages/mobile/src/web3/actions.ts
  packages/mobile/src/web3/contracts.ts
  packages/mobile/src/web3/reducer.ts
  packages/mobile/src/web3/saga.test.ts
  packages/mobile/src/web3/saga.ts
  packages/mobile/src/web3/selectors.ts
  packages/mobile/test/schemas.ts
  packages/mobile/test/utils.ts
Due: mobile

[Wallet] Hide "Sell" on exchange screen when users have no gold (#2586)
  packages/mobile/src/exchange/ExchangeHomeScreen.tsx
Due: mobile

Add explicit gas to exchange transactions to prevent errors (#2552)
  packages/cli/src/commands/exchange/dollars.ts
  packages/cli/src/commands/exchange/gold.ts
Due: none

Fix spelling of word explicit in comment (#2596)
  packages/cli/src/commands/exchange/dollars.ts
  packages/cli/src/commands/exchange/gold.ts
Due: none

Add Youtube to Footer + (#2556)
  packages/web/pages/_app.tsx
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/brandkit/common/Page.tsx
  packages/web/src/header/Header.3.tsx
  packages/web/src/icons/YouTube.tsx
  packages/web/src/shared/Footer.tsx
  packages/web/src/shared/menu-items.ts
Due: none

[Wallet] E2E test improvements (#2542)
  SETUP.md
  packages/mobile/.env
  packages/mobile/.env.test
  packages/mobile/README.md
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/proguard-rules.pro
  packages/mobile/android/app/src/debug/AndroidManifest.xml
  packages/mobile/android/app/src/debug/res/xml/network_security_config.xml
  packages/mobile/e2e/README.md
  packages/mobile/e2e/Transfer.spec.js
  packages/mobile/e2e/init.js
  packages/mobile/package.json
  packages/mobile/scripts/build_e2e.sh
  packages/mobile/scripts/run_app.sh
  packages/mobile/scripts/run_e2e.sh
  packages/mobile/scripts/start_emulator.sh
  packages/mobile/scripts/wait_for_emulator_to_connect.sh
  yarn.lock
Due: mobile

🧹Web cleanup (readme + static dir) (#2562)
  packages/web/README.md
  packages/web/package.json
  packages/web/public/assets/CeloColorLogo.zip
  packages/web/public/assets/CeloColorLogoReverse.zip
  packages/web/public/assets/CeloGlyphs.zip
  packages/web/public/assets/CeloLogoPackage.zip
  packages/web/public/assets/CeloMonochromeLogo.zip
  packages/web/public/assets/CeloMonochromeLogoReverse.zip
  packages/web/public/images/AboutPreview.jpg
  packages/web/public/static/favicon.ico
  packages/web/public/static/locales/en/about.json
  packages/web/public/static/locales/en/applications.json
  packages/web/public/static/locales/en/brand.json
  packages/web/public/static/locales/en/codeofconduct.json
  packages/web/public/static/locales/en/common.json
  packages/web/public/static/locales/en/community.json
  packages/web/public/static/locales/en/dev.json
  packages/web/public/static/locales/en/download.json
  packages/web/public/static/locales/en/faq.json
  packages/web/public/static/locales/en/faucet.json
  packages/web/public/static/locales/en/home.json
  packages/web/public/static/locales/en/jobs.json
  packages/web/public/static/locales/en/technology.json
  packages/web/public/static/locales/en/terms.json
  packages/web/public/static/normalize.css
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/about/VideoCover.tsx
  packages/web/src/brandkit/Logo.tsx
  packages/web/src/community/CodeOfConduct.tsx
  yarn.lock
Due: none

Human readable description for governance proposals (#2525)
  packages/cli/src/commands/governance/propose.ts
  packages/contractkit/src/wrappers/Governance.test.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/docs/command-line-interface/governance.md
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/Proposals.sol
  packages/protocol/test/common/integration.ts
  packages/protocol/test/governance/governance.ts
Due: protocol

Fix off-by-one error in attributing signatures to blocks in CLI (#2559)
  packages/celotool/src/lib/port_forward.ts
  packages/cli/src/commands/validator/signed-blocks.ts
  packages/cli/src/commands/validator/status.ts
  packages/cli/src/utils/election.ts
Due: none

Add tests for wrong index being passed in Governance (#2544)
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/lib/test-utils.ts
  packages/protocol/test/governance/governance.ts
  packages/protocol/test/governance/validators.ts
Due: protocol

Fix build / lint issue (#2610)
  packages/web/src/brandkit/IconsPage.tsx
Due: none

Removes EpochData (#2361)
  packages/celotool/src/lib/generate_utils.ts
  packages/docs/package.json
  yarn.lock
Due: none

Add isReserveLow function (#2395)
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/interfaces/IReserve.sol
  packages/protocol/test/governance/epochrewards.ts
  packages/protocol/test/stability/reserve.ts
Due: protocol

[Wallet] Prompt users with connectivity issues to switch to forno (#2526)
  packages/mobile/locales/en-US/accountScreen10.json
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/account/DataSaver.test.tsx
  packages/mobile/src/account/DataSaver.tsx
  packages/mobile/src/account/__snapshots__/DataSaver.test.tsx.snap
  packages/mobile/src/geth/actions.ts
  packages/mobile/src/geth/reducer.ts
  packages/mobile/src/geth/saga.ts
  packages/mobile/src/geth/selectors.ts
  packages/mobile/src/invite/JoinCelo.test.tsx
  packages/mobile/src/invite/JoinCelo.tsx
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/redux/selectors.ts
  packages/mobile/src/web3/saga.ts
  packages/mobile/test/schemas.ts
Due: mobile

Voting bot can exclude groups from its consideration (#2569)
  .env.baklava
  .env.baklavastaging
  packages/celotool/src/cmds/bots/auto-vote.ts
  packages/celotool/src/cmds/deploy/initial/voting-bot.ts
  packages/celotool/src/lib/voting-bot.ts
  packages/helm-charts/voting-bot/templates/voting-bot.cronjob.yaml
Due: none

Added more CLI checks for registering validators and groups (#2491)
  packages/cli/src/commands/lockedgold/unlock.ts
  packages/cli/src/commands/validator/deregister.ts
  packages/cli/src/commands/validator/register.test.ts
  packages/cli/src/commands/validator/register.ts
  packages/cli/src/commands/validatorgroup/register.ts
  packages/cli/src/utils/checks.ts
  packages/contractkit/src/wrappers/Validators.ts
Due: none

Fix rounding error in Election.sol (#2540)
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Due: protocol

[Wallet] Make reveal error during verification recoverable (#2611)
  packages/mobile/locales/en-US/nuxVerification2.json
  packages/mobile/locales/es-419/nuxVerification2.json
  packages/mobile/src/app/ErrorMessages.ts
  packages/mobile/src/config.ts
  packages/mobile/src/identity/verification.test.ts
  packages/mobile/src/identity/verification.ts
  packages/mobile/src/verify/VerificationFailedModal.tsx
  packages/mobile/src/verify/VerificationLoadingScreen.tsx
Due: mobile

Add readable proposals to governance:view command (#2545)
  packages/cli/src/commands/governance/view.ts
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/docs/command-line-interface/governance.md
Due: none

[Wallet] Fix Exchange parsing for comma languages (#2587)
  packages/mobile/src/exchange/ExchangeReview.tsx
Due: mobile

Running local testnet from celotool (#2512)
  packages/celotool/ci_test_attestations.sh
  packages/celotool/ci_test_blockchain_parameters.sh
  packages/celotool/ci_test_governance.sh
  packages/celotool/ci_test_slashing.sh
  packages/celotool/ci_test_sync.sh
  packages/celotool/ci_test_transfers.sh
  packages/celotool/ci_test_validator_order.sh
  packages/celotool/src/cmds/geth/start.ts
  packages/celotool/src/e2e-tests/attestations_tests.ts
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/slashing_tests.ts
  packages/celotool/src/e2e-tests/sync_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/e2e-tests/validator_order_tests.ts
  packages/celotool/src/lib/generate_utils.ts
  packages/celotool/src/lib/genesis_constants.ts
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/interfaces/genesis-config.ts
  packages/celotool/src/lib/interfaces/geth-instance-config.ts
  packages/celotool/src/lib/interfaces/geth-run-config.ts
  packages/celotool/src/lib/utils.ts
Due: none

[Wallet] Fix Pay & Decline buttons when open app from notification (#2606)
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/src/escrow/EscrowedPaymentListScreen.tsx
  packages/mobile/src/firebase/actions.ts
  packages/mobile/src/firebase/notifications.ts
  packages/mobile/src/firebase/saga.ts
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListItem.test.tsx
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListItem.tsx
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListScreen.tsx
  packages/mobile/src/paymentRequest/IncomingPaymentRequestSummaryNotification.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListItem.test.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListItem.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListScreen.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestSummaryNotification.tsx
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestListItem.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestListItem.test.tsx.snap
  packages/mobile/src/send/SendConfirmation.tsx
  packages/mobile/src/send/actions.ts
  packages/mobile/src/send/saga.ts
  packages/notification-service/src/firebase.ts
  packages/notification-service/src/handlers.ts
Due: mobile

[Wallet] Fix gold charts staying in loading state when USD is the selected currency (#2591)
  packages/mobile/src/exchange/CeloGoldHistoryChart.tsx
  packages/mobile/src/exchange/CeloGoldOverview.tsx
Due: mobile

fix this.state is null and not an object (#2612)
  packages/mobile/src/dappkit/DappKitAccountScreen.tsx
Due: mobile

[Wallet] Fix shadow on single incoming payment request notification (#2568)
  packages/mobile/src/escrow/__snapshots__/EscrowedPaymentListItem.test.tsx.snap
  packages/mobile/src/escrow/__snapshots__/EscrowedPaymentReminderSummaryNotification.test.tsx.snap
  packages/mobile/src/home/__snapshots__/NotificationBox.test.tsx.snap
  packages/mobile/src/notifications/IncomingPaymentRequestSummaryNotification.tsx
  packages/mobile/src/notifications/OutgoingPaymentRequestSummaryNotification.tsx
  packages/mobile/src/notifications/__snapshots__/SimpleNotification.test.tsx.snap
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListScreen.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListItem.tsx
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestListItem.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestListScreen.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestSummaryNotification.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestListItem.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestListScreen.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestSummaryNotification.test.tsx.snap
  packages/react-components/components/BaseNotification.tsx
  packages/react-components/components/__snapshots__/BaseNotification.test.tsx.snap
Due: mobile

💬 Fix text for brand icon (#2609)
  packages/web/public/static/locales/en/common.json
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/build/__snapshots__/index.test.tsx.snap
  packages/web/src/i18n.ts
  packages/web/src/shared/SocialChannels.tsx
Due: none

[Wallet] Bump @celo/client to 0.0.266 (#2551)
  packages/mobile/package.json
  yarn.lock
Due: mobile

Fix full video playback for about Video on iOS (#2553)
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/jobs.test.tsx.snap
  packages/web/src/about/About.tsx
  packages/web/src/shared/VideoModal.tsx
  packages/web/src/utils/abortableFetch.ts
Due: none

✨ add brand kit to the connection footer (#2575)
  packages/web/public/static/locales/en/community.json
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/build/__snapshots__/index.test.tsx.snap
  packages/web/src/icons/DrawCoin.tsx
  packages/web/src/icons/draw-coin-light-bg.png
  packages/web/src/layout/BookLayout.tsx
  packages/web/src/shared/ConnectionFooter.tsx
  packages/web/src/shared/SocialChannels.tsx
Due: none

✅ add test for phone Input component (#2554)
  packages/web/src/_page-tests/test-utils.ts
  packages/web/src/brandkit/common/MobileMenu.test.tsx
  packages/web/src/fauceting/PhoneInput.test.tsx
  packages/web/src/fauceting/PhoneInput.tsx
Due: none
