Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

Quickload for Homepage on low connectivity (#1707)
  packages/web/package.json
  packages/web/src/about/VideoCover.tsx
  packages/web/src/header/BlueBanner.tsx
  packages/web/src/header/Header.3.tsx
  packages/web/src/home/HomeAnimation.tsx
  packages/web/src/home/HomeOracle.tsx
  packages/web/src/home/TextAnimation.tsx
  packages/web/src/home/version3/HomeCover.tsx
  packages/web/src/shared/Styles.tsx
  packages/web/src/utils/utils.ts
  yarn.lock
Due: none

Add tests
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.test.tsx
Due: mobile

Add Review test
  packages/mobile/src/exchange/ExchangeReview.test.tsx
  packages/mobile/src/exchange/__snapshots__/ExchangeReview.test.tsx.snap
Due: mobile

Do not open RPC port to public (#2159)
  packages/docs/getting-started/running-a-validator.md
Due: none

Adding removeSlashedMember fn (wrapper of _deaffiliate) and copying deaffiliate tests.
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/test/governance/validators.ts
Due: protocol

Addressing review and adding cli command for stake off
  packages/cli/src/commands/validator/forceDeaffiliate.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/docs/command-line-interface/validator.md
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/lib/registry-utils.ts
  packages/protocol/test/governance/validators.ts
Due: protocol

Tested cli commands locally, updating to reflect tests
  packages/cli/src/commands/validator/forceDeaffiliate.ts
  packages/protocol/contracts/common/UsingRegistry.sol
Due: protocol

Addressing review, added new more general modifier to registry.
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/test/governance/validators.ts
Due: protocol

Updating cli command name to reflect precedent
  packages/cli/src/commands/validator/force-deaffiliate.ts
  packages/docs/command-line-interface/validator.md
Due: none

Adding more tests and addressing reviews
  packages/cli/src/commands/validator/forceDeaffiliate.ts
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/test/governance/validators.ts
Due: protocol

Fixing tests bug
  packages/protocol/lib/registry-utils.ts
Due: protocol

Split display and filtering of Validator and Validator Group rewards
  packages/cli/src/commands/rewards/show.ts
Due: none

[cli] Exchange cleanup (#2148)
  packages/cli/src/commands/account/set-name.ts
  packages/cli/src/commands/exchange/dollars.ts
  packages/cli/src/commands/exchange/gold.ts
  packages/docs/command-line-interface/account.md
  packages/docs/command-line-interface/exchange.md
Due: none

Remove ref to script, dont expose port on ext interface in docker cmd lines, add back security reminder about this. Remove ref to office hours
  dockerfiles/cli/Dockerfile
  packages/docs/README.md
  packages/docs/getting-started/running-a-validator.md
  scripts/run-docker-validator-network.sh
Due: none

fix assert almost equal and add a couple more asserts
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
Due: none

Fee Icon work
  packages/mobile/.env
  packages/mobile/src/components/FeeIcon.test.tsx
  packages/mobile/src/components/FeeIcon.tsx
  packages/mobile/src/escrow/ReclaimPaymentConfirmationCard.tsx
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/FeeExchangeEducation.tsx
  packages/mobile/src/send/FeeIcon.tsx
  packages/mobile/src/send/TransferReviewCard.tsx
Due: mobile

Make validator-exec work for different node types (#2145)
  packages/celotool/src/cmds/ssh-vm-node.ts
  packages/celotool/src/cmds/validators-exec.ts
  packages/celotool/src/cmds/vm-exec.ts
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
Due: none

Removing unused parts of LockedGold (#1933)
  packages/protocol/contracts/governance/LockedGold.sol
Due: protocol

Fixing cloudbuild - emoving whitespace that is causing gcloud builds to fail. (#2165)
  cloudbuild.yaml
  packages/celotool/src/lib/leaderboard.ts
Due: none

Slashing: Adding forceDeaffiliateIfValidator fn to Validators.sol (#2095)
  packages/cli/src/commands/validator/force-deaffiliate.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/docs/command-line-interface/validator.md
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/lib/registry-utils.ts
  packages/protocol/test/governance/validators.ts
Due: protocol

update kit
  packages/contractkit/src/wrappers/Election.ts
Due: none

Remove nodekey flag in validator and full node internal address
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/terraform-modules/testnet/modules/full-node/main.tf
  packages/terraform-modules/testnet/modules/validator/startup.sh
Due: none

Remove ref to script, dont expose port on ext interface in docker cmd lines, add back security reminder about this. Remove ref to office hours (#2170)
  dockerfiles/cli/Dockerfile
  packages/docs/README.md
  packages/docs/getting-started/running-a-validator.md
  scripts/run-docker-validator-network.sh
Due: none

Add baklava genesis balances file
  baklava_genesis_balances.json
Due: none

Clarify requirements for local vs remote machines
  packages/docs/getting-started/running-a-validator.md
Due: none

Use correct tags, get things working
  packages/terraform-modules/testnet/modules/full-node/main.tf
  packages/terraform-modules/testnet/modules/full-node/variables.tf
  packages/terraform-modules/testnet/modules/validator/main.tf
Due: none

include main.tf from last commit
  packages/terraform-modules/testnet/main.tf
Due: none

Read genesis balances from .env file
  .env.baklava
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/generate_utils.ts
Due: none

point ci back to master
  .circleci/config.yml
Due: none

Calculate epoch rewards adjusted for validator group uptime (#2104)
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IValidators.sol
  packages/protocol/contracts/governance/test/MockValidators.sol
  packages/protocol/lib/test-utils.ts
  packages/protocol/runTests.js
  packages/protocol/test/governance/election.ts
  packages/protocol/test/governance/epochrewards.ts
  packages/protocol/test/governance/validators.ts
Due: protocol

Fix tests
  packages/protocol/test/governance/governance.ts
Due: protocol

Clarify requirements for local vs remote machines (#2172)
  packages/docs/getting-started/running-a-validator.md
Due: none

Adding instructions about how to re-connect to the network after a reset (#2151)
  packages/docs/getting-started/reconnecting-to-network.md
  packages/docs/getting-started/running-a-validator.md
  scripts/run-docker-validator-network.sh
Due: none

Use fluentd natively for structured logging
  .env
  packages/terraform-modules/testnet/modules/validator/startup.sh
Due: none

Prom to sd for proxies
  packages/celotool/src/lib/prom-to-sd-utils.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/terraform-modules/testnet/modules/validator/outputs.tf
  packages/terraform-modules/testnet/outputs.tf
Due: none

update yarn lock
  yarn.lock
Due: none

more nodes
  packages/terraform-modules/testnet/modules/bootnode/startup.sh
  packages/terraform-modules/testnet/modules/full-node/startup.sh
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/ssl-startup.sh
Due: none

Run terraform fmt
  packages/terraform-modules/testnet/modules/full-node/main.tf
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/main.tf
  packages/terraform-modules/testnet/modules/validator/main.tf
Due: none

Self nits
  packages/celotool/src/lib/prom-to-sd-utils.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
Due: none

Swallowing error for more friendly cli UX
  packages/cli/src/utils/helpers.ts
Due: none

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
