Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

Various fixes for the pilot app
  packages/blockchain-api/app.pilot.yaml
  packages/blockchain-api/yarn.lock
  packages/mobile/.env
  packages/mobile/android/app/src/pilot/google-services.json.enc
  packages/mobile/src/config.ts
  packages/mobile/src/web3/actions.ts
Due: mobile

PR comments
  packages/celotool/src/cmds/account/invite.ts
Due: none

Improve typings
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/wrappers/Governance.test.ts
  packages/contractkit/src/wrappers/Governance.ts
Due: none

Make comment more clear
  packages/celotool/src/cmds/account/invite.ts
Due: none

Switch over faucet command too
  packages/celotool/src/cmds/account/faucet.ts
  packages/celotool/src/cmds/account/invite.ts
  packages/celotool/src/lib/contract-utils.ts
Due: none

Key rotation e2e test working
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/cli/src/commands/account/authorize.ts
  packages/cli/src/commands/account/proofOfPossession.ts
  packages/contractkit/src/wrappers/Accounts.ts
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IValidators.sol
  packages/protocol/contracts/governance/test/MockValidators.sol
  packages/protocol/lib/web3-utils.ts
  packages/protocol/migrations/10_accounts.ts
  packages/protocol/migrations/20_elect_validators.ts
  packages/protocol/test/common/accounts.ts
  packages/protocol/test/governance/validators.ts
  packages/utils/src/address.ts
  packages/utils/src/bls.ts
Due: protocol

remove \.only
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

Authorize and pop cli commands seem to work
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/cli/src/commands/account/authorize.ts
  packages/cli/src/commands/account/proofOfPossession.ts
  packages/cli/src/commands/account/register.ts
  packages/cli/src/commands/validator/publicKey.ts
  packages/cli/src/utils/checks.ts
  packages/cli/src/utils/helpers.ts
  packages/contractkit/src/wrappers/Accounts.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

Cleanup
  packages/cli/src/commands/account/proof-of-possession.ts
  packages/cli/src/utils/helpers.ts
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IElection.sol
  packages/protocol/contracts/governance/test/MockValidators.sol
  packages/protocol/contracts/governance/test/ValidatorsTest.sol
  packages/protocol/scripts/bash/ganache.sh
  packages/protocol/test/common/accounts.ts
Due: protocol

Update exchange tests
  packages/protocol/test/stability/exchange.ts
Due: protocol

Fix docstring
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

Do not connect validator signers directly to any validators
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/cli/src/commands/account/proof-of-possession.ts
Due: none

Fix tests
  packages/protocol/test/governance/validators.ts
Due: protocol

Fix authorize test
  packages/cli/src/commands/account/authorize.test.ts
Due: none

Fix linting
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/cli/src/commands/account/proof-of-possession.ts
  packages/contractkit/src/wrappers/Accounts.ts
Due: none

Fix reserve tests
  packages/protocol/test/stability/reserve.ts
Due: protocol

Fix end-to-end tests
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/e2e-tests/validator_order_tests.ts
Due: none

Remove unsupported test
  packages/cli/src/commands/account/authorize.test.ts
Due: none

Fix invite script by moving to contractkit (#1645)
  packages/celotool/.gitignore
  packages/celotool/src/cmds/account/faucet.ts
  packages/celotool/src/cmds/account/invite.ts
  packages/celotool/src/lib/contract-utils.ts
  packages/celotool/twilio-config.enc
  packages/contractkit/src/contract-cache.ts
  packages/contractkit/src/wrappers/Escrow.ts
Due: none

Various fixes for the pilot app (#1646)
  packages/blockchain-api/app.pilot.yaml
  packages/blockchain-api/yarn.lock
  packages/mobile/.env
  packages/mobile/android/app/src/pilot/google-services.json.enc
  packages/mobile/src/config.ts
  packages/mobile/src/web3/actions.ts
Due: mobile

Get verifier working
  .env
  .env.alfajores
  .env.alfajoresstaging
  .env.integration
  .env.integrationtesting
  .env.pilot
  .env.pilotstaging
  packages/celotool/src/lib/env-utils.ts
  packages/mobile/android/app/src/pilot/res/values/strings.xml
  packages/mobile/src/config.ts
  packages/verifier/.env
  packages/verifier/.env.integration
  packages/verifier/.env.production
  packages/verifier/.env.staging
  packages/verifier/android/app/build.gradle
  packages/verifier/android/app/src/debug/AndroidManifest.xml
  packages/verifier/src/utils/config.ts
Due: mobile

Unused env variables
  packages/verifier/.env
  packages/verifier/.env.integration
  packages/verifier/.env.production
  packages/verifier/.env.staging
Due: none

Address feedback
  packages/mobile/src/icons/DancingRings.tsx
  packages/mobile/src/verify/VerificationFailedModal.tsx
  packages/mobile/src/verify/VerificationInputScreen.tsx
  packages/mobile/src/verify/VerificationInterstitialScreen.tsx
  packages/mobile/src/verify/VerificationLoadingScreen.tsx
  packages/mobile/src/verify/VerificationSuccessScreen.tsx
Due: mobile

Remove unused import
  packages/cli/src/commands/account/authorize.test.ts
Due: none

Update snapshots
  packages/mobile/src/verify/__snapshots__/VerificationLoadingScreen.test.tsx.snap
Due: mobile

Remove imports from wrapper to builder
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/wrappers/Governance.test.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/protocol/contracts/governance/Governance.sol
Due: protocol

Implement json on PTXOProposal
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/wrappers/Governance.test.ts
  packages/contractkit/src/wrappers/Governance.ts
Due: none

added overflow checks
  packages/protocol/contracts/stability/SortedOracles.sol
Due: protocol

prettify
  packages/protocol/contracts/common/UsingPrecompiles.sol
Due: protocol

added some more error messages
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/common/GasPriceMinimum.sol
  packages/protocol/contracts/common/MultiSig.sol
  packages/protocol/contracts/common/linkedlists/LinkedList.sol
  packages/protocol/contracts/common/linkedlists/SortedLinkedList.sol
  packages/protocol/contracts/common/linkedlists/SortedLinkedListWithMedian.sol
  packages/protocol/contracts/stability/SortedOracles.sol
  packages/protocol/contracts/stability/StableToken.sol
Due: protocol

[Wallet] Hide get invite code link for pilot build Fix firebase dbs in google service json files Fix small bug in keyplacer script
  packages/mobile/.env
  packages/mobile/.env.alfajores
  packages/mobile/.env.integration
  packages/mobile/.env.pilot
  packages/mobile/.env.pilotstaging
  packages/mobile/.env.production
  packages/mobile/.env.staging
  packages/mobile/.env.test
  packages/mobile/android/app/google-services.json.enc
  packages/mobile/android/app/src/alfajores/google-services.json.enc
  packages/mobile/android/app/src/debug/google-services.json.enc
  packages/mobile/android/app/src/integration/google-services.json.enc
  packages/mobile/android/app/src/pilot/google-services.json.enc
  packages/mobile/android/app/src/staging/google-services.json.enc
  packages/mobile/src/config.ts
  packages/mobile/src/invite/EnterInviteCode.test.tsx
  packages/mobile/src/invite/EnterInviteCode.tsx
  scripts/key_placer.sh
Due: mobile

Update comment in keyplacer
  scripts/key_placer.sh
Due: none

Doesn't calculate fee on empty balance
  packages/mobile/src/fees/saga.test.ts
  packages/mobile/src/fees/saga.ts
  packages/mobile/src/stableToken/reducer.ts
Due: mobile

[Wallet] Hide get invite code link for pilot build and firebase db fixes (#1651)
  packages/mobile/.env
  packages/mobile/.env.alfajores
  packages/mobile/.env.integration
  packages/mobile/.env.pilot
  packages/mobile/.env.pilotstaging
  packages/mobile/.env.production
  packages/mobile/.env.staging
  packages/mobile/.env.test
  packages/mobile/android/app/google-services.json.enc
  packages/mobile/android/app/src/alfajores/google-services.json.enc
  packages/mobile/android/app/src/debug/google-services.json.enc
  packages/mobile/android/app/src/integration/google-services.json.enc
  packages/mobile/android/app/src/pilot/google-services.json.enc
  packages/mobile/android/app/src/staging/google-services.json.enc
  packages/mobile/src/config.ts
  packages/mobile/src/invite/EnterInviteCode.test.tsx
  packages/mobile/src/invite/EnterInviteCode.tsx
  scripts/key_placer.sh
Due: mobile

[Wallet] Fix scrolling and some related style issues with tx review frame Fix missing e164Number on user self avatar Update related snapshots
  packages/mobile/locales/en-US/nuxVerification2.json
  packages/mobile/locales/es-419/nuxVerification2.json
  packages/mobile/src/account/__snapshots__/Account.test.tsx.snap
  packages/mobile/src/account/__snapshots__/InviteReview.test.tsx.snap
  packages/mobile/src/components/Avatar.tsx
  packages/mobile/src/escrow/__snapshots__/ReclaimPaymentConfirmationScreen.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/PaymentRequestConfirmation.test.tsx.snap
  packages/mobile/src/qrcode/__snapshots__/QRCode.test.tsx.snap
  packages/mobile/src/send/TransferConfirmationCard.tsx
  packages/mobile/src/send/TransferReviewCard.tsx
  packages/mobile/src/send/__snapshots__/SendConfirmation.test.tsx.snap
  packages/mobile/src/send/__snapshots__/TransferConfirmationCard.test.tsx.snap
  packages/mobile/src/send/__snapshots__/TransferReviewCard.test.tsx.snap
  packages/react-components/components/Avatar.tsx
  packages/react-components/components/ReviewFrame.tsx
Due: mobile

Reversed sort of Payment Requests
  packages/mobile/src/firebase/saga.ts
Due: mobile

Update snapshots
  packages/react-components/components/__snapshots__/Avatar.test.tsx.snap
  packages/react-components/components/__snapshots__/ReviewFrame.test.tsx.snap
  packages/verifier/src/components/TransactionReview/__snapshots__/VerificationReviewScreen.test.tsx.snap
Due: none

Fix spanish string
  packages/mobile/locales/es-419/nuxVerification2.json
Due: mobile

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
