Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

Fix yarn dev command for running android
  packages/mobile/package.json
Due: mobile

Fix e2e locally
  SETUP.md
  packages/mobile/scripts/unlock.sh
Due: mobile

Cleanup
  packages/mobile/scripts/ci-e2e.sh
  packages/mobile/scripts/unlock.sh
  scripts/run_e2e.sh
Due: mobile

Fix the e2e test script to make sure all previous servers are killed before starting a new one. (#1340)
  packages/mobile/scripts/run_e2e.sh
  packages/mobile/scripts/unlock.sh
Due: mobile

added basic PoS hardware requirements
  packages/docs/getting-started/running-a-validator.md
Due: none

added pidcat to CI
  .circleci/config.yml
Due: none

added reference to uptime & datacenter
  packages/docs/getting-started/running-a-validator.md
Due: none

Add ITSAppUsesNonExemptEncryption so we don't have to manually click the encryption export compliance panel when submitting a build
  packages/mobile/ios/celo/Info.plist
Due: mobile

Remove unused permission keys for location
  packages/mobile/ios/celo/Info.plist
Due: mobile

Set min iOS target to 12.4
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
Due: mobile

Clean up xcode project SEARCH_PATH
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
Due: mobile

Fix pre-deploy script on iOS
  packages/mobile/scripts/pre-deploy.sh
Due: mobile

Bump version
  packages/mobile/ios/celo-tvOS/Info.plist
  packages/mobile/ios/celo-tvOSTests/Info.plist
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/ios/celo/Info.plist
  packages/mobile/ios/celoTests/Info.plist
Due: mobile

[Wallet] iOS info plist changes and version bump (#1539)
  packages/mobile/ios/celo-tvOS/Info.plist
  packages/mobile/ios/celo-tvOSTests/Info.plist
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/ios/celo/Info.plist
  packages/mobile/ios/celoTests/Info.plist
  packages/mobile/scripts/pre-deploy.sh
Due: mobile

wip
  .env
  packages/helm-charts/testnet/templates/_helpers.tpl
Due: none

Add option to deploy only one contract
  .env
  packages/celotool/src/cmds/deploy/initial/verify-contracts.ts
  packages/celotool/src/cmds/deploy/upgrade/verify-contracts.ts
  packages/protocol/package.json
  packages/protocol/scripts/bash/verify_contracts.sh
Due: protocol

[Wallet] Fix yarn dev command for running android (#1534)
  SETUP.md
  packages/mobile/package.json
  packages/mobile/scripts/unlock.sh
Due: mobile

Fix lint
  packages/protocol/contracts/identity/Attestations.sol
Due: protocol

Added txpool family to geth apis. Sorted geth cmd options (#1462)
  packages/helm-charts/testnet/templates/_helpers.tpl
Due: none

Implement sms invite on iOS, #1460
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/package.json
  packages/mobile/src/invite/saga.ts
  yarn.lock
Due: mobile

Added retry to avoid flakyness
  .circleci/config.yml
Due: none

Rename hosted node references to forno (#1511)
  packages/attestation-service/config/.env.development
  packages/blockchain-api/.env
  packages/blockchain-api/app.alfajores.yaml
  packages/blockchain-api/app.alfajoresstaging.yaml
  packages/blockchain-api/app.integration.yaml
  packages/blockchain-api/app.pilot.yaml
  packages/blockchain-api/app.pilotstaging.yaml
  packages/contractkit/README.md
  packages/dappkit/README.md
  packages/docs/developer-resources/contractkit/setup.md
  packages/docs/developer-resources/dappkit/usage.md
  packages/helm-charts/attestation-service/templates/attestation.statefulset.yaml
  packages/mobile/README.md
  packages/mobile/src/config.ts
  packages/mobile/src/transactions/send.ts
  packages/mobile/src/web3/contracts.ts
  packages/notification-service/config/config.integration.env
  packages/notification-service/config/config.local.env
  packages/notification-service/config/config.test.env
  packages/verification-pool-api/src/config.ts
  packages/walletkit/src/contract-utils.ts
Due: mobile

PR comments
  packages/contractkit/src/wrappers/Accounts.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/common/interfaces/IAccounts.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/test/common/accounts.ts
Due: protocol

changed back to one parameter
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/contractkit/src/wrappers/BlockchainParameters.ts
  packages/protocol/contracts/governance/BlockchainParameters.sol
  packages/protocol/migrations/15_blockchainparams.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/blockchainparams.ts
Due: protocol

Set max height for graphic
  packages/web/src/dev/Cover.tsx
  packages/web/src/dev/Transceive.tsx
Due: none

PR comments
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/test/MockRandom.sol
  packages/protocol/test/identity/attestations.ts
Due: protocol

Three mode stickiness
  packages/web/src/dev/FullStack.tsx
Due: none

Rename
  packages/utils/src/signatureUtils.test.ts
  packages/utils/src/signatureUtils.ts
Due: none

Rename
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/common/interfaces/IAccounts.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/test/common/accounts.ts
Due: protocol

Validate Attestation Requests (#1468)
  packages/attestation-service/config/.env.development
  packages/attestation-service/config/database.json
  packages/attestation-service/migrations/20191015211858-create-attestation.js
  packages/attestation-service/package.json
  packages/attestation-service/src/attestation.ts
  packages/attestation-service/src/db.ts
  packages/attestation-service/src/index.ts
  packages/attestation-service/src/models/attestation.ts
  packages/attestation-service/src/request.ts
  packages/celotool/src/cmds/account/verify.ts
  packages/contractkit/package.json
  packages/contractkit/src/wrappers/Attestations.ts
  packages/mobile/src/tokens/saga.ts
  packages/utils/src/async.ts
  packages/utils/src/phoneNumbers.ts
  packages/utils/src/signatureUtils.test.ts
  packages/utils/src/signatureUtils.ts
  yarn.lock
Due: mobile

Farewell Argentina
  packages/web/pages/arg_privacy.tsx
  packages/web/pages/arg_tos.tsx
  packages/web/pages/argentina.tsx
  packages/web/server/index.ts
  packages/web/src/argentina/ArgentinaFAQ.tsx
  packages/web/src/argentina/ArgentinaPrivacy.tsx
  packages/web/src/argentina/ArgentinaTOS.tsx
Due: none

Remove things only used by argentina pages, refactor the rest, improve table style
  packages/web/src/fonts/Fonts.tsx
  packages/web/src/privacy/Privacy.tsx
  packages/web/src/shared/Styles.tsx
  packages/web/src/shared/Text.tsx
Due: none

Use a slight off white (instead of pure white) in places where lots of text is on a dark background for better legibility
  packages/web/src/community/connect/CoverArea.tsx
  packages/web/src/dev/BuildPage.tsx
  packages/web/src/dev/CoverAction.tsx
  packages/web/src/dev/Feature.tsx
  packages/web/src/dev/StackSection.tsx
  packages/web/src/fauceting/MicroComponents.tsx
  packages/web/src/styles.ts
Due: none

Unit tests for EpochRewards passing
  packages/protocol/contracts/common/test/MockGoldToken.sol
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/governance/test/EpochRewardsTest.sol
  packages/protocol/contracts/governance/test/MockElection.sol
  packages/protocol/contracts/stability/SortedOracles.sol
  packages/protocol/contracts/stability/test/MockSortedOracles.sol
  packages/protocol/migrations/13_epoch_rewards.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/epochrewards.ts
Due: protocol

Update with ApproveHotfix function
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/test/GovernanceTest.sol
  packages/protocol/test/governance/governance.ts
Due: protocol

Fix comment nit
  packages/protocol/test/governance/governance.ts
Due: protocol

Fix lint
  packages/protocol/test/governance/governance.ts
Due: protocol

Fix flaky tests
  packages/protocol/test/governance/governance.ts
Due: protocol

Cleanup package.json test-licenses scripts and a few others in mobile Add circle ci test for checking licenses
  .circleci/config.yml
  package.json
  packages/mobile/package.json
  packages/mobile/scripts/pre-deploy.sh
  packages/mobile/src/geth/geth.ts
  packages/protocol/package.json
  packages/walletkit/package.json
  packages/web/package.json
Due: mobile, protocol

Add navigation fix for hot reloading Use updated RN Geth to support hot reloading
  packages/mobile/package.json
  packages/mobile/src/navigator/NavigatorWrapper.tsx
  yarn.lock
Due: mobile
