Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

[contractKit] finish exporting types
  packages/contractkit/package.json
  packages/contractkit/src/explorer/log-explorer.ts
  packages/contractkit/src/newtypes.d.ts
  packages/contractkit/src/utils/signing-utils.ts
  packages/contractkit/src/utils/tx-result.ts
  packages/contractkit/src/utils/wallet.test.ts
  packages/contractkit/src/utils/wallet.ts
  yarn.lock
Due: none

Add type dependency for fs-extra
  packages/dev-utils/package.json
Due: none

[web] Fix the links to the developer guide (#2816)
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/shared/menu-items.ts
Due: none

Restrict RPCs for vms
  packages/terraform-modules/testnet/main.tf
  packages/terraform-modules/testnet/modules/full-node/main.tf
  packages/terraform-modules/testnet/modules/full-node/startup.sh
  packages/terraform-modules/testnet/modules/full-node/variables.tf
Due: none

Update yarn.lock
  yarn.lock
Due: none

Add private tx nodes to reset
  packages/celotool/src/lib/helm_deploy.ts
  packages/celotool/src/lib/kubernetes.ts
Due: none

Fully remove integrationtesting
  .env.mnemonic.integrationtesting.enc
  packages/protocol/truffle-config.js
  scripts/key_placer.sh
Due: protocol

Remove testing from truffle-config
  packages/protocol/truffle-config.js
Due: protocol

Begin upgrading solidity and solc
  package.json
  packages/protocol/contracts/common/GoldToken.sol
  packages/protocol/contracts/common/MultiSig.sol
  packages/protocol/contracts/common/Proxy.sol
  packages/protocol/contracts/common/SafeCast.sol
  packages/protocol/contracts/common/SafeCastTest.sol
  packages/protocol/contracts/common/Signatures.sol
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/common/interfaces/IERC20Token.sol
  packages/protocol/contracts/common/libraries/AddressesHelper.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Proposals.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/stability/Exchange.sol
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/StableToken.sol
  packages/protocol/contracts/stability/test/MockReserve.sol
  packages/protocol/migrationsConfig.js
  packages/protocol/package.json
  packages/protocol/truffle-config.js
  yarn.lock
Due: protocol

add a cleanup command to remove the 1wei votes
  packages/celotool/src/cmds/bots/cleanup-votes.ts
Due: none

use latest built-from-this branch version of celotool
  .env.baklava
Due: none

Make bank/request balance comparison in dollars not wei
  packages/earn-pilot-functions/src/sendTokens.ts
  packages/mobile/index.js
  packages/mobile/src/account/Earn.tsx
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/transactions/TransactionFeed.tsx
Due: mobile

more useful error. allow bots to scale up gold
  packages/celotool/src/lib/voting-bot.ts
Due: none

🔁 redirect build/* to developers/* + devs (#2854)
  packages/web/pages/developers/faucet.tsx
  packages/web/pages/developers/wallet.tsx
  packages/web/server/index.ts
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/faucet.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/wallet.test.tsx.snap
  packages/web/src/_page-tests/developers/faucet.test.tsx
  packages/web/src/_page-tests/developers/wallet.test.tsx
  packages/web/src/_page-tests/validators/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/validators/index.test.tsx
  packages/web/src/shared/menu-items.ts
Due: none

[contractKit] Fix ganache-core failing in unit tests (#2830)
  packages/cli/.gitignore
  packages/cli/.npmignore
  packages/cli/package.json
  packages/cli/src/test-utils/ganache.setup.ts
  packages/contractkit/.gitignore
  packages/contractkit/.npmignore
  packages/contractkit/package.json
  packages/contractkit/src/test-utils/ganache.setup.ts
  packages/dev-utils/package.json
  packages/dev-utils/src/ganache-setup.ts
  packages/protocol/scripts/devchain.ts
  yarn.lock
Due: protocol

Add figureEight autorefresh
  packages/mobile/src/firebase/saga.ts
  packages/mobile/src/home/saga.ts
Due: mobile

PR cleanup
  packages/mobile/index.js
  packages/mobile/src/account/Earn.tsx
  packages/mobile/src/transactions/TransactionFeed.tsx
Due: mobile

add transition to line cleanup some code
  packages/web/src/brandkit/common/Page.tsx
  packages/web/src/shared/Button.3.tsx
  packages/web/src/shared/Footer.tsx
Due: none

Create checkDuplicate function
  packages/mobile/src/web3/saga.ts
Due: mobile

📸
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/key-imagery.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
Due: none

mobiel devices should not spend cycles calculating scroll
  packages/web/src/brandkit/common/Page.tsx
Due: none

[Wallet] Prevent duplicates in mnemonic (#2857)
  packages/mobile/src/web3/saga.ts
Due: mobile

alphabetize interface keys
  packages/web/src/brandkit/common/Page.tsx
  packages/web/src/react-native-aug.d.ts
Due: none

Add old ReentrancyGuard because constructor never called in Proxy storage
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/common/libraries/ReentrancyGuard.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/VestingInstance.sol
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/Escrow.sol
  packages/protocol/contracts/stability/Exchange.sol
  packages/protocol/contracts/stability/Reserve.sol
Due: protocol

Put back Reserve addToken nonReentrant
  packages/protocol/contracts/stability/Reserve.sol
Due: protocol

Remove mismerged VestingInstance.sol
  packages/protocol/contracts/governance/VestingInstance.sol
Due: protocol

First draft
  packages/docs/SUMMARY.md
  packages/docs/developer-resources/integrations/custody.md
  packages/docs/developer-resources/integrations/general.md
  packages/docs/developer-resources/integrations/integrations.md
  packages/docs/developer-resources/walkthroughs/hellocontracts.md
Due: none

Begin adjustment to migrations config
  packages/protocol/migrationsConfig.js
Due: protocol

Design polish work
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/package.json
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/app/saga.ts
  packages/mobile/src/components/Carousel.tsx
  packages/mobile/src/verify/VerificationLoadingScreen.tsx
  packages/react-components/components/BaseNotification.tsx
  packages/react-components/services/ReactNativeLogger.ts
  yarn.lock
Due: mobile

✨woah were half way there... woah oh, living on a prayer 🛐
  packages/web/src/shared/ChangeStory.tsx
  packages/web/src/shared/Footer.tsx
  packages/web/src/shared/world-spin.gif
Due: none

Fix tests
  packages/mobile/__mocks__/@celo/contractkit/index.ts
  packages/mobile/src/invite/saga.test.ts
Due: mobile

log
  packages/mobile/__mocks__/@celo/contractkit/index.ts
  packages/mobile/src/escrow/saga.ts
Due: mobile

Make frozen contracts freezable by governance
  packages/protocol/contracts/baklava/Freezable.sol
  packages/protocol/contracts/baklava/test/FreezableTest.sol
  packages/protocol/contracts/common/Freezable.sol
  packages/protocol/contracts/common/Freezer.sol
  packages/protocol/contracts/common/GoldToken.sol
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/common/interfaces/IFreezer.sol
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/stability/Exchange.sol
  packages/protocol/contracts/stability/StableToken.sol
  packages/protocol/lib/registry-utils.ts
  packages/protocol/migrations/03_freezer.ts
  packages/protocol/migrations/07_reserve.ts
  packages/protocol/migrations/08_stabletoken.ts
  packages/protocol/migrations/09_exchange.ts
  packages/protocol/migrations/14_epoch_rewards.ts
  packages/protocol/migrations/22_governance.ts
  packages/protocol/migrationsConfig.js
Due: protocol

Cleanup
  packages/protocol/contracts/common/Freezable.sol
  packages/protocol/contracts/common/Freezer.sol
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/stability/Exchange.sol
  packages/protocol/test/common/freezer.ts
  packages/protocol/test/governance/epochrewards.ts
  packages/protocol/test/stability/exchange.ts
  packages/protocol/test/stability/stabletoken.ts
Due: protocol

more cleanup
  packages/protocol/contracts/common/Freezer.sol
  packages/protocol/contracts/common/interfaces/IFreezer.sol
  packages/protocol/contracts/stability/interfaces/IExchange.sol
  packages/protocol/migrations/03_freezer.ts
  packages/protocol/migrations/07_reserve.ts
  packages/protocol/migrations/08_stabletoken.ts
  packages/protocol/migrations/09_exchange.ts
  packages/protocol/migrations/14_epoch_rewards.ts
  packages/protocol/migrations/22_governance.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/runTests.js
  packages/protocol/test/common/integration.ts
  packages/protocol/test/stability/stabletoken.ts
Due: protocol

Fix
  packages/docs/SUMMARY.md
Due: none

Unit tests passing
  packages/protocol/contracts/common/GoldToken.sol
  packages/protocol/contracts/common/proxies/FreezerProxy.sol
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/lib/test-utils.ts
  packages/protocol/migrations/04_goldtoken.ts
  packages/protocol/migrations/08_stabletoken.ts
  packages/protocol/migrations/22_governance.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/package.json
  packages/protocol/runTests.js
  packages/protocol/scripts/bash/network_check.sh
  packages/protocol/scripts/truffle/network_check.ts
  packages/protocol/test/common/freezer.ts
  packages/protocol/test/common/goldtoken.ts
  packages/protocol/test/common/integration.ts
  packages/protocol/test/common/migration.ts
  packages/protocol/test/governance/epochrewards.ts
  packages/protocol/test/governance/release_gold.ts
  packages/protocol/test/stability/exchange.ts
Due: protocol

Reorder imports
  packages/protocol/test/governance/release_gold.ts
Due: protocol

Rename ethstats package to celostats
  .env
  packages/celotool/src/cmds/deploy/destroy/celostats.ts
  packages/celotool/src/cmds/deploy/initial/celostats.ts
  packages/celotool/src/cmds/deploy/upgrade/all.ts
  packages/celotool/src/cmds/deploy/upgrade/celostats.ts
  packages/celotool/src/lib/celostats.ts
  packages/celotool/src/lib/env-utils.ts
  packages/helm-charts/celostats/Chart.yaml
  packages/helm-charts/celostats/README.md
  packages/helm-charts/celostats/templates/celostats-frontend.deployment.yaml
  packages/helm-charts/celostats/templates/celostats-frontend.ingress.yaml
  packages/helm-charts/celostats/templates/celostats-frontend.service.yaml
  packages/helm-charts/celostats/templates/celostats-server.deployment.yaml
  packages/helm-charts/celostats/templates/celostats-server.ingress.yaml
  packages/helm-charts/celostats/templates/celostats-server.service.yaml
  packages/helm-charts/celostats/templates/ethstats.ingress.yaml
  packages/helm-charts/celostats/templates/ethstats.service.yaml
  packages/helm-charts/celostats/values.yaml
Due: none

Rename ethstats package to celostats
  .env
  .env.alfajoresstaging
  .env.baklava
  .env.baklavastaging
  .env.integration
  packages/celotool/src/cmds/deploy/destroy/celostats.ts
  packages/celotool/src/cmds/deploy/initial/celostats.ts
  packages/celotool/src/cmds/deploy/upgrade/all.ts
  packages/celotool/src/cmds/deploy/upgrade/celostats.ts
  packages/celotool/src/lib/celostats.ts
  packages/celotool/src/lib/env-utils.ts
  packages/helm-charts/celostats/Chart.yaml
  packages/helm-charts/celostats/README.md
  packages/helm-charts/celostats/templates/celostats-frontend.deployment.yaml
  packages/helm-charts/celostats/templates/celostats-frontend.ingress.yaml
  packages/helm-charts/celostats/templates/celostats-frontend.service.yaml
  packages/helm-charts/celostats/templates/celostats-server.deployment.yaml
  packages/helm-charts/celostats/templates/celostats-server.ingress.yaml
  packages/helm-charts/celostats/templates/celostats-server.service.yaml
  packages/helm-charts/celostats/templates/ethstats.ingress.yaml
  packages/helm-charts/celostats/templates/ethstats.service.yaml
  packages/helm-charts/celostats/values.yaml
Due: none

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
