Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

Fix `this` issue at update payment request
  packages/mobile/src/firebase/saga.ts
Due: mobile

Fix tests
  packages/mobile/src/app/__snapshots__/Debug.test.tsx.snap
  packages/mobile/src/qrcode/__snapshots__/QRCode.test.tsx.snap
  packages/mobile/src/web3/saga.test.ts
Due: mobile

Add validator registration for hotfix tests
  packages/contractkit/src/test-utils/migration-override.json
  packages/contractkit/src/wrappers/Governance.test.ts
Due: none

fixed unit test
  packages/protocol/test/governance/blockchainparams.ts
Due: protocol

Add primitive commands for interacting with proposals
  packages/cli/src/commands/governance/approve.ts
  packages/cli/src/commands/governance/execute.ts
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/commands/governance/upvote.ts
  packages/cli/src/commands/governance/vote.ts
  packages/cli/src/commands/governance/whitelist.ts
Due: none

Add primitive commands for interacting with hotfixes
  packages/cli/src/commands/governance/approvehotfix.ts
  packages/cli/src/commands/governance/executehotfix.ts
  packages/cli/src/commands/governance/preparehotfix.ts
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/commands/governance/whitelist.ts
  packages/cli/src/commands/governance/whitelisthotfix.ts
  packages/cli/src/utils/governance.ts
Due: none

Add encoded prop to tx builder
  packages/contractkit/src/wrappers/TransactionBuilder.ts
Due: none

Make concurrencyMap calls safer
  packages/contractkit/src/wrappers/Governance.test.ts
  packages/contractkit/src/wrappers/Governance.ts
Due: none

renamed exit tests
  .circleci/config.yml
  packages/celotool/ci_test_blockchain_parameters.sh
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
Due: none

Fix tests
  packages/contractkit/src/wrappers/BaseWrapper.ts
  packages/contractkit/src/wrappers/Governance.test.ts
Due: none

Remove unused code and make poster rock
  packages/web/src/home/HomeAnimation.tsx
  packages/web/src/home/TextAnimation.tsx
  packages/web/src/home/version3/HomeCover.tsx
Due: none

Tests passing other than round robin proposing
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/contractkit/src/wrappers/Accounts.ts
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/common/interfaces/IAccounts.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IElection.sol
  packages/protocol/contracts/governance/test/MockElection.sol
  packages/protocol/contracts/governance/test/ValidatorsTest.sol
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/test/common/accounts.ts
  packages/protocol/test/governance/election.ts
  packages/protocol/test/governance/validators.ts
  packages/protocol/test/identity/attestations.ts
Due: protocol

fixes
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/protocol/test/governance/blockchainparams.ts
Due: protocol

review changes
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/stability/SortedOracles.sol
  packages/protocol/test/stability/sortedoracles.ts
Due: protocol

Address some PR comments
  packages/contractkit/src/wrappers/BaseWrapper.ts
  packages/contractkit/src/wrappers/TransactionBuilder.ts
Due: none

Added parameter to set the block gas limit (#1245)
  .circleci/config.yml
  packages/celotool/ci_test_blockchain_parameters.sh
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/e2e-tests/exit_test.ts
  packages/contractkit/src/wrappers/BlockchainParameters.ts
  packages/protocol/contracts/governance/BlockchainParameters.sol
  packages/protocol/lib/registry-utils.ts
  packages/protocol/migrations/17_blockchainparams.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/blockchainparams.ts
Due: protocol

Significant improvements to tx builder
  packages/contractkit/src/governance/index.ts
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/wrappers/Governance.test.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/contractkit/src/wrappers/TransactionBuilder.ts
Due: none

Check if the first number is 0 first
  packages/utils/src/phoneNumbers.ts
Due: none

[Wallet] Fix notifications (#1637)
  packages/mobile/src/app/__snapshots__/Debug.test.tsx.snap
  packages/mobile/src/firebase/saga.ts
  packages/mobile/src/qrcode/__snapshots__/QRCode.test.tsx.snap
  packages/mobile/src/web3/reducer.ts
  packages/mobile/src/web3/saga.test.ts
  packages/mobile/src/web3/selectors.ts
Due: mobile

Hide 0 in LR phone number display (#1615)
  packages/utils/src/phoneNumbers.test.ts
  packages/utils/src/phoneNumbers.ts
Due: none

Revert PR which breaks verification
  packages/contractkit/src/test-utils/ganache.setup.ts
  packages/contractkit/src/utils/signing.test.ts
  packages/protocol/contracts/common/Signatures.sol
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/lib/signing-utils.ts
  packages/protocol/test/identity/escrow.ts
  packages/utils/src/signatureUtils.test.ts
  packages/utils/src/signatureUtils.ts
Due: protocol

Add e2e tests readme (#1178)
  packages/celotool/README-e2e.md
Due: none

New invite script
  packages/celotool/src/cmds/account/invite.ts
  packages/contractkit/src/contract-cache.ts
  packages/contractkit/src/wrappers/Escrow.ts
Due: none

Send text
  packages/celotool/.gitignore
  packages/celotool/src/cmds/account/invite.ts
  packages/celotool/twilio-config.enc
Due: none

Address comments
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/proxies/EpochRewardsProxy.sol
  packages/protocol/contracts/governance/test/EpochRewardsTest.sol
  packages/protocol/contracts/governance/test/ValidatorsTest.sol
  packages/protocol/contracts/stability/test/MockSortedOracles.sol
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/epochrewards.ts
Due: protocol

Address comments
  packages/cli/src/commands/validatorgroup/commission.ts
  packages/contractkit/src/wrappers/Validators.test.ts
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

Address comments
  packages/cli/src/commands/validator/publicKey.ts
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

Fix build
  packages/contractkit/src/wrappers/Validators.test.ts
Due: none

Fix linting
  packages/contractkit/src/wrappers/Validators.ts
Due: none

Fix build
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

Fix tests
  packages/protocol/test/governance/epochrewards.ts
Due: protocol

Fix build
  packages/cli/src/commands/validator/publicKey.ts
Due: none

Fix build
  packages/cli/src/commands/validatorgroup/commission.ts
Due: none

Fix build
  packages/cli/src/commands/validatorgroup/show.ts
Due: none

Show validator group affiliates in CLI (#992)
  packages/cli/src/commands/validatorgroup/show.ts
  packages/contractkit/src/wrappers/Validators.test.ts
  packages/contractkit/src/wrappers/Validators.ts
Due: none

Delte comment
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

Add CLI command to update validator public key (#1626)
  packages/cli/src/commands/validator/publicKey.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/docs/command-line-interface/validator.md
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/test/governance/validators.ts
Due: protocol

Updates to wrapper interfaces
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/wrappers/Governance.test.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/protocol/contracts/governance/Governance.sol
Due: protocol

Allow validator groups to update their commission (#1624)
  packages/cli/src/commands/validatorgroup/commission.ts
  packages/contractkit/src/wrappers/Validators.test.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/docs/command-line-interface/validatorgroup.md
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/test/governance/validators.ts
Due: protocol
