Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

Cleanup code
  packages/blockchain-api/src/blockscout.ts
  packages/blockchain-api/src/schema.ts
  packages/mobile/src/transactions/TransactionFeed.tsx
  packages/mobile/src/transactions/TransactionsList.tsx
Due: mobile

seems to work now
  packages/protocol/test/governance/downtime_slasher.ts
Due: protocol

fix+add some envvar references. fix bug in calculating weights
  .env
  packages/celotool/src/cmds/bots/auto-vote.ts
  packages/celotool/src/lib/voting-bot.ts
  packages/helm-charts/voting-bot/templates/voting-bot.cronjob.yaml
Due: none

Add 10.0.2.2 to domain-config -> cleartextTrafficPermitted
  packages/mobile/android/app/src/main/res/xml/network_security_config.xml
Due: mobile

Fix tests
  packages/mobile/src/exchange/ExchangeConfirmationCard.test.tsx
  packages/mobile/src/exchange/__snapshots__/ExchangeConfirmationCard.test.tsx.snap
  packages/mobile/src/send/TransferConfirmationCard.test.tsx
  packages/mobile/src/send/__snapshots__/TransferConfirmationCard.test.tsx.snap
  packages/mobile/src/transactions/ExchangeFeedItem.test.tsx
  packages/mobile/src/transactions/ExchangeFeedItem.tsx
  packages/mobile/src/transactions/TransactionFeed.tsx
  packages/mobile/src/transactions/TransferFeedItem.test.tsx
  packages/mobile/src/transactions/__snapshots__/ExchangeFeedItem.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransactionFeed.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransactionsList.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransferFeedItem.test.tsx.snap
Due: mobile

Changing references to Baklava NETWORK_ID=200110
  packages/docs/getting-started/reconnecting-to-network.md
  packages/docs/getting-started/running-a-full-node.md
  packages/docs/getting-started/running-a-validator.md
  scripts/run-docker-validator-network.sh
  scripts/validator-config.rc
Due: none

removing unlock account flag
  scripts/run-docker-validator-network.sh
Due: none

improve handling of some edge-cases
  packages/celotool/src/cmds/bots/auto-vote.ts
Due: none

seems towork
  packages/cli/src/commands/slash/downtime.ts
  packages/contractkit/src/wrappers/DoubleSigningSlasher.ts
  packages/contractkit/src/wrappers/DowntimeSlasher.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/utils/src/collections.ts
Due: none

fix voting bot balance for baklava
  .env.baklava
Due: none

cleanup
  packages/cli/src/commands/slash/downtime.ts
  packages/contractkit/src/wrappers/DowntimeSlasher.ts
Due: none

use celotool image with latest auto-vote command
  .env.baklava
  .env.baklavastaging
Due: none

Hardens asset allocation setting
  packages/protocol/contracts/stability/Reserve.sol
Due: protocol

Slashing params for stake off phase 2 (#2418)
  packages/celotool/src/e2e-tests/slashing_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/dev-utils/src/migration-override.json
  packages/protocol/migrationsConfig.js
  packages/protocol/runTests.js
  packages/protocol/scripts/devchain.ts
Due: protocol

packages/celotool/src/lib/migration-utils.ts
  packages/celotool/src/lib/migration-utils.ts
Due: none

Address comments
  packages/cli/src/commands/governance/list.ts
  packages/contractkit/src/wrappers/Validators.ts
Due: none

WIP adding screen
  packages/mobile/.env
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/Screens.tsx
Due: mobile

Add fiat exchange
  packages/mobile/src/account/FiatExchange.tsx
Due: mobile

Add tests for Events Remove reddit logo
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/past-events.test.tsx.snap
  packages/web/src/community/connect/Events.test.tsx
  packages/web/src/icons/RedditLogo.tsx
  packages/web/src/shared/Spinner.tsx
Due: none

Add event logging to displaySendTx
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/utils/cli.ts
Due: none

Configure the time to wait for text messages
  packages/celotool/src/cmds/bots/auto-verify.ts
Due: none

Fix utils imports
  packages/cli/src/commands/governance/list.ts
  packages/cli/src/commands/governance/viewhotfix.ts
Due: none

Remove ternary
  packages/cli/src/commands/governance/viewhotfix.ts
Due: none

Make governance CLI more usable (#2428)
  packages/cli/package.json
  packages/cli/src/commands/governance/approve.ts
  packages/cli/src/commands/governance/approvehotfix.ts
  packages/cli/src/commands/governance/execute.ts
  packages/cli/src/commands/governance/executehotfix.ts
  packages/cli/src/commands/governance/list.ts
  packages/cli/src/commands/governance/preparehotfix.ts
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/commands/governance/upvote.ts
  packages/cli/src/commands/governance/view.ts
  packages/cli/src/commands/governance/viewhotfix.ts
  packages/cli/src/commands/governance/vote.ts
  packages/cli/src/commands/governance/whitelisthotfix.ts
  packages/cli/src/utils/cli.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/docs/command-line-interface/governance.md
Due: none

Fix color of rings on celo logo, should always have green logo on top.
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/animation/__snapshots__/rise.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/logos/Logo.tsx
Due: none

Unfreeze rewards by default
  packages/protocol/migrationsConfig.js
Due: protocol

Fix coin colors (#2441)
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/community/connect/FullCircle.tsx
Due: none

Update number of celo backers Fixes https://github.com/celo-org/celo-labs/issues/217
  packages/web/src/about/Backers.tsx
  packages/web/static/locales/en/about.json
Due: none

Drop target down since we are not at 80 yet
  .codecov.yml
Due: none

Format
  .circleci/config.yml
Due: none

Baklava and baklavastaging deploys (#2421)
  .env.baklava
  .env.baklavastaging
  packages/celotool/src/lib/blockscout.ts
  packages/celotool/src/lib/testnet-utils.ts
  packages/docs/getting-started/reconnecting-to-network.md
  packages/docs/getting-started/running-a-full-node.md
  packages/docs/getting-started/running-a-validator.md
  packages/helm-charts/blockscout/templates/_helpers.tpl
  packages/protocol/truffle-config.js
  packages/terraform-modules-public/example/variables.tf
  scripts/run-docker-validator-network.sh
  scripts/validator-config.rc
Due: protocol

Unfreeze rewards by default (#2452)
  packages/protocol/migrationsConfig.js
Due: protocol

Add minElectableValidators=1 to celotool/src/lib/migration-utils migrationOverrides
  packages/celotool/src/lib/migration-utils.ts
Due: none

Change order of proflle info
  packages/web/src/about/Team.tsx
  packages/web/src/react-native-aug.d.ts
Due: none

Add valor to backers
  packages/web/src/about/backers/backers.ts
  packages/web/src/about/backers/valor.jpg
Due: none

add heartbeat command and fix validator status bug
  packages/cli/src/commands/validator/heartbeat.ts
  packages/cli/src/commands/validator/status.ts
  packages/cli/src/utils/election.ts
Due: none

Address review comments
  packages/blockchain-api/src/currencyConversion/GoldExchangeRateAPI.ts
  packages/mobile/src/send/TransferConfirmationCard.tsx
  packages/mobile/src/transactions/TransactionFeed.tsx
  packages/mobile/src/transactions/TransactionsList.tsx
Due: mobile

Upgrade react-native-testing-library to be able to cleanup mounted trees
  packages/mobile/jest_setup.ts
  packages/mobile/package.json
  packages/react-components/package.json
  yarn.lock
Due: mobile

Fix InviteReview test now that components are unmounted after each test
  packages/mobile/src/account/InviteReview.test.tsx
Due: mobile

Remove noisy debug logs now that we do conversions for each transaction
  packages/blockchain-api/src/currencyConversion/ExchangeRateAPI.ts
Due: none
