Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

Use variable for network name
  packages/mobile/locales/en-US/nuxNamePin1.json
  packages/mobile/locales/es-419/nuxNamePin1.json
  packages/mobile/src/invite/EnterInviteCode.tsx
Due: mobile

Tweak testnet banner wording
  packages/mobile/locales/en-US/walletFlow5.json
  packages/mobile/locales/es-419/walletFlow5.json
Due: mobile

[Wallet + Verification Pool] Add details about generating an app-signature (#1482)
  packages/mobile/README.md
  packages/verification-pool-api/src/config.ts
Due: mobile

[Wallet] fix missing full name error alert
  packages/mobile/locales/en-US/nuxVerification2.json
  packages/mobile/locales/es-419/nuxVerification2.json
  packages/mobile/src/app/ErrorMessages.ts
  packages/mobile/src/invite/JoinCelo.test.tsx
  packages/mobile/src/invite/JoinCelo.tsx
Due: mobile

Improve error handling around account creation Improve logging in keystore utils Send keystore errors to Sentry
  packages/mobile/locales/en-US/inviteFlow11.json
  packages/mobile/locales/es-419/inviteFlow11.json
  packages/mobile/src/app/ErrorMessages.ts
  packages/mobile/src/identity/verification.test.ts
  packages/mobile/src/identity/verification.ts
  packages/mobile/src/import/saga.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/utils/keyStore.ts
  packages/mobile/src/web3/saga.ts
Due: mobile

report script in python because it's faster, especially for later timestamps
  scripts/oracle-report-from-csv.sh
  scripts/oracle-reporting.py
Due: none

Disable indexer in webapp pod
  packages/helm-charts/blockscout/templates/_helpers.tpl
  packages/helm-charts/blockscout/templates/blockscout-web.deployment.yaml
Due: none

add backup key translations
  packages/mobile/locales/es-419/backupKeyFlow6.json
  packages/mobile/locales/es-419/nuxRestoreWallet3.json
Due: mobile

[Wallet] fix missing full name error alert (#1496)
  packages/mobile/locales/en-US/nuxVerification2.json
  packages/mobile/locales/es-419/nuxVerification2.json
  packages/mobile/src/app/ErrorMessages.ts
  packages/mobile/src/invite/JoinCelo.test.tsx
  packages/mobile/src/invite/JoinCelo.tsx
Due: mobile

Remove change from mobile test
  packages/mobile/src/identity/verification.test.ts
Due: mobile

Remove initialize
  packages/protocol/test/governance/governance.ts
  packages/protocol/test/governance/lockedgold.ts
Due: protocol

PR comments
  packages/attestation-service/src/attestation.ts
  packages/attestation-service/src/db.ts
  packages/attestation-service/src/index.ts
  packages/attestation-service/src/request.ts
Due: none

Change event formatting
  packages/protocol/contracts/identity/Attestations.sol
Due: protocol

Lint errors and naming functions differently
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/firebase/saga.ts
Due: mobile

Fix alfajores network id
  packages/protocol/truffle-config.js
Due: protocol

pull genesis block to determine epoch length
  packages/celotool/ci_test_sync_with_network.sh
  packages/celotool/src/e2e-tests/verify_ultralight_geth_logs.ts
Due: none

Enforce wait for selectIssuers
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/interfaces/IAttestations.sol
  packages/protocol/contracts/identity/interfaces/IRandom.sol
  packages/protocol/contracts/identity/test/MockRandom.sol
  packages/protocol/migrations/14_attestations.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/identity/attestations.ts
Due: protocol

Order arguments correctly
  packages/protocol/migrations/09_exchange.ts
Due: protocol

Lint error
  packages/mobile/src/app/App.tsx
Due: mobile

Add the Signer interface
  packages/contractkit/src/test-utils/ganache.setup.ts
  packages/contractkit/src/utils/signing.test.ts
  packages/utils/src/signatureUtils.ts
Due: none

Fix sync tests by pulling genesis block to determine epoch length (#1504)
  packages/celotool/ci_test_sync_with_network.sh
  packages/celotool/src/e2e-tests/verify_ultralight_geth_logs.ts
Due: none

increase validators to 10 and general preening
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/e2e-tests/validator_order_tests.ts
Due: none

lint changes
  packages/celotool/src/e2e-tests/validator_order_tests.ts
Due: none

Add spanish backup key for backup key flow (#1500)
  packages/mobile/locales/es-419/backupKeyFlow6.json
  packages/mobile/locales/es-419/nuxRestoreWallet3.json
Due: mobile

wip
  packages/terraform-modules/testnet/main.tf
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/main.tf
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/ssl-cloud-init-old.yaml.tmpl
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/ssl-cloud-init.yaml.tmpl
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/variables.tf
  packages/terraform-modules/testnet/variables.tf
Due: none

fix build failure by ignoring this field
  packages/notification-service/src/blockscout/decode.ts
Due: none

Add forno ingress
  packages/helm-charts/testnet/templates/forno.ingress.yaml
Due: none

add log statements to long running validator registration steps
  packages/protocol/migrations/17_elect_validators.ts
Due: protocol

Set usage of shuffled round robin in the genesis block (#1464)
  .env
  packages/celotool/src/lib/generate_utils.ts
Due: none

more wip
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/main.tf
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/ssl-startup.sh
Due: none

fix typo
  packages/celotool/src/e2e-tests/validator_order_tests.ts
Due: none

Get tests to pass
  .circleci/config.yml
  packages/react-components/__mocks__/country-data.ts
  packages/react-components/components/PhoneNumberInput.test.tsx
  packages/react-components/components/PhoneNumberInput.tsx
  packages/react-components/components/__snapshots__/BaseNotification.test.tsx.snap
  packages/react-components/components/__snapshots__/PhoneNumberInput.test.tsx.snap
  packages/verifier/__mocks__/country-data.ts
Due: none

Imports
  packages/react-components/components/PhoneNumberInput.tsx
Due: none

Try fixing build
  .circleci/config.yml
Due: none

use android defaults
  .circleci/config.yml
Due: none

Config
  .circleci/config.yml
Due: none

config
  .circleci/config.yml
Due: none

Jetify
  .circleci/config.yml
Due: none

Switch order back
  .circleci/config.yml
Due: none

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
