Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

Reference right type
  packages/contractkit/src/identity/metadata-manager.ts
Due: none

Fix escrow reclaim stale notifications Fix escrow reminder sms content
  packages/mobile/locales/en-US/walletFlow5.json
  packages/mobile/locales/es-419/walletFlow5.json
  packages/mobile/src/escrow/actions.ts
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/notifications/EscrowedPaymentReminderNotification.tsx
Due: mobile

changed circle config
  .circleci/config.yml
  packages/celotool/src/e2e-tests/exit_test.ts
Due: none

Add attestation-service deploy
  dockerfiles/attestation-service/Dockerfile
  packages/celotool/src/cmds/deploy/destroy/attestation-service.ts
  packages/celotool/src/cmds/deploy/initial/attestation-service.ts
  packages/celotool/src/cmds/deploy/upgrade/attestation-service.ts
  packages/celotool/src/lib/attestation-service.ts
  packages/helm-charts/attestation-service/Chart.yaml
  packages/helm-charts/attestation-service/README.md
  packages/helm-charts/attestation-service/templates/attestation.ingress.yaml
  packages/helm-charts/attestation-service/templates/attestation.secret.yaml
  packages/helm-charts/attestation-service/templates/attestation.service.yaml
  packages/helm-charts/attestation-service/templates/attestation.statefulset.yaml
  packages/helm-charts/attestation-service/values.yaml
Due: none

changed circle config
  .circleci/config.yml
Due: none

Check in docs
  packages/cli/package.json
  packages/docs/command-line-interface/identity.md
Due: none

Add envs
  .env.integration
  cloudbuild.yaml
  packages/celotool/src/lib/env-utils.ts
Due: none

Fix ios msg body
  packages/mobile/src/notifications/EscrowedPaymentReminderNotification.tsx
Due: mobile

[Wallet] Fix stale escrow reclaim payment notifications (#1127)
  packages/mobile/locales/en-US/walletFlow5.json
  packages/mobile/locales/es-419/walletFlow5.json
  packages/mobile/src/escrow/actions.ts
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/notifications/EscrowedPaymentReminderNotification.tsx
Due: mobile

Better explain the processing done for keeping local currency amount stable through conversions
  packages/mobile/src/localCurrency/convert.test.ts
  packages/mobile/src/localCurrency/convert.ts
  packages/mobile/src/localCurrency/useLocalAmount.ts
  packages/mobile/src/send/SendAmount.tsx
Due: mobile

Use better file name
  packages/mobile/src/home/CeloDollarsOverview.tsx
  packages/mobile/src/localCurrency/hooks.ts
  packages/mobile/src/paymentRequest/PaymentRequestReviewCard.tsx
  packages/mobile/src/send/TransferReviewCard.tsx
  packages/mobile/src/transactions/TransferFeedItem.tsx
Due: mobile

Dedupe range-parser
  yarn.lock
Due: none

Make a real symlink
  packages/notification-service/yarn.lock
Due: none

Update readme
  README-dev.md
Due: none

Update readme phrasing
  README-dev.md
Due: none

Fix phrasing
  README-dev.md
Due: none

Remove unused blockchain api url
  packages/mobile/.env.alfajores
  packages/mobile/.env.integration
  packages/mobile/.env.pilot
  packages/mobile/.env.pilotstaging
  packages/mobile/.env.production
  packages/mobile/.env.staging
  packages/mobile/.env.test
Due: mobile

Add spanish networkfee explanation
  packages/mobile/locales/es-419/walletFlow5.json
Due: mobile

Update dappkit deps
  packages/dappkit/package.json
  packages/notification-service/app.integration.yaml
Due: none

Add and update jest test
  packages/mobile/src/transactions/TransferFeedIcon.tsx
  packages/mobile/src/transactions/TransferFeedItem.test.tsx
  packages/mobile/src/transactions/__snapshots__/TransferFeedItem.test.tsx.snap
Due: mobile

[CircleCI]Add comment on how to fix lint checks
  .circleci/config.yml
Due: none

Rest of the changes to update Initialize() to call setting parameters consistently
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/SortedOracles.sol
  packages/protocol/contracts/stability/StableToken.sol
Due: protocol

Only get contract addresses with contractkit
  packages/notification-service/README.md
  packages/notification-service/config/config.alfajores.env
  packages/notification-service/config/config.alfajoresstaging.env
  packages/notification-service/config/config.integration.env
  packages/notification-service/config/config.local.env
  packages/notification-service/config/config.pilot.env
  packages/notification-service/config/config.pilotstaging.env
  packages/notification-service/config/config.production.env
  packages/notification-service/jest.setup.ts
  packages/notification-service/src/blockscout/transfers.ts
  packages/notification-service/src/config.ts
  packages/notification-service/src/exchange/exchangeQuery.ts
  packages/notification-service/src/index.ts
  packages/notification-service/src/util/utils.ts
Due: none

Update staging web3 provider
  packages/notification-service/config/config.alfajoresstaging.env
Due: none

Pin utils version
  packages/attestation-service/package.json
  packages/walletkit/package.json
Due: none

[cli] Solution for build error contractkit on Linux 19.04 distro (#960)
  packages/cli/README.md
  packages/protocol/.solcover.js
  packages/protocol/README.md
  packages/protocol/migrations/07_reserve.ts
  packages/protocol/migrations/08_stabletoken.ts
  packages/protocol/migrations/15_governance.ts
  packages/protocol/runTests.js
  packages/protocol/scripts/bash/set_exchange_rate.sh
  packages/protocol/scripts/truffle/get_balances.ts
  packages/protocol/scripts/truffle/invite.ts
  packages/protocol/scripts/truffle/network_check.ts
  packages/protocol/scripts/truffle/revoke.ts
  packages/protocol/scripts/truffle/set_exchange_rate.ts
  packages/protocol/scripts/truffle/transfer.ts
  packages/protocol/truffle-config.js
Due: protocol

Enable floating promises check everywhere (fix issues) (#1115)
  package.json
  packages/celotool/src/lib/cloud-storage.ts
  packages/contractkit/src/providers/celo-private-keys-subprovider.ts
  packages/faucet/src/database-helper.ts
  packages/faucet/src/test-driver.ts
  packages/mobile/tslint.json
  packages/notification-service/src/exchange/exchangeQuery.ts
  packages/react-components/analytics/CeloAnalytics.tsx
  packages/typescript/package.json
  packages/typescript/tslint.json
  packages/verifier/src/App.tsx
  packages/verifier/src/components/HomeScreen/Activity.tsx
  packages/verifier/src/components/HomeScreen/HomeScreen.tsx
  packages/verifier/src/components/NUX/SetupAccountScreen.tsx
  packages/verifier/src/services/Apollo.ts
  packages/verifier/src/services/FirebaseDb.ts
  yarn.lock
Due: mobile

more merge fixes to get all the tests running
  packages/protocol/CertoraRunConfigurations.sh
  packages/protocol/certora_verify.json
  packages/protocol/certora_verify.json.bonded
  packages/protocol/certora_verify.json.bonded.linked
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/UsingLockedGold.sol
  packages/protocol/specs/governance.spec
  packages/protocol/specs/harnesses/AddressSortedListCheck.sol
  packages/protocol/specs/harnesses/GovernanceHarness.sol
  packages/protocol/specs/harnesses/IntegerSortedListCheck.sol
  packages/protocol/specs/harnesses/LockedGoldHarness.sol
  packages/protocol/specs/harnesses/RegistryHarness.sol
  packages/protocol/specs/harnesses/SortedListCheck.sol
Due: protocol

fixed governance spec partially
  packages/protocol/certora_verify.json
  packages/protocol/specs/governance.spec
Due: protocol

Add reference to attestation service
  packages/attestation-service/package.json
  packages/attestation-service/tsconfig.json
  packages/utils/package.json
  yarn.lock
Due: none

Fix build
  packages/celotool/package.json
  packages/celotool/tsconfig.json
Due: none

removed proxy code from constants
  packages/celotool/src/lib/genesis_constants.ts
Due: none

Make frozen
  packages/contractkit/src/identity/metadata-manager.ts
Due: none

Increase timeout
  dockerfiles/attestation-service/Dockerfile
  dockerfiles/transaction-metrics-exporter/Dockerfile
Due: none

split long lines
  packages/analytics/client_log_exporter.py
Due: none

Deploying latest proxy code in genesis (#1122)
  packages/celotool/src/lib/generate_utils.ts
  packages/celotool/src/lib/genesis_constants.ts
Due: none

revert google ml function for qr scan
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/main/AndroidManifest.xml
  packages/mobile/src/qrcode/QRScanner.tsx
  packages/mobile/src/qrcode/utils.ts
Due: mobile

Client Logs Data Flow script update (#1055)
  packages/analytics/README.md
  packages/analytics/client_log_exporter.py
Due: none

update QRGen tests
  packages/mobile/src/qrcode/QRGen.test.tsx
  packages/mobile/src/qrcode/QRGen.tsx
  packages/mobile/src/qrcode/__snapshots__/QRGen.test.tsx.snap
Due: mobile

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
