Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

Leave exchange error handler for different PR
  packages/mobile/src/exchange/actions.ts
Due: mobile

Generalize to any validator number"
  packages/celotool/src/cmds/generate/faucet-address.ts
  packages/celotool/src/cmds/generate/validator-address.ts
  packages/celotool/src/lib/generate_utils.ts
Due: none

new fellows layout
  packages/web/src/fellowship/Fellow.tsx
  packages/web/src/fellowship/FellowSection.tsx
  packages/web/src/fellowship/FellowViewer.tsx
  packages/web/src/fellowship/FellowshipPage.tsx
  packages/web/static/locales/en/fellowship.json
Due: none

Fix CLI build
  packages/cli/src/commands/validatorgroup/member.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
Due: none

Separate prepare and execute hotfix functions
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IValidators.sol
Due: protocol

Generalize to any account type
  packages/celotool/src/cmds/generate/account-address.ts
  packages/celotool/src/cmds/generate/faucet-address.ts
  packages/celotool/src/cmds/generate/private-key-to-address.ts
  packages/celotool/src/cmds/generate/validator-address.ts
  packages/celotool/src/lib/generate_utils.ts
Due: none

Type cleanup
  packages/celotool/src/cmds/generate/account-address.ts
  packages/celotool/src/cmds/generate/faucet-address.ts
Due: none

Cleanup
  packages/celotool/src/lib/generate_utils.ts
Due: none

rename files
  packages/celotool/src/cmds/generate/account-address.ts
  packages/celotool/src/cmds/generate/private-key-to-address.ts
Due: none

Remove faucet-address command
  packages/celotool/src/cmds/generate/address-from-env.ts
  packages/celotool/src/cmds/generate/faucet-address.ts
Due: none

Feedback from Taylor
  packages/web/src/fellowship/Fellow.tsx
  packages/web/src/fellowship/FellowViewer.tsx
Due: none

Add electabilityThreshold enforcement
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/common/linkedlists/AddressSortedLinkedList.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/test/ElectionTest.sol
  packages/protocol/contracts/governance/test/MockLockedGold.sol
  packages/protocol/migrations/12_election.ts
  packages/protocol/migrations/17_elect_validators.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/election.ts
Due: protocol

disable exit test
  .circleci/config.yml
Due: none

Set IN_MEMORY_DISCOVERY_TABLE=true for integration
  .env.integration
Due: none

Add ability to generate addresses directly from env file in celotool (#1294)
  packages/celotool/src/cmds/generate/address-from-env.ts
  packages/celotool/src/lib/generate_utils.ts
Due: none

Don't pay out epoch payments unless validator and group meet balance requirements
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/migrations/17_elect_validators.ts
  packages/protocol/test/governance/validators.ts
Due: protocol

Add docs about unlocking account every time you run the validator
  packages/docs/getting-started/running-a-validator.md
Due: none

Remove the --unlock flag from the node running instructions
  packages/docs/getting-started/running-a-validator.md
Due: none

Add comment about re-unlocking a validator
  packages/docs/getting-started/running-a-validator.md
Due: none

Set IN_MEMORY_DISCOVERY_TABLE=true for integration (#1296)
  .env.integration
Due: none

Don't pay out epoch rewards unless the group meets balance requirements
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Due: protocol

Fix migrations
  packages/protocol/migrations/12_election.ts
  packages/protocol/migrations/17_elect_validators.ts
Due: protocol

Update interfaces
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IGovernance.sol
Due: protocol

Add view tobin tax function to Reserve contract
  packages/protocol/contracts/stability/Reserve.sol
Due: protocol

Return as fraction
  packages/protocol/contracts/stability/Reserve.sol
Due: protocol

Move back in space
  packages/protocol/contracts/stability/Reserve.sol
Due: protocol

Add period
  packages/protocol/contracts/stability/Reserve.sol
Due: protocol

Rename ultralight to lightest sync mode
  dockerfiles/cli/Dockerfile
  packages/celotool/README.md
  packages/celotool/ci_test_sync_with_network.sh
  packages/celotool/src/cmds/geth/run.ts
  packages/celotool/src/e2e-tests/sync_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/e2e-tests/verify_ultralight_geth_logs.ts
  packages/cli/start_geth.sh
  packages/docs/SUMMARY.md
  packages/docs/celo-codebase/protocol/consensus/lightest-sync.md
  packages/docs/celo-codebase/protocol/consensus/ultralight-sync.md
  packages/docs/celo-codebase/protocol/proof-of-stake/full-node-incentives.md
  packages/docs/celo-codebase/wallet/how-the-wallet-works/README.md
  packages/docs/celo-codebase/wallet/how-the-wallet-works/ultralight-node-sync.md
  packages/docs/command-line-interface/introduction.md
  packages/docs/overview.md
  packages/helm-charts/load-test/templates/statefulset.yaml
  packages/helm-charts/tracer-tool/scripts/run.sh
  packages/mobile/src/geth/geth.ts
  packages/web/static/locales/en/dev.json
Due: mobile

new stack area before too much crazy
  packages/web/src/dev/BuildPage.tsx
  packages/web/src/dev/Features.tsx
  packages/web/src/dev/FullStack.tsx
  packages/web/src/dev/LayersIllo.tsx
  packages/web/src/dev/StackSection.tsx
  packages/web/static/locales/en/dev.json
Due: none

Rename
  packages/celotool/src/e2e-tests/verify_lightest_geth_logs.ts
Due: none

Make changes based on review
  packages/protocol/contracts/stability/Reserve.sol
Due: protocol

Return stale boolean
  packages/protocol/contracts/stability/Reserve.sol
Due: protocol

Recalculate Tobin tax if necessary
  packages/protocol/contracts/stability/Reserve.sol
Due: protocol

Freeze the illustration as we scroll past it
  packages/web/src/dev/BuildPage.tsx
  packages/web/src/dev/FullStack.tsx
Due: none

review changes
  packages/protocol/contracts/identity/Random.sol
  packages/protocol/contracts/identity/test/TestRandom.sol
  packages/protocol/migrations/12_random.ts
  packages/protocol/migrations/16_governance.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/identity/random.ts
Due: protocol

Fix verifier TypeScript build
  packages/verifier/package.json
  yarn.lock
Due: none

Move react-native-autocomplete-input only to react-components and cleaned up type
  packages/mobile/package.json
  packages/mobile/src/index.d.ts
  packages/react-components/index.d.ts
  packages/react-components/package.json
  packages/verifier/package.json
Due: mobile

fixing lint
  packages/protocol/contracts/identity/Random.sol
Due: protocol

[Wallet] Fix ListView deprecation warning (#1293)
  packages/mobile/package.json
  packages/mobile/src/index.d.ts
  packages/mobile/src/invite/__snapshots__/JoinCelo.test.tsx.snap
  packages/mobile/src/verify/__snapshots__/Verify.test.tsx.snap
  packages/react-components/components/PhoneNumberInput.test.tsx
  packages/react-components/components/PhoneNumberInput.tsx
  packages/react-components/index.d.ts
  packages/react-components/package.json
  packages/verifier/package.json
  packages/verifier/src/components/__snapshots__/PhoneNumberInput.test.tsx.snap
  yarn.lock
Due: mobile

typo fix
  packages/protocol/contracts/common/linkedlists/SortedLinkedList.sol
Due: protocol

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
