Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

Update copyright year
  packages/web/src/shared/Footer.3.tsx
  packages/web/static/locales/en/common.json
Due: none

Inline button should match size and font of text that surrounds it. So remove the font.p style
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/code-of-conduct.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/faq.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/past-events.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/user-agreement.test.tsx.snap
  packages/web/src/_page-tests/build/__snapshots__/faucet.test.tsx.snap
  packages/web/src/_page-tests/build/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/_page-tests/stake-off/__snapshots__/terms.test.tsx.snap
  packages/web/src/shared/Button.3.tsx
Due: none

All visitors to website should have chance to opt out of tracking Fixes https://github.com/celo-org/celo-monorepo/issues/2467
  packages/web/__mocks__/@segment/in-eu.ts
  packages/web/package.json
  packages/web/src/analytics/analytics.test.ts
  packages/web/src/analytics/analytics.ts
  yarn.lock
Due: none

Add memory array optimized election
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/package.json
  packages/protocol/test/governance/election.ts
  packages/protocol/truffle-config.js
Due: protocol

Fix spacing
  packages/mobile/src/account/FiatExchange.tsx
Due: mobile

revert vesion bump for blockchain-api
  packages/blockchain-api/package.json
Due: none

Short circuit
  packages/protocol/contracts/governance/Election.sol
Due: protocol

Fix
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
  packages/protocol/truffle-config.js
Due: protocol

added a script to load better attestation info
  packages/leaderboard/src/attestations.ts
Due: none

more unit tests added
  packages/protocol/test/governance/vesting.ts
Due: protocol

added further unit tests
  packages/protocol/test/governance/vesting.ts
Due: protocol

new scripts
  packages/protocol/scripts/certora/certoraBuild.py
  packages/protocol/scripts/certora/certoraUtils.py
Due: protocol

Rename transactions -> tokenTransactions
  packages/blockchain-api/src/blockscout.ts
  packages/blockchain-api/src/schema.ts
  packages/blockchain-api/test/blockscout.test.ts
  packages/mobile/src/account/InviteReview.tsx
  packages/mobile/src/apollo/types.ts
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/exchange/saga.ts
  packages/mobile/src/firebase/notifications.ts
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListItem.tsx
  packages/mobile/src/send/SendAmount.tsx
  packages/mobile/src/send/SendConfirmation.tsx
  packages/mobile/src/send/TransferConfirmationCard.test.tsx
  packages/mobile/src/send/TransferConfirmationCard.tsx
  packages/mobile/src/send/TransferReviewCard.test.tsx
  packages/mobile/src/send/TransferReviewCard.tsx
  packages/mobile/src/stableToken/saga.test.ts
  packages/mobile/src/tokens/saga.ts
  packages/mobile/src/transactions/ExchangeFeedItem.test.tsx
  packages/mobile/src/transactions/ExchangeFeedItem.tsx
  packages/mobile/src/transactions/TransactionFeed.test.tsx
  packages/mobile/src/transactions/TransactionFeed.tsx
  packages/mobile/src/transactions/TransactionReviewScreen.tsx
  packages/mobile/src/transactions/TransactionsList.test.tsx
  packages/mobile/src/transactions/TransactionsList.tsx
  packages/mobile/src/transactions/TransferFeedIcon.tsx
  packages/mobile/src/transactions/TransferFeedItem.test.tsx
  packages/mobile/src/transactions/TransferFeedItem.tsx
  packages/mobile/src/transactions/__snapshots__/TransactionFeed.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransactionsList.test.tsx.snap
  packages/mobile/src/transactions/actions.ts
  packages/mobile/src/transactions/reducer.ts
  packages/mobile/src/transactions/transferFeedUtils.ts
Due: mobile

Added ingress object to serve at celostats dns
  packages/helm-charts/ethstats/templates/celostats.ingress.yaml
  packages/helm-charts/ethstats/templates/ethstats.ingress.yaml
Due: none

updating expected
  packages/protocol/specs/AccountsExpected.json
  packages/protocol/specs/LockedGoldExpected.json
Due: protocol

updating expected
  packages/protocol/specs/LockedGoldExpected.json
Due: protocol

Add -t flag to Docker stop commands
  packages/docs/getting-started/running-a-validator.md
Due: none

Voting bot for stake off (#2327)
  .env
  .env.baklava
  .env.baklavastaging
  packages/celotool/src/cmds/bots/auto-verify.ts
  packages/celotool/src/cmds/bots/auto-vote.ts
  packages/celotool/src/cmds/deploy/destroy/voting-bot.ts
  packages/celotool/src/cmds/deploy/initial/voting-bot.ts
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/generate_utils.ts
  packages/celotool/src/lib/voting-bot.ts
  packages/cli/src/commands/election/list.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/docs/command-line-interface/election.md
  packages/helm-charts/voting-bot/Chart.yaml
  packages/helm-charts/voting-bot/templates/voting-bot.cronjob.yaml
  packages/helm-charts/voting-bot/templates/voting-bot.secret.yaml
  packages/helm-charts/voting-bot/values.yaml
Due: none

Update governance commands to emit event info
  packages/cli/src/commands/governance/approve.ts
  packages/cli/src/commands/governance/approvehotfix.ts
  packages/cli/src/commands/governance/execute.ts
  packages/cli/src/commands/governance/executehotfix.ts
  packages/cli/src/commands/governance/list.ts
  packages/cli/src/commands/governance/preparehotfix.ts
  packages/cli/src/commands/governance/upvote.ts
  packages/cli/src/commands/governance/vote.ts
  packages/cli/src/commands/governance/whitelisthotfix.ts
  packages/cli/src/utils/checks.ts
  packages/cli/src/utils/cli.ts
  packages/contractkit/src/explorer/block-explorer.ts
  packages/contractkit/src/utils/web3-utils.ts
  packages/contractkit/src/wrappers/Governance.ts
Due: none

Use tables for list
  packages/cli/src/commands/governance/list.ts
Due: none

Fix imports
  packages/cli/src/commands/governance/list.ts
Due: none

Get the mobile menu test working
  packages/web/src/brandkit/common/MobileMenu.test.tsx
Due: none

Update copyright year + inline button (#2468)
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/code-of-conduct.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/faq.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/past-events.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/user-agreement.test.tsx.snap
  packages/web/src/_page-tests/build/__snapshots__/faucet.test.tsx.snap
  packages/web/src/_page-tests/build/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/_page-tests/stake-off/__snapshots__/terms.test.tsx.snap
  packages/web/src/shared/Button.3.tsx
  packages/web/src/shared/Footer.3.tsx
  packages/web/static/locales/en/common.json
Due: none

election spec work in progress
  packages/protocol/election.conf
  packages/protocol/specs/election.spec
  packages/protocol/specs/harnesses/ElectionHarness.sol
Due: protocol

CLI relock fix (#2464)
  packages/cli/src/commands/lockedgold/lock.test.ts
  packages/cli/src/commands/lockedgold/lock.ts
  packages/protocol/test/governance/governance.ts
Due: protocol

factor can be update after 18 months
  packages/protocol/contracts/stability/StableToken.sol
  packages/protocol/test/stability/stabletoken.ts
Due: protocol

Update packages/celotool/src/cmds/bots/auto-verify.ts
  packages/celotool/src/cmds/bots/auto-verify.ts
Due: none

Add callouts to serve text messages in regions (#2458)
  packages/docs/getting-started/running-a-validator.md
Due: none

added gold token harness
  .circleci/config.yml
Due: none

upload attestations to db table
  packages/leaderboard/src/attestations.ts
  packages/leaderboard/src/attestationsToDb.ts
Due: none

revoke rules
  packages/protocol/specs/election.spec
Due: protocol

fixes
  packages/leaderboard/src/attestationsToDb.ts
Due: none

revoke rules
  packages/protocol/specs/harnesses/ElectionHarness.sol
Due: protocol

slightly generalized locked gold spec
  packages/protocol/specs/lockedGold.spec
Due: protocol

collect coverage on web (#2415)
  .circleci/config.yml
  .codecov.yml
  packages/web/package.json
Due: none

Add -t flag to Docker stop commands (#2481)
  packages/docs/getting-started/running-a-validator.md
Due: none

Add react-testing-utils + Fix Analytics (#2437)
  packages/web/__mocks__/@segment/in-eu.ts
  packages/web/__mocks__/load-segment.ts
  packages/web/package.json
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/jobs.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/past-events.test.tsx.snap
  packages/web/src/about/Team.test.tsx
  packages/web/src/about/Team.tsx
  packages/web/src/analytics/analytics.test.ts
  packages/web/src/analytics/analytics.ts
  packages/web/src/brandkit/common/MobileMenu.test.tsx
  packages/web/src/brandkit/common/MobileMenu.tsx
  packages/web/src/community/connect/Events.test.tsx
  packages/web/src/header/BlueBanner.test.tsx
  packages/web/src/header/BlueBanner.tsx
  packages/web/src/home/HomeSystems.tsx
  packages/web/src/icons/RedditLogo.tsx
  packages/web/src/join/Benefits.tsx
  packages/web/src/join/JoinPage.tsx
  packages/web/src/privacy/Privacy.tsx
  packages/web/src/shared/Spinner.tsx
  packages/web/src/shared/Triangle.tsx
  packages/web/src/utils/utils.ts
  yarn.lock
Due: none

Snap
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
Due: none

Add tests
  packages/mobile/src/exchange/saga.test.ts
Due: mobile
