Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

Added functionality to the cli to make oracle-reporting possible. This includes commands to report and get rates for a given token.
  packages/cli/src/base.ts
  packages/cli/src/commands/localaccounts/add.ts
  packages/cli/src/commands/oracle/rates.ts
  packages/cli/src/commands/oracle/report.ts
  packages/cli/src/utils/local_accounts.ts
  packages/contractkit/src/index.ts
  packages/docs/command-line-interface/localaccounts.md
  packages/docs/command-line-interface/oracle.md
Due: none

Prepared for using etherbase accounts for authorized nodes
  packages/celotool/src/lib/ethstats.ts
Due: none

Fix lint checks
  packages/mobile/src/account/CeloLite.tsx
  packages/mobile/src/web3/saga.ts
  packages/mobile/test/schemas.ts
Due: mobile

Moved from enodes to eth addresses in ethstats lists
  .env
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/ethstats.ts
  packages/helm-charts/ethstats/templates/ethstats.deployment.yaml
  packages/helm-charts/ethstats/values.yaml
Due: none

adding attestation service initial documentation
  packages/docs/getting-started/running-a-validator.md
Due: none

Update CeloLite snapshot
  packages/mobile/src/account/__snapshots__/CeloLite.test.tsx.snap
Due: mobile

[Wallet] Style fixes on iOS for verification and backup flows (#1718)
  packages/mobile/src/account/__snapshots__/Analytics.test.tsx.snap
  packages/mobile/src/account/__snapshots__/CeloLite.test.tsx.snap
  packages/mobile/src/backup/BackupPhrase.tsx
  packages/mobile/src/backup/BackupQuiz.tsx
  packages/mobile/src/backup/BackupSocial.tsx
  packages/mobile/src/backup/__snapshots__/BackupPhrase.test.tsx.snap
  packages/mobile/src/backup/__snapshots__/BackupQuiz.test.tsx.snap
  packages/mobile/src/backup/__snapshots__/BackupSocial.test.tsx.snap
  packages/mobile/src/icons/DancingRings.tsx
  packages/mobile/src/icons/LoadingSpinner.tsx
  packages/mobile/src/verify/VerificationInputScreen.tsx
  packages/mobile/src/verify/VerificationInterstitialScreen.tsx
  packages/mobile/src/verify/VerificationLoadingScreen.tsx
  packages/mobile/src/verify/__snapshots__/VerificationInputScreen.test.tsx.snap
  packages/mobile/src/verify/__snapshots__/VerificationInterstitialScreen.test.tsx.snap
  packages/mobile/src/verify/__snapshots__/VerificationLoadingScreen.test.tsx.snap
  packages/react-components/components/SettingsSwitchItem.tsx
  packages/react-components/components/Switch.tsx
Due: mobile

Make changes based on review
  packages/mobile/src/account/CeloLite.tsx
  packages/mobile/src/geth/saga.ts
  packages/mobile/src/web3/saga.ts
Due: mobile

whitelist oracle account and fund in the genesis block
  packages/celotool/src/cmds/deploy/initial/contracts.ts
  packages/celotool/src/lib/generate_utils.ts
Due: none

Changes based on review
  packages/mobile/src/account/CeloLite.tsx
  packages/mobile/src/web3/saga.ts
Due: mobile

verification translations
  packages/mobile/locales/en-US/nuxVerification2.json
  packages/mobile/locales/es-419/nuxVerification2.json
Due: mobile

Fix unit tests
  packages/protocol/test/governance/validators.ts
Due: protocol

Add snapshot tests :)
  packages/mobile/src/exchange/FeeExchangeIcon.test.tsx
  packages/mobile/src/exchange/__snapshots__/FeeExchangeIcon.test.tsx.snap
  packages/mobile/src/geth/GethAwareButton.test.tsx
  packages/mobile/src/geth/__snapshots__/GethAwareButton.test.tsx.snap
Due: mobile

Fix contractkit explorer types
  packages/contractkit/src/explorer/base.ts
  packages/contractkit/src/explorer/block-explorer.ts
  packages/contractkit/src/explorer/log-explorer.ts
  packages/transaction-metrics-exporter/src/blockchain.ts
Due: none

Put back in deleted hide modal
  packages/mobile/src/account/CeloLite.tsx
Due: mobile

Check in spanish verification translations (#1726)
  packages/mobile/locales/en-US/nuxVerification2.json
  packages/mobile/locales/es-419/nuxVerification2.json
Due: mobile

Add doc strings and fix migration override
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/migrations/20_elect_validators.ts
  packages/protocol/migrationsConfig.js
Due: protocol

Added a catch and don't trigger if there's text on it
  packages/react-components/components/PhoneNumberInput.tsx
Due: none

Added test
  packages/react-components/components/PhoneNumberInput.test.tsx
Due: none

Singularize name
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/test/identity/attestations.ts
Due: protocol

Debugging governance test
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

Repoint end-to-end tests
  .circleci/config.yml
Due: none

Fix migration config merging
  packages/contractkit/src/test-utils/migration-override.json
  packages/protocol/migrationsConfig.js
Due: protocol

[Wallet] Prompt user to restart app when turning off Forno a second time (#1708)
  packages/mobile/locales/en-US/accountScreen10.json
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/account/CeloLite.tsx
  packages/mobile/src/account/__snapshots__/CeloLite.test.tsx.snap
  packages/mobile/src/app/AppLoading.tsx
  packages/mobile/src/app/ErrorScreen.tsx
  packages/mobile/src/app/saga.ts
  packages/mobile/src/exchange/FeeExchangeIcon.test.tsx
  packages/mobile/src/exchange/__snapshots__/FeeExchangeIcon.test.tsx.snap
  packages/mobile/src/geth/GethAwareButton.test.tsx
  packages/mobile/src/geth/__snapshots__/GethAwareButton.test.tsx.snap
  packages/mobile/src/geth/saga.ts
  packages/mobile/src/images/Images.ts
  packages/mobile/src/images/crowd-mobile.png
  packages/mobile/src/images/default-avatar.png
  packages/mobile/src/images/profile.jpg
  packages/mobile/src/utils/AppRestart.ts
  packages/mobile/src/web3/actions.ts
  packages/mobile/src/web3/contracts.ts
  packages/mobile/src/web3/reducer.ts
  packages/mobile/src/web3/saga.ts
  packages/mobile/src/web3/selectors.ts
  packages/mobile/test/schemas.ts
Due: mobile

Whoops
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

Removed end-to-end-geth-integration-sync-test job in workflow
  .circleci/config.yml
Due: none

remove logging
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

Removed references to verification_pool_url
  packages/terraform-modules/testnet/main.tf
  packages/terraform-modules/testnet/modules/tx-node/main.tf
Due: none

minor edits and style changes to getting started doc
  packages/docs/getting-started/running-a-full-node.md
  packages/docs/getting-started/running-a-validator.md
Due: none

add prompt for password instead of cli flag and verbose flag for sync
  packages/cli/src/commands/account/unlock.ts
  packages/cli/src/commands/node/synced.ts
Due: none

Change the event we emit when selecting issuers (#1706)
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/test/identity/attestations.ts
Due: protocol

Removed end-to-end-geth-integration-sync-test job in workflow (#1730)
  .circleci/config.yml
Due: none

-v flag collides: remove it
  packages/cli/src/commands/node/synced.ts
Due: none

Fix
  .circleci/config.yml
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

Fix
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

Fix Buy Sell buttons
  packages/mobile/locales/en-US/exchangeFlow9.json
  packages/mobile/locales/es-419/exchangeFlow9.json
  packages/mobile/src/exchange/ExchangeHomeScreen.tsx
Due: mobile

Update genesis block after adding parent signatures to block header (#1732)
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/lib/generate_utils.ts
Due: none

Add logging
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

Remove other tests
  .circleci/config.yml
Due: none

[Wallet] Set default gradle properties (#1629)
  .circleci/config.yml
  packages/mobile/android/gradle.properties
Due: mobile

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
