Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

[wallet] Refactor leftover thunk to sagas (#1388)
  packages/mobile/android/app/src/main/assets/custom/LicenseDisclaimer.txt
  packages/mobile/package.json
  packages/mobile/src/firebase/actions.ts
  packages/mobile/src/firebase/firebase.test.ts
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/firebase/notifications.ts
  packages/mobile/src/firebase/saga.ts
  packages/mobile/src/home/WalletHome.tsx
  packages/mobile/src/paymentRequest/PaymentRequestConfirmation.tsx
  packages/mobile/src/redux/reducers.ts
  packages/mobile/src/redux/sagas.ts
  packages/mobile/src/redux/store.ts
  packages/mobile/src/sentry/Sentry.ts
  packages/mobile/src/sentry/actions.ts
  packages/mobile/src/sentry/saga.ts
  packages/mobile/test/utils.ts
  yarn.lock
Due: mobile

fix issues with using the new api
  packages/protocol/migrations/17_elect_validators.ts
Due: protocol

fix vote call args
  packages/protocol/migrations/17_elect_validators.ts
Due: protocol

Clean up election setters
  packages/protocol/contracts/governance/Election.sol
Due: protocol

Updated blockscout tag
  .env
Due: none

[contractkit] SortedOraclesWrapper + tests (#1405)
  packages/contractkit/package.json
  packages/contractkit/src/test-utils/ganache-test.ts
  packages/contractkit/src/test-utils/migration-override.json
  packages/contractkit/src/wrappers/SortedOracles.test.ts
  packages/contractkit/src/wrappers/SortedOracles.ts
  packages/protocol/migrations/02_registry.ts
  packages/protocol/migrations/04_goldtoken.ts
  packages/protocol/migrations/07_reserve.ts
  packages/protocol/migrations/08_stabletoken.ts
  packages/protocol/migrations/09_exchange.ts
  packages/protocol/migrations/16_governance.ts
  packages/protocol/migrations/17_elect_validators.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/scripts/devchain.ts
Due: protocol

undo modification of old exchange rates file
  packages/protocol/exchange_rates/oracle_exchange_rates.csv
Due: protocol

Tiny copy change (#1429)
  packages/web/src/community/connect/FellowViewer.tsx
Due: none

Don't log all props, which includes i18n
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
Due: mobile

Also add tti to property whitelist
  packages/mobile/src/analytics/constants.ts
Due: mobile

[Helm] Updated the helm package to deploy the upgraded blockscout version (#1129)
  .env
  .env.integration
  packages/celotool/src/lib/blockscout.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/helm-charts/blockscout/Chart.yaml
  packages/helm-charts/blockscout/templates/_helpers.tpl
  packages/helm-charts/blockscout/templates/blockscout-indexer.deployment.yaml
  packages/helm-charts/blockscout/templates/blockscout-migration.job.yaml
  packages/helm-charts/blockscout/templates/blockscout-web.deployment.yaml
  packages/helm-charts/blockscout/templates/blockscout.secret.yaml
  packages/helm-charts/blockscout/values.yaml
Due: none

Dont play animation if we know this is a low powered device
  packages/web/src/join/Rise.tsx
  packages/web/src/lib.dom.d.ts
Due: none

WIP fixing tests
  packages/mobile/.env
  packages/mobile/src/stableToken/saga.test.ts
  packages/mobile/src/tokens/saga.ts
Due: mobile

Move CLI commands to account namespace
  packages/cli/src/commands/account/change-attestation-service-url.ts
  packages/cli/src/commands/account/change-domain.ts
  packages/cli/src/commands/account/change-name.ts
  packages/cli/src/commands/account/create-metadata.ts
  packages/cli/src/commands/account/get-metadata.ts
  packages/cli/src/commands/account/register-metadata.ts
  packages/cli/src/commands/account/show-metadata.ts
  packages/docs/command-line-interface/account.md
  packages/docs/command-line-interface/identity.md
Due: none

fix useage of incompatible BigNumber encoding
  packages/protocol/migrations/17_elect_validators.ts
Due: protocol

Create nice fadein effect for team images
  packages/web/src/about/Team.tsx
  packages/web/src/about/team/team-list.ts
Due: none

remove explicit init to undefined
  packages/protocol/lib/web3-utils.ts
Due: protocol

Remove name/url from Validators/add name to Accounts
  packages/contractkit/src/wrappers/Accounts.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/common/interfaces/IAccounts.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/test/common/accounts.ts
  packages/protocol/test/governance/validators.ts
Due: protocol

Fix test
  packages/contractkit/src/wrappers/Validators.test.ts
Due: none

Change CLI
  packages/cli/src/commands/account/register.ts
  packages/cli/src/commands/validator/register.ts
  packages/cli/src/commands/validatorgroup/register.ts
  packages/contractkit/src/wrappers/Accounts.ts
  packages/docs/command-line-interface/account.md
  packages/docs/command-line-interface/validator.md
  packages/docs/command-line-interface/validatorgroup.md
  packages/docs/getting-started/running-a-validator.md
Due: none

Update a capital logo
  packages/web/src/about/backers/a-capital-logo.png
  packages/web/src/about/backers/a-capital.jpg
  packages/web/src/about/backers/backers.ts
Due: none

Dont play background video if we know device is low end
  packages/web/src/about/VideoCover.tsx
  packages/web/src/utils/utils.ts
Due: none

[Wallet] Don't log all props, which includes i18n (#1445)
  packages/mobile/src/analytics/constants.ts
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
Due: mobile

Extract common functionality
  packages/contractkit/src/wrappers/Accounts.ts
Due: none

Add interface
  packages/web/src/lib.dom.d.ts
Due: none

Remove unnecessary yield puts causing loop"
  packages/mobile/src/web3/saga.ts
Due: mobile

reorder imports
  packages/celotool/src/cmds/deploy/initial/contracts.ts
  packages/celotool/src/cmds/deploy/upgrade/contracts.ts
  packages/celotool/src/lib/migration-utils.ts
Due: none

Turn geth off, fix tests, use back button in header
  packages/mobile/src/account/CeloLite.tsx
  packages/mobile/src/geth/geth.ts
  packages/mobile/src/web3/saga.ts
  packages/mobile/test/schemas.ts
Due: mobile

Make zeroSyncInitially false for all env files
  packages/mobile/.env
  packages/mobile/.env.integration
  packages/mobile/.env.pilot
  packages/mobile/.env.pilotstaging
  packages/mobile/.env.production
  packages/mobile/.env.staging
  packages/mobile/.env.test
Due: mobile

Wait for web3 to sync after switching to geth
  packages/mobile/src/web3/saga.ts
Due: mobile

PR cleanup
  packages/mobile/src/web3/saga.ts
Due: mobile

Adjust migration
  packages/protocol/migrations/19_elect_validators.ts
Due: protocol

Set name of validators
  packages/protocol/migrations/19_elect_validators.ts
Due: protocol

WIP with saga tests
  packages/mobile/src/stableToken/saga.test.ts
Due: mobile

Add first pass at epoch rewards
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IElection.sol
  packages/protocol/contracts/governance/proxies/EpochRewardsProxy.sol
  packages/protocol/contracts/governance/test/EpochRewardsTest.sol
  packages/protocol/contracts/governance/test/MockElection.sol
  packages/protocol/contracts/governance/test/ValidatorsTest.sol
  packages/protocol/contracts/stability/SortedOracles.sol
  packages/protocol/lib/registry-utils.ts
  packages/protocol/migrations/11_validators.ts
  packages/protocol/migrations/13_epoch_rewards.ts
  packages/protocol/migrations/14_random.ts
  packages/protocol/migrations/15_attestations.ts
  packages/protocol/migrations/16_blockchainparams.ts
  packages/protocol/migrations/17_escrow.ts
  packages/protocol/migrations/18_governance.ts
  packages/protocol/migrations/19_elect_validators.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/epochrewards.ts
  packages/protocol/test/governance/validators.ts
Due: protocol

start setting up needed fns in src/localCurrency
  packages/mobile/src/localCurrency/actions.ts
  packages/mobile/src/localCurrency/hooks.ts
  packages/mobile/src/localCurrency/saga.ts
  packages/mobile/src/transactions/ExchangeFeedItem.tsx
Due: mobile

Add an e2e shuffle test
  packages/celotool/src/e2e-tests/shuffle_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
Due: none

Use new segment api keys used by both iOS and Android
  packages/mobile/secrets.json.enc
Due: mobile

Use new segment api keys used by both iOS and Android (#1452)
  packages/mobile/secrets.json.enc
Due: mobile

Show splash screen until JS is ready on iOS
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo/AppDelegate.m
  packages/mobile/package.json
  packages/verifier/package.json
  yarn.lock
Due: mobile

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
