Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: 'packages/mobile/'
        flags: mobile
        threshold: 5%
        target: 70%
      web:
        paths: 'packages/web/'
        flags: web
        threshold: 2%
        target: 75%
      protocol:
        paths: 'packages/protocol/'
        flags: protocol
        threshold: 5%
        target: 90%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

added command to get historical membership data
  packages/docs/command-line-interface/election.md
  packages/docs/command-line-interface/validatorgroup.md
Due: none

update docs
  packages/cli/src/commands/validatorgroup/membership-history.ts
Due: none

Improve node_modules cache
  .circleci/config.yml
Due: none

Speed up node_modules.tgz creation
  .circleci/config.yml
Due: none

Cache yarn global cache
  .circleci/config.yml
Due: none

Make sure the concatenated patches file remains stable no matter what the find iteration does
  .circleci/config.yml
Due: none

Don't use the branch for the yarn global cache key
  .circleci/config.yml
Due: none

Remove caching yarn global cache as it's too big and don't end up being a net positive
  .circleci/config.yml
Due: none

Remove rebuild scrypt steps as it's not needed anymore
  .circleci/config.yml
Due: none

Increase init timeout to see if it helps with the occasional issue seen in CircleCI
  packages/mobile/e2e/init.js
Due: mobile

Increase stable token gas
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

Move added EpochRewards wrapper to separate PR
  packages/contractkit/src/contract-cache.ts
  packages/contractkit/src/kit.ts
  packages/contractkit/src/wrappers/EpochRewards.ts
Due: none

Freeze StableToken at contracts deployment (#2618)
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/protocol/contracts/stability/StableToken.sol
  packages/protocol/migrations/08_stabletoken.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/stability/exchange.ts
  packages/protocol/test/stability/stabletoken.ts
Due: protocol

Point to 1.9 branch
  .circleci/config.yml
  packages/celotool/src/cmds/geth/run.ts
Due: none

WIP
  packages/contractkit/src/kit.ts
  packages/contractkit/src/providers/celo-provider.ts
  packages/contractkit/src/utils/sign_typed_data_utils.ts
  packages/contractkit/src/utils/web3-utils.ts
Due: none

[contractKit] Using CeloProvider as default
  packages/contractkit/src/contract-cache.test.ts
  packages/contractkit/src/kit.ts
  packages/contractkit/src/providers/celo-private-keys-subprovider.ts
  packages/contractkit/src/providers/celo-provider.ts
  packages/contractkit/src/providers/debug-provider.ts
  packages/contractkit/src/web3-contract-cache.test.ts
Due: none

[contractKit] Refactor CeloProvider
  packages/contractkit/package.json
  packages/contractkit/src/kit.ts
  packages/contractkit/src/providers/celo-private-keys-subprovider.ts
  packages/contractkit/src/providers/celo-provider.ts
  packages/contractkit/src/providers/wrapping-subprovider.ts
  packages/contractkit/src/utils/missing-tx-params-populator.ts
  packages/contractkit/src/utils/rpc-caller.ts
  packages/contractkit/src/utils/wallet.ts
Due: none

[contractKit] ParamsPopulator tests
  packages/contractkit/src/utils/missing-tx-params-populator.test.ts
  packages/contractkit/src/utils/missing-tx-params-populator.ts
  packages/contractkit/src/utils/rpc-caller.ts
Due: none

[contractKit] Refactor wallet/rpc-caller + tests
  packages/contractkit/src/providers/celo-provider.ts
  packages/contractkit/src/utils/celo-tx.ts
  packages/contractkit/src/utils/missing-tx-params-populator.ts
  packages/contractkit/src/utils/rpc-caller.test.ts
  packages/contractkit/src/utils/rpc-caller.ts
  packages/contractkit/src/utils/signing-utils.ts
  packages/contractkit/src/utils/tx-signing.test.ts
  packages/contractkit/src/utils/tx-signing.ts
  packages/contractkit/src/utils/wallet.test.ts
  packages/contractkit/src/utils/wallet.ts
  packages/utils/src/address.ts
Due: none

[contractKit] add celo provider tests
  packages/contractkit/package.json
  packages/contractkit/src/providers/celo-provider.test.ts
  packages/contractkit/src/providers/celo-provider.ts
  packages/contractkit/src/utils/signing-utils.ts
  packages/contractkit/src/utils/tx-signing.test.ts
  packages/contractkit/src/utils/wallet.test.ts
  packages/contractkit/src/utils/wallet.ts
Due: none

Add missing Math.floor
  packages/contractkit/src/kit.ts
Due: none

[Wallet] Improve clipboard watching
  packages/faucet/src/database-helper.ts
  packages/mobile/.env
  packages/mobile/ios/Podfile.lock
  packages/mobile/src/escrow/saga.ts
  packages/react-components/components/WithTextInputPasteAware.tsx
Due: mobile

contractkit: add slashing wrappers (#2405)
  packages/cli/src/commands/rewards/show.ts
  packages/cli/src/commands/validator/status.ts
  packages/contractkit/src/contract-cache.ts
  packages/contractkit/src/kit.ts
  packages/contractkit/src/wrappers/DoubleSigningSlasher.ts
  packages/contractkit/src/wrappers/DowntimeSlasher.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/docs/celo-codebase/protocol/proof-of-stake/penalties.md
  packages/docs/command-line-interface/rewards.md
  packages/docs/command-line-interface/validator.md
  packages/utils/src/address.ts
Due: none

WIP adding signed url
  packages/mobile/src/account/FiatExchange.tsx
  packages/mobile/src/account/actions.ts
  packages/mobile/src/account/reducer.ts
  packages/mobile/src/account/saga.ts
Due: mobile

Rename function to plese prettier
  packages/protocol/contracts/governance/Governance.sol
Due: protocol

Add back missing periods
  packages/mobile/ios/celo/Info.plist
Due: mobile

Await json reponse
  packages/mobile/src/account/FiatExchange.tsx
Due: mobile

Remove auth package, unneeded redux moonpayURL
  packages/mobile/src/account/actions.ts
  packages/mobile/src/account/reducer.ts
  packages/mobile/src/account/saga.ts
Due: mobile

Remove auth package
  packages/authentication/.firebaserc
  packages/authentication/.gitignore
  packages/authentication/firebase.json
  packages/authentication/functions/.gitignore
  packages/authentication/functions/package-lock.json
  packages/authentication/functions/package.json
  packages/authentication/functions/src/index.ts
  packages/authentication/functions/tsconfig.json
  packages/authentication/functions/tslint.json
  scripts/signMoonpay.js
Due: none

Add check for subset of input
  packages/react-components/components/WithTextInputPasteAware.tsx
Due: none

Adjust governance proposal CLI and refactor contract based on baklava feedback (#2614)
  packages/cli/src/commands/governance/executehotfix.ts
  packages/cli/src/commands/governance/list.ts
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/utils/checks.ts
  packages/cli/src/utils/governance.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/protocol/contracts/governance/Governance.sol
Due: protocol

Add flag, update account, show firebase error
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/FiatExchange.tsx
  packages/mobile/src/flags.ts
Due: mobile

Bump @celo/utils, @celo/contractkit, and @celo/celocli version numbers
  packages/attestation-service/package.json
  packages/celotool/package.json
  packages/cli/package.json
  packages/contractkit/package.json
  packages/dappkit/package.json
  packages/leaderboard/package.json
  packages/mobile/package.json
  packages/protocol/package.json
  packages/react-components/package.json
  packages/transaction-metrics-exporter/package.json
  packages/utils/package.json
  packages/verifier/package.json
  packages/walletkit/package.json
Due: mobile, protocol

Turn off add funds flag
  packages/mobile/src/flags.ts
Due: mobile

Only update inter-packages dependencies ending in dev
  packages/dappkit/package.json
Due: none

Update docs with master content
  packages/docs/SUMMARY.md
  packages/docs/developer-resources/contractkit/reference/SUMMARY.md
  packages/docs/developer-resources/contractkit/reference/classes/_contract_cache_.wrappercache.md
  packages/docs/developer-resources/contractkit/reference/classes/_kit_.contractkit.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_basewrapper_.basewrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_doublesigningslasher_.doublesigningslasherwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_downtimeslasher_.downtimeslasherwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_election_.electionwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_governance_.governancewrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_lockedgold_.lockedgoldwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_validators_.validatorswrapper.md
  packages/docs/developer-resources/contractkit/reference/globals.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_election_.electablevalidators.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_election_.electionconfig.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_election_.groupvote.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_election_.groupvoterreward.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_election_.validatorgroupvote.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_election_.voter.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_election_.voterreward.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_lockedgold_.accountslashed.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_lockedgold_.lockedgoldconfig.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_lockedgold_.votingdetails.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_validators_.groupmembership.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_validators_.membershiphistoryextradata.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_validators_.validatorsconfig.md
  packages/docs/developer-resources/contractkit/reference/modules/_contract_cache_.md
  packages/docs/developer-resources/contractkit/reference/modules/_wrappers_doublesigningslasher_.md
  packages/docs/developer-resources/contractkit/reference/modules/_wrappers_downtimeslasher_.md
  packages/docs/developer-resources/contractkit/reference/modules/_wrappers_lockedgold_.md
Due: none
