Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

Make validator-exec work for different node types
  packages/celotool/src/cmds/ssh-vm-node.ts
  packages/celotool/src/cmds/validators-exec.ts
  packages/celotool/src/cmds/vm-exec.ts
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
Due: none

Allow the validator account to whitelist hotfixes
  packages/protocol/contracts/governance/Governance.sol
Due: protocol

Update convert to contract decimals
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/FeeExchangeIcon.tsx
  packages/mobile/src/exchange/saga.ts
  packages/mobile/src/icons/InfoIcon.tsx
  packages/mobile/src/tokens/saga.ts
Due: mobile

Add grey icon
  packages/mobile/src/images/info-grey.png
Due: mobile

Make exec be parallel for tx-nodes and proxies
  packages/celotool/src/cmds/vm-exec.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
Due: none

Testing sync again (#2125)
  packages/cli/src/utils/helpers.ts
Due: none

Print out if only or not
  packages/celotool/src/cmds/vm-exec.ts
Due: none

Leaderboard Improvements (#2138)
  packages/web/src/dev/Cover.tsx
  packages/web/src/dev/LeaderBoard.tsx
  packages/web/src/dev/LeaderBoardApp.tsx
  packages/web/src/dev/Racer.tsx
  packages/web/src/shared/menu-items.ts
Due: none

updated leaderboard script
  packages/leaderboard/src/board.ts
Due: none

updating contractkit version
  packages/leaderboard/package.json
Due: none

remove duplicate claims
  packages/leaderboard/src/upload.ts
Due: none

remove duplicates
  packages/leaderboard/src/board.ts
Due: none

ignoring duplicate claims
  packages/cli/src/commands/account/show-claimed-accounts.ts
Due: none

removed extra flag
  packages/cli/src/commands/account/set-name.ts
  packages/cli/src/commands/exchange/dollars.ts
  packages/cli/src/commands/exchange/gold.ts
Due: none

updating docs
  packages/docs/command-line-interface/account.md
  packages/docs/command-line-interface/exchange.md
Due: none

Fixing the cli for exchange (#2126)
  packages/cli/src/commands/exchange/dollars.ts
  packages/cli/src/commands/exchange/gold.ts
  packages/cli/src/utils/command.ts
  packages/docs/command-line-interface/account.md
  packages/docs/command-line-interface/exchange.md
Due: none

[NotificationService] Change exchange rate stored format (group by pair) (#2132)
  packages/notification-service/__mocks__/@celo/contractkit.ts
  packages/notification-service/src/firebase.ts
Due: none

Compatibility with the new stored exchange rate format
  packages/blockchain-api/src/currencyConversion/GoldExchangeRateAPI.test.ts
  packages/blockchain-api/src/currencyConversion/GoldExchangeRateAPI.ts
  packages/mobile/src/firebase/db-rules.json
Due: mobile

fix contract kit flakyness
  packages/contractkit/jest.config.js
  packages/contractkit/src/test-utils/AlphabeticSequencer.ts
  packages/contractkit/src/test-utils/ganache.setup.ts
  packages/contractkit/src/wrappers/SortedOracles.test.ts
  packages/contractkit/src/wrappers/Validators.test.ts
Due: none

[Wallet] Add notification for verification (#2129)
  packages/mobile/locales/en-US/nuxVerification2.json
  packages/mobile/locales/es-419/nuxVerification2.json
  packages/mobile/src/account/actions.ts
  packages/mobile/src/account/index.ts
  packages/mobile/src/account/reducer.ts
  packages/mobile/src/backup/BackupSocial.tsx
  packages/mobile/src/firebase/actions.ts
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/firebase/notifications.ts
  packages/mobile/src/firebase/saga.ts
  packages/mobile/src/home/NotificationBox.test.tsx
  packages/mobile/src/home/NotificationBox.tsx
  packages/mobile/src/home/__snapshots__/NotificationBox.test.tsx.snap
  packages/mobile/src/identity/contactMapping.test.ts
  packages/mobile/src/identity/contactMapping.ts
  packages/mobile/src/import/saga.test.ts
  packages/mobile/src/import/saga.ts
  packages/mobile/src/notifications/IncomingPaymentRequestSummaryNotification.test.tsx
  packages/mobile/src/notifications/IncomingPaymentRequestSummaryNotification.tsx
  packages/mobile/src/notifications/OutgoingPaymentRequestSummaryNotification.test.tsx
  packages/mobile/src/notifications/OutgoingPaymentRequestSummaryNotification.tsx
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListItem.tsx
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListScreen.test.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListItem.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListScreen.test.tsx
  packages/mobile/src/paymentRequest/PaymentRequestConfirmation.tsx
  packages/mobile/src/paymentRequest/__mocks__.ts
  packages/mobile/src/paymentRequest/utils.ts
  packages/mobile/test/schemas.ts
Due: mobile

more timeouts
  packages/contractkit/src/wrappers/Accounts.test.ts
Due: none

Updated public modules
  packages/terraform-modules-public/example/main.tf
  packages/terraform-modules-public/example/variables.tf
  packages/terraform-modules-public/testnet/main.tf
  packages/terraform-modules-public/testnet/modules/accounts/main.tf
  packages/terraform-modules-public/testnet/modules/accounts/outputs.tf
  packages/terraform-modules-public/testnet/modules/proxy/main.tf
  packages/terraform-modules-public/testnet/modules/proxy/variables.tf
  packages/terraform-modules-public/testnet/modules/validator/main.tf
  packages/terraform-modules-public/testnet/modules/validator/variables.tf
  packages/terraform-modules-public/testnet/variables.tf
Due: none

increase timeout more
  packages/contractkit/src/wrappers/Validators.test.ts
Due: none

Adding instructions about how to re-connect to the network after a reset
  packages/docs/getting-started/reconnecting-to-network.md
  packages/docs/getting-started/running-a-validator.md
Due: none

Adding txpool api allowing to use command to be used by blockscout. Tested locally
  scripts/run-docker-validator-network.sh
Due: none

Fix escrow snapshot tests
  packages/mobile/src/send/TransferConfirmationCard.test.tsx
  packages/mobile/src/send/__snapshots__/TransferConfirmationCard.test.tsx.snap
Due: mobile

10 seconds timeout, not 100
  packages/contractkit/src/wrappers/Accounts.test.ts
Due: none

[Wallet] Escrow payment identification in Transaction feed (#1425)
  packages/blockchain-api/src/blockscout.ts
  packages/blockchain-api/src/schema.ts
  packages/blockchain-api/src/utils.ts
  packages/blockchain-api/test/blockscout.test.ts
  packages/mobile/locales/en-US/receiveFlow8.json
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/en-US/walletFlow5.json
  packages/mobile/locales/es-419/receiveFlow8.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/locales/es-419/walletFlow5.json
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/send/TransferConfirmationCard.test.tsx
  packages/mobile/src/send/__snapshots__/TransferConfirmationCard.test.tsx.snap
  packages/mobile/src/transactions/TransferFeedIcon.tsx
  packages/mobile/src/transactions/TransferFeedItem.tsx
  packages/mobile/src/transactions/actions.ts
  packages/mobile/src/transactions/reducer.ts
  packages/mobile/src/transactions/transferFeedUtils.ts
Due: mobile

Set FIREBASE_DB for all envs
  packages/blockchain-api/app.alfajores.yaml
  packages/blockchain-api/app.alfajoresstaging.yaml
  packages/blockchain-api/app.integration.yaml
  packages/blockchain-api/app.pilot.yaml
  packages/blockchain-api/app.pilotstaging.yaml
Due: none

using the latest contractkit
  packages/leaderboard/src/board.ts
  packages/leaderboard/src/upload.ts
Due: none

Ignore test files to fix deploy
  packages/blockchain-api/.gcloudignore
Due: none

Use service account key for all envs until we can migrate to celo-org-mobile
  packages/blockchain-api/src/config.ts
Due: none

Add encrypted service account key
  packages/blockchain-api/serviceAccountKey.json.enc
  scripts/key_placer.sh
Due: none

[Wallet] Fix bug causing banner to stay visible once app is connected
  packages/mobile/locales/en-US/global.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/src/import/saga.test.ts
  packages/mobile/src/import/saga.ts
  packages/mobile/src/invite/saga.test.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/networkInfo/saga.ts
  packages/mobile/src/redux/sagas.ts
  packages/mobile/src/stableToken/saga.test.ts
  packages/mobile/src/tokens/saga.ts
  packages/mobile/src/utils/time.ts
  packages/mobile/src/web3/saga.ts
Due: mobile

Update snapshot
  packages/mobile/src/transactions/__snapshots__/ExchangeFeedItem.test.tsx.snap
Due: mobile

Improve comments
  packages/blockchain-api/src/currencyConversion/CurrencyConversionAPI.ts
  packages/blockchain-api/src/currencyConversion/GoldExchangeRateAPI.ts
Due: none

Removed bootnode variables
  packages/terraform-modules-public/testnet/main.tf
  packages/terraform-modules-public/testnet/modules/proxy/main.tf
  packages/terraform-modules-public/testnet/modules/proxy/startup.sh
  packages/terraform-modules-public/testnet/modules/proxy/variables.tf
  packages/terraform-modules-public/testnet/modules/tx-node/main.tf
  packages/terraform-modules-public/testnet/modules/tx-node/startup.sh
  packages/terraform-modules-public/testnet/modules/tx-node/variables.tf
  packages/terraform-modules-public/testnet/modules/validator/main.tf
  packages/terraform-modules-public/testnet/modules/validator/startup.sh
  packages/terraform-modules-public/testnet/modules/validator/variables.tf
  packages/terraform-modules-public/testnet/variables.tf
Due: none

make error output more understandable
  packages/protocol/runTests.js
Due: protocol

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
