Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

Seems to be working
  packages/celotool/src/cmds/gcp/remove-leaked-forwarding-rules.ts
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/celotool/src/lib/testnet-utils.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/helm-charts/testnet/templates/proxy.service.yaml
  packages/helm-charts/testnet/templates/txnode-private.service.yaml
  packages/helm-charts/testnet/templates/txnode-private.statefulset.yaml
  packages/helm-charts/testnet/templates/txnode.service.yaml
  packages/helm-charts/testnet/templates/validators.service.yaml
  packages/terraform-modules/testnet/main.tf
  packages/terraform-modules/testnet/modules/full-node/main.tf
  packages/terraform-modules/testnet/modules/full-node/variables.tf
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/main.tf
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/variables.tf
  packages/terraform-modules/testnet/variables.tf
Due: none

Update codecov (#2845)
  package.json
  yarn.lock
Due: none

Clean up
  packages/celotool/src/cmds/gcp/remove-leaked-forwarding-rules.ts
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/celotool/src/lib/oracle.ts
  packages/celotool/src/lib/testnet-utils.ts
  packages/helm-charts/blockscout/values.yaml
  packages/helm-charts/testnet/templates/txnode-private.service.yaml
  packages/helm-charts/testnet/templates/txnode-private.statefulset.yaml
Due: none

Removing registry entry
  packages/protocol/contracts/governance/proxies/ReleaseGoldFactoryProxy.sol
  packages/protocol/lib/registry-utils.ts
Due: protocol

Update .env files
  .env
  .env.alfajores
  .env.alfajoresstaging
  .env.baklava
  .env.baklavastaging
  .env.integration
  .env.integrationtesting
  .env.pilot
  .env.pilotstaging
Due: none

Add .env vars for geth&migration options differing on developer/production testnets (#2613)
  .env
  .env.baklava
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/celotool/src/lib/migration-utils.ts
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Due: none

Limit RPCs and prevent unneeded lb
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/helm-charts/testnet/templates/proxy.statefulset.yaml
  packages/helm-charts/testnet/templates/txnode-private.service.yaml
  packages/helm-charts/testnet/templates/txnode-private.statefulset.yaml
  packages/helm-charts/testnet/templates/txnode.statefulset.yaml
Due: none

Move unfrozen balance check to _transferGold
  packages/protocol/contracts/stability/Reserve.sol
Due: protocol

Add cash out functionality
  packages/earn-pilot-functions/package.json
  packages/earn-pilot-functions/src/index.ts
  packages/earn-pilot-functions/src/sendTokens.ts
  yarn.lock
Due: none

Logging cleanup in transferEarned firebase function
  packages/earn-pilot-functions/firebase-debug.log
  packages/earn-pilot-functions/src/index.ts
  packages/earn-pilot-functions/src/sendTokens.ts
Due: none

Vesting contract revamp (#2617)
  packages/cli/package.json
  packages/contractkit/package.json
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/common/interfaces/IAccounts.sol
  packages/protocol/contracts/governance/ReleaseGoldFactory.sol
  packages/protocol/contracts/governance/ReleaseGoldInstance.sol
  packages/protocol/contracts/governance/VestingFactory.sol
  packages/protocol/contracts/governance/VestingInstance.sol
  packages/protocol/contracts/governance/interfaces/IReleaseGoldFactory.sol
  packages/protocol/contracts/governance/interfaces/IReleaseGoldInstance.sol
  packages/protocol/contracts/governance/proxies/VestingFactoryProxy.sol
  packages/protocol/lib/registry-utils.ts
  packages/protocol/migrations/11_lockedgold.ts
  packages/protocol/migrations/11_vesting_factory.ts
  packages/protocol/migrations/12_validators.ts
  packages/protocol/migrations/13_election.ts
  packages/protocol/migrations/14_epoch_rewards.ts
  packages/protocol/migrations/15_random.ts
  packages/protocol/migrations/16_attestations.ts
  packages/protocol/migrations/17_escrow.ts
  packages/protocol/migrations/18_blockchainparams.ts
  packages/protocol/migrations/19_governance_slasher.ts
  packages/protocol/migrations/20_double_signing_slasher.ts
  packages/protocol/migrations/21_downtime_slasher.ts
  packages/protocol/migrations/22_governance.ts
  packages/protocol/migrations/23_elect_validators.ts
  packages/protocol/scripts/build.ts
  packages/protocol/test/governance/release_gold.ts
  packages/protocol/test/governance/vesting.ts
Due: protocol

Removing releasegold factory and setting up for migration script
  packages/protocol/contracts/governance/ReleaseGold.sol
  packages/protocol/contracts/governance/ReleaseGoldFactory.sol
  packages/protocol/contracts/governance/interfaces/IReleaseGold.sol
  packages/protocol/contracts/governance/interfaces/IReleaseGoldFactory.sol
  packages/protocol/lib/registry-utils.ts
  packages/protocol/scripts/bash/deploy_release_contracts.sh
  packages/protocol/scripts/build.ts
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
  packages/protocol/test/governance/release_gold.ts
Due: protocol

Fix graphic not showing and links incorrectly having an underline (#2837)
  packages/web/public/static/normalize.css
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/code-of-conduct.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/faq.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/past-events.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/user-agreement.test.tsx.snap
  packages/web/src/_page-tests/build/__snapshots__/faucet.test.tsx.snap
  packages/web/src/_page-tests/build/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/key-imagery.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/_page-tests/stake-off/__snapshots__/terms.test.tsx.snap
  packages/web/src/dev/Engage.tsx
  packages/web/src/shared/Button.3.tsx
Due: none

update readme for gcloud auth
  packages/web/README.md
Due: none

Add election view function with set size as parameter
  packages/protocol/contracts/governance/Election.sol
Due: protocol

Remove firebase debug logs
  packages/earn-pilot-functions/firebase-debug.log
Due: none

Fix typo
  packages/protocol/contracts/governance/Election.sol
Due: protocol

Remove fig8 icon
  packages/mobile/src/account/Earn.tsx
  packages/mobile/src/apollo/types.ts
  packages/mobile/src/app/ErrorMessages.ts
  packages/mobile/src/app/actions.ts
  packages/mobile/src/app/reducers.ts
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/firebase/saga.ts
  packages/mobile/src/send/TransferConfirmationCard.tsx
  packages/mobile/src/transactions/TransactionsList.tsx
  packages/mobile/src/transactions/TransferFeedIcon.tsx
  packages/mobile/src/transactions/TransferFeedItem.tsx
  packages/mobile/src/transactions/actions.ts
  packages/mobile/src/transactions/reducer.ts
  packages/mobile/src/transactions/transferFeedUtils.ts
  packages/mobile/src/web3/saga.ts
Due: mobile

Use the last address attested in the wallet (#2838)
  packages/mobile/src/identity/contactMapping.ts
Due: mobile

PR clean up
  packages/mobile/src/firebase/saga.ts
  packages/mobile/src/transactions/TransactionsList.tsx
  packages/mobile/src/transactions/actions.ts
  packages/mobile/src/web3/saga.ts
Due: mobile

📓 update info for secrets file on web
  packages/web/README.md
Due: none

🔁 rename build/faucet and build/wallet to developers/faucet and developers/wallet
  packages/web/pages/developers/faucet.tsx
  packages/web/pages/developers/wallet.tsx
  packages/web/server/index.ts
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/faucet.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/wallet.test.tsx.snap
  packages/web/src/_page-tests/developers/faucet.test.tsx
  packages/web/src/_page-tests/developers/wallet.test.tsx
  packages/web/src/_page-tests/validators/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/validators/index.test.tsx
  packages/web/src/shared/menu-items.ts
Due: none

Update snapshot
  packages/mobile/src/account/__snapshots__/Account.test.tsx.snap
Due: mobile

Parking progress
  packages/protocol/scripts/bash/deploy_release_contracts.sh
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
  packages/protocol/scripts/truffle/releaseGoldContracts.json
  packages/protocol/test/governance/release_gold.ts
Due: protocol

fix issue with file in static not being served from app engine due to configuration fixes #2847
  packages/web/development.yaml
  packages/web/pages/_document.tsx
  packages/web/production.yaml
  packages/web/public/favicon.ico
  packages/web/public/normalize.css
  packages/web/staging.yaml
Due: none

WIP earn screen
  packages/mobile/src/account/Earn.tsx
Due: mobile

Prevent dups in mnemonic
  packages/mobile/src/web3/saga.ts
Due: mobile

fix issue with file in static not being served from app engine due to… (#2856)
  packages/web/development.yaml
  packages/web/pages/_document.tsx
  packages/web/production.yaml
  packages/web/public/favicon.ico
  packages/web/public/normalize.css
  packages/web/staging.yaml
Due: none

Remove unused analytic
  packages/mobile/src/analytics/constants.ts
Due: mobile

On-chain governance constitution (#2748)
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/governanceConstitution.js
Due: protocol

✨ hide gray line on brand toolkit when at vary top.
  packages/web/src/brandkit/common/Page.tsx
  packages/web/src/brandkit/common/TopBar.tsx
Due: none

correct documentation on hotfixes
  packages/docs/celo-codebase/protocol/governance.md
Due: none

address review comments
  packages/docs/celo-codebase/protocol/governance.md
Due: none

Correct the information in the hotfix documentation (#2860)
  packages/docs/celo-codebase/protocol/governance.md
Due: none

[L02] Inconsistent quorum calculation (#2796)
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/cli/src/commands/governance/viewhotfix.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_governance_.governancewrapper.md
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/test/GovernanceTest.sol
Due: protocol

fixing comments, added a new test case for fixidity
  packages/protocol/contracts/common/FixidityLib.sol
  packages/protocol/contracts/common/Signatures.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/test/common/fixidity.ts
Due: protocol

adding return statement
  packages/protocol/contracts/common/MultiSig.sol
Due: protocol

removed modifier
  packages/protocol/contracts/stability/StableToken.sol
Due: protocol

removed requires
  packages/protocol/contracts/common/FixidityLib.sol
Due: protocol

[web] TEMPORARY: sdk-doc links to master branch
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/shared/menu-items.ts
Due: none

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
