Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

fixed temp test
  .circleci/config.yml
Due: none

Set security fee description translation in Spanish.
  packages/mobile/locales/es-419/sendFlow7.json
Due: mobile

Changed node version and added dependency for emulator
  .circleci/config.yml
Due: none

[Wallet] Set security fee description translation in Spanish (#1097)
  packages/mobile/locales/es-419/sendFlow7.json
Due: mobile

PR comments
  packages/attestation-service/package.json
  packages/attestation-service/src/sms.ts
Due: none

changed emulator script
  .circleci/config.yml
  packages/mobile/scripts/build_e2e.sh
  packages/mobile/scripts/run_e2e.sh
  packages/mobile/scripts/start_emulator.sh
Due: mobile

Move index.d.ts
  packages/attestation-service/index.d.ts
Due: none

Fixed a dependency
  .circleci/config.yml
Due: none

minor change; review changes
  packages/mobile/src/qrcode/QRScanner.tsx
Due: mobile

update QRGen test
  packages/mobile/src/qrcode/QRGen.test.tsx
  packages/mobile/src/qrcode/QRGen.tsx
  packages/mobile/src/qrcode/__snapshots__/QRGen.test.tsx.snap
Due: mobile

Changes to make the tests run
  .circleci/config.yml
  packages/mobile/jest
  packages/mobile/scripts/build_e2e.sh
  packages/mobile/scripts/run_e2e.sh
  packages/mobile/scripts/start_emulator.sh
  packages/mobile/scripts/unlock.sh
Due: mobile

small fixes
  packages/cli/src/utils/cli.ts
  packages/contractkit/src/kit.ts
  packages/contractkit/src/wrappers/Attestations.ts
  packages/contractkit/src/wrappers/Governance.ts
Due: none

Remove obsolete font references
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
Due: mobile

Remove unneeded dummy swift file
  packages/mobile/ios/Dummy.swift
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
Due: mobile

Remove now obsolete file due to the changes in pincode handling
  packages/mobile/src/pincode/PincodeViaAndroidKeystore.ios.ts
Due: mobile

Update comment
  packages/react-components/services/ReactNativeLogger.ts
Due: none

Added build for sdk
  .circleci/config.yml
  packages/mobile/scripts/run_e2e.sh
Due: mobile

simple text replacement
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

Changed the network to pilot
  .circleci/config.yml
Due: none

added block gas limit to blockchain params
  packages/protocol/contracts/governance/BlockchainParameters.sol
  packages/protocol/migrations/15_blockchainparams.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/blockchainparams.ts
Due: protocol

Update Airtable to be Referrals rather than recommendations.
  packages/web/fullstack/EcoFundFields.ts
Due: none

Fix blockscout websocket jsonrpc url (#1096)
  packages/helm-charts/blockscout/templates/_helpers.tpl
Due: none

Add contractkit to celotool docker image
  dockerfiles/celotool/Dockerfile
Due: none

Make function external
  packages/protocol/contracts/identity/Attestations.sol
Due: protocol

Cleanup
  packages/web/server/Announcement.ts
Due: none

Separate all Z-index by a multiple of 10
  packages/web/src/download/Cover.tsx
  packages/web/src/download/MobileApp.tsx
  packages/web/src/fauceting/PhoneInput.tsx
Due: none

Progress on improving invite redemption robustness
  packages/mobile/src/config.ts
  packages/mobile/src/identity/commentKey.ts
  packages/mobile/src/import/saga.ts
  packages/mobile/src/invite/EnterInviteCode.tsx
  packages/mobile/src/invite/JoinCelo.tsx
  packages/mobile/src/invite/actions.ts
  packages/mobile/src/invite/reducer.ts
  packages/mobile/src/invite/saga.test.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/utils/linking.ts
  packages/mobile/src/verify/Verifying.tsx
  packages/mobile/src/web3/saga.test.ts
  packages/mobile/src/web3/saga.ts
  packages/utils/src/commentEncryption.ts
  packages/utils/src/signatureUtils.ts
Due: mobile

Allow validators to use any valid combination of gold commitments as stake (#885)
  packages/cli/src/commands/validator/register.ts
  packages/cli/src/commands/validatorgroup/register.ts
  packages/docs/command-line-interface/validator.md
  packages/docs/command-line-interface/validatorgroup.md
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/migrations/16_elect_validators.ts
  packages/protocol/test/governance/validators.ts
Due: protocol

Update video link
  packages/web/src/about/VideoCover.tsx
Due: none

Specify interface parameters as calldata
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/interfaces/IAttestations.sol
Due: protocol

Optimize about cover for slower connections.
  packages/web/src/about/VideoCover.tsx
  packages/web/src/utils/utils.ts
  packages/web/static/AboutPreview.jpg
Due: none

Add MetadataURL to account struct (#1103)
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/interfaces/IAttestations.sol
  packages/protocol/test/identity/attestations.ts
Due: protocol

Remove locales as website is now just in English (#1050)
  packages/web/src/i18n.ts
  packages/web/static/locales/de/about.json
  packages/web/static/locales/de/applications.json
  packages/web/static/locales/de/common.json
  packages/web/static/locales/de/community.json
  packages/web/static/locales/de/home.json
  packages/web/static/locales/de/jobs.json
  packages/web/static/locales/de/technology.json
  packages/web/static/locales/es/about.json
  packages/web/static/locales/es/applications.json
  packages/web/static/locales/es/common.json
  packages/web/static/locales/es/community.json
  packages/web/static/locales/es/home.json
  packages/web/static/locales/es/jobs.json
  packages/web/static/locales/es/technology.json
  packages/web/static/locales/zh/about.json
  packages/web/static/locales/zh/applications.json
  packages/web/static/locales/zh/common.json
  packages/web/static/locales/zh/community.json
  packages/web/static/locales/zh/home.json
  packages/web/static/locales/zh/jobs.json
  packages/web/static/locales/zh/technology.json
Due: none

Remove logs
  packages/web/src/about/VideoCover.tsx
  packages/web/src/utils/utils.ts
Due: none

change about us to about
  packages/web/pages/about.tsx
  packages/web/server/index.ts
  packages/web/src/shared/menu-items.ts
Due: none

Fix celotool dockerfile (#1088)
  dockerfiles/celotool/Dockerfile
Due: none

Updated backers, press
  packages/web/src/about/About.tsx
  packages/web/src/about/Backers.tsx
  packages/web/src/about/PressMedia.tsx
  packages/web/src/layout/SideTitledSection.tsx
  packages/web/static/locales/en/about.json
Due: none

changes for the in memory discovery table
  .env
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/helm-charts/testnet/templates/txnode.statefulset.yaml
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Due: none

Team Update
  packages/web/src/about/About.tsx
  packages/web/src/about/Team.tsx
Due: none

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
