Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

update google-services
  packages/mobile/android/app/src/pilot/google-services.json.enc
Due: mobile

Update build
  packages/mobile/android/gradle.properties
  packages/mobile/fastlane/Fastfile
  packages/mobile/fastlane/README.md
Due: mobile

Turn on autofocus
  packages/mobile/src/qrcode/QRScanner.tsx
Due: mobile

Pilot app config and ability to not show testnet banner
  .env.pilot
  .env.pilotstaging
  packages/mobile/.env.alfajores
  packages/mobile/.env.integration
  packages/mobile/.env.pilot
  packages/mobile/.env.pilotstaging
  packages/mobile/.env.production
  packages/mobile/.env.test
  packages/mobile/.gitignore
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/pilot/google-services.json.enc
  packages/mobile/android/app/src/pilot/res/mipmap-hdpi/ic_launcher.png
  packages/mobile/android/app/src/pilot/res/mipmap-mdpi/ic_launcher.png
  packages/mobile/android/app/src/pilot/res/mipmap-xhdpi/ic_launcher.png
  packages/mobile/android/app/src/pilot/res/mipmap-xxhdpi/ic_launcher.png
  packages/mobile/android/app/src/pilot/res/mipmap-xxxhdpi/ic_launcher.png
  packages/mobile/android/app/src/pilot/res/values/strings.xml
  packages/mobile/fastlane/Fastfile
  packages/mobile/fastlane/README.md
  packages/mobile/src/config.ts
  packages/mobile/src/home/WalletHome.tsx
  scripts/key_placer.sh
Due: mobile

minor copy changes
  packages/mobile/locales/es-419/global.json
  packages/mobile/locales/es-419/nuxVerification2.json
Due: mobile

Added recipient name for QR code payments
  packages/mobile/package.json
  packages/mobile/src/qrcode/utils.ts
  yarn.lock
Due: mobile

explicitly added uuid as a dependency
  packages/mobile/package.json
  yarn.lock
Due: mobile

cleanup
  packages/mobile/src/qrcode/utils.ts
  yarn.lock
Due: mobile

moving genymotion section & rephrasing
  SETUP.md
Due: none

Address feedback
  packages/mobile/src/components/AccountOverview.tsx
  packages/mobile/src/components/CurrencyDisplay.tsx
  packages/mobile/src/escrow/ReclaimPaymentConfirmationCard.tsx
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/exchange/ExchangeRate.test.tsx
  packages/mobile/src/exchange/ExchangeRate.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
  packages/mobile/src/exchange/actions.ts
  packages/mobile/src/paymentRequest/NotificationAmount.tsx
  packages/mobile/src/paymentRequest/PaymentRequestBalance.tsx
  packages/mobile/src/send/SendAmount.tsx
  packages/mobile/src/utils/currencyExchange.ts
Due: mobile

Clarify config and add test
  packages/mobile/src/config.ts
  packages/mobile/src/exchange/ExchangeTradeScreen.test.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
  packages/mobile/src/send/SendAmount.tsx
Due: mobile

Disable import wallet button when the backup phrase is not valid
  packages/mobile/src/import/ImportWallet.tsx
Due: mobile

Wallet/Gold activity feed changes
  packages/mobile/src/transactions/ExchangeFeedItem.test.tsx
  packages/mobile/src/transactions/ExchangeFeedItem.tsx
  packages/mobile/src/transactions/TransactionFeed.tsx
  packages/mobile/src/transactions/TransferFeedItem.tsx
Due: mobile

QR scan check bounce
  packages/mobile/src/qrcode/QRScanner.tsx
  packages/mobile/src/qrcode/utils.ts
Due: mobile

[celotool] Cleanup genesis block generation (#988)
  .env
  .env.alfajores
  .env.alfajoresstaging
  .env.integration
  .env.integrationtesting
  .env.pilot
  .env.pilotstaging
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/generate_utils.ts
  packages/celotool/src/lib/genesis_constants.ts
Due: none

[celotool] Genesis block funds faucet accounts
  packages/celotool/src/lib/generate_utils.ts
Due: none

[protocol] Use migrationOverrides to set validators keys
  packages/celotool/src/cmds/deploy/initial/contracts.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/scripts/bash/migrate.sh
Due: protocol

[celotool/protocol] mint cUSD for faucet accounts
  packages/celotool/src/cmds/deploy/initial/contracts.ts
  packages/protocol/migrations/08_stabletoken.ts
  packages/protocol/migrationsConfig.js
Due: protocol

failing in CircleCI because timeout, setting to 20m
  .circleci/config.yml
Due: none

[Wallet] Exchange flow formatting fixes (#961)
  packages/mobile/src/components/AccountOverview.tsx
  packages/mobile/src/components/CurrencyDisplay.tsx
  packages/mobile/src/config.ts
  packages/mobile/src/escrow/ReclaimPaymentConfirmationCard.tsx
  packages/mobile/src/exchange/ExchangeConfirmationCard.test.tsx
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/exchange/ExchangeRate.test.tsx
  packages/mobile/src/exchange/ExchangeRate.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.test.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
  packages/mobile/src/exchange/__snapshots__/ExchangeConfirmationCard.test.tsx.snap
  packages/mobile/src/exchange/__snapshots__/ExchangeTradeScreen.test.tsx.snap
  packages/mobile/src/exchange/actions.ts
  packages/mobile/src/paymentRequest/NotificationAmount.tsx
  packages/mobile/src/paymentRequest/PaymentRequestBalance.tsx
  packages/mobile/src/send/SendAmount.tsx
  packages/mobile/src/transactions/ExchangeFeedItem.tsx
  packages/mobile/src/utils/currencyExchange.test.ts
  packages/mobile/src/utils/currencyExchange.ts
  packages/mobile/src/utils/formatting.test.ts
  packages/mobile/src/utils/formatting.ts
  packages/react-components/components/MoneyAmount.tsx
  packages/react-components/styles/fonts.tsx
  packages/utils/src/currencies.ts
Due: mobile

removing timeout
  .circleci/config.yml
Due: none

adding timeout
  .circleci/config.yml
Due: none

make the exchange tests have the right values
  packages/protocol/test/stability/exchange.ts
Due: protocol

Fix test
  packages/verification-pool-api/src/verification.ts
  packages/verification-pool-api/test/mocks.ts
Due: none

[utils] Add task, logger, future & async methods
  packages/utils/src/async.test.ts
  packages/utils/src/async.ts
  packages/utils/src/future.ts
  packages/utils/src/logger.ts
  packages/utils/src/task.test.ts
  packages/utils/src/task.ts
  packages/utils/tslint.json
Due: none

[contractKit] Remove MultiSig. Not being deployed
  packages/contractkit/src/base.ts
  packages/contractkit/src/web3-contract-cache.ts
Due: none

[contractKit] Add isListening & isSyncing
  packages/contractkit/src/kit.ts
Due: none

[contractKit] Add Block & Log Exlorers
  packages/contractkit/package.json
  packages/contractkit/src/explorer/base.ts
  packages/contractkit/src/explorer/block-explorer.ts
  packages/contractkit/src/explorer/log-explorer.ts
  packages/contractkit/src/types.d.ts
Due: none

[tx-metricx-exporter] Migrate to contractkit
  .prettierignore
  packages/transaction-metrics-exporter/.gitignore
  packages/transaction-metrics-exporter/package.json
  packages/transaction-metrics-exporter/src/blockchain.ts
  packages/transaction-metrics-exporter/src/index.ts
  packages/transaction-metrics-exporter/src/metrics.ts
  packages/transaction-metrics-exporter/tsconfig.json
  packages/transaction-metrics-exporter/tslint.json
Due: none

[contractkit] Debug Messages in Registry & Web3ContractCache
  packages/contractkit/src/address-registry.ts
  packages/contractkit/src/web3-contract-cache.ts
Due: none

[tx-metrics-expoter] Improve Dockerfile & k8s deployment
  dockerfiles/transaction-metrics-exporter/Dockerfile
  packages/helm-charts/transaction-metrics-exporter/templates/deployment.yaml
Due: none

[celotool] Move bls-utils to celo/utils
  packages/celotool/package.json
  packages/celotool/src/lib/generate_utils.ts
  packages/contractkit/driver.ts
  packages/protocol/migrations/16_elect_validators.ts
  packages/protocol/package.json
  packages/utils/package.json
  packages/utils/src/bls.ts
  yarn.lock
Due: protocol

Make NAm happy
  packages/contractkit/src/explorer/base.ts
  packages/contractkit/src/explorer/block-explorer.ts
  packages/contractkit/src/explorer/log-explorer.ts
Due: none

Catch error on main module
  packages/transaction-metrics-exporter/src/index.ts
Due: none

added a public method to LockedGold to check if an account exists
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/test/governance/bondeddeposits.ts
Due: protocol

Add README-dev.md (#989)
  README-dev.md
Due: none

Add Linux onboarding steps and a TOC to SETUP.md (#1004)
  SETUP.md
Due: none

Change to explicit false and fix tests
  packages/mobile/.env.pilot
  packages/mobile/.env.pilotstaging
  packages/mobile/.env.production
  packages/mobile/.env.test
  packages/mobile/__mocks__/react-native-config.ts
  packages/mobile/src/config.ts
Due: mobile

Pilot app config and ability to not show testnet banner (#1009)
  .env.pilot
  .env.pilotstaging
  packages/mobile/.env.alfajores
  packages/mobile/.env.integration
  packages/mobile/.env.pilot
  packages/mobile/.env.pilotstaging
  packages/mobile/.env.production
  packages/mobile/.env.test
  packages/mobile/.gitignore
  packages/mobile/__mocks__/react-native-config.ts
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/pilot/google-services.json.enc
  packages/mobile/android/app/src/pilot/res/mipmap-hdpi/ic_launcher.png
  packages/mobile/android/app/src/pilot/res/mipmap-mdpi/ic_launcher.png
  packages/mobile/android/app/src/pilot/res/mipmap-xhdpi/ic_launcher.png
  packages/mobile/android/app/src/pilot/res/mipmap-xxhdpi/ic_launcher.png
  packages/mobile/android/app/src/pilot/res/mipmap-xxxhdpi/ic_launcher.png
  packages/mobile/android/app/src/pilot/res/values/strings.xml
  packages/mobile/fastlane/Fastfile
  packages/mobile/fastlane/README.md
  packages/mobile/src/config.ts
  packages/mobile/src/home/WalletHome.tsx
  scripts/key_placer.sh
Due: mobile

Create a method to check the phrase validation
  packages/mobile/src/import/ImportWallet.tsx
Due: mobile

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
