Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

Point circle at branch
  .circleci/config.yml
Due: none

Add e2e test for validator ordering
  .circleci/config.yml
  packages/celotool/ci_test_validator_order.sh
  packages/celotool/src/e2e-tests/shuffle_tests.ts
  packages/celotool/src/e2e-tests/validator_order_tests.ts
Due: none

Change verbosity back to 4
  packages/celotool/src/e2e-tests/utils.ts
Due: none

More work
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/migrations/13_epoch_rewards.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/epochrewards.ts
Due: protocol

add star back before note
  packages/protocol/migrations/17_elect_validators.ts
Due: protocol

Unify to prefix messages for signatures in Attestations
  packages/contractkit/src/test-utils/ganache.setup.ts
  packages/protocol/contracts/common/Signatures.sol
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/lib/signing-utils.ts
  packages/protocol/test/identity/attestations.ts
  packages/utils/src/signatureUtils.test.ts
  packages/utils/src/signatureUtils.ts
Due: protocol

Changes
  packages/protocol/contracts/common/Signatures.sol
  packages/utils/src/signatureUtils.test.ts
Due: protocol

fix typo
  packages/protocol/migrations/17_elect_validators.ts
Due: protocol

yarn.lock
  packages/contractkit/package.json
  yarn.lock
Due: none

Fix registerValidatorGroup
  packages/protocol/migrations/19_elect_validators.ts
Due: protocol

Update governance end-to-end tests to work with changed precompile
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

Add temporary solidity-only getEpochNumber
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IValidators.sol
Due: protocol

Add types to blockchain-api
  packages/blockchain-api/package.json
  packages/blockchain-api/src/currencyConversion.ts
  packages/blockchain-api/src/schema.ts
  packages/utils/src/currencies.ts
Due: none

Read local currency from utils
  packages/mobile/src/localCurrency/consts.ts
Due: mobile

Add fiat exchange rate polling to notification service
  packages/notification-service/package.json
  packages/notification-service/src/config.ts
  packages/notification-service/src/currency/consts.ts
  packages/notification-service/src/currency/currencyQuery.ts
  packages/notification-service/src/exchange/exchangeQuery.ts
  packages/notification-service/src/firebase.ts
  packages/notification-service/src/index.ts
  packages/notification-service/src/polling.ts
  yarn.lock
Due: none

add Transcieve graphic
  packages/web/src/dev/Cover.tsx
  packages/web/src/dev/Transceive.tsx
Due: none

Fix imports and EUR bug
  packages/blockchain-api/src/currencyConversion.ts
  packages/blockchain-api/src/schema.ts
  packages/notification-service/package.json
  packages/notification-service/src/currency/consts.ts
  packages/notification-service/src/currency/currencyQuery.ts
  packages/notification-service/src/firebase.ts
  yarn.lock
Due: none

Fix tests
  packages/blockchain-api/test/currencyConversion.test.ts
  packages/mobile/src/localCurrency/actions.ts
  packages/mobile/src/localCurrency/consts.ts
  packages/mobile/src/localCurrency/hooks.ts
  packages/mobile/src/localCurrency/saga.ts
  packages/mobile/src/transactions/ExchangeFeedItem.tsx
  packages/notification-service/src/firebase.ts
Due: mobile

update geth image to celo-org/blockchain master
  .env
Due: none

Revert "Add an e2e shuffle test"
  packages/celotool/src/e2e-tests/shuffle_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
Due: none

add comments about proposer policy
  packages/celotool/src/lib/generate_utils.ts
Due: none

Fix tests
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

Return score
  packages/contractkit/src/wrappers/Validators.ts
Due: none

Readd line
  packages/protocol/lib/signing-utils.ts
Due: protocol

wip
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
  packages/helm-charts/testnet/values.yaml
Due: none

Update governance end-to-end tests to work with changed precompile (#1476)
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

Fix merge conflicts
  packages/protocol/contracts/identity/Attestations.sol
Due: protocol

Fix conflicts, deploy new version of alfajores
  .circleci/config.yml
  .env.alfajoresstaging
  packages/verification-pool-api/package.json
  yarn.lock
Due: none

Update alfajores tags and network id
  .env.alfajores
  dockerfiles/cli/Dockerfile
  packages/cli/start_geth.sh
  packages/docs/getting-started/running-a-full-node.md
  packages/docs/getting-started/running-a-validator.md
  packages/protocol/truffle-config.js
Due: protocol

Revert "[Helm] Updated the helm package to deploy the upgraded blockscout version (#1129)"
  .env
  .env.integration
  packages/celotool/src/lib/blockscout.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/helm-charts/blockscout/Chart.yaml
  packages/helm-charts/blockscout/templates/_helpers.tpl
  packages/helm-charts/blockscout/templates/blockscout-indexer.deployment.yaml
  packages/helm-charts/blockscout/templates/blockscout-migration.job.yaml
  packages/helm-charts/blockscout/templates/blockscout-web.deployment.yaml
  packages/helm-charts/blockscout/templates/blockscout.secret.yaml
  packages/helm-charts/blockscout/values.yaml
Due: none

Add natspecs
  packages/protocol/contracts/baklava/Freezable.sol
Due: protocol

Add comment
  packages/protocol/contracts/stability/Exchange.sol
Due: protocol

v0.0.28
  packages/cli/package.json
Due: none

v0.0.29
  packages/cli/package.json
Due: none

[Wallet] Upgrade app version to v1.5.1 (#1463)
  packages/mobile/README.md
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/main/assets/custom/LicenseDisclaimer.txt
  packages/mobile/android/gradle.properties
  packages/mobile/fastlane/Fastfile
  packages/mobile/fastlane/README.md
  packages/mobile/package.json
Due: mobile

Fix lockup
  packages/cli/src/commands/lockedgold/lockup.ts
Due: none

[Wallet] Remove QR debouncing to improve responsiveness
  packages/mobile/src/qrcode/QRScanner.tsx
  packages/mobile/src/send/saga.ts
Due: mobile

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
