Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

Unifying the uint256 parsing
  packages/protocol/contracts/common/UsingPrecompiles.sol
Due: protocol

Linter fixes
  packages/protocol/contracts/common/UsingPrecompiles.sol
Due: protocol

Fixes on typo in the constant
  packages/protocol/contracts/common/UsingPrecompiles.sol
Due: protocol

fix
  .circleci/config.yml
Due: none

added an util to calculate extra data for slashing voting gold
  packages/protocol/test/common/integration.ts
Due: protocol

cleanup
  packages/protocol/test/common/integration.ts
Due: protocol

Fix crash in release mode when navigating by upgrading react-native-gesture-handler
  packages/mobile/ios/Podfile.lock
  packages/mobile/package.json
  packages/verifier/package.json
  yarn.lock
Due: mobile

fixing
  .circleci/config.yml
Due: none

it was wrong to remove the 'or true'
  .circleci/config.yml
Due: none

do voting for a single voting bot account
  packages/celotool/src/cmds/bots/voting.ts
  packages/protocol/migrations/20_elect_validators.ts
Due: protocol

Update docs
  packages/cli/src/commands/account/unlock.ts
  packages/docs/command-line-interface/account.md
  packages/docs/command-line-interface/exchange.md
Due: none

Various CLI improvements (#2288)
  packages/cli/src/commands/account/unlock.ts
  packages/cli/src/commands/exchange/dollars.ts
  packages/cli/src/commands/exchange/gold.ts
  packages/docs/command-line-interface/account.md
  packages/docs/command-line-interface/exchange.md
Due: none

debug
  .circleci/config.yml
Due: none

Improvements from review
  packages/protocol/contracts/common/UsingPrecompiles.sol
Due: protocol

WIP
  packages/web/next.config.js
Due: none

cd-ing
  .circleci/config.yml
Due: none

Work in progress
  packages/celotool/src/e2e-tests/slashing_tests.ts
Due: none

print then check
  .circleci/config.yml
Due: none

collision in out.json
  .circleci/config.yml
Due: none

Improvements from review
  .circleci/config.yml
  packages/protocol/contracts/common/UsingPrecompiles.sol
Due: protocol

Fixing lint
  packages/protocol/test/governance/lockedgold.ts
Due: protocol

Update docs
  packages/docs/command-line-interface/validator.md
Due: none

Dynamically load carousel to reduce home page bundle Defer loading tracking
  packages/web/pages/_app.tsx
  packages/web/src/analytics/analytics.ts
  packages/web/src/header/CookieConsent.tsx
  packages/web/src/home/HomeCarousel.tsx
  packages/web/src/privacy/Privacy.tsx
Due: none

Deffer loading sentry
  packages/web/fullstack/sentry.ts
  packages/web/next.config.js
  packages/web/package.json
  packages/web/pages/_app.tsx
  packages/web/pages/_document.tsx
  packages/web/server/Announcement.ts
  packages/web/server/EventHelpers.ts
  packages/web/server/FirebaseServerSide.ts
  packages/web/server/addToCRM.ts
  packages/web/server/index.ts
  packages/web/server/mediumAPI.ts
  packages/web/server/sentry.ts
  packages/web/src/header/BlueBanner.tsx
  packages/web/src/header/CookieConsent.tsx
  packages/web/src/utils/sentry.ts
  yarn.lock
Due: none

Add validator:status --all (#2285)
  packages/cli/src/commands/validator/status.ts
  packages/docs/command-line-interface/validator.md
Due: none

fixed none-owner tests
  packages/protocol/test/common/multisig.ts
Due: protocol

numReqiuirements test canged
  packages/protocol/test/common/multisig.ts
Due: protocol

avoid reports becoming 0 length
  packages/protocol/contracts/stability/SortedOracles.sol
Due: protocol

e2e testing
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/contractkit/src/base.ts
  packages/contractkit/src/web3-contract-cache.ts
  packages/protocol/scripts/build.ts
Due: protocol

still need to check group slashing
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/SlasherUtil.sol
Due: protocol

hmm
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

debugging
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/SlasherUtil.sol
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

slowww
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/protocol/contracts/governance/SlasherUtil.sol
Due: protocol

finally working?
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

seems to work
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

downtime test
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/protocol/contracts/governance/DowntimeSlasher.sol
Due: protocol

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
