Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

Remove space to trigger build
  packages/mobile/README.md
Due: mobile

Fix build errors from ts upgrade
  packages/celotool/src/cmds/deploy/upgrade/all.ts
  packages/celotool/src/cmds/deploy/upgrade/blockscout.ts
Due: none

[Wallet] New exchange trade screen and fix ts build in celotool (#2167)
  packages/celotool/src/cmds/deploy/upgrade/all.ts
  packages/celotool/src/cmds/deploy/upgrade/blockscout.ts
  packages/mobile/locales/en-US/exchangeFlow9.json
  packages/mobile/locales/es-419/exchangeFlow9.json
  packages/mobile/src/account/__snapshots__/InviteReview.test.tsx.snap
  packages/mobile/src/components/FeeIcon.test.tsx
  packages/mobile/src/components/FeeIcon.tsx
  packages/mobile/src/components/Field.test.tsx
  packages/mobile/src/components/Field.tsx
  packages/mobile/src/components/__snapshots__/FeeIcon.test.tsx.snap
  packages/mobile/src/components/__snapshots__/Field.test.tsx.snap
  packages/mobile/src/escrow/ReclaimPaymentConfirmationCard.tsx
  packages/mobile/src/escrow/__snapshots__/ReclaimPaymentConfirmationCard.test.tsx.snap
  packages/mobile/src/escrow/__snapshots__/ReclaimPaymentConfirmationScreen.test.tsx.snap
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/exchange/ExchangeHomeScreen.tsx
  packages/mobile/src/exchange/ExchangeReview.test.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.test.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
  packages/mobile/src/exchange/FeeExchangeEducation.tsx
  packages/mobile/src/exchange/FeeExchangeIcon.tsx
  packages/mobile/src/exchange/__snapshots__/ExchangeConfirmationCard.test.tsx.snap
  packages/mobile/src/exchange/__snapshots__/ExchangeReview.test.tsx.snap
  packages/mobile/src/exchange/__snapshots__/ExchangeTradeScreen.test.tsx.snap
  packages/mobile/src/exchange/__snapshots__/FeeExchangeEducation.test.tsx.snap
  packages/mobile/src/exchange/actions.ts
  packages/mobile/src/exchange/saga.ts
  packages/mobile/src/icons/InfoIcon.tsx
  packages/mobile/src/images/info-grey.png
  packages/mobile/src/navigator/Headers.tsx
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/send/FeeIcon.tsx
  packages/mobile/src/send/TransferReviewCard.tsx
  packages/mobile/src/send/__snapshots__/SendConfirmation.test.tsx.snap
  packages/mobile/src/send/__snapshots__/TransferReviewCard.test.tsx.snap
  packages/mobile/src/tokens/saga.ts
  packages/mobile/src/utils/currencyExchange.ts
Due: mobile

WIP
  packages/mobile/src/home/TransactionsList.tsx
  packages/mobile/src/transactions/saga.ts
Due: mobile

Clean up logging
  packages/protocol/migrations/20_elect_validators.ts
Due: protocol

Rename transactionFilter to better describe its use
  packages/mobile/src/transactions/TransactionFeed.tsx
Due: mobile

Fix Type Issues
  packages/web/pages/_document.tsx
  packages/web/src/community/connect/CodeOfConduct.tsx
  packages/web/src/community/connect/CoverArea.tsx
  packages/web/src/community/connect/FullCircle.tsx
  packages/web/src/community/connect/QuarterCircle.tsx
  packages/web/src/community/connect/Sweep.tsx
  packages/web/src/dev/Phone.tsx
  packages/web/src/join/Benefits.tsx
  packages/web/src/join/Rise.tsx
  packages/web/src/join/ThreePillars.tsx
  packages/web/src/react-native-aug.d.ts
  packages/web/src/shared/HollowOval.tsx
  packages/web/src/shared/OvalCoin.tsx
Due: none

Remove validator migration hacks (#2262)
  packages/protocol/migrations/20_elect_validators.ts
  packages/protocol/scripts/bash/init_network.sh
Due: protocol

Fix exchange wei round
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/saga.ts
  packages/mobile/src/transactions/TransactionFeed.tsx
Due: mobile

Remove debugging statements
  packages/mobile/src/home/TransactionsList.tsx
  packages/mobile/src/send/SendConfirmation.tsx
  packages/mobile/src/send/saga.ts
  packages/mobile/src/transactions/TransactionFeed.tsx
  packages/mobile/src/transactions/saga.ts
Due: mobile

Revert .env and remove logging
  packages/mobile/.env
  packages/mobile/src/exchange/saga.ts
Due: mobile

Add Activity
  packages/mobile/src/exchange/Activity.tsx
Due: mobile

Fix validatorgroup:list bug by not fetching unneeded info (#2257)
  packages/contractkit/src/wrappers/Validators.ts
Due: none

Fix web build
  packages/web/pages/_document.tsx
  packages/web/src/brandkit/KeyImagery.tsx
  packages/web/src/brandkit/Typography.tsx
  packages/web/src/brandkit/color/Pigment.tsx
  packages/web/src/brandkit/common/MobileMenu.tsx
  packages/web/src/brandkit/common/Page.tsx
  packages/web/src/brandkit/logo/Minimums.tsx
  packages/web/src/dev/LeaderBoardApp.tsx
  packages/web/src/fauceting/PhoneInput.tsx
  packages/web/src/shared/Button.3.tsx
  packages/web/src/shared/FlowerCoin.tsx
Due: none

[Wallet] Fix non integer wei issue in exchange (#2277)
  packages/mobile/src/exchange/Activity.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/saga.ts
  packages/mobile/src/transactions/TransactionFeed.tsx
Due: mobile

Fix rise animation
  packages/web/src/join/Rise.tsx
Due: none

Fix protocol unit tests
  packages/protocol/test/governance/validators.ts
  packages/protocol/test/stability/reserve.ts
Due: protocol

Fix contractkit tests
  packages/contractkit/src/wrappers/Validators.test.ts
Due: none

Stop running broken end-to-end mobile test (#2096)
  .circleci/config.yml
Due: none

checking that the block has enough signers
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/test/SlashingTestUtils.sol
  packages/protocol/contracts/governance/test/TestDoubleSigningSlasher.sol
  packages/protocol/test/governance/double_signing_slasher.ts
Due: protocol

added downtime slasher
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/DowntimeSlasher.sol
  packages/protocol/contracts/governance/proxies/DowntimeSlasherProxy.sol
  packages/protocol/contracts/governance/test/SlashingTestUtils.sol
  packages/protocol/contracts/governance/test/TestDowntimeSlasher.sol
  packages/protocol/migrations/21_downtime_slasher.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/downtime_slasher.ts
Due: protocol

lint
  packages/protocol/test/governance/downtime_slasher.ts
Due: protocol

Fix/block gas limit exceeded #2 (#2263)
  packages/protocol/lib/web3-utils.ts
Due: protocol

mock validator
  packages/protocol/contracts/governance/test/MockValidators.sol
Due: protocol

Fix wrong type for comment key (#2250)
  packages/mobile/src/identity/commentKey.ts
  packages/mobile/src/identity/verification.test.ts
  packages/mobile/src/identity/verification.ts
Due: mobile

just run on Accounts until lockedgold is solved
  .circleci/config.yml
  packages/protocol/specs/AccountsExpected.json
Due: protocol

Upgrade detox
  packages/mobile/.env.test
  packages/mobile/package.json
  yarn.lock
Due: mobile

Adapting the script to the last documentation changes (#2241)
  scripts/run-docker-validator-network.sh
  scripts/validator-config.rc
Due: none

parallelize verifying accounts
  packages/cli/src/commands/account/show-claimed-accounts.ts
Due: none

Remove import screen from onboarding flow
  packages/mobile/src/app/saga.ts
  packages/mobile/src/import/saga.ts
  packages/mobile/src/invite/EnterInviteCode.tsx
  packages/mobile/src/navigator/Navigator.tsx
Due: mobile

lint
  packages/cli/src/commands/account/show-claimed-accounts.ts
Due: none

- fix static enodes loading - add verbose flag - optimize logging
  packages/celotool/src/cmds/geth/start.ts
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/lib/geth.ts
Due: none

get group capacities and eligibility
  packages/celotool/src/cmds/bots/voting.ts
Due: none

Adding more tests submitting for review
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/migrations/12_validators.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/validators.ts
Due: protocol

Adding fns and some tests
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/test/governance/validators.ts
Due: protocol

Adding slashingMultiplier usage for reward calculation
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IValidators.sol
  packages/protocol/contracts/governance/test/MockValidators.sol
  packages/protocol/runTests.js
  packages/protocol/truffle-config.js
Due: protocol

Adding comments
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

Fixing lint
  packages/protocol/test/governance/validators.ts
Due: protocol

Changing many to , using safemath, style
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/test/governance/validators.ts
Due: protocol

Changing all names to reflect rather than
  packages/protocol/migrations/12_validators.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/validators.ts
Due: protocol

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
