Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

REQUEST from LEGAL (Brynly)
  packages/web/static/locales/en/about.json
Due: none

Add comments
  packages/celotool/src/cmds/account/verify.ts
  packages/contractkit/src/wrappers/Attestations.ts
  packages/contractkit/types/web3-utils.d.ts
  packages/utils/src/collections.ts
Due: none

generic. Message
  packages/web/static/locales/en/faucet.json
Due: none

Revert changes bc we are no longer down that path
  packages/web/package.json
  packages/web/tsconfig.json
Due: none

better placeholder
  packages/web/src/fauceting/PhoneInput.tsx
  packages/web/static/locales/en/faucet.json
Due: none

Allow specify block period in genesis and istanbul timeout in genesis and cmdline
  .env
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/generate_utils.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Due: none

Shuffle elected validators using block randomness
  packages/protocol/contracts/identity/test/MockRandom.sol
Due: protocol

Fix linting errors
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/Proposals.sol
  packages/protocol/migrations/15_governance.ts
Due: protocol

Missed files
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/test/governance/validators.ts
Due: protocol

Add infura-like ingress
  packages/helm-charts/testnet/templates/infura.ingress.yaml
Due: none

added test for isDelegate
  packages/protocol/test/governance/bondeddeposits.ts
Due: protocol

added a storage variable to keep track of total number of votes
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/migrations/11_validators.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/scripts/devchain.ts
  packages/protocol/test/governance/validators.ts
Due: protocol

added limit for members in validator group
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

changed path
  packages/protocol/test/governance/validators.ts
Due: protocol

added test
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/test/governance/validators.ts
Due: protocol

typescript changes QRGen code
  packages/mobile/src/index.d.ts
  packages/mobile/src/qrcode/QRGen.tsx
Due: mobile

[cli] Check if node is synced (#942)
  packages/cli/src/base.ts
  packages/cli/src/commands/account/new.ts
  packages/cli/src/commands/account/transferdollar.ts
  packages/cli/src/commands/config/get.ts
  packages/cli/src/commands/config/set.ts
  packages/cli/src/commands/node/accounts.ts
  packages/cli/src/commands/node/synced.ts
  packages/cli/src/utils/helpers.ts
  packages/docs/command-line-interface/node.md
Due: none

typescript fixes qrGen
  packages/mobile/src/qrcode/QRGen.tsx
Due: mobile

the initial value has to be set in the initializer
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

update test snapshot QRCode
  packages/mobile/src/qrcode/__snapshots__/QRCode.test.tsx.snap
Due: mobile

Use correct geth node dir everywhere
  packages/mobile/src/geth/geth.ts
Due: mobile

Put back typo to fix protocol test
  packages/protocol/truffle.js
Due: protocol

fix solc warnings
  packages/protocol/README.md
  packages/protocol/contracts/common/test/FixidityTest.sol
  packages/protocol/contracts/governance/LockedGold.sol
Due: protocol

Restore using web3 ipc provider on Android
  packages/mobile/src/web3/contracts.ts
Due: mobile

adding a command to print network parameters
  packages/cli/src/commands/network/parameters.ts
  packages/cli/src/utils/cli.ts
  packages/contractkit/src/contract-cache.ts
  packages/contractkit/src/wrappers/Attestations.ts
  packages/contractkit/src/wrappers/Exchange.ts
  packages/contractkit/src/wrappers/Validators.ts
Due: none

added some wrappers
  packages/cli/src/commands/network/parameters.ts
  packages/contractkit/src/contract-cache.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/contractkit/src/wrappers/Reserve.ts
  packages/contractkit/src/wrappers/SortedOracles.ts
Due: none

still need to work on formatting
  packages/cli/src/commands/network/parameters.ts
  packages/contractkit/src/contract-cache.ts
  packages/contractkit/src/wrappers/GasPriceMinimum.ts
Due: none

Add back eco fund
  packages/web/src/community/connect/ConnectPage.tsx
Due: none

order imports
  packages/web/src/community/connect/Events.tsx
Due: none

[TxMetricsExpoter] Migrate to contractkit (#887)
  .prettierignore
  dockerfiles/transaction-metrics-exporter/Dockerfile
  packages/celotool/package.json
  packages/celotool/src/lib/generate_utils.ts
  packages/contractkit/driver.ts
  packages/contractkit/package.json
  packages/contractkit/src/address-registry.ts
  packages/contractkit/src/base.ts
  packages/contractkit/src/explorer/base.ts
  packages/contractkit/src/explorer/block-explorer.ts
  packages/contractkit/src/explorer/log-explorer.ts
  packages/contractkit/src/kit.ts
  packages/contractkit/src/types.d.ts
  packages/contractkit/src/web3-contract-cache.ts
  packages/helm-charts/transaction-metrics-exporter/templates/deployment.yaml
  packages/protocol/migrations/16_elect_validators.ts
  packages/protocol/package.json
  packages/transaction-metrics-exporter/.gitignore
  packages/transaction-metrics-exporter/package.json
  packages/transaction-metrics-exporter/src/blockchain.ts
  packages/transaction-metrics-exporter/src/index.ts
  packages/transaction-metrics-exporter/src/metrics.ts
  packages/transaction-metrics-exporter/tsconfig.json
  packages/transaction-metrics-exporter/tslint.json
  packages/utils/package.json
  packages/utils/src/async.test.ts
  packages/utils/src/async.ts
  packages/utils/src/bls.ts
  packages/utils/src/future.ts
  packages/utils/src/logger.ts
  packages/utils/src/task.test.ts
  packages/utils/src/task.ts
  yarn.lock
Due: protocol

Add infura-like ingress (#1034)
  packages/helm-charts/testnet/templates/infura.ingress.yaml
Due: none

added autogenerated documentation
  packages/docs/command-line-interface/network.md
Due: none

fixed lint errors
  packages/contractkit/src/contract-cache.ts
  packages/contractkit/src/wrappers/Attestations.ts
  packages/contractkit/src/wrappers/Exchange.ts
  packages/contractkit/src/wrappers/Validators.ts
Due: none

UI work done
  packages/mobile/locales/en-US/global.json
  packages/mobile/locales/en-US/nuxNamePin1.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/src/account/actions.ts
  packages/mobile/src/account/saga.ts
  packages/mobile/src/app/saga.ts
  packages/mobile/src/invite/JoinCelo.tsx
  packages/mobile/src/pincode/PincodeEducation.tsx
  packages/mobile/src/pincode/PincodeSet.tsx
  packages/mobile/src/pincode/PincodeTextbox.tsx
  packages/mobile/src/pincode/PincodeUtils.android.ts
  packages/mobile/src/pincode/PincodeUtils.ios.ts
  packages/react-components/components/NumberKeypad.tsx
  packages/react-components/icons/Backspace.tsx
Due: mobile

fixes for the testnet stateful sets
  packages/helm-charts/testnet/templates/txnode.statefulset.yaml
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Due: none

Update test and add canvas mock for Lottie
  packages/web/jest.config.js
  packages/web/package.json
  packages/web/src/dev/__snapshots__/StackSection.test.tsx.snap
  packages/web/src/shared/Button.3.tsx
  packages/web/src/shared/Spinner.tsx
  yarn.lock
Due: none

fixes for the testnet stateful sets (#1049)
  packages/helm-charts/testnet/templates/txnode.statefulset.yaml
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Due: none

Remove locales as website is now just in English
  packages/web/src/i18n.ts
  packages/web/static/locales/de/about.json
  packages/web/static/locales/de/applications.json
  packages/web/static/locales/de/common.json
  packages/web/static/locales/de/community.json
  packages/web/static/locales/de/home.json
  packages/web/static/locales/de/jobs.json
  packages/web/static/locales/de/technology.json
  packages/web/static/locales/es/about.json
  packages/web/static/locales/es/applications.json
  packages/web/static/locales/es/common.json
  packages/web/static/locales/es/community.json
  packages/web/static/locales/es/home.json
  packages/web/static/locales/es/jobs.json
  packages/web/static/locales/es/technology.json
  packages/web/static/locales/zh/about.json
  packages/web/static/locales/zh/applications.json
  packages/web/static/locales/zh/common.json
  packages/web/static/locales/zh/community.json
  packages/web/static/locales/zh/home.json
  packages/web/static/locales/zh/jobs.json
  packages/web/static/locales/zh/technology.json
Due: none

Oops missed this one
  packages/web/src/i18n.ts
Due: none

Fix backup key scrolling
  packages/mobile/android/gradle.properties
  packages/mobile/src/backup/BackupPhrase.tsx
Due: mobile
