Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

Add word "Venture" to ecofund name (#949)
  packages/web/static/locales/en/community.json
Due: none

Reimplement Fixidity division (#1030)
  packages/protocol/contracts/common/FixidityLib.sol
  packages/protocol/test/common/fixidity.ts
Due: protocol

remove ts ignores
  packages/web/server/airtable.ts
  packages/web/server/index.ts
Due: none

Use address equality helper
  packages/cli/src/commands/account/isvalidator.ts
Due: none

Todo is done
  packages/web/src/shared/Button.3.tsx
Due: none

Add CLI command to check if address is a validator (#1028)
  packages/cli/src/commands/account/isvalidator.ts
  packages/contractkit/src/wrappers/Validators.ts
Due: none

jean style update
  packages/web/jest.config.js
Due: none

changes to new e2e file organization
  packages/celotool/ci_test_celo_dollar_gas_currency.sh
  packages/celotool/src/e2e-tests/celo_dollar_gas_currency_tests.ts
Due: none

Add command to output validator set
  packages/cli/src/commands/validatorset.ts
Due: none

Add ability to do local signing
  packages/contractkit/src/kit.ts
  packages/contractkit/src/providers/celo-private-keys-subprovider.ts
  packages/contractkit/src/providers/celo-provider.ts
  packages/contractkit/src/providers/wrapping-subprovider.ts
  packages/contractkit/src/utils/tx-signing.test.ts
  packages/contractkit/src/utils/tx-signing.ts
  packages/contractkit/src/utils/web3-utils.ts
Due: none

cleanup, fix send(), typings
  packages/contractkit/src/providers/celo-private-keys-subprovider.ts
  packages/contractkit/src/providers/celo-provider.ts
  packages/contractkit/src/providers/wrapping-subprovider.ts
Due: none

Close underlying providers
  packages/contractkit/src/providers/celo-provider.ts
  packages/contractkit/src/test-utils/ganache.setup.ts
Due: none

[WIP][ContractKit]Add ability to do local signing (#798)
  packages/contractkit/src/kit.ts
  packages/contractkit/src/providers/celo-private-keys-subprovider.ts
  packages/contractkit/src/providers/celo-provider.ts
  packages/contractkit/src/providers/wrapping-subprovider.ts
  packages/contractkit/src/test-utils/ganache.setup.ts
  packages/contractkit/src/utils/tx-signing.test.ts
  packages/contractkit/src/utils/tx-signing.ts
  packages/contractkit/src/utils/web3-utils.ts
Due: none

Most things that don't touch incentives
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

Trying to get things to compile
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/UsingLockedGold.sol
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

More work
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/UsingLockedGold.sol
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

Raise ganache and truffle gas limits
  packages/protocol/runTests.js
  packages/protocol/truffle.js
Due: protocol

Address review comments in tests
  packages/protocol/test/governance/validators.ts
Due: protocol

Simpler asserts in tests
  packages/protocol/test/governance/validators.ts
Due: protocol

fixed lint issues
  packages/celotool/src/e2e-tests/celo_dollar_gas_currency_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
Due: none

Update Podfile.lock
  packages/mobile/ios/Podfile.lock
Due: mobile

Use keychain on iOS
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
Due: mobile

improved the wrappers
  packages/cli/src/commands/network/parameters.ts
  packages/contractkit/src/kit.ts
  packages/contractkit/src/wrappers/Attestations.ts
  packages/contractkit/src/wrappers/Exchange.ts
  packages/contractkit/src/wrappers/GasPriceMinimum.ts
  packages/contractkit/src/wrappers/GoldTokenWrapper.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/contractkit/src/wrappers/Reserve.ts
  packages/contractkit/src/wrappers/SortedOracles.ts
  packages/contractkit/src/wrappers/StableTokenWrapper.ts
  packages/contractkit/src/wrappers/Validators.ts
Due: none

Implement opening sms app on iOS
  packages/mobile/src/invite/EnterInviteCode.tsx
Due: mobile

fixed lint errors
  packages/contractkit/src/kit.ts
  packages/contractkit/src/wrappers/Attestations.ts
  packages/contractkit/src/wrappers/Exchange.ts
  packages/contractkit/src/wrappers/GasPriceMinimum.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/contractkit/src/wrappers/Reserve.ts
  packages/contractkit/src/wrappers/SortedOracles.ts
  packages/contractkit/src/wrappers/StableTokenWrapper.ts
  packages/contractkit/src/wrappers/Validators.ts
Due: none

Replacements for SendIntentAndroid on iOS
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/notifications/EscrowedPaymentReminderNotification.tsx
Due: mobile

Add sendAndWaitForReceipt
  packages/celotool/src/cmds/account/verify.ts
  packages/contractkit/src/wrappers/BaseWrapper.ts
Due: none

PR comments
  packages/contractkit/src/wrappers/Attestations.ts
Due: none

fixing e2e transfer test with new gas estimates
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

adding details about how to execute this e2e test in local
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

fix client-log-exported.py dataflow script
  packages/analytics/README.md
  packages/analytics/client_log_exporter.py
  packages/analytics/t.py
Due: none

remove stale file
  packages/analytics/t.py
Due: none

Fix store version
  packages/mobile/src/redux/store.ts
Due: mobile

Use latest react-native-geth improvements
  packages/mobile/package.json
  yarn.lock
Due: mobile

add delegation of voting, validating and rewards
  packages/cli/src/commands/lockedgold/delegate.ts
  packages/cli/src/commands/lockedgold/list.ts
  packages/cli/src/commands/lockedgold/rewards.ts
  packages/contractkit/src/base.ts
  packages/contractkit/src/index.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/docs/command-line-interface/lockedgold.md
  packages/protocol/contracts/governance/LockedGold.sol
Due: protocol

Update docs
  packages/docs/command-line-interface/account.md
Due: none

fixing accounts doc issue
  packages/docs/command-line-interface/account.md
Due: none

Update CLI docs (#1056)
  packages/docs/command-line-interface/account.md
Due: none

moving isContract check to _setImplementation
  packages/protocol/contracts/common/Proxy.sol
Due: protocol

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
