Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

CI: changes attestations tests to work against the temp branch
  .circleci/config.yml
Due: none

Uses latest bls12377js
  packages/celotool/package.json
  packages/protocol/package.json
  yarn.lock
Due: protocol

Fix compile error during local clean build (#1506)
  packages/notification-service/src/blockscout/decode.ts
Due: none

increase timeout to add buffer
  packages/celotool/src/e2e-tests/validator_order_tests.ts
Due: none

Simplify interface
  packages/contractkit/src/utils/signing.test.ts
  packages/protocol/lib/signing-utils.ts
  packages/protocol/test/identity/escrow.ts
  packages/utils/src/signatureUtils.ts
Due: protocol

wip
  packages/helm-charts/load-test/templates/statefulset.yaml
Due: none

Add IOS URL
  packages/faucet/src/database-helper.ts
Due: none

remove timeout
  packages/celotool/src/e2e-tests/validator_order_tests.ts
Due: none

Add iOS URL and update copy
  packages/web/src/shared/menu-items.ts
  packages/web/static/locales/en/faucet.json
Due: none

Update firebase version
  packages/cli/package.json
  packages/faucet/package.json
  packages/notification-service/package.json
  packages/verification-pool-api/package.json
  packages/web/package.json
  yarn.lock
Due: none

Fix lint
  packages/attestation-service/src/db.ts
Due: none

Type hashMessage
  packages/utils/src/signatureUtils.ts
Due: none

Revert "remove timeout"
  packages/celotool/src/e2e-tests/validator_order_tests.ts
Due: none

Wait 2 seconds before running animation
  packages/web/src/dev/Transceive.tsx
Due: none

Rename infura references to forno
  packages/attestation-service/config/.env.development
  packages/blockchain-api/.env
  packages/blockchain-api/app.alfajores.yaml
  packages/blockchain-api/app.alfajoresstaging.yaml
  packages/blockchain-api/app.integration.yaml
  packages/blockchain-api/app.pilot.yaml
  packages/blockchain-api/app.pilotstaging.yaml
  packages/contractkit/README.md
  packages/dappkit/README.md
  packages/docs/developer-resources/contractkit/setup.md
  packages/docs/developer-resources/dappkit/usage.md
  packages/helm-charts/attestation-service/templates/attestation.statefulset.yaml
  packages/mobile/README.md
  packages/mobile/src/config.ts
  packages/mobile/src/transactions/send.ts
  packages/mobile/src/web3/contracts.ts
  packages/notification-service/config/config.integration.env
  packages/notification-service/config/config.local.env
  packages/notification-service/config/config.test.env
  packages/verification-pool-api/src/config.ts
  packages/walletkit/src/contract-utils.ts
Due: mobile

Edit startup
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/ssl-startup.sh
Due: none

Use better cloud build machine type
  cloudbuild.yaml
Due: none

remove CK and protocol
  dockerfiles/transaction-metrics-exporter/Dockerfile
Due: none

Fix faucet deploy
  package.json
  packages/faucet/package.json
  yarn.lock
Due: none

Update web config
  packages/web/env-config.js.enc
Due: none

The great celo stake off
  packages/web/src/dev/Cover.tsx
  packages/web/src/dev/bakeoff.png
  packages/web/static/locales/en/dev.json
Due: none

remove dependency on contractkit
  packages/celotool/src/e2e-tests/validator_order_tests.ts
Due: none

fix references to contyractkit
  packages/celotool/src/e2e-tests/validator_order_tests.ts
Due: none

Catch errors while faulting
  packages/web/server/controllers.ts
Due: none

Fix faucet
  .env.alfajores
  packages/faucet/README.md
  packages/web/src/fauceting/RequestFunds.tsx
  packages/web/src/shared/Button.3.tsx
Due: none

MobileOS will be null for faucet requests, dont add to firebase if it is null
  packages/faucet/database-rules.bolt
  packages/web/server/FirebaseServerSide.ts
Due: none

increase circle ci machine size to avoid oom
  .circleci/config.yml
Due: none

Remove ContractKit/Protocol building from Transaction Metrics Exporter Docker Image (#1513)
  dockerfiles/transaction-metrics-exporter/Dockerfile
Due: none

Change long and awkward copy
  packages/web/static/locales/en/faucet.json
Due: none

Remove android icon as we are duel OS now
  packages/web/src/dev/Cover.tsx
Due: none

fix typo
  packages/protocol/lib/web3-utils.ts
Due: protocol

E2E test of validator ordering (#1472)
  .circleci/config.yml
  packages/celotool/ci_test_validator_order.sh
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/e2e-tests/validator_order_tests.ts
Due: none

Move to forno terminology (#1507)
  packages/helm-charts/testnet/templates/forno.ingress.yaml
Due: none

That sweet baking
  packages/web/src/dev/Cover.tsx
  packages/web/static/locales/en/dev.json
Due: none

Get working with debian-based docker container
  packages/terraform-modules/testnet/modules/bootnode/startup.sh
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/main.tf
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/ssl-cloud-init-old.yaml.tmpl
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/ssl-cloud-init.yaml.tmpl
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/ssl-startup.sh
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/variables.tf
  packages/terraform-modules/testnet/modules/tx-node/startup.sh
  packages/terraform-modules/testnet/modules/validator/startup.sh
Due: none

Added verify-contracts celotool command
  .env
  packages/celotool/src/cmds/deploy/initial/verify-contracts.ts
  packages/protocol/package.json
  packages/protocol/scripts/bash/verify_contracts.sh
  yarn.lock
Due: protocol

Fix imports after RN upgrade
  packages/mobile/src/utils/keyStore.ts
  packages/mobile/src/web3/saga.ts
Due: mobile

Change android play store description copy to match ios (#1495)
  packages/mobile/fastlane/metadata/android/en-US/full_description.txt
  packages/mobile/fastlane/metadata/android/es-419/full_description.txt
  packages/mobile/locales/en-US/accountScreen10.json
  packages/mobile/locales/en-US/nuxNamePin1.json
  packages/mobile/locales/en-US/walletFlow5.json
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/locales/es-419/nuxNamePin1.json
  packages/mobile/locales/es-419/walletFlow5.json
  packages/mobile/src/home/WalletHome.tsx
  packages/mobile/src/invite/EnterInviteCode.tsx
Due: mobile

Added hprof to .gitignore and re-aranged it
  packages/mobile/.gitignore
  packages/mobile/android/.gitignore
  packages/mobile/ios/.gitignore
Due: mobile

Added hprof to .gitignore and re-aranged it (#1529)
  packages/mobile/.gitignore
  packages/mobile/android/.gitignore
  packages/mobile/ios/.gitignore
Due: mobile

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
