Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

trying to change image to have java
  .circleci/config.yml
Due: none

Progress on social import
  packages/mobile/locales/en-US/backupKeyFlow6.json
  packages/mobile/locales/en-US/nuxNamePin1.json
  packages/mobile/locales/en-US/nuxRestoreWallet3.json
  packages/mobile/locales/es-419/backupKeyFlow6.json
  packages/mobile/locales/es-419/nuxNamePin1.json
  packages/mobile/src/backup/BackupPhrase.tsx
  packages/mobile/src/backup/BackupPhraseContainer.test.tsx
  packages/mobile/src/backup/BackupPhraseContainer.tsx
  packages/mobile/src/backup/BackupSocial.tsx
  packages/mobile/src/backup/utils.ts
  packages/mobile/src/import/ImportWallet.tsx
  packages/mobile/src/import/ImportWalletEmpty.tsx
  packages/mobile/src/import/ImportWalletSocial.tsx
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/Screens.tsx
  packages/react-components/components/TextInput.tsx
  packages/react-components/components/WithTextInputPasteAware.tsx
  packages/react-components/icons/Paste.tsx
Due: mobile

Fix end-to-end transfer tests
  packages/celotool/src/e2e-tests/utils.ts
  packages/protocol/contracts/stability/StableToken.sol
Due: protocol

Fix protocol tests
  packages/protocol/test/governance/election.ts
  packages/protocol/test/governance/governance.ts
  packages/protocol/test/governance/validators.ts
Due: protocol

Fix contractkit wrappers
  packages/contractkit/src/base.ts
  packages/contractkit/src/contract-cache.ts
  packages/contractkit/src/web3-contract-cache.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/contractkit/src/wrappers/Validators.test.ts
  packages/protocol/migrations/10_accounts.ts
  packages/protocol/migrations/11_lockedgold.ts
  packages/protocol/migrations/12_validators.ts
  packages/protocol/migrations/13_election.ts
  packages/protocol/migrations/14_random.ts
  packages/protocol/migrations/15_attestations.ts
  packages/protocol/migrations/16_escrow.ts
  packages/protocol/migrations/17_blockchainparams.ts
  packages/protocol/migrations/18_elect_validators.ts
Due: protocol

Add Accounts Wrapper
  packages/contractkit/src/wrappers/Accounts.ts
Due: none

Add Accounts to protocol build
  packages/protocol/scripts/build.ts
Due: protocol

Fix tests
  packages/contractkit/README.md
  packages/protocol/contracts/common/proxies/AccountsProxy.sol
  packages/protocol/migrations/18_governance.ts
  packages/protocol/migrations/19_elect_validators.ts
Due: protocol

Fix CLI
  packages/cli/src/commands/account/authorize.ts
  packages/cli/src/commands/account/register.ts
  packages/docs/getting-started/running-a-validator.md
Due: none

lint
  packages/contractkit/src/wrappers/Accounts.ts
  packages/docs/command-line-interface/account.md
  packages/docs/command-line-interface/lockedgold.md
Due: none

trying to reset
  README-dev.md
  packages/mobile/README.md
Due: mobile

Move from Attestations to Accounts
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/common/interfaces/IAccounts.sol
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/interfaces/IAttestations.sol
  packages/protocol/test/common/accounts.ts
  packages/protocol/test/common/integration.ts
  packages/protocol/test/identity/attestations.ts
Due: protocol

Try to fix OOM error
  .circleci/config.yml
  packages/mobile/android/app/build.gradle
Due: mobile

Fix contractkit and migrations
  packages/contractkit/src/wrappers/Accounts.ts
  packages/contractkit/src/wrappers/Attestations.ts
  packages/protocol/migrations/15_attestations.ts
  packages/protocol/migrations/19_elect_validators.ts
  packages/protocol/test/common/accounts.ts
Due: protocol

Fix CLI
  packages/cli/src/commands/identity/get-metadata.ts
  packages/cli/src/commands/identity/register-metadata.ts
  packages/cli/src/commands/validator/register.ts
Due: none

Fix contractkit tests
  packages/cli/src/commands/validatorgroup/member.ts
  packages/contractkit/package.json
  packages/contractkit/src/wrappers/Validators.test.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/protocol/scripts/devchain.ts
Due: protocol

PR comments
  packages/contractkit/src/wrappers/Attestations.ts
  packages/protocol/contracts/common/SafeCastTest.sol
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/interfaces/IAttestations.sol
  packages/protocol/migrationsConfig.js
  packages/protocol/test/common/safecast.ts
  packages/protocol/test/identity/attestations.ts
Due: protocol

Fix Celotool
  packages/celotool/src/cmds/account/verify.ts
Due: none

Fix contract deploy
  packages/celotool/src/cmds/deploy/initial/contracts.ts
Due: none

fix: packages/notification-service/package.json to reduce vulnerabilities
  packages/notification-service/package.json
Due: none

Fix typos
  packages/mobile/src/account/Account.test.tsx
  packages/mobile/src/backup/BackupComplete.tsx
Due: mobile

Fix Account snapshot
  packages/mobile/src/account/__snapshots__/Account.test.tsx.snap
Due: mobile

Small updates to contracts fixing merge
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IValidators.sol
Due: protocol

I don't know how versioning works
  packages/contractkit/package.json
  yarn.lock
Due: none

bump version of contractkit
  packages/blockchain-api/package.json
  packages/celotool/package.json
  packages/contractkit/package.json
Due: none

Finish social import and related refactoring
  packages/mobile/locales/en-US/backupKeyFlow6.json
  packages/mobile/locales/en-US/nuxRestoreWallet3.json
  packages/mobile/locales/es-419/backupKeyFlow6.json
  packages/mobile/locales/es-419/nuxRestoreWallet3.json
  packages/mobile/src/account/__snapshots__/Account.test.tsx.snap
  packages/mobile/src/account/__snapshots__/EditProfile.test.tsx.snap
  packages/mobile/src/account/__snapshots__/Invite.test.tsx.snap
  packages/mobile/src/backup/BackupPhrase.tsx
  packages/mobile/src/backup/BackupPhraseContainer.test.tsx
  packages/mobile/src/backup/BackupPhraseContainer.tsx
  packages/mobile/src/backup/BackupSocial.tsx
  packages/mobile/src/backup/__snapshots__/BackupPhraseContainer.test.tsx.snap
  packages/mobile/src/backup/__snapshots__/BackupSocial.test.tsx.snap
  packages/mobile/src/backup/utils.test.ts
  packages/mobile/src/backup/utils.ts
  packages/mobile/src/import/ImportWallet.tsx
  packages/mobile/src/import/ImportWalletEmpty.test.tsx
  packages/mobile/src/import/ImportWalletEmpty.tsx
  packages/mobile/src/import/ImportWalletSocial.test.tsx
  packages/mobile/src/import/ImportWalletSocial.tsx
  packages/mobile/src/import/__snapshots__/ImportWalletEmpty.test.tsx.snap
  packages/mobile/src/import/__snapshots__/ImportWalletSocial.test.tsx.snap
  packages/mobile/src/import/actions.ts
  packages/mobile/src/import/reducer.ts
  packages/mobile/src/import/saga.test.ts
  packages/mobile/src/import/saga.ts
  packages/mobile/src/invite/__snapshots__/JoinCelo.test.tsx.snap
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/Screens.tsx
  packages/mobile/src/send/__snapshots__/SendAmount.test.tsx.snap
  packages/mobile/src/verify/__snapshots__/Verify.test.tsx.snap
  packages/mobile/test/schemas.ts
  packages/mobile/test/values.ts
  packages/react-components/components/WithTextInputPasteAware.tsx
Due: mobile

bumping the version isn't necessary
  packages/blockchain-api/package.json
  packages/celotool/package.json
  packages/contractkit/package.json
Due: none

Fix some snapshots
  packages/react-components/components/__snapshots__/PhoneNumberInput.test.tsx.snap
  packages/verifier/src/components/__snapshots__/PhoneNumberInput.test.tsx.snap
Due: none

cleanup messy merge
  packages/contractkit/src/test-utils/ganache.setup.ts
  packages/contractkit/src/test-utils/network-config.json
  packages/contractkit/src/wrappers/SortedOracles.test.ts
Due: none

Wallet home works
  packages/mobile/src/home/WalletHome.tsx
  packages/mobile/src/redux/reducers.ts
  packages/mobile/src/redux/sagas.ts
  packages/mobile/src/sentry/Sentry.ts
  packages/mobile/src/sentry/actions.ts
  packages/mobile/src/sentry/saga.ts
Due: mobile

pass in the oracle address to report from, rather than relying on kit.defaultAddress
  packages/contractkit/src/test-utils/ganache-test.ts
  packages/contractkit/src/test-utils/ganache.setup.ts
  packages/contractkit/src/wrappers/SortedOracles.test.ts
  packages/contractkit/src/wrappers/SortedOracles.ts
Due: none

writePaymentRequest is now a saga
  packages/mobile/src/firebase/actions.ts
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/firebase/saga.ts
  packages/mobile/src/home/WalletHome.tsx
  packages/mobile/src/paymentRequest/PaymentRequestConfirmation.tsx
Due: mobile

Fixed tests
  packages/mobile/src/firebase/firebase.test.ts
  packages/mobile/src/firebase/firebase.ts
Due: mobile

lint
  packages/mobile/src/paymentRequest/PaymentRequestConfirmation.tsx
Due: mobile

tests that the numerator/denominator division happens
  packages/contractkit/src/wrappers/SortedOracles.test.ts
  packages/contractkit/src/wrappers/SortedOracles.ts
Due: none

simplify test expectations - use expected string values
  packages/contractkit/src/wrappers/SortedOracles.test.ts
Due: none

cleanup some accidental changes
  packages/contractkit/src/driver.ts
  packages/protocol/scripts/python/exchange_rate_sim.py
Due: protocol

Get switch from geth to zerosync working (tested w exchange, only same app session
  packages/mobile/.env
  packages/mobile/src/web3/contracts.ts
  packages/mobile/src/web3/saga.ts
Due: mobile
