Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

Lint checks
  packages/mobile/src/account/saga.ts
Due: mobile

Conditional import + fix test TZ
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/main/java/org/celo/mobile/MainApplication.java
  packages/mobile/android/settings.gradle
  packages/mobile/react-native.config.js
  packages/verifier/src/components/TransactionReview/__snapshots__/VerificationReviewScreen.test.tsx.snap
Due: mobile

bulk phonehash support
  packages/mobile/package.json
  packages/mobile/src/identity/contactMapping.ts
  packages/mobile/src/identity/identity.ts
  packages/utils/src/identity.ts
  yarn.lock
Due: mobile

Try fixing mobile build
  patches/@react-native-community/cli-platform-android+3.0.0-alpha.2.patch
Due: none

pod install works
  packages/mobile/ios/Podfile.lock
Due: mobile

escrow fix
  packages/blockchain-api/src/schema.ts
  packages/mobile/locales/en-US/global.json
  packages/mobile/locales/en-US/receiveFlow8.json
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/locales/es-419/receiveFlow8.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/src/send/TransferConfirmationCard.test.tsx
  packages/mobile/src/send/__snapshots__/TransferConfirmationCard.test.tsx.snap
  packages/mobile/src/transactions/TransferFeedIcon.tsx
  packages/mobile/src/transactions/TransferFeedItem.tsx
  packages/mobile/src/transactions/actions.ts
  packages/mobile/src/transactions/reducer.ts
  packages/mobile/src/transactions/transferFeedUtils.ts
Due: mobile

escrow minor fix
  packages/blockchain-api/src/schema.ts
Due: none

remove stale test escrow
  packages/blockchain-api/test/blockscout.test.ts
Due: none

Add infura-like setup
  packages/celotool/src/cmds/deploy/initial/testnet.ts
  packages/celotool/src/cmds/deploy/upgrade/testnet.ts
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/terraform-modules/testnet/main.tf
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/main.tf
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/output.tf
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/variables.tf
  packages/terraform-modules/testnet/outputs.tf
  packages/terraform-modules/testnet/variables.tf
Due: none

Add vm fail check in testnet destroy, remove port 80 firewall rule
  packages/celotool/src/cmds/deploy/destroy/testnet.ts
  packages/terraform-modules/testnet/main.tf
Due: none

Ran terraform fmt
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/main.tf
Due: none

Add comment about the two instance groups
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/main.tf
Due: none

Change func name to get internal tx node lb
  packages/celotool/src/lib/blockscout.ts
  packages/celotool/src/lib/transaction-metrics-exporter.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
Due: none

Expose geth metrics from vm nodes
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/terraform-modules/testnet/main.tf
  packages/terraform-modules/testnet/modules/bootnode/main.tf
  packages/terraform-modules/testnet/modules/tx-node/main.tf
  packages/terraform-modules/testnet/modules/validator/main.tf
  packages/terraform-modules/testnet/modules/validator/startup.sh
  packages/terraform-modules/testnet/modules/validator/variables.tf
  packages/terraform-modules/testnet/variables.tf
Due: none

Create prom-to-sd pods to export vm geth metrics
  packages/celotool/src/cmds/deploy/destroy/vm-testnet.ts
  packages/celotool/src/cmds/deploy/initial/vm-testnet.ts
  packages/celotool/src/cmds/deploy/upgrade/vm-testnet.ts
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/prom-to-sd-utils.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/helm-charts/prometheus-to-sd/templates/deployment.yaml
  packages/helm-charts/prometheus-to-sd/values.yaml
  packages/terraform-modules/testnet/main.tf
  packages/terraform-modules/testnet/modules/tx-node/main.tf
  packages/terraform-modules/testnet/modules/tx-node/outputs.tf
  packages/terraform-modules/testnet/modules/tx-node/startup.sh
  packages/terraform-modules/testnet/modules/tx-node/variables.tf
  packages/terraform-modules/testnet/modules/validator/main.tf
  packages/terraform-modules/testnet/modules/validator/outputs.tf
  packages/terraform-modules/testnet/modules/validator/startup.sh
  packages/terraform-modules/testnet/outputs.tf
Due: none

Scale prom to sd exporters down and up, switch to cluster
  packages/celotool/src/cmds/deploy/destroy/vm-testnet.ts
  packages/celotool/src/cmds/deploy/initial/vm-testnet.ts
  packages/celotool/src/cmds/deploy/upgrade/vm-testnet.ts
  packages/celotool/src/lib/prom-to-sd-utils.ts
Due: none

WIP
  packages/mobile/src/firebase/firebase.test.ts
  packages/mobile/src/firebase/firebase.ts
Due: mobile

Use precompiles in Attestations directly
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/test/TestAttestations.sol
  packages/protocol/migrationsConfig.js
  packages/protocol/test/identity/attestations.ts
Due: protocol

[Wallet] Enable firebase on iOS (#1344)
  packages/mobile/.gitignore
  packages/mobile/ios/GoogleService-Info.plist.enc
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/ios/celo/AppDelegate.m
  patches/react-native-firebase+5.5.4.patch
  scripts/key_placer.sh
Due: mobile

Mobile e2e test script fix to kill the previously spawned servers
  packages/mobile/scripts/run_e2e.sh
  packages/mobile/scripts/unlock.sh
Due: mobile

add minVersion support to app version deprecated check
  packages/mobile/src/firebase/firebase.ts
Due: mobile

Fix Metadata registration during contract deploy (#1346)
  packages/celotool/src/cmds/deploy/initial/contracts.ts
  packages/cli/src/commands/identity/create-metadata.ts
  packages/contractkit/src/identity/metadata.ts
  packages/utils/src/async.ts
Due: none

Document use of test contract
  packages/protocol/contracts/identity/test/TestAttestations.sol
  packages/protocol/test/identity/attestations.ts
Due: protocol

fix firebase requirement deprecation check"
  packages/mobile/src/app/saga.ts
  packages/mobile/src/firebase/firebase.ts
Due: mobile

Add env upgrade to upgrade script as well:
  packages/celotool/src/cmds/deploy/upgrade/blockchain-api.ts
Due: none

Address comments
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/contractkit/src/wrappers/Validators.test.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/protocol/contracts/governance/Election.sol
Due: protocol

Call deploy initial in deploy upgrade
  packages/celotool/src/cmds/deploy/upgrade/blockchain-api.ts
Due: none

Move precompile usage to separate contract
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/test/TestAttestations.sol
Due: protocol

[wallet]Add documentation for ZeroSync mode
  packages/mobile/README.md
Due: mobile

Fix tests, linting
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/contractkit/src/wrappers/Validators.test.ts
  packages/contractkit/src/wrappers/Validators.ts
Due: none

Stop storing account in web3 keystore separately
  packages/mobile/src/web3/actions.ts
  packages/mobile/src/web3/reducer.ts
  packages/mobile/src/web3/saga.ts
Due: mobile

Remove zerosync logic
  packages/mobile/src/web3/saga.ts
  packages/mobile/src/web3/selectors.ts
  packages/mobile/test/schemas.ts
Due: mobile

Remove zerosync file
  packages/mobile/src/web3/zeroSync.ts
Due: mobile

[wallet]Add documentation for ZeroSync mode (#1361)
  packages/mobile/README.md
Due: mobile

Revert logic changes to save for diffrerent pr
  packages/mobile/.env
  packages/mobile/src/exchange/actions.ts
  packages/mobile/src/transactions/send.ts
  packages/mobile/src/web3/contracts.ts
  packages/mobile/src/web3/saga.test.ts
Due: mobile

Remove some unused styles
  packages/mobile/src/account/Analytics.tsx
  packages/mobile/src/account/CeloLite.tsx
  packages/mobile/src/account/EditProfile.tsx
  packages/mobile/src/account/Education.tsx
  packages/mobile/src/account/Invite.tsx
  packages/mobile/src/account/Profile.tsx
Due: mobile

Comment out celoLite settings for now
  packages/mobile/src/account/Account.tsx
Due: mobile

[wallet]Add more documentation on ZeroSync mode
  packages/mobile/README.md
Due: mobile
