Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

Update readme
  packages/earn-pilot-functions/README.md
Due: none

Add post request function, update figureEightConfirmation
  packages/earn-pilot-functions/src/index.ts
Due: none

Update deploy script
  packages/earn-pilot-functions/package.json
Due: none

[Earn Pilot] Firebase functions and database to manage Figure Eight balances (#2831)
  packages/earn-pilot-functions/.firebaserc
  packages/earn-pilot-functions/.gitignore
  packages/earn-pilot-functions/README.md
  packages/earn-pilot-functions/firebase.json
  packages/earn-pilot-functions/package.json
  packages/earn-pilot-functions/src/index.ts
  packages/earn-pilot-functions/tsconfig.json
  packages/earn-pilot-functions/tslint.json
  packages/earn-pilot-functions/yarn.lock
Due: none

Changes to Validator list page (#2815)
  packages/web/pages/validators/explore.tsx
  packages/web/server/index.ts
  packages/web/src/dev/ValidatorsListApp.tsx
  packages/web/src/shared/menu-items.ts
Due: none

[contractKit] Fix ganache-core failing in unit tests
  packages/cli/.npmignore
  packages/cli/package.json
  packages/cli/src/test-utils/ganache.setup.ts
  packages/contractkit/.gitignore
  packages/contractkit/.npmignore
  packages/contractkit/package.json
  packages/contractkit/src/test-utils/ganache.setup.ts
  packages/dev-utils/package.json
  packages/dev-utils/src/ganache-setup.ts
  packages/protocol/scripts/devchain.ts
  yarn.lock
Due: protocol

updating docs
  packages/docs/developer-resources/contractkit/reference/classes/_identity_metadata_.identitymetadatawrapper.md
  packages/docs/developer-resources/contractkit/reference/modules/_identity_claims_verify_.md
  packages/docs/developer-resources/contractkit/reference/modules/_identity_metadata_.md
Due: none

Sets governance thresholds during migration
  packages/protocol/governanceConstitution.js
  packages/protocol/migrations/23_governance.ts
Due: protocol

Reserve spender can only transfer gold to specified addresses (#2769)
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/stability/Exchange.sol
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/interfaces/IReserve.sol
  packages/protocol/contracts/stability/test/MockReserve.sol
  packages/protocol/migrations/09_exchange.ts
  packages/protocol/test/stability/reserve.ts
Due: protocol

Fixing address comparison when getting affiliates (#2755)
  packages/cli/src/commands/validator/status.ts
  packages/contractkit/src/identity/claims/verify.ts
  packages/contractkit/src/identity/metadata.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/docs/developer-resources/contractkit/reference/classes/_identity_metadata_.identitymetadatawrapper.md
  packages/docs/developer-resources/contractkit/reference/modules/_identity_claims_verify_.md
  packages/docs/developer-resources/contractkit/reference/modules/_identity_metadata_.md
Due: none

Fixing migration change
  packages/cli/package.json
  packages/contractkit/package.json
Due: none

Update backend
  packages/earn-pilot-functions/src/index.ts
Due: none

[C01] Funds of the Escrow contract can be locked by anyone (#2797)
  packages/protocol/contracts/identity/Escrow.sol
Due: protocol

[M08] The reveal process can get stuck for a proposer (#2795)
  packages/protocol/contracts/identity/Random.sol
  packages/protocol/contracts/identity/test/TestRandom.sol
  packages/protocol/test/identity/random.ts
Due: protocol

add link to list of contributors to docs (#2576)
  packages/docs/community/contributing.md
Due: none

Fix graphic not showing and links incorrectly having an underline Fix #2833 Fix #2834
  packages/web/public/static/normalize.css
  packages/web/src/dev/Engage.tsx
  packages/web/src/shared/Button.3.tsx
Due: none

📸
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/code-of-conduct.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/faq.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/past-events.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/user-agreement.test.tsx.snap
  packages/web/src/_page-tests/build/__snapshots__/faucet.test.tsx.snap
  packages/web/src/_page-tests/build/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/key-imagery.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/_page-tests/stake-off/__snapshots__/terms.test.tsx.snap
Due: none

Use the last address attested
  packages/mobile/src/identity/contactMapping.ts
Due: mobile

Update payment request handling
  packages/earn-pilot-functions/package.json
  packages/earn-pilot-functions/src/index.ts
Due: none

[N01] Unnecessary variable assignment (#2806)
  packages/protocol/contracts/identity/Random.sol
  packages/protocol/test/identity/attestations.ts
Due: protocol

updating docs
  packages/docs/developer-resources/contractkit/reference/classes/_kit_.contractkit.md
Due: none

[M06] Lack of input validations (#2807)
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/common/GoldToken.sol
  packages/protocol/contracts/common/Proxy.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/stability/StableToken.sol
Due: protocol

Update config.yml
  .circleci/config.yml
Due: none

Fix crash at runtime when running universal APK
  packages/mobile/android/app/build.gradle
Due: mobile

changed name
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/Governance.sol
Due: protocol

fixing
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_governance_.governancewrapper.md
  packages/protocol/contracts/common/UsingPrecompiles.sol
Due: protocol

fixing
  packages/cli/src/commands/governance/viewhotfix.ts
Due: none

Atomic validator key update (#2771)
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/cli/src/commands/account/authorize.test.ts
  packages/cli/src/commands/account/authorize.ts
  packages/contractkit/src/wrappers/Accounts.test.ts
  packages/contractkit/src/wrappers/Accounts.ts
  packages/docs/command-line-interface/account.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_accounts_.accountswrapper.md
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IValidators.sol
  packages/protocol/contracts/governance/test/MockValidators.sol
  packages/protocol/test/governance/validators.ts
Due: protocol

unlock: adding a check whether account is voting
  packages/cli/src/commands/lockedgold/unlock.ts
  packages/cli/src/utils/checks.ts
  packages/contractkit/src/wrappers/Governance.ts
Due: none

Use vote rewards data on validators list
  packages/web/src/dev/ValidatorsList.tsx
  packages/web/src/dev/ValidatorsListApp.tsx
Due: none

Use vote rewards data on validators list (#2821)
  packages/web/src/dev/ValidatorsList.tsx
  packages/web/src/dev/ValidatorsListApp.tsx
Due: none

updating docs
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_governance_.governancewrapper.md
Due: none

Make detox e2e test work with split APKs
  packages/mobile/android/app/build.gradle
  packages/mobile/package.json
Due: mobile

Fix ios release path
  packages/mobile/package.json
Due: mobile

Allow ENVFILE to be specified outside of the build config, but still defaults to .env.test
  packages/mobile/package.json
  packages/mobile/scripts/run_app.sh
  packages/mobile/scripts/run_e2e.sh
Due: mobile

remove random extra logging
  .env.baklava
  packages/celotool/src/cmds/bots/auto-vote.ts
Due: none

[contractKit] hide tmp folder
  packages/cli/.gitignore
  packages/cli/.npmignore
  packages/cli/package.json
  packages/cli/src/test-utils/ganache.setup.ts
  packages/contractkit/.gitignore
  packages/contractkit/.npmignore
  packages/contractkit/package.json
  packages/contractkit/src/test-utils/ganache.setup.ts
Due: none

Upgrade codedov to address security vulnerability
  package.json
  yarn.lock
Due: none

[Wallet] Fix android e2e test (#2844)
  packages/mobile/android/app/build.gradle
  packages/mobile/package.json
  packages/mobile/scripts/run_app.sh
  packages/mobile/scripts/run_e2e.sh
Due: mobile

Reading data to leaderboard sheet (#2399)
  .env.baklavastaging
  .env.mnemonic.baklavastaging.enc
  dockerfiles/leaderboard/Dockerfile
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/leaderboard.ts
  packages/contractkit/src/kit.ts
  packages/docs/developer-resources/contractkit/reference/classes/_kit_.contractkit.md
  packages/helm-charts/leaderboard/templates/leaderboard.cronjob.yaml
  packages/helm-charts/leaderboard/templates/leaderboard.secret.yaml
  packages/helm-charts/leaderboard/values.yaml
  packages/leaderboard/package.json
  packages/leaderboard/src/board.ts
  packages/leaderboard/src/upload.ts
  yarn.lock
Due: none

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
