Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

Fixes celo-labs#124 add margin under "Career Opportunites on jobs page
  packages/web/src/jobs/version3/Jobs.tsx
Due: none

fix celo-labls#120 buttons should have font weight 500
  packages/web/src/styles.ts
Due: none

fixes celo-labs#133 and celo-labs#125 Remove old CLabs people
  packages/web/src/about/team/isabelle@2x.png
  packages/web/src/about/team/joe@2x.jpg
  packages/web/src/about/team/team-list.ts
Due: none

[ContractKit]Fill more fields before web3 signing (#1133)
  packages/contractkit/src/providers/celo-private-keys-subprovider.ts
  packages/contractkit/src/utils/signing-utils.ts
  packages/contractkit/src/utils/tx-signing.test.ts
Due: none

[ck] consistent send tx object in kit
  packages/contractkit/src/kit.test.ts
  packages/contractkit/src/kit.ts
  packages/contractkit/src/utils/send-tx.test.ts
  packages/contractkit/src/utils/send-tx.ts
  packages/contractkit/src/wrappers/BaseWrapper.ts
Due: none

Make packages depend on git vesrion (not npm)
  packages/attestation-service/package.json
  packages/celotool/package.json
  packages/cli/package.json
  packages/contractkit/package.json
  packages/dappkit/package.json
  packages/mobile/package.json
  packages/notification-service/package.json
  packages/protocol/package.json
  packages/react-components/package.json
  packages/transaction-metrics-exporter/package.json
  packages/utils/package.json
  packages/verification-pool-api/package.json
  packages/verifier/package.json
  packages/walletkit/package.json
  packages/web/package.json
  yarn.lock
Due: mobile, protocol

Fixes celo-labs#126 center the top area of cover (input and phone)
  packages/web/src/download/Cover.tsx
  packages/web/static/locales/en/download.json
Due: none

Address PR comments
  packages/contractkit/src/kit.ts
Due: none

Move docker images to use node v10 (#1183)
  README-dev.md
  dockerfiles/attestation-service/Dockerfile
  dockerfiles/celotool/Dockerfile
  dockerfiles/cli/Dockerfile
  dockerfiles/cloudbuild/Dockerfile
  dockerfiles/transaction-metrics-exporter/Dockerfile
Due: none

[ck] consistent send tx object in kit (#1191)
  packages/contractkit/src/kit.test.ts
  packages/contractkit/src/kit.ts
  packages/contractkit/src/utils/send-tx.test.ts
  packages/contractkit/src/utils/send-tx.ts
  packages/contractkit/src/wrappers/BaseWrapper.ts
Due: none

[contractkit] Document methods
  packages/contractkit/README.md
  packages/contractkit/src/address-registry.ts
  packages/contractkit/src/contract-cache.ts
  packages/contractkit/src/index.ts
  packages/contractkit/src/kit.ts
  packages/contractkit/src/utils/tx-result.ts
  packages/contractkit/src/web3-contract-cache.ts
  packages/contractkit/src/wrappers/BaseWrapper.ts
  packages/contractkit/src/wrappers/GoldTokenWrapper.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/contractkit/src/wrappers/StableTokenWrapper.ts
Due: none

[contractkit] Document methods (#1195)
  packages/contractkit/README.md
  packages/contractkit/src/address-registry.ts
  packages/contractkit/src/contract-cache.ts
  packages/contractkit/src/index.ts
  packages/contractkit/src/kit.ts
  packages/contractkit/src/utils/tx-result.ts
  packages/contractkit/src/web3-contract-cache.ts
  packages/contractkit/src/wrappers/BaseWrapper.ts
  packages/contractkit/src/wrappers/GoldTokenWrapper.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/contractkit/src/wrappers/StableTokenWrapper.ts
Due: none

Use bookLayout component
  packages/web/src/about/PressMedia.tsx
Due: none

start breaking up connect page
  packages/web/pages/connect/fellowship.tsx
  packages/web/src/community/connect/ConnectPage.tsx
  packages/web/src/community/connect/FellowSection.tsx
  packages/web/src/fellowship/Fellow.tsx
  packages/web/src/fellowship/FellowCover.tsx
  packages/web/src/fellowship/FellowSection.tsx
  packages/web/src/fellowship/FellowViewer.tsx
  packages/web/src/fellowship/FellowshipForm.tsx
  packages/web/src/fellowship/FellowshipPage.tsx
  packages/web/src/fellowship/fellow-james@2x.jpg
  packages/web/src/fellowship/fellow-pratyush@2x.jpg
  packages/web/src/fellowship/fellow-xochitl@2x.jpg
  packages/web/src/header/Header.3.tsx
  packages/web/src/i18n.ts
  packages/web/src/shared/menu-items.ts
Due: none

ContractKit building
  .circleci/config.yml
  packages/cli/src/commands/account/isvalidator.ts
  packages/cli/src/commands/lockedgold/delegate.ts
  packages/cli/src/commands/lockedgold/lockup.ts
  packages/cli/src/commands/lockedgold/notify.ts
  packages/cli/src/commands/lockedgold/show.ts
  packages/cli/src/commands/lockedgold/withdraw.ts
  packages/cli/src/commands/validator/list.ts
  packages/cli/src/commands/validator/register.ts
  packages/cli/src/commands/validatorgroup/list.ts
  packages/cli/src/commands/validatorgroup/member.ts
  packages/cli/src/commands/validatorgroup/register.ts
  packages/cli/src/commands/validatorgroup/vote.ts
  packages/cli/src/commands/validatorset.ts
  packages/cli/src/utils/lockedgold.ts
  packages/contractkit/src/base.ts
  packages/contractkit/src/contract-cache.ts
  packages/contractkit/src/index.ts
  packages/contractkit/src/kit.ts
  packages/contractkit/src/web3-contract-cache.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/scripts/build.ts
Due: protocol

cli builds
  packages/cli/src/commands/account/isvalidator.ts
  packages/cli/src/commands/election/validatorset.ts
  packages/cli/src/commands/election/vote.ts
  packages/cli/src/commands/lockedgold/authorize.ts
  packages/cli/src/commands/lockedgold/list.ts
  packages/cli/src/commands/lockedgold/lock.ts
  packages/cli/src/commands/lockedgold/rewards.ts
  packages/cli/src/commands/lockedgold/show.ts
  packages/cli/src/commands/lockedgold/unlock.ts
  packages/cli/src/commands/lockedgold/withdraw.ts
  packages/cli/src/utils/key_generator.test.ts
  packages/contractkit/src/wrappers/Election.ts
Due: none

Update oclif
  packages/cli/package.json
Due: none

removed commented code
  packages/protocol/migrationsConfig.js
Due: protocol

should be clearer now
  packages/celotool/src/e2e-tests/exit_test.ts
Due: none

added methods for increasing and decreasing allowance to gold and stable tokens
  packages/contractkit/src/wrappers/GoldTokenWrapper.ts
  packages/contractkit/src/wrappers/StableTokenWrapper.ts
  packages/protocol/contracts/common/GoldToken.sol
  packages/protocol/contracts/stability/StableToken.sol
Due: protocol

added tests
  packages/protocol/test/common/goldtoken.ts
  packages/protocol/test/stability/stabletoken.ts
Due: protocol

store previous randomness values
  packages/protocol/contracts/identity/Random.sol
Due: protocol

added visibility modifier
  packages/protocol/contracts/governance/BlockchainParameters.sol
Due: protocol

Make packages depend on git vesrion (not npm) (#1192)
  packages/attestation-service/package.json
  packages/celotool/package.json
  packages/cli/package.json
  packages/contractkit/package.json
  packages/dappkit/package.json
  packages/mobile/package.json
  packages/notification-service/package.json
  packages/protocol/package.json
  packages/react-components/package.json
  packages/transaction-metrics-exporter/package.json
  packages/utils/package.json
  packages/verification-pool-api/package.json
  packages/verifier/package.json
  packages/walletkit/package.json
  packages/web/package.json
  yarn.lock
Due: mobile, protocol

Handle keyboard
  packages/mobile/src/backup/BackupPhrase.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
  packages/mobile/src/import/ImportWallet.tsx
  packages/mobile/src/invite/JoinCelo.tsx
  packages/mobile/src/recipients/RecipientPicker.tsx
  packages/mobile/src/send/SendAmount.tsx
  packages/react-components/components/KeyboardAwareScrollView.tsx
  packages/react-components/components/KeyboardSpacer.tsx
Due: mobile

Fix missing safe area handling
  packages/mobile/src/account/Invite.tsx
  packages/mobile/src/send/Send.tsx
Due: mobile

Fix TypeScript build
  packages/mobile/src/navigator/Navigator.tsx
Due: mobile

added debug messages
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
Due: none

fixed lint
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
Due: none

Fix exchange trade screen layout with keyboard
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
Due: mobile

adding even more debug messages
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

Set development team to C Labs and change default bundle identifier
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/ios/celo/Info.plist
Due: mobile

Disable landscape orientation
  packages/mobile/ios/celo/Info.plist
Due: mobile

Add default icon
  packages/mobile/ios/celo/Images.xcassets/AppIcon.appiconset/Contents.json
  packages/mobile/ios/celo/Images.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  packages/mobile/ios/celo/Images.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  packages/mobile/ios/celo/Images.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  packages/mobile/ios/celo/Images.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  packages/mobile/ios/celo/Images.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  packages/mobile/ios/celo/Images.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  packages/mobile/ios/celo/Images.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  packages/mobile/ios/celo/Images.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  packages/mobile/ios/celo/Images.xcassets/AppIcon.appiconset/ItunesArtwork@2x.png
Due: mobile

Revert "added debug messages"
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
Due: none

Update iOS launch screen to Celo's style
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/ios/celo/Base.lproj/LaunchScreen.xib
  packages/mobile/ios/rings@2x.png
  packages/mobile/ios/rings@3x.png
Due: mobile

Fix iOS country selection unusable
  packages/react-components/components/PhoneNumberInput.tsx
Due: none

added patch for websocket
  patches/websocket+1.0.24.patch
Due: none

Start fellowship namespace
  packages/web/src/fellowship/FellowSection.tsx
  packages/web/static/locales/en/fellowship.json
Due: none

move BookLayout to layouts
  packages/web/src/about/About.tsx
  packages/web/src/about/Backers.tsx
  packages/web/src/about/PressMedia.tsx
  packages/web/src/about/Team.tsx
  packages/web/src/layout/BookLayout.tsx
Due: none
