Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

Fixing tests
  packages/protocol/test/governance/validators.ts
Due: protocol

Parking changes
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/test/governance/validators.ts
Due: protocol

Style fixes and more comments
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/test/governance/validators.ts
Due: protocol

Removing redundant tests
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/test/governance/validators.ts
Due: protocol

refining tests and merging'
  packages/protocol/test/governance/validators.ts
Due: protocol

Removing unnecessary null check
  packages/protocol/test/governance/validators.ts
Due: protocol

Use enum in mockdata and remove phone number
  packages/mobile/src/apollo/__mockData__.ts
  packages/utils/src/phoneNumbers.ts
Due: mobile

changed getting the slashed group
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/DowntimeSlasher.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IValidators.sol
  packages/protocol/contracts/governance/test/MockValidators.sol
  packages/protocol/contracts/governance/test/TestDoubleSigningSlasher.sol
  packages/protocol/contracts/governance/test/TestDowntimeSlasher.sol
  packages/protocol/migrationsConfig.js
Due: protocol

Upload bootnode info & use in docs instead of static nodes (#2289)
  packages/celotool/src/cmds/deploy/initial/testnet.ts
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/celotool/src/lib/testnet-utils.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/docs/getting-started/running-a-full-node.md
  packages/docs/getting-started/running-a-validator.md
  packages/terraform-modules/testnet/outputs.tf
Due: none

Adding extra test
  packages/protocol/test/governance/validators.ts
Due: protocol

Add --rm flag to one time container runs (#2291)
  packages/docs/getting-started/faucet.md
  packages/docs/getting-started/running-a-full-node.md
  packages/docs/getting-started/running-a-validator.md
Due: none

Add canvas mock for canvas uses Use jsdom instead of node env
  packages/web/__mocks__/react-lazyload-fadein.ts
  packages/web/__mocks__/react-modal.tsx
  packages/web/jest.config.js
  packages/web/package.json
  packages/web/pages/__snapshots__/about.test.tsx.snap
  packages/web/pages/__snapshots__/faq.test.tsx.snap
  packages/web/pages/__snapshots__/user-agreement.test.tsx.snap
  packages/web/pages/about.test.tsx
  packages/web/pages/build/__snapshots__/faucet.test.tsx.snap
  packages/web/pages/build/__snapshots__/index.test.tsx.snap
  packages/web/pages/build/__snapshots__/wallet.test.tsx.snap
  packages/web/pages/build/faucet.test.tsx
  packages/web/pages/build/wallet.test.tsx
  packages/web/pages/stake-off/__snapshots__/terms.test.tsx.snap
  yarn.lock
Due: none

Whoops
  packages/cli/src/commands/validator/status.ts
Due: none

correct epoch numbers
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/DowntimeSlasher.sol
  packages/protocol/test/governance/double_signing_slasher.ts
  packages/protocol/test/governance/downtime_slasher.ts
Due: protocol

remove npm install tests
  .circleci/config.yml
Due: none

Add snapshots for brand kit
  packages/web/__mocks__/next/router.tsx
  packages/web/__mocks__/nuka-carousel.tsx
  packages/web/jestSetup.js
  packages/web/pages/__snapshots__/_error.test.tsx.snap
  packages/web/pages/__snapshots__/code-of-conduct.test.tsx.snap
  packages/web/pages/__snapshots__/community.test.tsx.snap
  packages/web/pages/__snapshots__/index.test.tsx.snap
  packages/web/pages/__snapshots__/jobs.test.tsx.snap
  packages/web/pages/__snapshots__/past-events.test.tsx.snap
  packages/web/pages/_error.test.tsx
  packages/web/pages/animation/__snapshots__/rise.test.tsx.snap
  packages/web/pages/animation/rise.test.tsx
  packages/web/pages/code-of-conduct.test.tsx
  packages/web/pages/community.test.tsx
  packages/web/pages/experience/brand/__snapshots__/color.test.tsx.snap
  packages/web/pages/experience/brand/__snapshots__/icons.test.tsx.snap
  packages/web/pages/experience/brand/__snapshots__/index.test.tsx.snap
  packages/web/pages/experience/brand/__snapshots__/logo.test.tsx.snap
  packages/web/pages/experience/brand/__snapshots__/typography.test.tsx.snap
  packages/web/pages/experience/brand/icons.test.tsx
  packages/web/pages/experience/brand/index.test.tsx
  packages/web/pages/experience/brand/logo.test.tsx
  packages/web/pages/experience/brand/typography.test.tsx
  packages/web/pages/index.test.tsx
  packages/web/pages/jobs.test.tsx
  packages/web/pages/past-events.test.tsx
  packages/web/src/brandkit/common/SectionTitle.tsx
  packages/web/src/carousel/PagingDots.tsx
  packages/web/src/community/connect/Contribute.tsx
  packages/web/src/home/carousel/CarouselDot.tsx
  packages/web/src/shared/Spinner.tsx
  packages/web/src/shared/navigation.tsx
Due: none

Clean up
  packages/web/__mocks__/react-modal.tsx
  packages/web/src/carousel/PagingDots.tsx
Due: none

Cleaning up and mocking
  packages/web/jestSetup.js
  packages/web/package.json
  packages/web/src/brandkit/tests/Showcase.test.tsx
  packages/web/src/brandkit/tests/__snapshots__/Showcase.test.tsx.snap
  packages/web/src/community/connect/FullCircle.tsx
  yarn.lock
Due: none

Quick note on exposing port 80 inside the attestations section of docs
  packages/docs/getting-started/running-a-validator.md
Due: none

Quick note on exposing port 80 inside the attestations section of docs (#2299)
  packages/docs/getting-started/running-a-validator.md
Due: none

Add fn groupMembershipInEpoch to validators.sol for slashing (#2178)
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/test/governance/validators.ts
Due: protocol

Toda
  packages/web/__mocks__/cross-fetch.ts
  packages/web/__mocks__/lottie-web.ts
  packages/web/src/brandkit/common/Page.tsx
Due: none

Minor language correction in overview.md docs
  packages/docs/overview.md
Due: none

some fixes and cleanup
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/DowntimeSlasher.sol
  packages/protocol/contracts/governance/GovernanceSlasher.sol
  packages/protocol/contracts/governance/SlasherUtil.sol
  packages/protocol/contracts/governance/test/MockLockedGold.sol
  packages/protocol/contracts/governance/test/MockUsingPrecompiles.sol
  packages/protocol/contracts/governance/test/TestDoubleSigningSlasher.sol
  packages/protocol/contracts/governance/test/TestDowntimeSlasher.sol
  packages/protocol/test/governance/double_signing_slasher.ts
  packages/protocol/test/governance/downtime_slasher.ts
  packages/protocol/test/governance/governance_slasher.ts
Due: protocol

lint
  packages/protocol/test/stability/sortedoracles.ts
Due: protocol

added daily limit for reserve spending
  packages/protocol/contracts/common/test/MockGoldToken.sol
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/test/stability/reserve.ts
Due: protocol

Progress on new send flow
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/src/identity/contactMapping.ts
  packages/mobile/src/identity/reducer.ts
  packages/mobile/src/identity/saga.ts
  packages/mobile/src/recipients/RecipientPicker.tsx
  packages/mobile/src/send/ContactSyncBanner.tsx
  packages/mobile/src/send/QRCodeIcon.tsx
  packages/mobile/src/send/Send.tsx
  packages/mobile/src/send/SendCallToAction.tsx
  packages/mobile/src/send/SendSearchInput.tsx
  packages/mobile/src/utils/linking.ts
  packages/react-components/icons/Checkmark.tsx
  packages/react-components/icons/Error.tsx
Due: mobile

merge
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

adding something to slash into test
  packages/protocol/test/common/integration.ts
Due: protocol

Add new import contact icon
  packages/mobile/src/icons/ContactPermission.tsx
  packages/mobile/src/images/Images.ts
  packages/mobile/src/images/contact-permission.png
  packages/mobile/src/images/contact-permission@2x.png
  packages/mobile/src/recipients/RecipientPicker.tsx
  packages/mobile/src/send/Send.tsx
  packages/mobile/src/send/SendSearchInput.tsx
Due: mobile

i18n the contact sync banner
  packages/mobile/src/send/ContactSyncBanner.tsx
Due: mobile

Fix verifier tests
  packages/verifier/__mocks__/react-i18next.js
Due: none

Add hashHeader and getBlockNumberFromHeader to UsingPrecompiles
  packages/celotool/src/e2e-tests/slashing_tests.ts
  packages/protocol/contracts/common/UsingPrecompiles.sol
Due: protocol

move towards weighted probability of new vote choice
  packages/celotool/src/cmds/bots/voting.ts
  packages/protocol/migrations/20_elect_validators.ts
Due: protocol

Add missing ci_test_slashing.sh
  packages/celotool/ci_test_slashing.sh
  packages/protocol/contracts/common/UsingPrecompiles.sol
Due: protocol

Fix build
  packages/cli/src/commands/validator/status.ts
Due: none

Fix build
  packages/cli/src/commands/account/unlock.ts
  packages/cli/src/commands/exchange/dollars.ts
  packages/cli/src/commands/exchange/gold.ts
Due: none

lint
  packages/protocol/test/common/integration.ts
Due: protocol

Add reconstructHeaderArray
  packages/celotool/src/e2e-tests/slashing_tests.ts
Due: none
