Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

[CLI]Unlock till the geth exits (#1070)
  packages/cli/src/commands/account/unlock.ts
Due: none

small changes
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/test/governance/validators.ts
Due: protocol

some problems merging
  packages/protocol/contracts/governance/Governance.sol
Due: protocol

fixed errors
  packages/protocol/test/governance/governance.ts
Due: protocol

Initial attestation-service
  packages/attestation-service/.gitignore
  packages/attestation-service/config/.env.development
  packages/attestation-service/config/database.json
  packages/attestation-service/nodemon.json
  packages/attestation-service/package.json
  packages/attestation-service/src/attestation.ts
  packages/attestation-service/src/db.ts
  packages/attestation-service/src/index.d.ts
  packages/attestation-service/src/server.ts
  packages/attestation-service/src/sms.ts
  packages/attestation-service/tsconfig.json
  yarn.lock
Due: none

fixing tests
  packages/protocol/scripts/devchain.ts
Due: protocol

Add MetadataURL to account struct
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/interfaces/IAttestations.sol
  packages/protocol/test/identity/attestations.ts
Due: protocol

Add env.ts
  packages/attestation-service/src/env.ts
Due: none

Exclude generated in file watcher setting
  .vscode/settings.json
Due: none

Add tslint.json
  packages/attestation-service/src/db.ts
  packages/attestation-service/tslint.json
Due: none

Make contracts compile
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/interfaces/IValidators.sol
Due: protocol

[CLI]Unlock till the geth exits (#1072)
  packages/cli/package.json
  packages/cli/src/commands/account/unlock.ts
Due: none

Change peerDiscovery -> noDiscovery
  packages/mobile/src/geth/geth.ts
  packages/mobile/src/geth/network-config.ts
Due: mobile

Fix RN segment analytics firebase on iOS
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
  packages/react-components/analytics/CeloAnalytics.tsx
  patches/@segment/analytics-react-native-firebase+1.1.0-beta.1.patch
  patches/segment_analytics-firebase_bundle.patch
Due: mobile

Update nested ifs and missing web3 provider behavior
  packages/notification-service/src/config.ts
  packages/notification-service/src/exchange/exchangeQuery.ts
Due: none

Add getExchangeRate and corresponding tests
  packages/contractkit/src/wrappers/Exchange.test.ts
  packages/contractkit/src/wrappers/Exchange.ts
Due: none

Remove exchange tests
  packages/notification-service/test/exchange.test.ts
Due: none

Hold constants in fixidity representation
  packages/protocol/test/governance/governance.ts
Due: protocol

Add comment about contractkit
  packages/notification-service/src/exchange/exchangeQuery.ts
Due: none

Add getUsd and getGold exchange rates, remove default
  packages/contractkit/src/wrappers/Exchange.test.ts
  packages/contractkit/src/wrappers/Exchange.ts
Due: none

Add getExchangeRate to ContractKit (#1083)
  packages/contractkit/src/wrappers/Exchange.test.ts
  packages/contractkit/src/wrappers/Exchange.ts
Due: none

Move ethstats secret to be in testnet helm chart
  packages/celotool/src/lib/ethstats.ts
  packages/helm-charts/testnet/templates/ethstats.secret.yaml
Due: none

Create ethstats secret only if it's a VM testnet
  packages/celotool/src/lib/ethstats.ts
  packages/helm-charts/ethstats/templates/ethstats.secret.yaml
Due: none

Update .env and .env.integration files
  .env
  .env.integration
Due: none

Fix celotool dockerfile
  dockerfiles/celotool/Dockerfile
Due: none

LockedGold tests passing
  packages/protocol/contracts/common/Signatures.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IElection.sol
  packages/protocol/contracts/governance/proxies/ElectionProxy.sol
  packages/protocol/contracts/governance/test/MockElection.sol
  packages/protocol/contracts/governance/test/MockLockedGold.sol
  packages/protocol/lib/registry-utils.ts
  packages/protocol/migrations/10_lockedgold.ts
  packages/protocol/migrations/11_validators.ts
  packages/protocol/migrations/12_election.ts
  packages/protocol/migrations/13_random.ts
  packages/protocol/migrations/14_attestations.ts
  packages/protocol/migrations/15_escrow.ts
  packages/protocol/migrations/16_governance.ts
  packages/protocol/migrations/17_elect_validators.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/common/integration.ts
  packages/protocol/test/governance/election.ts
  packages/protocol/test/governance/governance.ts
  packages/protocol/test/governance/lockedgold.ts
Due: protocol

Fix governance unit tests (#1084)
  packages/protocol/test/governance/governance.ts
Due: protocol

added more tests
  packages/protocol/contracts/governance/BlockchainParameters.sol
  packages/protocol/contracts/governance/BlockchainParams.sol
  packages/protocol/contracts/governance/proxies/BlockchainParametersProxy.sol
  packages/protocol/lib/registry-utils.ts
  packages/protocol/migrations/15_blockchainparams.ts
  packages/protocol/migrations/50_governance.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/blockchainparams.ts
Due: protocol

[celotool]Store .env config on GCS after deployment
  packages/celotool/src/cmds/deploy/initial/testnet.ts
  packages/celotool/src/cmds/deploy/upgrade/testnet.ts
  packages/celotool/src/lib/testnet-utils.ts
  packages/celotool/src/lib/utils.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
Due: none

contractkit tests were still broken
  packages/protocol/scripts/devchain.ts
Due: protocol

fix lint error
  packages/protocol/scripts/devchain.ts
Due: protocol

removed debug messages
  packages/protocol/test/governance/governance.ts
Due: protocol

more contractkit issues
  packages/contractkit/src/wrappers/BaseWrapper.ts
Due: none

fix contractkit test
  packages/contractkit/src/wrappers/BaseWrapper.ts
Due: none

No tests for now
  packages/attestation-service/package.json
Due: none

added some comments
  packages/contractkit/src/wrappers/Attestations.ts
  packages/contractkit/src/wrappers/Exchange.ts
  packages/contractkit/src/wrappers/GasPriceMinimum.ts
  packages/contractkit/src/wrappers/GoldTokenWrapper.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/contractkit/src/wrappers/Reserve.ts
  packages/contractkit/src/wrappers/SortedOracles.ts
  packages/contractkit/src/wrappers/StableTokenWrapper.ts
  packages/contractkit/src/wrappers/Validators.ts
Due: none

lint error
  packages/contractkit/src/wrappers/Attestations.ts
Due: none

fixing test
  packages/contractkit/src/wrappers/BaseWrapper.ts
  packages/protocol/scripts/devchain.ts
Due: protocol

test util name changed
  packages/protocol/test/governance/validators.ts
Due: protocol

Group size limit (#1035)
  packages/contractkit/src/wrappers/BaseWrapper.ts
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/migrations/11_validators.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/scripts/devchain.ts
  packages/protocol/test/governance/validators.ts
Due: protocol
