Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

Fix C02
  packages/protocol/contracts/common/MultiSig.sol
Due: protocol

Remove unused event
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

Fixing last block of epoch
  packages/protocol/contracts/identity/Random.sol
  packages/protocol/test/identity/random.ts
Due: protocol

Fixing nits and renaming vesting test to release gold test
  packages/protocol/contracts/governance/ReleaseGoldFactory.sol
  packages/protocol/contracts/governance/ReleaseGoldInstance.sol
  packages/protocol/test/governance/release_gold.ts
Due: protocol

Put back tests with added mulExp
  packages/protocol/test/stability/stabletoken.ts
Due: protocol

[C02] Any owner of the Multisig can execute unconfirmed transactions (#2808)
  packages/protocol/contracts/common/MultiSig.sol
Due: protocol

Add the votes bar
  packages/web/src/dev/ProgressCutBar.tsx
  packages/web/src/dev/ValidatorsList.tsx
  packages/web/src/dev/ValidatorsListApp.tsx
Due: none

Use the same component to show Apollo errors
  packages/web/src/dev/LeaderBoardApp.tsx
  packages/web/src/dev/ShowApolloError.tsx
  packages/web/src/dev/ValidatorsListApp.tsx
Due: none

Prevent clicking on parents when Copy to clipboard is clicked
  packages/web/src/dev/CopyToClipboard.tsx
Due: none

Clean temporal workaround
  packages/web/src/dev/ValidatorsListApp.tsx
Due: none

Move some utils to a shared file
  packages/web/src/dev/ValidatorsList.tsx
  packages/web/src/utils/utils.ts
Due: none

Improve sorting
  packages/web/src/dev/ValidatorsList.tsx
Due: none

Create initial validator list with mocked data
  packages/web/pages/build/validators.tsx
  packages/web/src/dev/ValidatorsList.scss
  packages/web/src/dev/ValidatorsList.tsx
Due: none

Fix lint errors
  packages/web/env-config.js.template
  packages/web/flags.js
  packages/web/src/dev/LeaderBoardApp.tsx
  packages/web/src/dev/ValidatorsList.tsx
  packages/web/src/dev/ValidatorsListApp.tsx
Due: none

Implement design feedback
  packages/web/src/dev/ValidatorsList.tsx
Due: none

Fix style issues
  packages/web/src/dev/ValidatorsList.tsx
Due: none

Use correct table elements
  packages/web/src/dev/ValidatorsList.tsx
Due: none

Use numMembers to show the total of affiliates in a group
  packages/web/src/dev/ValidatorsList.tsx
  packages/web/src/dev/ValidatorsListApp.tsx
Due: none

Add clipboard features
  packages/web/src/dev/ValidatorsList.tsx
Due: none

Initial redesign with some pending things
  packages/web/src/dev/ValidatorsList.scss
  packages/web/src/dev/ValidatorsList.tsx
Due: none

Add commissions on validator list table
  packages/web/src/dev/ValidatorsList.tsx
Due: none

Improved general styling of validators list
  packages/web/src/dev/ValidatorsList.scss
  packages/web/src/dev/ValidatorsList.tsx
  packages/web/src/header/Header.3.tsx
  packages/web/src/shared/menu-items.ts
Due: none

Show the validators data from the query
  packages/web/pages/build/validators.tsx
  packages/web/src/dev/ValidatorsList.tsx
  packages/web/src/dev/ValidatorsListApp.tsx
Due: none

Make the table header sticky
  packages/web/src/dev/ValidatorsList.tsx
Due: none

Prevent failing when GraphQL query return errors
  packages/web/src/dev/ValidatorsListApp.tsx
Due: none

Using new schema
  packages/web/src/dev/ValidatorsList.tsx
  packages/web/src/dev/ValidatorsListApp.tsx
Due: none

Encrypt file
  packages/web/env-config.js.enc
Due: none

Cleanup
  packages/web/src/dev/CopyToClipboard.tsx
  packages/web/src/dev/ProgressCutBar.tsx
  packages/web/src/dev/ValidatorsList.tsx
  packages/web/src/header/Header.3.tsx
  packages/web/src/shared/menu-items.ts
Due: none

Use react-native-web for validator list.
  packages/web/src/dev/LeaderBoardApp.tsx
  packages/web/src/dev/ValidatorsList.tsx
  packages/web/src/dev/ValidatorsListApp.tsx
  packages/web/src/utils/utils.ts
Due: none

Fix linter errors
  packages/web/src/dev/CopyToClipboard.tsx
  packages/web/src/dev/ProgressCutBar.tsx
  packages/web/src/dev/ValidatorsList.tsx
Due: none

Implement basic hover on CopyToClipboard.
  packages/web/src/dev/CopyToClipboard.tsx
Due: none

Clean GraphQL query to improve performance
  packages/web/src/dev/ValidatorsListApp.tsx
Due: none

Use the correct format for numbers
  packages/web/src/dev/ValidatorsList.tsx
Due: none

Use correct arrow and improve style
  packages/web/src/dev/ValidatorsList.scss
  packages/web/src/dev/ValidatorsList.tsx
Due: none

Implement sorting on validator list table
  packages/web/src/dev/ValidatorsList.tsx
Due: none

Improve visualization of long names and move copy to clipboard behavior
  packages/web/src/dev/CopyToClipboard.tsx
  packages/web/src/dev/ValidatorsList.tsx
Due: none

Use setters when possible on initialize()
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/stability/SortedOracles.sol
  packages/protocol/contracts/stability/StableToken.sol
Due: protocol

WIP
  packages/mobile/__mocks__/@celo/contractkit/index.ts
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/invite/saga.test.ts
Due: mobile

Fix lint problems
  packages/protocol/contracts/common/FixidityLib.sol
Due: protocol

Add Validators list page to website (#2478)
  packages/web/env-config.js.enc
  packages/web/env-config.js.template
  packages/web/flags.js
  packages/web/pages/build/validators.tsx
  packages/web/src/dev/CopyToClipboard.tsx
  packages/web/src/dev/LeaderBoardApp.tsx
  packages/web/src/dev/ProgressCutBar.tsx
  packages/web/src/dev/ShowApolloError.tsx
  packages/web/src/dev/ValidatorsList.tsx
  packages/web/src/dev/ValidatorsListApp.tsx
  packages/web/src/header/Header.3.tsx
  packages/web/src/shared/menu-items.ts
  packages/web/src/utils/utils.ts
Due: none

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
