Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

v0.0.30-beta (#1852)
  packages/cli/package.json
Due: none

fixed time travel timestamp issues
  packages/protocol/test/governance/vesting.ts
Due: protocol

fix name
  packages/cli/src/commands/election/activate.ts
Due: none

[Docs] Correct typo
  packages/docs/getting-started/running-a-validator.md
Due: none

improved test
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

lint free
  packages/cli/src/commands/network/id.ts
  packages/contractkit/src/wrappers/Election.ts
Due: none

further unit tests added
  packages/protocol/test/governance/vesting.ts
Due: protocol

lint free #2
  packages/cli/src/commands/network/id.ts
Due: none

Address comments
  packages/mobile/src/app/saga.test.ts
  packages/walletkit/test/attestations.test.ts
Due: mobile

Return 0s from rewards calculations when frozen
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/test/governance/epochrewards.ts
Due: protocol

Fix elect validators migration, deploy integration (#1847)
  .env
  .env.integration
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/lib/ethstats.ts
  packages/celotool/src/lib/generate_utils.ts
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/migrations/19_governance.ts
  packages/protocol/migrations/20_elect_validators.ts
  packages/protocol/migrationsConfig.js
  packages/walletkit/package.json
Due: protocol

Serialize to hex string (#1848)
  packages/contractkit/src/providers/celo-private-keys-subprovider.ts
Due: none

Update faucet to pull from the reserve when possible (#1844)
  packages/celotool/src/cmds/account/faucet.ts
  packages/contractkit/src/wrappers/Reserve.ts
  packages/protocol/migrations/07_reserve.ts
Due: protocol

Various improvements to the CLI, allow voters to revote for a group (#1840)
  .circleci/config.yml
  packages/cli/package.json
  packages/cli/src/commands/account/transferdollar.ts
  packages/cli/src/commands/account/transfergold.ts
  packages/cli/src/commands/election/activate.ts
  packages/cli/src/commands/election/list.ts
  packages/cli/src/commands/election/revoke.ts
  packages/cli/src/commands/election/show.ts
  packages/cli/src/commands/exchange/list.ts
  packages/cli/src/commands/exchange/selldollar.ts
  packages/cli/src/commands/exchange/sellgold.ts
  packages/cli/src/commands/lockedgold/lock.ts
  packages/cli/src/commands/lockedgold/withdraw.ts
  packages/cli/src/commands/validator/list.ts
  packages/cli/src/commands/validator/register.ts
  packages/cli/src/commands/validatorgroup/member.ts
  packages/cli/src/utils/command.ts
  packages/cli/src/utils/helpers.ts
  packages/contractkit/package.json
  packages/contractkit/src/wrappers/Accounts.test.ts
  packages/contractkit/src/wrappers/Accounts.ts
  packages/contractkit/src/wrappers/Attestations.ts
  packages/contractkit/src/wrappers/BaseWrapper.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.test.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/docs/command-line-interface/account.md
  packages/docs/command-line-interface/election.md
  packages/docs/command-line-interface/lockedgold.md
  packages/docs/command-line-interface/validator.md
  packages/docs/command-line-interface/validatorgroup.md
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Due: protocol

more unit tests added
  packages/protocol/test/governance/vesting.ts
Due: protocol

add validator and validator group helpers
  packages/celotool/src/helpers/account_register.ts
  packages/celotool/src/helpers/check_validators.ts
  packages/celotool/src/helpers/election_show.ts
  packages/celotool/src/helpers/transfer.ts
  packages/celotool/src/helpers/utils.ts
  packages/celotool/src/helpers/validator_register.ts
  packages/celotool/src/helpers/validatorgroup_add.ts
  packages/celotool/src/helpers/validatorgroup_register.ts
  packages/celotool/src/helpers/validatorgroup_vote.ts
  packages/cli/src/commands/validator/register.ts
Due: none

remove WS_SECRET
  packages/celotool/src/e2e-tests/utils.ts
Due: none

- add scripts for starting geth locally, sending transactions and checking validators
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/helpers/check_validators.ts
  packages/celotool/src/helpers/start_geth.ts
  packages/celotool/src/helpers/transfer.ts
Due: none

- local scripts for validator and validatorgroup
  packages/celotool/register.sh
  packages/celotool/register_validatorgroup.sh
  packages/celotool/src/helpers/account_register.ts
  packages/celotool/src/helpers/transfer.ts
  packages/celotool/src/helpers/utils.ts
  packages/celotool/src/helpers/validator_register.ts
  packages/celotool/src/helpers/validatorgroup_register.ts
Due: none

remove references to protocol package
  packages/celotool/src/helpers/account_register.ts
  packages/celotool/src/helpers/election_show.ts
  packages/celotool/src/helpers/utils.ts
  packages/cli/src/commands/validator/register.ts
Due: none

scripts for running an election scenario
  packages/celotool/register_validatorgroup.sh
Due: none

Write the validators enodes
  packages/celotool/src/helpers/start_geth.ts
Due: none

Use commander to execute a local network
  packages/celotool/package-lock.json
  packages/celotool/package.json
  packages/celotool/src/helpers/start_geth.ts
  yarn.lock
Due: none

Add a script to add new geth validators
  packages/celotool/package.json
  packages/celotool/src/helpers/add_local_geth.ts
  yarn.lock
Due: none

Add proxy creation in script
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/helpers/add_local_geth.ts
  packages/celotool/src/helpers/start_geth.ts
  packages/celotool/src/lib/generate_utils.ts
  yarn.lock
Due: none

Convert all view calls to contract kit based attestations wrapper
  packages/contractkit/src/wrappers/Attestations.ts
  packages/mobile/src/identity/commentKey.ts
  packages/mobile/src/identity/contactMapping.ts
  packages/mobile/src/identity/verification.ts
  packages/mobile/src/invite/utils.ts
  packages/mobile/src/verify/VerificationCodeRow.tsx
  packages/mobile/src/verify/VerificationInputScreen.tsx
  packages/utils/src/attestations.test.ts
  packages/utils/src/attestations.ts
  packages/utils/src/signatureUtils.ts
  packages/walletkit/index.ts
  packages/walletkit/src/attestations.ts
Due: mobile

temp removing files that break installation
  packages/protocol/specs/harnesses/GovernanceHarness.sol
  packages/protocol/specs/harnesses/IRegistryExtended.sol
  packages/protocol/specs/harnesses/RegistryHarness.sol
  packages/protocol/specs/harnesses/SignatureExtractionTest.sol
Due: protocol

removing unneeded harness
  packages/protocol/specs/harnesses/LockedGoldHarness.sol
Due: protocol

temporarily removing list harnesses
  packages/protocol/specs/harnesses/AddressSortedListCheck.sol
  packages/protocol/specs/harnesses/IntegerSortedListCheck.sol
  packages/protocol/specs/harnesses/SortedListCheck.sol
Due: protocol

further unit tests added
  packages/protocol/contracts/governance/VestingInstance.sol
  packages/protocol/test/governance/vesting.ts
Due: protocol

Fix proxy creation
  packages/celotool/package.json
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/helpers/add_local_geth.ts
Due: none

adapting to comments and changing ports
  packages/docs/getting-started/running-a-validator-baklava.md
  scripts/run-docker-validator-network.sh
Due: none

Add more information in node addition script
  packages/celotool/src/helpers/add_local_geth.ts
Due: none

Fix typos
  packages/protocol/contracts/common/Accounts.sol
Due: protocol

Fix connection of proxy issue
  packages/celotool/src/helpers/add_local_geth.ts
  yarn.lock
Due: none
