Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

try to fix e2e tests
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/lib/geth.ts
Due: none

Update geth version and fix test
  packages/mobile/.env
  packages/mobile/package.json
  packages/mobile/src/identity/verification.test.ts
  yarn.lock
Due: mobile

Use forno urls everywhere (#2064)
  packages/blockchain-api/.env
  packages/blockchain-api/app.alfajores.yaml
  packages/blockchain-api/app.alfajoresstaging.yaml
  packages/blockchain-api/app.integration.yaml
  packages/blockchain-api/app.pilot.yaml
  packages/blockchain-api/app.pilotstaging.yaml
  packages/mobile/README.md
  packages/mobile/src/config.ts
  packages/notification-service/config/config.alfajores.env
  packages/notification-service/config/config.alfajoresstaging.env
  packages/notification-service/config/config.integration.env
  packages/notification-service/config/config.local.env
  packages/notification-service/config/config.pilot.env
  packages/notification-service/config/config.pilotstaging.env
  packages/notification-service/config/config.test.env
Due: mobile

Added working testnet for walletkit
  packages/mobile/.env.test
Due: mobile

Fix test, address feedback
  packages/contractkit/src/wrappers/Attestations.ts
  packages/mobile/.env
  packages/protocol/test/identity/attestations.ts
Due: mobile, protocol

Add delay for getActionable call failure
  packages/mobile/.env
  packages/mobile/src/identity/verification.test.ts
  packages/mobile/src/identity/verification.ts
Due: mobile

Add retry logic to getActionableAttestations Add missing string translation
  packages/mobile/locales/en-US/global.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/src/app/ErrorMessages.ts
  packages/mobile/src/identity/verification.test.ts
  packages/mobile/src/identity/verification.ts
Due: mobile

use uptime to calculate group rewards
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IValidators.sol
  packages/protocol/contracts/governance/test/MockValidators.sol
  packages/protocol/runTests.js
  packages/protocol/test/governance/election.ts
  packages/protocol/test/governance/validators.ts
Due: protocol

add precision value to test to avoid flakes
  packages/protocol/test/governance/epochrewards.ts
Due: protocol

docs: removes sleep from commands
  packages/docs/getting-started/running-a-full-node.md
  packages/docs/getting-started/running-a-validator.md
Due: none

Test that reserve receives epoch rewards
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

uncomment (#2097)
  packages/celotool/src/cmds/account/faucet.ts
Due: none

Use cli.table
  packages/cli/src/commands/rewards/show.ts
Due: none

Fix import
  packages/cli/src/utils/identity.ts
Due: none

Added Emojis, contribution options, get in touch links section
  README.md
Due: none

Filter voter rewards events by who --address has voted for
  packages/cli/src/commands/rewards/show.ts
Due: none

docs: adds -ti so ctrl+c works
  packages/docs/getting-started/running-a-validator.md
Due: none

Rearrange functions to avoid circular dependency (#2082)
  packages/cli/src/utils/identity.ts
  packages/contractkit/src/identity/claims/account.test.ts
  packages/contractkit/src/identity/claims/claim.ts
  packages/contractkit/src/identity/claims/verify.ts
  packages/docs/getting-started/running-a-validator.md
Due: none

docs: changes -ti to -it for consistency
  packages/docs/getting-started/running-a-validator.md
Due: none

Update TODOs
  packages/contractkit/src/wrappers/Attestations.ts
  packages/utils/src/attestations.test.ts
Due: none

[Wallet] Convert verification to off-chain reveal (#1987)
  packages/attestation-service/src/requestHandlers/attestation.ts
  packages/celotool/package.json
  packages/celotool/src/cmds/account/verify.ts
  packages/celotool/src/lib/attestation.ts
  packages/contractkit/src/wrappers/Attestations.ts
  packages/mobile/.env
  packages/mobile/locales/en-US/exchangeFlow9.json
  packages/mobile/locales/en-US/global.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/package.json
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/__snapshots__/Account.test.tsx.snap
  packages/mobile/src/app/ErrorMessages.ts
  packages/mobile/src/geth/networkConfig.ts
  packages/mobile/src/identity/commentKey.ts
  packages/mobile/src/identity/contactMapping.test.ts
  packages/mobile/src/identity/contactMapping.ts
  packages/mobile/src/identity/reducer.ts
  packages/mobile/src/identity/verification.test.ts
  packages/mobile/src/identity/verification.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/invite/utils.ts
  packages/mobile/src/networkInfo/saga.ts
  packages/mobile/src/verify/VerificationCodeRow.tsx
  packages/mobile/src/verify/VerificationInputScreen.tsx
  packages/mobile/src/web3/saga.ts
  packages/protocol/test/identity/attestations.ts
  packages/react-components/components/WithTextInputPasteAware.tsx
  packages/utils/src/async.test.ts
  packages/utils/src/attestations.test.ts
  packages/utils/src/attestations.ts
  packages/utils/src/index.ts
  packages/utils/src/signatureUtils.ts
  packages/walletkit/index.ts
  packages/walletkit/package.json
  packages/walletkit/src/attestations.ts
  packages/walletkit/src/contract-utils.ts
  yarn.lock
Due: mobile, protocol

Provide an endpoint that can accept POST requests
  packages/celotool/src/lib/attestation.ts
Due: none

WIP exchange rate directions
  packages/mobile/locales/en-US/nuxVerification2.json
  packages/mobile/src/exchange/ExchangeBuyScreen.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/actions.ts
  packages/mobile/src/exchange/saga.ts
Due: mobile

Fix ethstats reporting in validator script
  scripts/run-docker-validator-network.sh
Due: none

fix typo in event name
  packages/celotool/src/e2e-tests/utils.ts
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

redirect circle CI
  .circleci/config.yml
Due: none

Deal with unset var
  scripts/run-docker-validator-network.sh
Due: none

docs: removes sleep from commands (#2102)
  packages/docs/getting-started/running-a-full-node.md
  packages/docs/getting-started/running-a-validator.md
Due: none

Move to dev deps
  package.json
Due: none

move wait for port function to test-utils.ts
  packages/protocol/lib/test-utils.ts
  packages/protocol/runTests.js
Due: protocol

Don't build docs or web in CI (#1992)
  .circleci/config.yml
Due: none

export waitForPort for revert kill changes
  packages/celotool/src/e2e-tests/utils.ts
  packages/protocol/lib/test-utils.ts
Due: protocol

add test for score update events
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

Add a note about the cli version
  packages/docs/getting-started/running-a-validator.md
Due: none

Add caching layer
  packages/web/package.json
  packages/web/server/cache.ts
  yarn.lock
Due: none

Add fetch contributors De Duplicate error handling code
  packages/web/server/getContributors.ts
  packages/web/server/index.ts
  packages/web/src/about/Contributor.ts
Due: none

Updated front end for fetching contributors
  packages/web/src/about/Team.tsx
  packages/web/src/icons/External.tsx
Due: none

greater or equal
  packages/docs/getting-started/running-a-validator.md
Due: none

Add validator names and scores
  packages/cli/src/commands/rewards/show.ts
Due: none

Rename h5 -> h6
  packages/web/src/about/Team.tsx
  packages/web/src/brandkit/common/MobileMenu.tsx
  packages/web/src/community/EcoFund.tsx
  packages/web/src/community/connect/EventRow.tsx
  packages/web/src/community/connect/Events.tsx
  packages/web/src/community/connect/Fellow.tsx
  packages/web/src/dev/Engage.tsx
  packages/web/src/dev/Feature.tsx
  packages/web/src/dev/StackSection.tsx
  packages/web/src/fauceting/MicroComponents.tsx
  packages/web/src/fauceting/RequestFunds.tsx
  packages/web/src/forms/EmailForm.tsx
  packages/web/src/forms/FormComponents.tsx
  packages/web/src/home/version3/HomeCover.tsx
  packages/web/src/home/version3/HomeEmail.tsx
  packages/web/src/jobs/version3/JobRows.tsx
  packages/web/src/jobs/version3/Jobs.tsx
  packages/web/src/privacy/Privacy.tsx
  packages/web/src/shared/Card.tsx
  packages/web/src/shared/SocialChannels.tsx
  packages/web/src/terms/Agreement.tsx
  packages/web/src/terms/StakeOffTerms.tsx
Due: none

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
