Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

extend validator ssh script
  packages/celotool/src/cmds/restart-vm-validators.ts
  packages/celotool/src/cmds/validators-exec.ts
Due: none

governance test passes
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/lib/geth.ts
Due: none

Fix number bleeding on leaderboard axis on mobile
  packages/web/src/dev/LeaderBoard.tsx
Due: none

WIP
  packages/mobile/src/exchange/saga.ts
Due: mobile

Bump blockscout indexer memory + CPU
  packages/helm-charts/blockscout/templates/blockscout-indexer.deployment.yaml
Due: none

Lower memory
  packages/helm-charts/blockscout/templates/blockscout-indexer.deployment.yaml
Due: none

Rename buy screen to trade screen
  packages/mobile/src/exchange/ExchangeBuyScreen.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/Screens.tsx
Due: mobile

Add forEachEpochAsync
  packages/contractkit/src/utils/web3-utils.ts
  packages/contractkit/src/wrappers/Validators.ts
Due: none

some finetuning
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/lib/geth.ts
Due: none

WIP found contractkit bug
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/saga.ts
  packages/mobile/src/navigator/Navigator.tsx
Due: mobile

remove comment
  packages/celotool/src/lib/geth.ts
Due: none

More merge fixes
  packages/contractkit/src/wrappers/Election.ts
  packages/protocol/migrations/08_stabletoken.ts
Due: protocol

return fixidity number instead of numerator and denominator
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IValidators.sol
  packages/protocol/contracts/governance/test/MockValidators.sol
  packages/protocol/test/governance/validators.ts
Due: protocol

Fix ci test check script
  scripts/ci_check_if_test_should_run_v2.sh
Due: none

Add leaderboard anchor
  packages/web/src/dev/Cover.tsx
  packages/web/src/dev/LeaderBoard.tsx
  packages/web/src/dev/LeaderBoardApp.tsx
  packages/web/src/shared/menu-items.ts
Due: none

Update disclaimers (#2121)
  packages/docs/important-information/alfajores-testnet-disclaimer.md
  packages/docs/important-information/baklava-testnet-disclaimer.md
Due: none

Get exchange direction rate correct
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
  packages/mobile/src/utils/currencyExchange.ts
Due: mobile

Fix failing typescript
  packages/celotool/src/lib/geth.ts
Due: none

Revert "Fix ci test check script"
  scripts/ci_check_if_test_should_run_v2.sh
Due: none

Clean up exchange review
  packages/mobile/src/exchange/ExchangeReview.tsx
Due: mobile

Remove logging statements
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
Due: mobile

Adjust blockscout indexer memory and CPU (#2137)
  packages/helm-charts/blockscout/templates/blockscout-indexer.deployment.yaml
Due: none

Should Fix issue Connor saw where coin was not at the end of the line
  packages/web/src/dev/Racer.tsx
Due: none

Clean up saga
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/saga.ts
Due: mobile

Remove unused state
  packages/mobile/src/exchange/ExchangeHomeScreen.tsx
Due: mobile

Deinline style
  packages/web/src/dev/Racer.tsx
Due: none

Heading Style Fixes (#2109)
  packages/web/src/about/Team.tsx
  packages/web/src/brandkit/Color.tsx
  packages/web/src/brandkit/IconsPage.tsx
  packages/web/src/brandkit/Intro.tsx
  packages/web/src/brandkit/Logo.tsx
  packages/web/src/brandkit/Typography.tsx
  packages/web/src/brandkit/color/Palette.tsx
  packages/web/src/brandkit/common/MobileMenu.tsx
  packages/web/src/brandkit/typography/UseageExample.tsx
  packages/web/src/community/EcoFund.tsx
  packages/web/src/community/connect/EventRow.tsx
  packages/web/src/community/connect/Events.tsx
  packages/web/src/community/connect/Fellow.tsx
  packages/web/src/dev/Engage.tsx
  packages/web/src/dev/Feature.tsx
  packages/web/src/dev/StackSection.tsx
  packages/web/src/fauceting/MicroComponents.tsx
  packages/web/src/fauceting/RequestFunds.tsx
  packages/web/src/forms/EmailForm.tsx
  packages/web/src/forms/FormComponents.tsx
  packages/web/src/home/version3/HomeCover.tsx
  packages/web/src/home/version3/HomeEmail.tsx
  packages/web/src/jobs/version3/JobRows.tsx
  packages/web/src/jobs/version3/Jobs.tsx
  packages/web/src/privacy/Privacy.tsx
  packages/web/src/shared/Card.tsx
  packages/web/src/shared/SocialChannels.tsx
  packages/web/src/styles.ts
  packages/web/src/terms/Agreement.tsx
  packages/web/src/terms/StakeOffTerms.tsx
Due: none

Separate exchange header
  packages/mobile/src/exchange/ExchangeHeader.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
Due: mobile

Update translations
  packages/mobile/locales/en-US/exchangeFlow9.json
  packages/mobile/locales/es-419/exchangeFlow9.json
  packages/mobile/src/exchange/ExchangeHeader.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
Due: mobile

Redirect for stake off (#2134)
  packages/web/server/index.ts
Due: none

Update translations
  packages/mobile/locales/en-US/exchangeFlow9.json
  packages/mobile/locales/es-419/exchangeFlow9.json
  packages/mobile/src/exchange/ExchangeHeader.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
  packages/mobile/src/exchange/saga.ts
  packages/mobile/src/utils/currencyExchange.ts
Due: mobile

Clean up css, fix conversion
  packages/mobile/src/exchange/ExchangeReview.tsx
Due: mobile

Add fee icon, fix confirmation card missing fee
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
Due: mobile

Use currency enum not token
  packages/mobile/src/exchange/ExchangeHomeScreen.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
Due: mobile

Remove keyboard scrollview
  packages/mobile/src/exchange/ExchangeReview.tsx
Due: mobile

Improvements from review
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/test/stability/reserve.ts
Due: protocol

More fixes + additional CK methods
  packages/cli/src/utils/command.ts
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/wrappers/Governance.ts
Due: none

Add celotool command to deploy a hotfix
  packages/celotool/src/cmds/deploy/upgrade/hotfix.ts
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/governance/proxy.ts
Due: none

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
