Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

Move getting the whole validator set to contractkit
  packages/cli/src/commands/validatorset.ts
  packages/contractkit/src/wrappers/Validators.ts
Due: none

Fix prettier lint
  packages/protocol/migrations/15_governance.ts
  packages/protocol/test/governance/governance.ts
Due: protocol

Refactor
  packages/cli/src/commands/validatorset.ts
  packages/contractkit/src/wrappers/Validators.ts
Due: none

Add generated validatorset docs
  packages/docs/command-line-interface/validatorset.md
Due: none

Add command to output validator set (#1053)
  packages/cli/src/commands/validatorset.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/docs/command-line-interface/validatorset.md
Due: none

Fill out when entire name is typed
  packages/web/package.json
  packages/web/src/fauceting/PhoneInput.tsx
  yarn.lock
Due: none

nicer styling of list
  packages/web/src/fauceting/PhoneInput.tsx
Due: none

Clean up governance and proposal style for PR comments
  packages/protocol/contracts/common/FixidityLib.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/interfaces/IGovernance.sol
  packages/protocol/scripts/python/checkBytecodeLen.py
  packages/protocol/test/governance/governance.ts
  packages/protocol/test/governance/proposals.ts
Due: protocol

Cleanup styles
  packages/web/src/fauceting/PhoneInput.tsx
Due: none

More changes
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/UsingLockedGold.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/ILockedGold.sol
  packages/protocol/contracts/governance/interfaces/IValidators.sol
  packages/protocol/contracts/governance/test/MockLockedGold.sol
  packages/protocol/contracts/identity/Attestations.sol
Due: protocol

Community Page Loading + (#904)
  packages/web/server/mediumAPI.ts
  packages/web/src/community/Articles.tsx
  packages/web/src/community/connect/ArticleData.tsx
  packages/web/src/community/connect/ArticlesSection.tsx
  packages/web/src/community/connect/ConnectPage.tsx
  packages/web/src/community/connect/Contribute.tsx
  packages/web/src/community/connect/Events.tsx
  packages/web/src/community/connect/FellowSection.tsx
Due: none

Remove TokenWrapper
  packages/contractkit/src/wrappers/TokenWrapper.ts
Due: none

ContractKit Attestations Wrapper (#1019)
  packages/celotool/package.json
  packages/celotool/src/cmds/account/lookup.ts
  packages/celotool/src/cmds/account/verify.ts
  packages/contractkit/src/wrappers/Attestations.ts
  packages/contractkit/src/wrappers/BaseWrapper.ts
  packages/contractkit/types/web3-utils.d.ts
  packages/utils/src/collections.ts
Due: none

Extract attestation message signing to utils
  packages/protocol/test/identity/attestations.ts
  packages/utils/src/attestations.ts
  packages/utils/src/index.ts
Due: protocol

change a test variable scope
  packages/protocol/test/governance/bondeddeposits.ts
Due: protocol

added maxGroupSize as a configuration parameter
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/migrations/11_validators.ts
  packages/protocol/migrationsConfig.js
Due: protocol

added tests for setMaxGroupSize
  packages/protocol/test/governance/validators.ts
Due: protocol

changed variable names
  packages/contractkit/src/wrappers/Attestations.ts
Due: none

extracting function signatures seems to be working
  packages/protocol/contracts/common/ExtractFunctionSignature.sol
  packages/protocol/contracts/common/test/ExtractFunctionSignatureTest.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/migrationsConfig.js
  packages/protocol/test/common/extractfunctionsignature.ts
Due: protocol

bumping tests
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

Added a public method to LockedGold to check if an account exists (#1014)
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/test/governance/bondeddeposits.ts
Due: protocol

add test for QRGen
  packages/mobile/src/qrcode/QRGen.test.tsx
  packages/mobile/src/qrcode/QRScanner.tsx
  packages/mobile/src/qrcode/__snapshots__/QRGen.test.tsx.snap
  packages/mobile/src/qrcode/utils.ts
Due: mobile

adds the validation of is a contract address before executing call or delegatecall
  packages/protocol/contracts/common/MultiSig.sol
  packages/protocol/contracts/common/Proxy.sol
  packages/protocol/contracts/common/libraries/AddressesHelper.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/test/governance/governance.ts
Due: protocol

Use latest react-native-geth
  packages/mobile/__mocks__/react-native-geth.js
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/package.json
  packages/mobile/src/geth/saga.ts
  patches/react-native-geth+0.1.0-development.patch
  yarn.lock
Due: mobile

worked on the contract side
  packages/protocol/contracts/governance/BlockchainParams.sol
  packages/protocol/contracts/governance/proxies/BlockchainParamsProxy.sol
  packages/protocol/lib/proxy-utils.ts
  packages/protocol/lib/registry-utils.ts
  packages/protocol/migrations/15_blockchainparams.ts
  packages/protocol/migrations/50_governance.ts
  packages/protocol/migrations/51_elect_validators.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/common/linkedlist.ts
  packages/protocol/test/governance/blockchainparams.ts
Due: protocol

Add serialization of signatures to utils
  packages/utils/src/attestations.ts
  packages/utils/src/signatureUtils.ts
Due: none

Camelcase roles and style fix
  packages/cli/src/commands/lockedgold/delegate.ts
  packages/cli/src/commands/lockedgold/list.ts
  packages/contractkit/src/base.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/docs/command-line-interface/lockedgold.md
Due: none

update truffle.js issue
  packages/cli/README.md
Due: none

Compiling
  packages/protocol/contracts/common/linkedlists/AddressSortedLinkedList.sol
  packages/protocol/contracts/common/linkedlists/SortedLinkedList.sol
  packages/protocol/contracts/common/test/FixidityTest.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IElection.sol
  packages/protocol/contracts/governance/interfaces/IGovernance.sol
  packages/protocol/contracts/governance/interfaces/ILockedGold.sol
  packages/protocol/contracts/governance/interfaces/IValidators.sol
Due: protocol

Shuffle elected validators using block randomness (#1033)
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/identity/test/MockRandom.sol
  packages/protocol/runTests.js
  packages/protocol/test/governance/validators.ts
  packages/protocol/truffle.js
Due: protocol

Event from s air table need to fix date
  packages/web/fullstack/EventProps.ts
  packages/web/server/EventHelpers.ts
  packages/web/server/airtable.ts
  packages/web/src/community/connect/EventRow.tsx
Due: none

Fix sentry calls, should be event not exception
  packages/web/server/Announcement.ts
  packages/web/server/addToCRM.ts
  packages/web/server/index.ts
Due: none

What what what what what what what what
  packages/web/server/Announcement.ts
  packages/web/server/EventHelpers.ts
  packages/web/server/index.ts
  packages/web/src/shared/PlaceDate.tsx
Due: none

[CLI]Unlock till the geth exits
  packages/cli/src/commands/account/unlock.ts
Due: none

Updated validators test
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/test/MockElection.sol
  packages/protocol/contracts/governance/test/MockLockedGold.sol
  packages/protocol/contracts/stability/Exchange.sol
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/test/governance/bondeddeposits.ts
  packages/protocol/test/governance/election.ts
  packages/protocol/test/governance/lockedgold.ts
Due: protocol

style nits
  .circleci/config.yml
  packages/protocol/contracts/common/MultiSig.sol
  packages/protocol/contracts/common/Proxy.sol
  packages/protocol/contracts/common/libraries/AddressesHelper.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/test/governance/governance.ts
Due: protocol

Fix lint issues
  packages/protocol/contracts/common/FixidityLib.sol
Due: protocol

Add Quorum and Refactor Governance (#430)
  packages/protocol/contracts/common/FixidityLib.sol
  packages/protocol/contracts/common/FractionUtil.sol
  packages/protocol/contracts/common/test/FixidityTest.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/Proposals.sol
  packages/protocol/contracts/governance/UsingLockedGold.sol
  packages/protocol/contracts/governance/interfaces/IGovernance.sol
  packages/protocol/contracts/governance/interfaces/ILockedGold.sol
  packages/protocol/contracts/governance/test/MockLockedGold.sol
  packages/protocol/contracts/governance/test/ProposalsTest.sol
  packages/protocol/migrations/15_governance.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/scripts/python/checkBytecodeLen.py
  packages/protocol/test/common/integration.ts
  packages/protocol/test/governance/governance.ts
  packages/protocol/test/governance/proposals.ts
  packages/protocol/truffle.js
  yarn.lock
Due: protocol

[CLI]Unlock till the geth exits
  packages/cli/package.json
  packages/cli/src/commands/account/unlock.ts
Due: none
