Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

Better way to do it
  packages/protocol/migrations/20_elect_validators.ts
Due: protocol

Updating votes so first and last group maintain large votes.
  packages/protocol/migrations/20_elect_validators.ts
  packages/protocol/migrationsConfig.js
Due: protocol

Addressing review
  packages/protocol/migrations/20_elect_validators.ts
Due: protocol

Removing unneccessary config var
  packages/protocol/migrations/20_elect_validators.ts
  packages/protocol/migrationsConfig.js
Due: protocol

Remove any
  packages/cli/src/commands/rewards/show.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/docs/command-line-interface/rewards.md
Due: none

Update images
  .env.baklava
Due: none

Add TOC and tweaks
  README.md
Due: none

Update network security config
  packages/mobile/android/app/src/main/AndroidManifest.xml
  packages/mobile/android/app/src/main/res/xml/network_security_config.xml
Due: mobile

Updates TME docker images
  .env
  .env.baklava
  .env.baklavastaging
  .env.integration
  packages/contractkit/src/explorer/log-explorer.ts
Due: none

Upgrade next-i18next
  packages/web/package.json
  packages/web/src/brandkit/Color.tsx
  packages/web/src/brandkit/IconsPage.tsx
  packages/web/src/brandkit/KeyImagery.tsx
  packages/web/src/header/Header.3.tsx
  packages/web/src/home/version3/HomeWork.tsx
  packages/web/src/i18n.ts
  packages/web/src/next-i18next-aug.d.ts
  yarn.lock
Due: none

Fix types
  packages/react-components/analytics/wrapper.tsx
Due: none

Fix TOC links
  README.md
Due: none

Update attestation service docker images
  .env
  .env.baklava
  .env.baklavastaging
  .env.integration
Due: none

Upgrade nuke carousel to upstream versions
  packages/web/package.json
  yarn.lock
Due: none

Add Charles reference to readme
  packages/mobile/README.md
Due: mobile

Changing validator group voting gold (#2171)
  packages/protocol/migrations/20_elect_validators.ts
  packages/protocol/migrationsConfig.js
Due: protocol

Fix typescript compile
  packages/mobile/src/web3/contracts.ts
  packages/walletkit/package.json
  packages/walletkit/src/abi.ts
  packages/walletkit/src/contract-utils-v2.ts
  packages/walletkit/src/contract-utils.ts
  packages/walletkit/src/new-web3-utils.ts
  packages/walletkit/src/transaction-utils.ts
  packages/walletkit/test/contract-utils-v2.test.ts
Due: mobile

Dont show this error for now
  packages/web/fullstack/sentry.ts
Due: none

Dont show this error for now (#2205)
  packages/web/fullstack/sentry.ts
Due: none

Fix yarn lock
  yarn.lock
Due: none

Remove celotool from celotool transactions commands
  packages/celotool/src/cmds/transactions/describe.ts
  packages/celotool/src/cmds/transactions/list.ts
Due: none

Last anys removed
  packages/cli/src/commands/rewards/show.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
Due: none

Remove walletkit code
  packages/walletkit/index.ts
  packages/walletkit/src/abi.ts
Due: none

Overhaul readme (#2201)
  README.md
Due: none

Make --no-truncate a globl CLI flag
  packages/cli/src/base.ts
  packages/cli/src/commands/rewards/show.ts
  packages/cli/src/commands/validator/list.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/docs/command-line-interface/account.md
  packages/docs/command-line-interface/config.md
  packages/docs/command-line-interface/election.md
  packages/docs/command-line-interface/exchange.md
  packages/docs/command-line-interface/lockedgold.md
  packages/docs/command-line-interface/network.md
  packages/docs/command-line-interface/node.md
  packages/docs/command-line-interface/oracle.md
  packages/docs/command-line-interface/rewards.md
  packages/docs/command-line-interface/transfer.md
  packages/docs/command-line-interface/validator.md
  packages/docs/command-line-interface/validatorgroup.md
Due: none

HACK: continue migrations
  packages/protocol/migrations/20_elect_validators.ts
  packages/protocol/scripts/bash/init_network.sh
Due: protocol

Indicate attestation fees
  packages/docs/getting-started/running-a-validator.md
Due: none

Rename to statefulset and update docker images
  .env
  .env.baklava
  .env.baklavastaging
  .env.integration
  packages/helm-charts/attestation-bot/templates/statefulset.yaml
Due: none

Fix implicit anys
  packages/cli/src/commands/rewards/show.ts
Due: none

ts ignore
  packages/walletkit/src/contract-utils.ts
Due: none

Wait for only waitTime - 1 blocks
  packages/contractkit/src/wrappers/Attestations.ts
Due: none

Add --[no-]truncate for all cli.table
  packages/cli/src/base.ts
  packages/cli/src/commands/election/current.ts
  packages/cli/src/commands/election/list.ts
  packages/cli/src/commands/election/run.ts
  packages/cli/src/commands/oracle/rates.ts
  packages/cli/src/commands/validatorgroup/list.ts
  packages/docs/command-line-interface/account.md
  packages/docs/command-line-interface/config.md
  packages/docs/command-line-interface/election.md
  packages/docs/command-line-interface/exchange.md
  packages/docs/command-line-interface/lockedgold.md
  packages/docs/command-line-interface/network.md
  packages/docs/command-line-interface/node.md
  packages/docs/command-line-interface/oracle.md
  packages/docs/command-line-interface/rewards.md
  packages/docs/command-line-interface/transfer.md
  packages/docs/command-line-interface/validator.md
  packages/docs/command-line-interface/validatorgroup.md
Due: none

Add /test_attestations endpoint on the attestation service (#2189)
  packages/attestation-service/src/env.ts
  packages/attestation-service/src/index.ts
  packages/attestation-service/src/request.ts
  packages/attestation-service/src/requestHandlers/attestation.ts
  packages/attestation-service/src/requestHandlers/status.ts
  packages/attestation-service/src/requestHandlers/test_attestation.ts
  packages/cli/src/commands/identity/test-attestation-service.ts
  packages/cli/src/utils/checks.ts
  packages/cli/src/utils/command.ts
  packages/docs/command-line-interface/identity.md
  packages/utils/src/io.ts
Due: none

Improve reliability of e2e governance test
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
Due: none

Add Twilio and attestation bot envs (#2194)
  .env.baklava
  .env.baklavastaging
  .env.mnemonic.baklava.enc
  .env.mnemonic.baklavastaging.enc
Due: none

Revert commentKey
  packages/mobile/src/identity/commentKey.ts
Due: mobile

Fix walletkit gatewayfee
  packages/walletkit/src/contract-utils.ts
Due: none

Debugging statements
  packages/mobile/src/send/saga.ts
  packages/mobile/src/transactions/send.ts
Due: mobile

Add comments from design doc
  packages/cli/src/commands/rewards/show.ts
Due: none

Election hack
  packages/protocol/migrations/20_elect_validators.ts
Due: protocol
