Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

[N17] Different address nomenclature for precompiled contracts
  packages/protocol/contracts/common/GoldToken.sol
Due: protocol

[N19] Docs incorrect regarding proposal deposits
  packages/docs/celo-codebase/protocol/governance.md
Due: none

[N21] Inconsistent use of onlyVm modifier
  packages/protocol/contracts/common/CalledByVm.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/identity/Random.sol
Due: protocol

[N22] Not using EIP 1967: Standard Proxy Storage Slots
  packages/protocol/contracts/common/Proxy.sol
Due: protocol

[N23] Unused code
  packages/protocol/contracts/common/FixidityLib.sol
  packages/protocol/contracts/stability/Reserve.sol
Due: protocol

Revert visibility
  packages/protocol/contracts/common/FixidityLib.sol
Due: protocol

[M12] There is no security policy
  SECURITY.md
Due: none

[L09] Lack of indexed parameters in events
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/SortedOracles.sol
Due: protocol

Typos
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/governance/LockedGold.sol
Due: protocol

Feedback
  packages/protocol/contracts/common/FeeCurrencyWhitelist.sol
Due: protocol

Oops
  packages/protocol/contracts/governance/LockedGold.sol
Due: protocol

Compiles
  packages/protocol/contracts/stability/SortedOracles.sol
Due: protocol

Make end-to-end tests pass
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
Due: none

Fix
  packages/protocol/contracts/common/MultiSig.sol
Due: protocol

Fix tests
  packages/protocol/test/common/multisig.ts
Due: protocol

Update genesis block
  packages/celotool/src/lib/genesis_constants.ts
Due: none

Fix cloudbuild OOM by using machine with more CPU
  cloudbuild.yaml
Due: none

[L10] Inconsistent validation of variables (#2813)
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/stability/SortedOracles.sol
  packages/protocol/contracts/stability/StableToken.sol
Due: protocol

💖 testing out text sparkle animation
  packages/web/src/collective/Collective.tsx
Due: none

[protocol] add multisig to governance approver and reserve spender
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/e2e-tests/validator_order_tests.ts
  packages/cli/package.json
  packages/contractkit/package.json
  packages/protocol/contracts/common/proxies/MultiSigProxy.sol
  packages/protocol/contracts/governance/GovernanceApproverMultiSig.sol
  packages/protocol/contracts/governance/proxies/GovernanceApproverMultiSigProxy.sol
  packages/protocol/contracts/stability/ReserveSpenderMultiSig.sol
  packages/protocol/contracts/stability/proxies/ReserveSpenderMultiSigProxy.sol
  packages/protocol/lib/registry-utils.ts
  packages/protocol/lib/web3-utils.ts
  packages/protocol/migrations/07_reserve_sender_multisig.ts
  packages/protocol/migrations/08_reserve.ts
  packages/protocol/migrations/09_stabletoken.ts
  packages/protocol/migrations/10_exchange.ts
  packages/protocol/migrations/11_accounts.ts
  packages/protocol/migrations/12_lockedgold.ts
  packages/protocol/migrations/13_validators.ts
  packages/protocol/migrations/14_election.ts
  packages/protocol/migrations/15_epoch_rewards.ts
  packages/protocol/migrations/16_random.ts
  packages/protocol/migrations/17_attestations.ts
  packages/protocol/migrations/18_escrow.ts
  packages/protocol/migrations/19_blockchainparams.ts
  packages/protocol/migrations/20_governance_slasher.ts
  packages/protocol/migrations/21_double_signing_slasher.ts
  packages/protocol/migrations/22_downtime_slasher.ts
  packages/protocol/migrations/23_governance_approver_multisig.ts
  packages/protocol/migrations/24_governance.ts
  packages/protocol/migrations/25_elect_validators.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/runTests.js
  packages/protocol/test/common/integration.ts
Due: protocol

Fix tests, remove unnecessary assembly
  packages/protocol/contracts/common/MultiSig.sol
  packages/protocol/test/common/multisig.ts
Due: protocol

[L07] The minimum gas price calculation differs from documentation (#2889)
  packages/docs/celo-codebase/protocol/transactions/gas-pricing.md
Due: none

adding new gas payment functions
  packages/protocol/contracts/stability/StableToken.sol
Due: protocol

fixing
  packages/protocol/contracts/stability/StableToken.sol
Due: protocol

[M04] Undocumented assembly blocks (#2895)
  packages/protocol/contracts/common/Proxy.sol
Due: protocol

updating tests
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/protocol/contracts/stability/StableToken.sol
Due: protocol

pointing ci to correct branch
  .circleci/config.yml
Due: none

[L09] Lack of indexed parameters in events (#2907)
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/SortedOracles.sol
Due: protocol

lint
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

Fix linting
  packages/celotool/src/cmds/deploy/destroy/celostats.ts
  packages/celotool/src/cmds/deploy/initial/celostats.ts
  packages/celotool/src/cmds/deploy/upgrade/celostats.ts
Due: none

[L21] Lack of assert statement may produce unexpected slash (#2891)
  packages/protocol/contracts/governance/SlasherUtil.sol
Due: protocol

Address comments
  packages/mobile/__mocks__/react-native-firebase.ts
  packages/mobile/src/firebase/dynamicLinks.test.ts
Due: mobile

[Wallet] Lock the whole wallet with PIN (#2648)
  packages/mobile/android/app/src/main/java/org/celo/mobile/MainActivity.java
  packages/mobile/ios/celo/AppDelegate.m
  packages/mobile/locales/en-US/accountScreen10.json
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/Security.tsx
  packages/mobile/src/account/saga.ts
  packages/mobile/src/app/Background.test.tsx
  packages/mobile/src/app/Background.tsx
  packages/mobile/src/app/__snapshots__/Background.test.tsx.snap
  packages/mobile/src/app/actions.ts
  packages/mobile/src/app/reducers.ts
  packages/mobile/src/app/saga.test.ts
  packages/mobile/src/app/saga.ts
  packages/mobile/src/app/selectors.ts
  packages/mobile/src/geth/saga.ts
  packages/mobile/src/navigator/NavigationService.ts
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/NavigatorWrapper.tsx
  packages/mobile/src/navigator/Screens.tsx
  packages/mobile/src/pincode/PincodeConfirmation.tsx
  packages/mobile/test/schemas.ts
  packages/mobile/test/values.ts
Due: mobile

[Wallet]: Invite text message link support for iOS (#2782)
  packages/mobile/__mocks__/react-native-device-info.ts
  packages/mobile/__mocks__/react-native-firebase.ts
  packages/mobile/__mocks__/react-native-version-check.ts
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/main/java/org/celo/mobile/MainApplication.java
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo.xcodeproj/xcshareddata/xcschemes/celo.xcscheme
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/src/account/InviteReview.test.tsx
  packages/mobile/src/account/InviteReview.tsx
  packages/mobile/src/firebase/dynamicLinks.test.ts
  packages/mobile/src/firebase/dynamicLinks.ts
  packages/mobile/src/invite/EnterInviteCode.tsx
  packages/mobile/src/invite/actions.ts
  packages/mobile/src/invite/saga.test.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/invite/utils.ts
  packages/mobile/src/send/saga.ts
  packages/mobile/src/utils/appstore.ts
  packages/mobile/src/utils/dynamicLink.ts
Due: mobile

Fix cloudbuild OOM by using machine with more CPU (#2909)
  cloudbuild.yaml
Due: none

Changes to the smart contract
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

Initialize comissionUpdateDelay to an epoch by default
  packages/celotool/src/lib/migration-utils.ts
  packages/protocol/migrations/12_validators.ts
  packages/protocol/migrationsConfig.js
Due: protocol

fix solidity typo
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

Fix solidity tests
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/test/governance/validators.ts
Due: protocol

Fix migraitons typo
  packages/celotool/src/lib/migration-utils.ts
  packages/protocol/migrations/12_validators.ts
  packages/protocol/migrationsConfig.js
Due: protocol

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
