Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

adding blockchainparameters to contractkit
  packages/contractkit/src/base.ts
  packages/contractkit/src/contract-cache.ts
  packages/contractkit/src/web3-contract-cache.ts
  packages/contractkit/src/wrappers/BlockchainParameters.ts
  packages/protocol/scripts/build.ts
Due: protocol

RetryWithBackOff for nexmo sends
  packages/attestation-service/src/attestation.ts
  packages/attestation-service/src/sms.ts
  packages/utils/src/async.ts
  packages/verification-pool-api/src/config.ts
  packages/verification-pool-api/src/verification.ts
Due: none

sketch of some tests
  packages/protocol/test/stability/sortedoracles.ts
Due: protocol

removed timeout
  .circleci/config.yml
Due: none

trying to fix
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

Enable other tests
  .circleci/config.yml
Due: none

Added node cache
  .circleci/config.yml
Due: none

[Wallet] Fix syncing issue caused by circular dependency
  packages/mobile/src/apollo/index.ts
  packages/mobile/src/config.ts
  packages/mobile/src/geth/geth.ts
  packages/mobile/src/geth/networkConfig.ts
  packages/mobile/src/web3/contracts.ts
  packages/mobile/src/web3/testnets.ts
Due: mobile

Swap out image for version that works on light background
  packages/web/src/shared/ConnectionFooter.tsx
Due: none

Remove console.log
  packages/mobile/src/geth/networkConfig.ts
Due: mobile

Changed cache keys
  .circleci/config.yml
Due: none

[Wallet] Fix syncing issue caused by circular dependency (#1252)
  packages/mobile/src/apollo/index.ts
  packages/mobile/src/config.ts
  packages/mobile/src/geth/geth.ts
  packages/mobile/src/geth/networkConfig.ts
  packages/mobile/src/web3/contracts.ts
  packages/mobile/src/web3/testnets.ts
Due: mobile

now the test seems to work
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

Revert "trying to fix"
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

clean up
  packages/celotool/src/e2e-tests/utils.ts
  packages/protocol/lib/proxy-utils.ts
Due: protocol

Fix fellowship form
  packages/web/fullstack/sentry.ts
  packages/web/server/FellowshipApp.ts
  packages/web/server/index.ts
  packages/web/src/community/connect/FellowshipForm.tsx
Due: none

fix cache
  .circleci/config.yml
Due: none

Update transaction-metrics-exporter to work with vm testnets
  packages/celotool/src/lib/blockscout.ts
  packages/celotool/src/lib/transaction-metrics-exporter.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/helm-charts/transaction-metrics-exporter/templates/deployment.yaml
  packages/helm-charts/transaction-metrics-exporter/values.yaml
Due: none

Replace culture photo
  packages/web/src/join/ImagePanes.tsx
  packages/web/src/join/berlinOffice.jpg
  packages/web/src/join/laurance-joe.jpg
Due: none

enabled tests again
  .circleci/config.yml
Due: none

lint lint
  packages/web/server/index.ts
Due: none

Fix import orders
  packages/web/server/index.ts
  packages/web/src/about/About.tsx
  packages/web/src/about/Backers.tsx
  packages/web/src/about/PressMedia.tsx
  packages/web/src/about/Team.tsx
  packages/web/src/community/connect/FullCircle.tsx
Due: none

lint fix import order
  packages/web/src/community/connect/FellowshipForm.tsx
Due: none

Add step to install typescript and other minor edits
  SETUP.md
Due: none

deleted ls
  .circleci/config.yml
Due: none

Darken images for backers
  packages/web/src/about/backers/9yardscapital.png
  packages/web/src/about/backers/a-capital-logo.png
  packages/web/src/about/backers/andromeda-logo.png
  packages/web/src/about/backers/dragonfly-capital-partners.jpg
  packages/web/src/about/backers/gc.png
  packages/web/src/about/backers/version-one.png
  packages/web/src/about/backers/version-one@2x.png
Due: none

[CLI]Test npm install on local package (#1207)
  .circleci/config.yml
  packages/cli/package.json
  packages/cli/tsconfig.json
Due: none

Fix all docker images
  packages/contractkit/src/wrappers/GoldTokenWrapper.ts
Due: none

Fix incremental testing script
  scripts/check_if_test_should_run_v2.ts
Due: none

Fix typos in dev README
  README-dev.md
Due: none

Add env file to checksum
  .circleci/config.yml
  packages/mobile/scripts/run_e2e.sh
  packages/mobile/scripts/wait_for_emulator_to_connect.sh
Due: mobile

[Documentation]Add documentation various cloud storage buckets
  README-dev.md
Due: none

[celotool]Use user info from gcloud tool
  packages/celotool/src/lib/testnet-utils.ts
Due: none

Address comments
  packages/cli/package.json
  packages/cli/src/commands/election/vote.ts
  packages/cli/src/commands/lockedgold/authorize.ts
  packages/cli/src/commands/lockedgold/lock.ts
  packages/cli/src/commands/lockedgold/show.ts
  packages/cli/src/commands/lockedgold/unlock.ts
  packages/cli/src/commands/lockedgold/withdraw.ts
  packages/cli/src/commands/validatorgroup/member.ts
  packages/cli/src/commands/validatorgroup/register.ts
  packages/cli/src/utils/lockedgold.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/common/linkedlists/AddressLinkedList.sol
  packages/protocol/contracts/common/linkedlists/LinkedList.sol
  packages/protocol/contracts/common/linkedlists/SortedLinkedList.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/election.ts
  packages/protocol/test/governance/validators.ts
Due: protocol

Fix transaction-metrics-exporter dockerfile
  dockerfiles/transaction-metrics-exporter/Dockerfile
Due: none

Fix incremental testing script (#1255)
  scripts/check_if_test_should_run_v2.ts
Due: none

Fix linting issues
  packages/protocol/contracts/governance/Election.sol
Due: protocol

[Documentation]Add documentation around our CI setup
  README-dev.md
Due: none

ecoFund cover mobile views
  packages/web/src/ecosystem/EcoCover.tsx
Due: none

Better placement of graphic on tablets f
  packages/web/src/ecosystem/EcoCover.tsx
Due: none

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
