Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

reinstate helper code that will be removed later anyway
  packages/helm-charts/testnet/templates/_helpers.tpl
Due: none

Fix lint
  packages/cli/src/utils/checks.ts
Due: none

fix error of calling celotool where it is not available
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
  packages/terraform-modules/testnet/modules/validator/startup.sh
Due: none

add ampersand
  packages/terraform-modules/testnet/modules/validator/startup.sh
Due: none

peer only validators
  packages/celotool/src/e2e-tests/utils.ts
Due: none

Indicate account registration (#1928)
  packages/cli/src/utils/checks.ts
Due: none

Address my own comments
  packages/docs/getting-started/running-a-validator.md
Due: none

Cleanup
  packages/docs/getting-started/running-a-validator.md
Due: none

Enhanced Validator Setup Docs (#1926)
  packages/attestation-service/README.md
  packages/attestation-service/config/.env.development
  packages/attestation-service/src/requestHandlers/attestation.ts
  packages/docs/getting-started/baklava-testnet.md
  packages/docs/getting-started/running-a-validator.md
  packages/docs/getting-started/running-attestation-service.md
  packages/helm-charts/attestation-service/templates/attestation.statefulset.yaml
Due: none

Generate the pop for the attestation service with geth
  packages/docs/getting-started/running-a-validator.md
Due: none

lazily resolve enodes from ports
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/sync_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
Due: none

Add Payments You've Requested page
  packages/mobile/locales/en-US/paymentRequestFlow.json
  packages/mobile/locales/en-US/walletFlow5.json
  packages/mobile/src/account/actions.ts
  packages/mobile/src/account/reducer.ts
  packages/mobile/src/account/selectors.test.ts
  packages/mobile/src/account/selectors.ts
  packages/mobile/src/account/types.ts
  packages/mobile/src/analytics/constants.ts
  packages/mobile/src/firebase/actions.ts
  packages/mobile/src/firebase/saga.ts
  packages/mobile/src/home/NotificationBox.tsx
  packages/mobile/src/home/selectors.ts
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/Screens.tsx
  packages/mobile/src/notifications/IncomingPaymentRequestSummaryNotification.test.tsx
  packages/mobile/src/notifications/IncomingPaymentRequestSummaryNotification.tsx
  packages/mobile/src/notifications/OutgoingPaymentRequestSummaryNotification.test.tsx
  packages/mobile/src/notifications/OutgoingPaymentRequestSummaryNotification.tsx
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListItem.test.tsx
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListItem.tsx
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListScreen.test.tsx
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListScreen.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListItem.test.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListItem.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListScreen.test.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListScreen.tsx
  packages/mobile/src/redux/selectors.ts
Due: mobile

fix test for Incoming Payment Requests
  packages/mobile/src/account/selectors.test.ts
  packages/mobile/src/escrow/EscrowedPaymentListScreen.test.tsx
  packages/mobile/src/escrow/__snapshots__/EscrowedPaymentListScreen.test.tsx.snap
  packages/mobile/src/home/NotificationBox.test.tsx
  packages/mobile/src/home/__snapshots__/NotificationBox.test.tsx.snap
  packages/mobile/src/notifications/IncomingPaymentRequestSummaryNotification.test.tsx
  packages/mobile/src/notifications/IncomingPaymentRequestSummaryNotification.tsx
  packages/mobile/src/notifications/OutgoingPaymentRequestSummaryNotification.test.tsx
  packages/mobile/src/notifications/OutgoingPaymentRequestSummaryNotification.tsx
  packages/mobile/src/notifications/__snapshots__/IncomingPaymentRequestSummaryNotification.test.tsx.snap
  packages/mobile/src/notifications/__snapshots__/OutgoingPaymentRequestSummaryNotification.test.tsx.snap
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListItem.test.tsx
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListItem.tsx
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListScreen.test.tsx
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListScreen.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListItem.test.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListItem.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListScreen.test.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListScreen.tsx
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestListItem.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestListScreen.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestListItem.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestListScreen.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/PaymentRequestListItem.test.tsx.snap
Due: mobile

Fix celotool expected cluster check
  packages/celotool/src/lib/cluster.ts
Due: none

Have validators use ephemeral node keys by default (#1922)
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/sync_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/helm-charts/testnet/templates/gethminer1.yaml
  packages/helm-charts/testnet/templates/gethminer2.yaml
  packages/helm-charts/testnet/templates/gethminer3.yaml
  packages/helm-charts/testnet/templates/gethminer4.yaml
  packages/helm-charts/testnet/templates/gethtx1.yaml
  packages/helm-charts/testnet/templates/gethtx3.yaml
  packages/helm-charts/testnet/templates/gethtx4.yaml
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
  packages/terraform-modules/testnet/modules/validator/startup.sh
Due: none

Generate the pop for the attestation service with geth (#1931)
  packages/docs/getting-started/running-a-validator.md
Due: none

removing unuesd parts of LockedGold
  packages/protocol/contracts/governance/LockedGold.sol
Due: protocol

Minnor syntax
  packages/terraform-modules-public/testnet/modules/attestation-service/main.tf
  packages/terraform-modules-public/testnet/modules/proxy/variables.tf
  packages/terraform-modules-public/testnet/modules/tx-node/variables.tf
Due: none

wip
  packages/terraform-modules-public/testnet/main.tf
  packages/terraform-modules-public/testnet/outputs.tf
Due: none

changing baklava tag-line
  packages/docs/getting-started/baklava-testnet.md
Due: none

Use number for exchange rate timestamp so it can be queried more easily
  packages/notification-service/src/exchange/exchangeQuery.ts
  packages/notification-service/src/firebase.ts
Due: none

added command drafts
  packages/cli/src/commands/vesting/getinstance.ts
  packages/cli/src/commands/vesting/info.ts
  packages/cli/src/commands/vesting/lockgold.ts
  packages/cli/src/commands/vesting/pause.ts
  packages/cli/src/commands/vesting/relockgold.ts
  packages/cli/src/commands/vesting/revoke.ts
  packages/cli/src/commands/vesting/setaccount.ts
  packages/cli/src/commands/vesting/unlockgold.ts
  packages/cli/src/commands/vesting/withdrawgold.ts
Due: none

added vesting group command
  packages/cli/package.json
Due: none

Cleanup attestation utils
  packages/attestation-service/src/requestHandlers/attestation.ts
  packages/contractkit/src/wrappers/Attestations.ts
  packages/utils/src/attestations.ts
  packages/utils/src/index.ts
  packages/walletkit/index.ts
  packages/walletkit/src/attestations.ts
Due: none

Update running-a-full-node.md
  packages/docs/getting-started/running-a-full-node.md
Due: none

initial version of run nodes refactor
  packages/celotool/package.json
  packages/celotool/src/cmds/geth/run.ts
  packages/celotool/src/e2e-tests/attestations_tests.ts
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/sync_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/e2e-tests/validator_order_tests.ts
  packages/celotool/src/helpers/add_local_geth.ts
  packages/celotool/src/helpers/start_geth.ts
  packages/celotool/src/helpers/validator_register.ts
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/utils.ts
Due: none

Updated baklavastaging docker versions
  .env.baklavastaging
Due: none

Added blockchain-api baklavastaging app.yaml
  packages/blockchain-api/app.baklavastaging.yaml
Due: none

Sort invite contact list
  packages/mobile/src/account/Invite.tsx
Due: mobile

Updated encrypted baklavastaging files
  .env.mnemonic.baklavastaging.enc
  packages/blockchain-api/src/secrets.json.enc
Due: none

Updated amounts
  packages/celotool/src/cmds/account/faucet.ts
Due: none

Added leaderboard docker stuff
  cloudbuild.yaml
  dockerfiles/leaderboard/Dockerfile
Due: none

test for outgoing payment requests
  packages/mobile/src/account/selectors.test.ts
  packages/mobile/src/home/NotificationBox.test.tsx
  packages/mobile/src/home/__snapshots__/NotificationBox.test.tsx.snap
Due: mobile

Fix lint errors
  packages/contractkit/src/test-utils/PromiEventStub.ts
  packages/mobile/package.json
  packages/verifier/package.json
  yarn.lock
Due: mobile

Lint
  packages/celotool/src/lib/generate_utils.ts
  packages/contractkit/src/test-utils/PromiEventStub.ts
Due: none

fixed vesting cli commands, made smart contract changes
  packages/cli/src/commands/vesting/authorize.ts
  packages/cli/src/commands/vesting/getinstance.ts
  packages/cli/src/commands/vesting/info.ts
  packages/cli/src/commands/vesting/set-account.ts
  packages/cli/src/commands/vesting/setaccount.ts
  packages/contractkit/src/wrappers/VestingInstanceWrapper.ts
  packages/protocol/contracts/governance/VestingInstance.sol
  packages/protocol/contracts/governance/interfaces/ILockedGold.sol
  packages/protocol/scripts/bash/ganache.sh
Due: protocol

Refactor common logic for incoming and outgoing payment requests
  packages/mobile/src/firebase/saga.ts
Due: mobile

Show leaderboard and handle empty array
  packages/web/src/dev/Cover.tsx
  packages/web/src/dev/LeaderBoard.tsx
Due: none

Fix env config
  packages/web/env-config.js.enc
  packages/web/env-config.js.template
Due: none
