Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

add flags to support Geth 1.9
  packages/celotool/src/lib/generate_utils.ts
  packages/celotool/src/lib/geth.ts
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Due: none

added --allow-insecure-unlock flag for e2e tests
  packages/celotool/src/lib/geth.ts
Due: none

Fail if lockfile changed after running pod install / bundle install
  .circleci/config.yml
Due: none

Fix specs repo
  packages/mobile/ios/Podfile.lock
Due: mobile

reword string to clarify tone in spanish
  packages/mobile/locales/es-419/nuxNamePin1.json
Due: mobile

update in one more place
  packages/mobile/locales/es-419/sendFlow7.json
Due: mobile

reword strings to clarify tone in spanish (#2724)
  packages/mobile/locales/es-419/nuxNamePin1.json
  packages/mobile/locales/es-419/sendFlow7.json
Due: mobile

[Wallet] Add funds with Moonpay widget (#2710)
  packages/mobile/locales/en-US/accountScreen10.json
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/FiatExchange.test.tsx
  packages/mobile/src/account/FiatExchange.tsx
  packages/mobile/src/account/__snapshots__/FiatExchange.test.tsx.snap
  packages/mobile/src/flags.ts
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/Screens.tsx
Due: mobile

First attempt at internal nodes on vm testnet
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/oracle.ts
  packages/celotool/src/lib/testnet-utils.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/terraform-modules/testnet/main.tf
  packages/terraform-modules/testnet/modules/full-node/main.tf
  packages/terraform-modules/testnet/modules/full-node/variables.tf
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/main.tf
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/variables.tf
  packages/terraform-modules/testnet/modules/validator/variables.tf
  packages/terraform-modules/testnet/variables.tf
Due: none

Make Detox init issues easier to throubleshoot
  packages/mobile/e2e/init.js
  packages/mobile/e2e/utils.js
Due: mobile

Improve troubleshooting steps
  packages/mobile/e2e/init.js
Due: mobile

Add meaningful command description
  .circleci/config.yml
Due: none

Re-enable other steps
  .circleci/config.yml
Due: none

Typo
  packages/mobile/scripts/run_e2e.sh
Due: mobile

Link issue about multiple versions of victory-core included by victory-native
  packages/mobile/src/setupE2eEnv.e2e.ts
Due: mobile

Revert "Removes EpochData (#2361)"
  packages/celotool/src/lib/generate_utils.ts
  packages/docs/package.json
  yarn.lock
Due: none

Removing factory migration, will replace with script after chain init .
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/ReleaseGoldInstance.sol
  packages/protocol/contracts/governance/interfaces/IReleaseGoldInstance.sol
  packages/protocol/contracts/governance/proxies/ReleaseGoldFactoryProxy.sol
  packages/protocol/migrations/11_lockedgold.ts
  packages/protocol/migrations/11_release_gold_factory.ts
  packages/protocol/migrations/12_validators.ts
  packages/protocol/migrations/13_election.ts
  packages/protocol/migrations/14_epoch_rewards.ts
  packages/protocol/migrations/15_random.ts
  packages/protocol/migrations/16_attestations.ts
  packages/protocol/migrations/17_escrow.ts
  packages/protocol/migrations/18_blockchainparams.ts
  packages/protocol/migrations/19_governance_slasher.ts
  packages/protocol/migrations/20_double_signing_slasher.ts
  packages/protocol/migrations/21_downtime_slasher.ts
  packages/protocol/migrations/22_governance.ts
  packages/protocol/migrations/23_elect_validators.ts
  packages/protocol/scripts/build.ts
Due: protocol

Fixing formatting error
  packages/protocol/specs/lockedGold.spec
Due: protocol

More fixes
  packages/protocol/specs/harnesses/LockedGoldHarness.sol
  packages/protocol/specs/lockedGold.spec
Due: protocol

Add optional setup step detailing how to use community-sourced full node peers
  packages/docs/getting-started/running-a-validator.md
Due: none

Testing change
  packages/protocol/specs/lockedGold.spec
Due: protocol

some more options for rewards:show
  packages/cli/src/commands/rewards/show.ts
  packages/contractkit/src/wrappers/Validators.ts
Due: none

adjust migrations upgrade target in test:reset
  packages/cli/package.json
  packages/contractkit/package.json
Due: none

fixing affiliation handling
  packages/contractkit/src/wrappers/Validators.ts
Due: none

Fixing migration tests
  packages/cli/package.json
  packages/contractkit/package.json
Due: none

Withdraw changes
  packages/protocol/specs/lockedGold.spec
Due: protocol

Change `C-Labs || C Labs` to `cLabs` Fixes https://github.com/celo-org/celo-labs/issues/252
  packages/docs/celo-codebase/protocol/privacy.md
  packages/docs/getting-started/glossary.md
  packages/docs/getting-started/running-a-validator.md
  packages/terraform-modules/testnet/README.md
  packages/web/public/static/locales/en/codeofconduct.json
  packages/web/public/static/locales/en/common.json
  packages/web/src/community/connect/FellowViewer.tsx
  packages/web/src/terms/StakeOffTerms.tsx
  scripts/key_placer.sh
Due: none

adjust migration numbers in e2e tests
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/e2e-tests/validator_order_tests.ts
Due: none

Add docs about securing nodes and services
  packages/docs/SUMMARY.md
  packages/docs/operations-manual/securing-nodes-and-services.md
Due: none

Testing total change
  packages/protocol/specs/lockedGold.spec
Due: protocol

📸 clabs
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/stake-off/__snapshots__/terms.test.tsx.snap
Due: none

Style
  packages/protocol/specs/lockedGold.spec
Due: protocol

Reverting bad change
  packages/protocol/specs/lockedGold.spec
Due: protocol

Add token transfers
  packages/protocol/governanceConstitution.js
Due: protocol

add a comma
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
Due: none

retarget e2e tests to 1.9 brach
  .circleci/config.yml
Due: none

Reverting
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/specs/lockedGold.spec
Due: protocol

add epoch data
  packages/celotool/src/lib/generate_utils.ts
Due: none

Revert "retarget e2e tests to 1.9 brach"
  .circleci/config.yml
Due: none

initial work
  packages/contractkit/package.json
  packages/contractkit/src/providers/celo-provider.ts
  packages/contractkit/tsconfig.json
  packages/contractkit/types/web3.d.ts
Due: none

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
