Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: 'packages/mobile/'
        flags: mobile
        threshold: 5%
        target: 70%
      web:
        paths: 'packages/web/'
        flags: web
        threshold: 2%
        target: 75%
      protocol:
        paths: 'packages/protocol/'
        flags: protocol
        threshold: 5%
        target: 90%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

Increment ContractKit version to 0.2.15 (#2801)
  packages/attestation-service/package.json
  packages/celotool/package.json
  packages/cli/.npmignore
  packages/cli/package.json
  packages/contractkit/package.json
  packages/leaderboard/package.json
  packages/mobile/package.json
Due: mobile

Add Earn to account screen
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/Earn.tsx
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/Screens.tsx
Due: mobile

Feature flag Earn screen
  packages/mobile/src/flags.ts
Due: mobile

Fig8 account sags
  packages/mobile/src/app/actions.ts
  packages/mobile/src/app/reducers.ts
Due: mobile

Update env to be pilot
  packages/mobile/.env
Due: mobile

Store userId and account in firebase
  packages/mobile/src/firebase/db-rules.json
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/firebase/saga.ts
Due: mobile

Fetch fig8 earned from firebase
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/firebase/saga.ts
Due: mobile

Fig8 earned sagas, display value on Earn screen
  packages/mobile/src/account/Earn.tsx
  packages/mobile/src/app/actions.ts
  packages/mobile/src/app/reducers.ts
Due: mobile

Add logout ability
  packages/mobile/src/account/Earn.tsx
Due: mobile

Update db rules
  packages/mobile/src/firebase/db-rules.json
Due: mobile

PR clean up
  packages/mobile/src/account/Earn.tsx
  packages/mobile/src/app/ErrorMessages.ts
  packages/mobile/src/firebase/firebase.ts
Due: mobile

Remove unneeded logging
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/firebase/saga.ts
Due: mobile

Add todos
  packages/mobile/src/account/Earn.tsx
Due: mobile

[Pilot] Add Earn screen skeleton to wallet (#2804)
  packages/mobile/.env
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/Earn.tsx
  packages/mobile/src/app/ErrorMessages.ts
  packages/mobile/src/app/actions.ts
  packages/mobile/src/app/reducers.ts
  packages/mobile/src/firebase/db-rules.json
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/firebase/saga.ts
  packages/mobile/src/flags.ts
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/Screens.tsx
Due: mobile

fix features on tablet and mobile
  packages/web/src/_page-tests/build/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/dev/Feature.tsx
  packages/web/src/dev/Features.tsx
Due: none

add padding
  packages/web/src/_page-tests/build/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/dev/Features.tsx
Due: none

Fix “add padding”
  packages/web/src/_page-tests/build/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/dev/Features.tsx
Due: none

Revert "add padding"
  packages/web/src/_page-tests/build/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/dev/Features.tsx
Due: none

Add earn pilot functions
  packages/earn-pilot-functions/.firebaserc
  packages/earn-pilot-functions/.gitignore
  packages/earn-pilot-functions/README.md
  packages/earn-pilot-functions/firebase.json
  packages/earn-pilot-functions/package.json
  packages/earn-pilot-functions/src/index.ts
  packages/earn-pilot-functions/tsconfig.json
  packages/earn-pilot-functions/tslint.json
  packages/earn-pilot-functions/yarn.lock
Due: none

transfer test
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

adding events
  packages/protocol/contracts/stability/StableToken.sol
Due: protocol

adding test to check that events are emitted
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

lint
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

Attemp fix sync-tests
  packages/celotool/src/e2e-tests/sync_tests.ts
Due: none

removed assignment
  packages/protocol/contracts/identity/Random.sol
Due: protocol

first fixes
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/common/Proxy.sol
  packages/protocol/contracts/governance/Governance.sol
Due: protocol

no allowance for 0x0
  packages/protocol/contracts/common/GoldToken.sol
  packages/protocol/contracts/stability/StableToken.sol
Due: protocol

fixing tests
  packages/protocol/test/identity/attestations.ts
Due: protocol

ContractKit 1st
  packages/docs/SUMMARY.md
  packages/docs/developer-resources/contractkit/README.md
  packages/docs/developer-resources/contractkit/local-signing.md
  packages/docs/developer-resources/contractkit/web3-with-contractkit.md
  packages/docs/developer-resources/contractkit/what-you-can-do.md
  packages/docs/developer-resources/walkthroughs/hellocelo.md
Due: none

Try build:ts without --scope
  dockerfiles/celotool/Dockerfile
Due: none

Just touch an empty .env.alfajoresstaging and then remove it
  dockerfiles/celotool/Dockerfile
Due: none

Adding upstream changes
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/specs/harnesses/GoldTokenHarness.sol
  packages/protocol/specs/harnesses/LockedGoldHarness.sol
  packages/protocol/specs/lockedGold.spec
Due: protocol

updates to lockedgold spec and clenaup
  packages/protocol/specs/harnesses/LockedGoldHarness.sol
Due: protocol

link to goldtoken in a nicer way, update the totalpreserve rule
  .circleci/config.yml
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/lockedGold.conf
  packages/protocol/specs/LockedGoldExpected.json
  packages/protocol/specs/harnesses/GoldTokenHarness.sol
  packages/protocol/specs/harnesses/LockedGoldHarness.sol
  packages/protocol/specs/lockedGold.spec
Due: protocol

Fallback to isProduction=false if env missing in walletkit build
  dockerfiles/celotool/Dockerfile
  packages/walletkit/bin/build-sdk.js
Due: none

Fixing merge issue
  packages/protocol/specs/harnesses/LockedGoldHarness.sol
Due: protocol

Use SafeMath
  packages/protocol/contracts/stability/Reserve.sol
Due: protocol

Address flaky docker builds (#2777)
  cloudbuild.yaml
  packages/walletkit/bin/build-sdk.js
Due: none

Use SafeMath always
  packages/protocol/contracts/stability/Reserve.sol
Due: protocol

Add require messages where it was missing
  packages/protocol/contracts/baklava/Freezable.sol
  packages/protocol/contracts/common/FixidityLib.sol
  packages/protocol/contracts/common/FractionUtil.sol
  packages/protocol/contracts/common/Initializable.sol
  packages/protocol/contracts/common/UsingPrecompiles.sol
Due: protocol
