Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

Add base pages and other fun stuff
  packages/web/pages/_app.tsx
  packages/web/pages/brand/color.tsx
  packages/web/pages/brand/index.tsx
  packages/web/pages/brand/key-imagery.tsx
  packages/web/pages/brand/logo.tsx
  packages/web/pages/brand/typography.tsx
  packages/web/src/brandkit/Color.tsx
  packages/web/src/brandkit/Index.tsx
  packages/web/src/brandkit/KeyImagery.tsx
  packages/web/src/brandkit/Logo.tsx
  packages/web/src/brandkit/MobileMenu.tsx
  packages/web/src/brandkit/Page.tsx
  packages/web/src/brandkit/Sidebar.tsx
  packages/web/src/brandkit/TopBar.tsx
  packages/web/src/brandkit/Typography.tsx
  packages/web/src/layout/ScreenSize.tsx
  packages/web/src/shared/menu-items.ts
  packages/web/src/shared/withHash.tsx
Due: none

Wip
  packages/web/pages/brand/index.tsx
  packages/web/src/brandkit/Index.tsx
  packages/web/src/brandkit/Intro.tsx
  packages/web/src/brandkit/Page.tsx
  packages/web/src/brandkit/TopBar.tsx
Due: none

Adjust e2e transfer and governance tests to match new fee distribution and eliminate ProposerFraction (#1585)
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/sync_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/contractkit/src/kit.test.ts
  packages/contractkit/src/kit.ts
  packages/contractkit/src/wrappers/GasPriceMinimum.ts
  packages/protocol/contracts/common/GasPriceMinimum.sol
  packages/protocol/migrations/06_gaspriceminimum.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/common/gaspriceminimum.ts
Due: protocol

Add fade out transition
  packages/web/src/home/HomeAnimation.tsx
  packages/web/src/home/version3/HomeCover.tsx
Due: none

Change the event we emit when selecting issuers
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/test/identity/attestations.ts
Due: protocol

Looks so good
  packages/web/src/home/TextAnimation.tsx
  packages/web/src/home/version3/HomeCover.tsx
Due: none

Improve file size check
  packages/web/src/utils/utils.ts
Due: none

Add transition to mobile style
  packages/web/src/home/HomeAnimation.tsx
Due: none

Fix lock
  yarn.lock
Due: none

Update modal, track when restart needed
  packages/mobile/locales/en-US/accountScreen10.json
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/account/CeloLite.tsx
  packages/mobile/src/account/CeloLiteModal.tsx
  packages/mobile/src/app/AppLoading.tsx
  packages/mobile/src/app/ErrorScreen.tsx
  packages/mobile/src/geth/geth.ts
  packages/mobile/src/geth/saga.ts
  packages/mobile/src/utils/AppRestart.ts
  packages/mobile/src/web3/reducer.ts
  packages/mobile/src/web3/saga.ts
  packages/mobile/src/web3/selectors.ts
Due: mobile

Add comments and clean up
  packages/mobile/src/app/saga.ts
  packages/mobile/src/geth/saga.ts
  packages/mobile/src/transactions/send.ts
  packages/mobile/src/web3/contracts.ts
  packages/mobile/src/web3/reducer.ts
  packages/mobile/src/web3/saga.ts
Due: mobile

Update copy, remove unused images
  packages/mobile/locales/en-US/accountScreen10.json
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/images/Images.ts
  packages/mobile/src/images/crowd-mobile.png
  packages/mobile/src/images/default-avatar.png
  packages/mobile/src/web3/saga.ts
Due: mobile

Revert jean's gradle changes
  .circleci/config.yml
  packages/mobile/android/gradle.properties
Due: mobile

Address comments
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/cli/src/commands/validator/register.ts
  packages/cli/src/commands/validator/update-bls-public-key.ts
  packages/cli/src/utils/checks.ts
  packages/cli/src/utils/command.ts
  packages/contractkit/src/wrappers/Accounts.test.ts
  packages/contractkit/src/wrappers/Accounts.ts
  packages/contractkit/src/wrappers/Validators.test.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/common/interfaces/IAccounts.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IValidators.sol
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/test/common/accounts.ts
  packages/protocol/test/governance/validators.ts
  packages/utils/src/address.ts
  packages/utils/src/bls.ts
  packages/utils/src/signatureUtils.ts
Due: protocol

Make things compile
  packages/docs/command-line-interface/validator.md
  packages/protocol/test/common/accounts.ts
  packages/utils/src/signatureUtils.ts
Due: protocol

Finish removal of end-to-end-geth-integration-sync-test
  .circleci/config.yml
Due: none

added a method for getting current validator set from a smart contract
  packages/protocol/contracts/governance/Election.sol
Due: protocol

added helper function to get the list of current validators
  packages/protocol/contracts/governance/Election.sol
Due: protocol

changed governance test to use the new helper function
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

Fix linting
  packages/celotool/src/cmds/deploy/initial/verify-contracts.ts
Due: none

Updated with latest changes from celostats and c.blockchain
  .env
  packages/helm-charts/ethstats/templates/ethstats.deployment.yaml
  packages/helm-charts/ethstats/templates/ethstats.secret.yaml
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/helm-charts/testnet/templates/ethstats.secret.yaml
  packages/helm-charts/testnet/templates/txnode.statefulset.yaml
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Due: none

Removed ethstats secret references from celotool
  packages/celotool/src/lib/ethstats.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
Due: none

port leaderboard app to dev page
  packages/web/pages/baklava.tsx
  packages/web/src/baklava/Cover.tsx
  packages/web/src/baklava/EndNote.tsx
  packages/web/src/baklava/LeaderBoard.tsx
  packages/web/src/baklava/LeaderBoardView.tsx
  packages/web/src/baklava/StakeOffCooking.tsx
  packages/web/src/baklava/StakeOffPage.tsx
  packages/web/src/baklava/StakeOffRings.tsx
  packages/web/src/dev/Cover.tsx
  packages/web/src/dev/Engage.tsx
  packages/web/src/dev/Features.tsx
  packages/web/src/dev/LeaderBoardApp.tsx
  packages/web/src/dev/LeaderBoardError.tsx
  packages/web/src/dev/LeaderBoardLoading.tsx
  packages/web/src/header/Header.3.tsx
  packages/web/src/i18n.ts
  packages/web/src/shared/menu-items.ts
  packages/web/static/locales/en/baklava.json
Due: none

remove unused packages
  packages/web/package.json
Due: none

doc editing
  packages/docs/getting-started/running-a-validator.md
Due: none

last edits
  packages/docs/getting-started/running-a-validator.md
Due: none

Removed terraform references to verification_pool_url
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/ethstats.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/terraform-modules/testnet/modules/tx-node/startup.sh
  packages/terraform-modules/testnet/modules/tx-node/variables.tf
  packages/terraform-modules/testnet/modules/validator/main.tf
  packages/terraform-modules/testnet/modules/validator/startup.sh
  packages/terraform-modules/testnet/modules/validator/variables.tf
  packages/terraform-modules/testnet/variables.tf
Due: none

expand leaderboard and env vars
  packages/web/env-config.js.template
  packages/web/src/dev/LeaderBoard.tsx
  packages/web/src/dev/LeaderBoardApp.tsx
  packages/web/static/locales/en/dev.json
Due: none

updated leaderboard script
  packages/leaderboard/src/board.ts
Due: none

Reset isRedeemingInvite on rehydrate
  packages/mobile/src/invite/reducer.ts
Due: mobile

adapting to new proxy and validator commands
  packages/docs/getting-started/running-a-validator.md
Due: none

Changed logging
  packages/react-components/components/PhoneNumberInput.tsx
Due: none

close the web3 connection in cli, even if local accounts have been added
  packages/cli/src/base.ts
  packages/contractkit/src/index.ts
Due: none

[Wallet] Reset isRedeemingInvite on rehydrate (#1716)
  packages/mobile/src/invite/reducer.ts
Due: mobile

Fix some style issues with iOS
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/icons/DancingRings.tsx
  packages/mobile/src/icons/LoadingSpinner.tsx
  packages/mobile/src/verify/VerificationInputScreen.tsx
  packages/mobile/src/verify/VerificationInterstitialScreen.tsx
  packages/mobile/src/verify/VerificationLoadingScreen.tsx
Due: mobile

handling empty claims
  packages/leaderboard/src/board.ts
Due: none

toc update & alfajores commands review & baklava rewriting
  packages/docs/getting-started/running-a-validator.md
Due: none

Fix style issues on iOS with backup flow Standardize uses of Switch component
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/__snapshots__/Analytics.test.tsx.snap
  packages/mobile/src/account/__snapshots__/CeloLite.test.tsx.snap
  packages/mobile/src/backup/BackupPhrase.tsx
  packages/mobile/src/backup/BackupQuiz.tsx
  packages/mobile/src/backup/BackupSocial.tsx
  packages/mobile/src/backup/__snapshots__/BackupPhrase.test.tsx.snap
  packages/mobile/src/backup/__snapshots__/BackupQuiz.test.tsx.snap
  packages/mobile/src/backup/__snapshots__/BackupSocial.test.tsx.snap
  packages/mobile/src/verify/VerificationLoadingScreen.tsx
  packages/mobile/src/verify/__snapshots__/VerificationInputScreen.test.tsx.snap
  packages/mobile/src/verify/__snapshots__/VerificationInterstitialScreen.test.tsx.snap
  packages/mobile/src/verify/__snapshots__/VerificationLoadingScreen.test.tsx.snap
  packages/react-components/components/SettingsSwitchItem.tsx
  packages/react-components/components/Switch.tsx
Due: mobile

command to add local-signing accounts to the cli
  packages/cli/src/base.ts
  packages/cli/src/commands/localaccounts/add.ts
  packages/cli/src/utils/local_accounts.ts
Due: none

update cli docs
  packages/docs/command-line-interface/localaccounts.md
  packages/docs/command-line-interface/oracle.md
Due: none

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
