Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

EU Cookies Behavior Change (#1447)
  packages/web/pages/_app.tsx
  packages/web/src/analytics/analytics.ts
  packages/web/src/header/CookieConsent.tsx
  packages/web/src/header/Header.3.tsx
Due: none

Move DISABLE_INDEXER variable to the deployment template
  packages/helm-charts/blockscout/templates/_helpers.tpl
  packages/helm-charts/blockscout/templates/blockscout-web.deployment.yaml
Due: none

still some problems with contractkit
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/contractkit/src/web3-contract-cache.ts
  packages/protocol/scripts/build.ts
Due: protocol

eliminate proposer fraction
  packages/contractkit/src/kit.test.ts
  packages/contractkit/src/kit.ts
  packages/contractkit/src/wrappers/GasPriceMinimum.ts
  packages/protocol/contracts/common/GasPriceMinimum.sol
  packages/protocol/migrations/06_gaspriceminimum.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/common/gaspriceminimum.ts
Due: protocol

modify transfer test to new gas fee distribution and update gas costs.
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

point CI to victor/gpm
  .circleci/config.yml
Due: none

checksum deadbeef
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

Fix Ethstats Image reference (#1577)
  .env
Due: none

Remove og infrastructure & get working for kube-nets with external validators
  packages/celotool/src/lib/helm_deploy.ts
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/helm-charts/testnet/templates/artifacts.pvc.yaml
  packages/helm-charts/testnet/templates/bootnode.deployment.yaml
  packages/helm-charts/testnet/templates/geth-account.secret.yaml
  packages/helm-charts/testnet/templates/geth.configmap.yaml
  packages/helm-charts/testnet/templates/gethminer1.yaml
  packages/helm-charts/testnet/templates/gethminer2.yaml
  packages/helm-charts/testnet/templates/gethminer3.yaml
  packages/helm-charts/testnet/templates/gethminer4.yaml
  packages/helm-charts/testnet/templates/gethtx1.yaml
  packages/helm-charts/testnet/templates/gethtx2.yml
  packages/helm-charts/testnet/templates/gethtx3.yaml
  packages/helm-charts/testnet/templates/gethtx4.yaml
  packages/helm-charts/testnet/templates/sentry.service.yaml
  packages/helm-charts/testnet/templates/sentry.statefulset.yaml
  packages/helm-charts/testnet/templates/txnode.statefulset.yaml
  packages/helm-charts/testnet/templates/validators.service.yaml
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Due: none

fixes
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

account for gas fee distribution and extract assertBalanceChanged method
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

Refactor tx-node service, get working with cmd line sentries on external kube testnet
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/helm-charts/testnet/templates/sentry.statefulset.yaml
  packages/helm-charts/testnet/templates/txnode.service.yaml
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Due: none

Little fixes
  packages/web/src/dev/Engage.tsx
  packages/web/src/dev/FullStack.tsx
  packages/web/src/dev/Racer.tsx
  packages/web/src/dev/Transceive.tsx
  packages/web/static/locales/en/dev.json
Due: none

Add Game of Stakes Terms
  packages/web/pages/stake-off/terms.tsx
  packages/web/src/fonts/Fonts.tsx
  packages/web/src/terms/StakeOffTerms.tsx
  packages/web/static/locales/en/terms.json
Due: none

Add ability to have alphabetical lists
  packages/web/src/fonts/Fonts.tsx
  packages/web/src/react-native-aug.d.ts
Due: none

Add new .env files
  .env.alfajores
  .env.alfajoresstaging
  .env.pilot
  .env.pilotstaging
Due: none

CLI package version and alfajores networkid change
  dockerfiles/cli/Dockerfile
  packages/cli/package.json
  packages/cli/start_geth.sh
  packages/docs/getting-started/running-a-full-node.md
  packages/docs/getting-started/running-a-validator.md
Due: none

There was a switch from Title to Event Title
  packages/web/server/EventHelpers.test.ts
  packages/web/server/EventHelpers.ts
Due: none

Start on making homepage nicer for low connectivity devices
  packages/web/src/home/HomeOracle.tsx
  packages/web/src/home/version3/HomeCover.tsx
Due: none

Support off-chain reveal in Contractkit/Celotool
  packages/attestation-service/config/config.json
  packages/celotool/src/cmds/account/verify.ts
  packages/contractkit/src/wrappers/Attestations.ts
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/interfaces/IAttestations.sol
  packages/protocol/test/common/accounts.ts
  packages/protocol/test/identity/attestations.ts
  packages/utils/src/collections.ts
  packages/utils/src/parsing.ts
Due: protocol

Include numeral in utils
  packages/utils/package.json
Due: none

Deployment fixes for attetation-service
  .env
  .env.mnemonic.enc
  packages/celotool/src/lib/attestation-service.ts
  packages/helm-charts/attestation-service/templates/attestation.secret.yaml
  packages/helm-charts/attestation-service/templates/attestation.statefulset.yaml
Due: none

Remove reveal tx
  packages/celotool/src/cmds/account/verify.ts
  packages/contractkit/src/wrappers/Attestations.ts
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/interfaces/IAttestations.sol
  packages/protocol/test/identity/attestations.ts
Due: protocol

Fix lint
  packages/utils/src/collections.ts
  packages/utils/src/parsing.ts
Due: none

Commit Postgrres dependency
  packages/helm-charts/attestation-service/requirements.lock
  packages/helm-charts/attestation-service/requirements.yaml
Due: none

Rename to getCompletableAttestations
  packages/contractkit/src/wrappers/Attestations.ts
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/interfaces/IAttestations.sol
  packages/protocol/test/identity/attestations.ts
Due: protocol

starting leaderboard backend
  packages/leaderboard/.gitignore
  packages/leaderboard/package.json
  packages/leaderboard/src/board.ts
  packages/leaderboard/tsconfig.json
  packages/protocol/migrations/19_elect_validators.ts
  yarn.lock
Due: protocol

Add json transaction builder and tests
  packages/contractkit/src/wrappers/Governance.test.ts
  packages/contractkit/src/wrappers/Governance.ts
Due: none

fetching metadata seems to work
  packages/leaderboard/src/board.ts
Due: none

Add modal, modal UI unfinished
  packages/mobile/.env
  packages/mobile/src/account/CeloLite.tsx
  packages/mobile/src/account/CeloLiteModal.tsx
  packages/mobile/src/app/saga.ts
  packages/mobile/src/images/Images.ts
  packages/mobile/src/images/profile.jpg
  packages/mobile/src/transactions/send.ts
  packages/mobile/src/web3/contracts.ts
  packages/mobile/src/web3/saga.ts
Due: mobile

Use new currency api which supports more currencies
  packages/blockchain-api/.env
  packages/blockchain-api/.gitignore
  packages/blockchain-api/jest.config.js
  packages/blockchain-api/package.json
  packages/blockchain-api/setupJest.ts
  packages/blockchain-api/src/config.ts
  packages/blockchain-api/src/currencyConversion.ts
  packages/blockchain-api/src/secrets.json.enc
  packages/blockchain-api/test/currencyConversion.test.ts
  packages/blockchain-api/tsconfig.json
  scripts/key_placer.sh
Due: none

Implement new caching policy
  packages/blockchain-api/src/currencyConversion.ts
  packages/blockchain-api/test/currencyConversion.test.ts
Due: none

Use currency api https endpoint
  packages/blockchain-api/.env
  packages/blockchain-api/app.alfajores.yaml
  packages/blockchain-api/app.alfajoresstaging.yaml
  packages/blockchain-api/app.integration.yaml
  packages/blockchain-api/app.pilot.yaml
  packages/blockchain-api/app.pilotstaging.yaml
Due: none

Remove ts-ignore
  packages/blockchain-api/setupJest.ts
Due: none

Clean up comments
  packages/blockchain-api/src/currencyConversion.ts
Due: none

Fix build and test on enviroments without decryption keys
  packages/blockchain-api/src/config.ts
Due: none

Update comment
  packages/blockchain-api/src/config.ts
Due: none

Add LRD currency
  packages/mobile/src/localCurrency/consts.ts
Due: mobile

Update snapshots
  packages/mobile/src/localCurrency/__snapshots__/SelectLocalCurrency.test.tsx.snap
Due: mobile

[BlockchainApi] Use new third party currency api (#1581)
  packages/blockchain-api/.env
  packages/blockchain-api/.gitignore
  packages/blockchain-api/app.alfajores.yaml
  packages/blockchain-api/app.alfajoresstaging.yaml
  packages/blockchain-api/app.integration.yaml
  packages/blockchain-api/app.pilot.yaml
  packages/blockchain-api/app.pilotstaging.yaml
  packages/blockchain-api/jest.config.js
  packages/blockchain-api/package.json
  packages/blockchain-api/setupJest.ts
  packages/blockchain-api/src/config.ts
  packages/blockchain-api/src/currencyConversion.ts
  packages/blockchain-api/src/secrets.json.enc
  packages/blockchain-api/test/currencyConversion.test.ts
  packages/blockchain-api/tsconfig.json
  scripts/key_placer.sh
Due: none
