Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

Support re-requesting when we are outside of the randomness availability window
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/interfaces/IRandom.sol
  packages/protocol/test/identity/attestations.ts
Due: protocol

add lookback window as a config param
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/generate_utils.ts
Due: none

Revert "revert changes to walletkit"
  packages/walletkit/index.ts
  packages/walletkit/src/contract-utils-v2.ts
  packages/walletkit/src/contract-utils.ts
  packages/walletkit/src/signing-utils.ts
  packages/walletkit/src/transaction-utils.ts
  packages/walletkit/test/contract-utils-v2.test.ts
  packages/walletkit/test/transaction-utils.test.ts
Due: none

Fix line length lint
  packages/protocol/contracts/stability/Reserve.sol
Due: protocol

remove unused refernce to stale contract
  packages/walletkit/index.ts
Due: none

fix signing
  packages/walletkit/src/signing-utils.ts
Due: none

Increase randomness availability window
  packages/protocol/migrationsConfig.js
Due: protocol

[Wallet] Fix Celo Lite crash for second toggle off in production builds (#1764)
  packages/mobile/src/web3/saga.ts
Due: mobile

attestation service wip
  packages/terraform-modules-public/example/main.tf
  packages/terraform-modules-public/example/variables.tf
  packages/terraform-modules-public/testnet/main.tf
  packages/terraform-modules-public/testnet/modules/attestation-service/main.tf
  packages/terraform-modules-public/testnet/modules/attestation-service/startup.sh
  packages/terraform-modules-public/testnet/modules/attestation-service/variables.tf
  packages/terraform-modules-public/testnet/variables.tf
Due: none

no message
  packages/web/package.json
  packages/web/pages/_app.tsx
  packages/web/server/AssetBase.ts
  packages/web/src/brandkit/Color.tsx
  packages/web/src/brandkit/Intro.tsx
  packages/web/src/brandkit/KeyImagery.tsx
  packages/web/src/brandkit/Logo.tsx
  packages/web/src/brandkit/Typography.tsx
  packages/web/src/brandkit/color/Palette.tsx
  packages/web/src/brandkit/color/Pigment.tsx
  packages/web/src/brandkit/common/MobileMenu.tsx
  packages/web/src/brandkit/common/Page.tsx
  packages/web/src/brandkit/common/SectionTitle.tsx
  packages/web/src/brandkit/common/Sidebar.tsx
  packages/web/src/brandkit/common/TopBar.tsx
  packages/web/src/brandkit/common/constants.tsx
  packages/web/src/brandkit/logo/Judgement.tsx
  packages/web/src/brandkit/logo/LogoExample.tsx
  packages/web/src/brandkit/logo/LogoWithBackground.tsx
  packages/web/src/header/CookieConsent.tsx
  packages/web/src/logos/LogoLightBg.tsx
  packages/web/src/react-native-aug.d.ts
  packages/web/src/shared/DropDownGroup.tsx
  packages/web/src/styles.ts
  packages/web/static/locales/en/brand.json
  yarn.lock
Due: none

Update forno documentation
  packages/mobile/README.md
Due: mobile

Add details on when zero sync turned off
  packages/mobile/README.md
Due: mobile

Include how to update forno url
  packages/mobile/README.md
Due: mobile

Correct websocket to http
  packages/mobile/src/web3/contracts.ts
Due: mobile

No need to rebuild sdk
  packages/mobile/README.md
Due: mobile

Update glossary
  packages/docs/getting-started/alfajores-testnet.md
  packages/docs/getting-started/glossary.md
Due: none

Update examples.md (#1809)
  packages/docs/developer-resources/contractkit/examples.md
Due: none

fixup walletkit changes for gateway fee
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/contractkit/src/providers/celo-private-keys-subprovider.ts
  packages/contractkit/src/utils/tx-signing.ts
  packages/contractkit/types/web3.d.ts
  packages/walletkit/src/contract-utils.ts
  packages/walletkit/src/signing-utils.ts
  packages/walletkit/src/transaction-utils.ts
  packages/walletkit/test/transaction-utils.test.ts
Due: none

remove suggestion to put password on the cli
  packages/docs/getting-started/using-the-cli.md
Due: none

try to set lookback window via the tests
  packages/celotool/src/cmds/geth/run.ts
  packages/celotool/src/lib/generate_utils.ts
Due: none

Typeography Page A
  packages/web/src/brandkit/Color.tsx
  packages/web/src/brandkit/Logo.tsx
  packages/web/src/brandkit/Typography.tsx
  packages/web/src/brandkit/common/PageHeadline.tsx
  packages/web/src/brandkit/common/constants.tsx
  packages/web/src/home/version3/HomeCover.tsx
  packages/web/src/styles.ts
  packages/web/static/locales/en/brand.json
Due: none

Try again
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
Due: none

[Celotool] Integration with truffle blockscout plugin (#1540)
  packages/celotool/src/cmds/deploy/initial/verify-contracts.ts
  packages/protocol/package.json
  packages/protocol/scripts/bash/verify_contracts.sh
  packages/protocol/truffle-config.js
  yarn.lock
Due: protocol

Attestation service deploy updates + support attestation signers (#1797)
  .env
  packages/attestation-service/src/index.ts
  packages/celotool/src/cmds/account/verify.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/lib/migration-utils.ts
  packages/contractkit/src/wrappers/Attestations.ts
  packages/helm-charts/attestation-service/templates/attestation.statefulset.yaml
  packages/protocol/migrations/20_elect_validators.ts
  packages/protocol/migrationsConfig.js
Due: protocol

Minor Contractkit changes
  packages/contractkit/src/index.ts
  packages/contractkit/src/wrappers/Attestations.ts
  packages/contractkit/src/wrappers/BaseWrapper.ts
  packages/contractkit/src/wrappers/GasPriceMinimum.ts
Due: none

Add small log line
  packages/attestation-service/src/requestHandlers/attestation.ts
Due: none

Support re-requesting when we are outside of the randomness availability window (#1817)
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/interfaces/IRandom.sol
  packages/protocol/migrationsConfig.js
  packages/protocol/test/identity/attestations.ts
Due: protocol

add lookback to .env
  .env
Due: none

Repoint circleci config
  .circleci/config.yml
Due: none

Wait longer in sync test
  packages/celotool/src/e2e-tests/sync_tests.ts
Due: none

Update migration config to correct protocol parameters
  packages/protocol/migrationsConfig.js
Due: protocol

Increase default ether balances
  packages/protocol/scripts/devchain.ts
  packages/protocol/truffle-config.js
Due: protocol

Workaround for using postgres docker container
  packages/terraform-modules-public/testnet/modules/attestation-service/main.tf
  packages/terraform-modules-public/testnet/modules/attestation-service/startup.sh
Due: none

Small improvements to various flaky tests (#1772)
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/sync_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/protocol/test/governance/epochrewards.ts
Due: protocol

Fix contractkit tests
  packages/contractkit/src/wrappers/Accounts.test.ts
  packages/contractkit/src/wrappers/SortedOracles.test.ts
  packages/contractkit/src/wrappers/Validators.test.ts
Due: none

Update reserve balance in end-to-end tests
  packages/celotool/src/e2e-tests/utils.ts
Due: none

Point end-to-end tests back to master
  .circleci/config.yml
Due: none

return at least true, when the function is returning bool
  packages/protocol/contracts/governance/Election.sol
Due: protocol
