Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

Improve typing of text input components
  packages/mobile/src/account/__snapshots__/Invite.test.tsx.snap
  packages/mobile/src/app/saga.ts
  packages/mobile/src/recipients/RecipientPicker.tsx
  packages/mobile/src/send/LabeledTextInput.tsx
  packages/mobile/src/send/SendAmount.tsx
  packages/mobile/src/send/__snapshots__/SendAmount.test.tsx.snap
  packages/react-components/components/PhoneNumberInput.tsx
  packages/react-components/components/TextInput.tsx
  packages/react-components/components/ValidatedTextInput.tsx
  packages/react-components/components/WithTextInputLabeling.tsx
  packages/react-components/components/WithTextInputPasteAware.tsx
Due: mobile

Rename pass through props
  packages/react-components/components/TextInput.tsx
Due: none

remove stale snapshot qrGen
  packages/mobile/src/qrcode/QRGenTests/__snapshots__/QRGen.test.tsx.snap
Due: mobile

added for validators
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

Add CLI commands around identity metadata (#1167)
  packages/cli/src/commands/identity/change-attestation-service-url.ts
  packages/cli/src/commands/identity/change-domain.ts
  packages/cli/src/commands/identity/change-name.ts
  packages/cli/src/commands/identity/create-metadata.ts
  packages/cli/src/commands/identity/get-metadata.ts
  packages/cli/src/commands/identity/register-metadata.ts
  packages/cli/src/commands/identity/show-metadata.ts
  packages/cli/src/utils/command.ts
  packages/cli/src/utils/identity.ts
  packages/contractkit/src/identity/metadata.ts
  packages/docs/command-line-interface/identity.md
Due: none

gradle fix qrGen
  packages/mobile/android/build.gradle
Due: mobile

Fix most screens layout with regard to the safe area
  packages/mobile/package.json
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/InviteReview.tsx
  packages/mobile/src/app/Debug.tsx
  packages/mobile/src/backup/BackupComplete.tsx
  packages/mobile/src/backup/BackupIntroduction.tsx
  packages/mobile/src/backup/BackupPhrase.tsx
  packages/mobile/src/backup/BackupQuestion.tsx
  packages/mobile/src/components/DevSkipButton.tsx
  packages/mobile/src/dappkit/DappKitAccountScreen.tsx
  packages/mobile/src/dappkit/DappKitSignTxScreen.tsx
  packages/mobile/src/dappkit/DappKitTxDataScreen.tsx
  packages/mobile/src/escrow/ReclaimPaymentConfirmationScreen.tsx
  packages/mobile/src/exchange/ExchangeHomeScreen.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
  packages/mobile/src/home/WalletHome.tsx
  packages/mobile/src/import/ImportContacts.tsx
  packages/mobile/src/import/ImportWallet.tsx
  packages/mobile/src/invite/EnterInviteCode.tsx
  packages/mobile/src/invite/JoinCelo.tsx
  packages/mobile/src/navigator/Headers.tsx
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/paymentRequest/PaymentRequestConfirmation.tsx
  packages/mobile/src/paymentRequest/PaymentRequestListScreen.tsx
  packages/mobile/src/pincode/PincodeConfirmation.tsx
  packages/mobile/src/pincode/PincodeEducation.tsx
  packages/mobile/src/pincode/PincodeSet.tsx
  packages/mobile/src/qrcode/QRCode.tsx
  packages/mobile/src/send/SendAmount.tsx
  packages/mobile/src/send/SendConfirmation.tsx
  packages/mobile/src/shared/BackupPrompt.tsx
  packages/mobile/src/transactions/TransactionReviewScreen.tsx
  packages/mobile/src/verify/Verified.tsx
  packages/mobile/src/verify/VerifyPhoneEducation.tsx
  packages/mobile/src/verify/Verifying.tsx
  packages/react-components/components/FullscreenCTA.tsx
  packages/react-components/components/LanguageSelectUI.tsx
  packages/react-components/components/SmartTopAlert.tsx
  yarn.lock
Due: mobile

Improved speed of the test
  packages/mobile/.env.test
  packages/mobile/package.json
  packages/mobile/scripts/run_e2e.sh
  packages/mobile/scripts/start_emulator.sh
  packages/mobile/scripts/unlock.sh
Due: mobile

added more error messages, but they consume gas
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Proposals.sol
  packages/protocol/contracts/identity/test/MockRandom.sol
  packages/protocol/runTests.js
  packages/protocol/scripts/bash/ganache.sh
  packages/protocol/scripts/devchain.ts
  packages/protocol/truffle-config.js
Due: protocol

fixing sloppy mistakes
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/LockedGold.sol
Due: protocol

Move docker images to use node v10
  README-dev.md
  dockerfiles/attestation-service/Dockerfile
  dockerfiles/celotool/Dockerfile
  dockerfiles/cli/Dockerfile
  dockerfiles/cloudbuild/Dockerfile
  dockerfiles/transaction-metrics-exporter/Dockerfile
Due: none

fix scrypt function import
  packages/mobile/jest_setup.ts
  packages/utils/src/identity.ts
Due: mobile

Improve QR Code scan ability (#1036)
  packages/mobile/android/app/build.gradle
  packages/mobile/android/build.gradle
  packages/mobile/package.json
  packages/mobile/src/index.d.ts
  packages/mobile/src/qrcode/QRCode.tsx
  packages/mobile/src/qrcode/QRGen.tsx
  packages/mobile/src/qrcode/QRGenTests/QRGen.test.tsx
  packages/mobile/src/qrcode/QRGenTests/__snapshots__/QRGen.test.tsx.snap
  packages/mobile/src/qrcode/QRScanner.tsx
  packages/mobile/src/qrcode/__snapshots__/QRCode.test.tsx.snap
  packages/mobile/src/qrcode/utils.ts
  yarn.lock
Due: mobile

Start on new import flow with empty wallet handling
  packages/mobile/locales/en-US/global.json
  packages/mobile/locales/en-US/nuxRestoreWallet3.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/locales/es-419/nuxRestoreWallet3.json
  packages/mobile/package.json
  packages/mobile/src/app/ErrorMessages.ts
  packages/mobile/src/import/ImportWallet.test.tsx
  packages/mobile/src/import/ImportWallet.tsx
  packages/mobile/src/import/actions.ts
  packages/mobile/src/import/saga.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/redux/reducers.ts
  packages/mobile/src/redux/store.ts
  packages/mobile/src/tokens/saga.ts
  packages/mobile/src/web3/actions.ts
  packages/react-components/styles/styles.ts
  packages/utils/src/signatureUtils.ts
Due: mobile

Add new reducer
  packages/mobile/src/import/reducer.ts
  packages/mobile/src/import/saga.test.ts
Due: mobile

Fix verification pool validation (#1176)
  packages/mobile/package.json
  packages/verification-pool-api/.gitignore
  packages/verification-pool-api/package.json
  packages/verification-pool-api/src/config.ts
  packages/verification-pool-api/src/database.ts
  packages/verification-pool-api/src/validation.ts
  yarn.lock
Due: mobile

Darker backer logos
  packages/web/src/about/Backers.tsx
  packages/web/src/about/backers/a16z.png
  packages/web/src/about/backers/a16z@2x.png
  packages/web/src/about/backers/cervin.png
  packages/web/src/about/backers/cervin@2x.png
  packages/web/src/about/backers/coinbase.png
  packages/web/src/about/backers/coinbase@2x.png
  packages/web/src/about/backers/lake-star.png
  packages/web/src/about/backers/lake-star@2x.png
  packages/web/src/about/backers/nima.png
  packages/web/src/about/backers/nima@2x.png
  packages/web/src/about/backers/polychain.png
  packages/web/src/about/backers/polychain@2x.png
  packages/web/src/about/backers/social-capital.png
  packages/web/src/about/backers/social-capital@2x.png
  packages/web/src/about/backers/sv-angel.png
  packages/web/src/about/backers/sv-angel@2x.png
Due: none

moving back to original place
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

Remove jest .only annotations
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/test/governance/governance.ts
Due: protocol

all both light and dark version of full circle
  packages/web/pages/animation/community.tsx
  packages/web/src/about/Values.tsx
  packages/web/src/community/connect/CoverArea.tsx
  packages/web/src/community/connect/FullCircle.tsx
  packages/web/src/styles.ts
Due: none

Don’t line break in weird spot around C Labs
  packages/web/src/about/About.tsx
  packages/web/static/locales/en/about.json
Due: none

Remove unrelated changes
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/migrations/15_governance.ts
Due: protocol

Values area complete
  packages/web/src/about/Testris.tsx
  packages/web/src/about/Values.tsx
Due: none

Deploy alfajoresstaging
  .env.alfajoresstaging
  packages/blockchain-api/app.alfajoresstaging.yaml
  packages/mobile/.env
  packages/mobile/package.json
  packages/verification-pool-api/contracts/Attestations.ts
  packages/verification-pool-api/contracts/GoldToken.ts
  packages/verification-pool-api/contracts/StableToken.ts
  packages/verification-pool-api/src/celoEnv.ts
  yarn.lock
Due: mobile

Alternative hotfix model
  packages/protocol/contracts/governance/Governance.sol
Due: protocol

[Wallet] Add support for address pasting in send input field (#1180)
  packages/mobile/android/app/src/main/AndroidManifest.xml
  packages/mobile/src/account/__snapshots__/Invite.test.tsx.snap
  packages/mobile/src/recipients/RecipientPicker.tsx
  packages/mobile/src/send/LabeledTextInput.tsx
  packages/mobile/src/send/SendAmount.tsx
  packages/mobile/src/send/__snapshots__/SendAmount.test.tsx.snap
  packages/react-components/components/PhoneNumberInput.tsx
  packages/react-components/components/TextInput.tsx
  packages/react-components/components/Touchable.tsx
  packages/react-components/components/ValidatedTextInput.tsx
  packages/react-components/components/WithTextInputLabeling.tsx
  packages/react-components/components/WithTextInputPasteAware.tsx
Due: mobile

[codecov]Fix codecov errors (#1147)
  .codecov.yml
Due: none

Add some natspecs
  packages/protocol/contracts/common/Signatures.sol
  packages/protocol/contracts/common/linkedlists/SortedLinkedList.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

Linting
  packages/protocol/contracts/common/linkedlists/AddressSortedLinkedList.sol
  packages/protocol/contracts/common/linkedlists/SortedLinkedList.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/test/MockLockedGold.sol
  packages/protocol/contracts/governance/test/MockValidators.sol
  packages/protocol/contracts/stability/Exchange.sol
  packages/protocol/migrations/17_elect_validators.ts
Due: protocol

Set margins between sections and blocks
  packages/web/src/about/About.tsx
  packages/web/src/about/Backers.tsx
  packages/web/src/about/BookLayout.tsx
  packages/web/src/about/Team.tsx
  packages/web/static/locales/en/about.json
Due: none

Redeploy verification-pool alfajoresstaging
  packages/mobile/.env
  yarn.lock
Due: mobile

Have mobile app use integration
  packages/mobile/.env
Due: mobile

Small fix
  packages/protocol/contracts/governance/LockedGold.sol
Due: protocol

below fold area of about page all set
  packages/web/src/about/About.tsx
  packages/web/src/about/Backers.tsx
  packages/web/src/about/BookLayout.tsx
  packages/web/src/about/Team.tsx
  packages/web/static/locales/en/about.json
Due: none

Remove period
  packages/web/static/locales/en/about.json
Due: none

[ContractKit]Fill more fields before web3 signing
  packages/contractkit/src/consts.ts
  packages/contractkit/src/kit.ts
  packages/contractkit/src/providers/celo-private-keys-subprovider.ts
  packages/contractkit/src/utils/tx-signing.test.ts
Due: none

[ContractKit]Fill more fields before web3 signing
  packages/contractkit/src/kit.ts
  packages/contractkit/src/providers/celo-private-keys-subprovider.ts
  packages/contractkit/src/providers/celo-provider.ts
  packages/contractkit/src/utils/tx-signing.test.ts
  packages/contractkit/src/utils/web3-utils.ts
Due: none

SMinimize dependency in CeloPrivateKeysSubProvider
  packages/contractkit/src/consts.ts
  packages/contractkit/src/kit.ts
  packages/contractkit/src/providers/celo-private-keys-subprovider.ts
  packages/contractkit/src/providers/celo-provider.ts
  packages/contractkit/src/utils/signing-utils.ts
  packages/contractkit/src/utils/tx-signing.test.ts
  packages/contractkit/src/utils/web3-utils.ts
Due: none

improve Better type for analytics Dont set allow cookie at all if opt out Set responder cookie to expire within one day
  packages/web/src/analytics/analytics.ts
Due: none

Remove GasPriceMiminum contract from CeloPrivateKeysSubprovider
  packages/contractkit/src/consts.ts
  packages/contractkit/src/kit.ts
  packages/contractkit/src/providers/celo-private-keys-subprovider.ts
  packages/contractkit/src/providers/celo-provider.ts
  packages/contractkit/src/utils/signing-utils.ts
  packages/contractkit/src/utils/tx-signing.test.ts
  packages/contractkit/src/utils/web3-utils.ts
Due: none
