Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

changed names
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/test/governance/bondeddeposits.ts
Due: protocol

applying address contract check to fallback function
  packages/protocol/contracts/common/Proxy.sol
Due: protocol

Rename gold feed title
  packages/mobile/locales/en-US/exchangeFlow9.json
  packages/mobile/locales/es-419/exchangeFlow9.json
  packages/mobile/src/exchange/ExchangeHomeScreen.tsx
Due: mobile

Update tests
  packages/mobile/src/transactions/ExchangeFeedItem.test.tsx
  packages/mobile/src/transactions/TransferFeedItem.test.tsx
  packages/mobile/src/transactions/__snapshots__/ExchangeFeedItem.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransactionFeed.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransferFeedItem.test.tsx.snap
Due: mobile

[Wallet] Disable import wallet button when the backup phrase is not valid (#1012)
  packages/mobile/src/import/ImportWallet.tsx
Due: mobile

commenting circleci protocol timeout
  .circleci/config.yml
Due: none

solutions to truffle doesnt compile and out of gas in the CLI
  packages/cli/README.md
Due: none

Factorize duplicate ternary checks
  packages/mobile/src/transactions/ExchangeFeedItem.tsx
Due: mobile

add more info building against alfajores
  packages/cli/README.md
Due: none

do not switch back to master
  packages/cli/README.md
Due: none

added a variable for electoral threshold
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/runTests.js
  packages/protocol/test/governance/validators.ts
  packages/protocol/truffle.js
Due: protocol

updated gas limit in script
  packages/protocol/scripts/bash/ganache.sh
Due: protocol

Add cocoapods to Gemfile so we all use the same version
  packages/mobile/Gemfile
  packages/mobile/Gemfile.lock
  packages/mobile/ios/Podfile.lock
Due: mobile

in progress
  packages/mobile/locales/en-US/nuxNamePin1.json
  packages/mobile/src/account/actions.ts
  packages/mobile/src/account/reducer.ts
  packages/mobile/src/account/saga.ts
  packages/mobile/src/config.ts
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/Screens.tsx
  packages/mobile/src/pincode/PincodeConfirmation.test.tsx
  packages/mobile/src/pincode/PincodeConfirmationScreen.tsx
  packages/mobile/src/pincode/PincodeEducation.tsx
  packages/mobile/src/pincode/PincodeSet.test.tsx
  packages/mobile/src/pincode/PincodeSet.tsx
  packages/mobile/src/pincode/PincodeUtils.android.ts
  packages/mobile/src/pincode/PincodeUtils.ios.ts
  packages/mobile/src/redux/sagas.ts
Due: mobile

Update react-native-config to simplify integration on iOS
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
  packages/mobile/package.json
  packages/verifier/package.json
  yarn.lock
Due: mobile

Make contracts compile
  packages/protocol/contracts/common/UsingFixidity.sol
  packages/protocol/contracts/common/test/FixidityTest.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/Proposals.sol
  packages/protocol/contracts/governance/UsingLockedGold.sol
  packages/protocol/contracts/governance/interfaces/IGovernance.sol
  packages/protocol/contracts/governance/test/ProposalsTest.sol
  packages/protocol/contracts/stability/Exchange.sol
Due: protocol

account:new doesn't need the node synced
  packages/cli/src/commands/account/new.ts
  packages/cli/src/commands/account/transferdollar.ts
Due: none

Fix governance tests
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/test/MockLockedGold.sol
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/governance.ts
  packages/protocol/test/governance/proposals.ts
  yarn.lock
Due: protocol

linting and small changes to improve the code reading
  packages/protocol/contracts/common/Proxy.sol
Due: protocol

[wip] LinkedList cycle fix (#941)
  packages/protocol/contracts/common/linkedlists/LinkedList.sol
  packages/protocol/contracts/common/test/LinkedListTest.sol
  packages/protocol/migrationsConfig.js
  packages/protocol/test/common/linkedlist.ts
Due: protocol

Make changes based on review
  packages/notification-service/src/config.ts
  packages/notification-service/src/exchange/exchangeQuery.ts
  packages/notification-service/src/index.ts
  packages/notification-service/src/polling.ts
Due: none

Taylor approves
  packages/web/src/about/VideoCover.tsx
  packages/web/src/header/Header.3.tsx
  packages/web/src/react-native-aug.d.ts
  packages/web/static/locales/en/about.json
Due: none

add white border to QR code image for scanning support
  packages/mobile/src/qrcode/QRCode.tsx
  packages/mobile/src/qrcode/QRGen.js
Due: mobile

lint
  packages/web/src/about/About.tsx
  packages/web/src/about/VideoCover.tsx
  packages/web/src/about/images/index.ts
  packages/web/src/logos/LogoDarkBg.tsx
Due: none

[Wallet] Differentiate dollars and gold transactions (#1021)
  packages/mobile/locales/en-US/exchangeFlow9.json
  packages/mobile/locales/es-419/exchangeFlow9.json
  packages/mobile/src/exchange/ExchangeHomeScreen.tsx
  packages/mobile/src/transactions/ExchangeFeedItem.test.tsx
  packages/mobile/src/transactions/ExchangeFeedItem.tsx
  packages/mobile/src/transactions/TransactionFeed.tsx
  packages/mobile/src/transactions/TransferFeedItem.test.tsx
  packages/mobile/src/transactions/TransferFeedItem.tsx
  packages/mobile/src/transactions/__snapshots__/ExchangeFeedItem.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransactionFeed.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransferFeedItem.test.tsx.snap
Due: mobile

Add poster to video
  packages/web/src/about/VideoCover.tsx
  packages/web/static/AboutPreview.jpg
Due: none

Update interface
  packages/protocol/contracts/stability/interfaces/IReserve.sol
Due: protocol

Add isvalidator CLI command
  packages/cli/src/commands/account/isvalidator.ts
  packages/contractkit/src/wrappers/Validators.ts
Due: none

Address comments
  packages/cli/src/commands/validatorgroup/show.ts
  packages/contractkit/src/wrappers/Validators.ts
Due: none

Persistent disks for transaction nodes (#1016)
  .env
  .env.alfajores
  .env.alfajoresstaging
  .env.integration
  .env.pilot
  .env.pilotstaging
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/helm-charts/testnet/templates/txnode.statefulset.yaml
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Due: none

Parse validator set size to number
  packages/contractkit/src/wrappers/Validators.ts
Due: none

Remove unused Reserve.burnToken function (#984)
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/interfaces/IReserve.sol
Due: protocol

Replace wrong usage of newFixed with wrap
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/test/governance/governance.ts
Due: protocol

Address PR issues
  .circleci/config.yml
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/Proposals.sol
  packages/protocol/lib/fixidity.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/package.json
  packages/protocol/test/governance/governance.ts
  yarn.lock
Due: protocol

Simplify and fix compiler errors
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/Proposals.sol
Due: protocol

Reimplement Fixidity division
  packages/protocol/contracts/common/FixidityLib.sol
  packages/protocol/test/common/fixidity.ts
Due: protocol

Fix governance migrations for new config names
  packages/protocol/migrations/15_governance.ts
Due: protocol

Use the correct equality operator
  packages/cli/src/commands/account/isvalidator.ts
Due: none

Update Invite number input to reset if country is changed
  packages/web/package.json
  packages/web/src/dev/Title.tsx
  packages/web/src/download/AppStores.tsx
  packages/web/src/fauceting/MicroComponents.tsx
  packages/web/src/fauceting/PhoneInput.tsx
  packages/web/src/fauceting/RequestFunds.tsx
  packages/web/src/fauceting/utils.ts
  packages/web/static/locales/en/faucet.json
  yarn.lock
Due: none

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
