Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

added some recursion
  packages/leaderboard/src/upload.ts
Due: none

Deployed integration
  .env.integration
Due: none

Bump celo/client
  packages/mobile/.env
  packages/mobile/package.json
  yarn.lock
Due: mobile

add explicit gas to exchange transactions to prevent errors
  packages/cli/src/commands/exchange/dollars.ts
  packages/cli/src/commands/exchange/gold.ts
Due: none

See if people are pressing the track button
  packages/web/src/about/About.tsx
Due: none

Update protocol Validators tests for corrected epoch definition
  packages/protocol/test/governance/validators.ts
Due: protocol

start trying to exclude groups from the voting (does not work yet)
  packages/celotool/src/cmds/bots/auto-vote.ts
  packages/celotool/src/cmds/deploy/initial/voting-bot.ts
  packages/celotool/src/lib/voting-bot.ts
  packages/helm-charts/voting-bot/templates/voting-bot.cronjob.yaml
Due: none

More information on Errors
  packages/web/src/shared/VideoModal.tsx
Due: none

do not fetch affiliates (#2508)
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
Due: none

Rename to forno, update DisconnectBanner and forno on start
  packages/mobile/.env
  packages/mobile/.env.alfajores
  packages/mobile/.env.integration
  packages/mobile/.env.pilot
  packages/mobile/.env.pilotstaging
  packages/mobile/.env.production
  packages/mobile/.env.staging
  packages/mobile/.env.test
  packages/mobile/README.md
  packages/mobile/locales/en-US/accountScreen10.json
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/account/DataSaver.tsx
  packages/mobile/src/account/__snapshots__/DataSaver.test.tsx.snap
  packages/mobile/src/app/saga.test.ts
  packages/mobile/src/app/saga.ts
  packages/mobile/src/config.ts
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/geth/actions.ts
  packages/mobile/src/geth/networkConfig.ts
  packages/mobile/src/geth/reducer.ts
  packages/mobile/src/geth/saga.ts
  packages/mobile/src/geth/selectors.ts
  packages/mobile/src/invite/JoinCelo.test.tsx
  packages/mobile/src/invite/JoinCelo.tsx
  packages/mobile/src/invite/saga.test.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/redux/sagas.ts
  packages/mobile/src/redux/selectors.ts
  packages/mobile/src/shared/DisconnectBanner.tsx
  packages/mobile/src/transactions/send.ts
  packages/mobile/src/web3/actions.ts
  packages/mobile/src/web3/contracts.ts
  packages/mobile/src/web3/reducer.ts
  packages/mobile/src/web3/saga.test.ts
  packages/mobile/src/web3/saga.ts
  packages/mobile/src/web3/selectors.ts
  packages/mobile/test/schemas.ts
Due: mobile

Deployed integration (#2550)
  .env.integration
Due: none

✅ add test for phone Input component Testing interactivity and interplay between the two input elements
  packages/web/src/_page-tests/test-utils.ts
  packages/web/src/brandkit/common/MobileMenu.test.tsx
  packages/web/src/fauceting/PhoneInput.test.tsx
  packages/web/src/fauceting/PhoneInput.tsx
Due: none

Add comments and docs
  packages/contractkit/src/wrappers/Governance.ts
  packages/docs/command-line-interface/governance.md
Due: none

Change go version for ci
  dockerfiles/circleci/Dockerfile
Due: none

Changes for geth 1.9
  .circleci/config.yml
  packages/celotool/src/e2e-tests/utils.ts
  packages/protocol/contracts/common/Proxy.sol
Due: protocol

Set istanbulBlock to 0 in genesisBlock
  packages/celotool/src/lib/genesis_constants.ts
Due: none

Do not set istanbulBlock
  packages/celotool/src/lib/genesis_constants.ts
Due: none

Set gc mode to archieve for historical state
  packages/celotool/src/e2e-tests/utils.ts
Due: none

Change to lightest
  packages/celotool/src/cmds/geth/run.ts
  packages/celotool/src/e2e-tests/sync_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

🚚 rename footer 3 to footer
  packages/web/pages/_app.tsx
  packages/web/src/brandkit/common/Page.tsx
  packages/web/src/header/Header.3.tsx
  packages/web/src/shared/Footer.tsx
Due: none

Fix parameters tests. Use 1.9 version number
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
Due: none

💄 add YouTube to footer Fix footer getting squished on tablet
  packages/web/src/icons/YouTube.tsx
  packages/web/src/shared/Footer.tsx
  packages/web/src/shared/menu-items.ts
Due: none

Update MockUsingPrecompiles epoch calculation
  packages/protocol/contracts/governance/test/MockUsingPrecompiles.sol
Due: protocol

[Wallet] E2E test improvements (#2542)
  SETUP.md
  packages/mobile/.env
  packages/mobile/.env.test
  packages/mobile/README.md
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/proguard-rules.pro
  packages/mobile/android/app/src/debug/AndroidManifest.xml
  packages/mobile/android/app/src/debug/res/xml/network_security_config.xml
  packages/mobile/e2e/README.md
  packages/mobile/e2e/Transfer.spec.js
  packages/mobile/e2e/init.js
  packages/mobile/package.json
  packages/mobile/scripts/build_e2e.sh
  packages/mobile/scripts/run_app.sh
  packages/mobile/scripts/run_e2e.sh
  packages/mobile/scripts/start_emulator.sh
  packages/mobile/scripts/wait_for_emulator_to_connect.sh
  yarn.lock
Due: mobile

📸 Update footer snaps for yt
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
Due: none

🚨
  packages/web/src/fauceting/PhoneInput.test.tsx
Due: none

Update config for alfajores staging
  .env.alfajoresstaging
  packages/protocol/migrationsConfig.js
Due: protocol

Update celotool
  .env.alfajoresstaging
Due: none

Not sure how this was lost
  packages/web/src/utils/abortableFetch.ts
Due: none

[Wallet] Bump @celo/client to 0.0.266 (#2551)
  packages/mobile/package.json
  yarn.lock
Due: mobile

Update another epoch definition
  packages/protocol/test/governance/downtime_slasher.ts
  packages/protocol/test/governance/validators.ts
Due: protocol

vesting smart contracts and related ts configs only (#2537)
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/common/interfaces/IAccounts.sol
  packages/protocol/contracts/governance/VestingFactory.sol
  packages/protocol/contracts/governance/VestingInstance.sol
  packages/protocol/contracts/governance/interfaces/IElection.sol
  packages/protocol/contracts/governance/interfaces/ILockedGold.sol
  packages/protocol/contracts/governance/interfaces/IVestingFactory.sol
  packages/protocol/contracts/governance/interfaces/IVestingInstance.sol
  packages/protocol/contracts/governance/proxies/VestingFactoryProxy.sol
  packages/protocol/contracts/governance/test/MockElection.sol
  packages/protocol/contracts/governance/test/MockLockedGold.sol
  packages/protocol/lib/registry-utils.ts
  packages/protocol/migrations/11_vesting_factory.ts
  packages/protocol/migrations/12_lockedgold.ts
  packages/protocol/migrations/13_validators.ts
  packages/protocol/migrations/14_election.ts
  packages/protocol/migrations/15_epoch_rewards.ts
  packages/protocol/migrations/16_random.ts
  packages/protocol/migrations/17_attestations.ts
  packages/protocol/migrations/18_escrow.ts
  packages/protocol/migrations/19_blockchainparams.ts
  packages/protocol/migrations/20_governance_slasher.ts
  packages/protocol/migrations/21_double_signing_slasher.ts
  packages/protocol/migrations/22_downtime_slasher.ts
  packages/protocol/migrations/23_governance.ts
  packages/protocol/migrations/24_elect_validators.ts
  packages/protocol/scripts/build.ts
  packages/protocol/test/governance/vesting.ts
Due: protocol

📝 Update readme Remove old part about picture Add in info on testing
  packages/web/README.md
Due: none

fix off-by-one error in attributing signatures to blocks
  packages/cli/src/commands/validator/signed-blocks.ts
  packages/cli/src/commands/validator/status.ts
  packages/cli/src/utils/election.ts
Due: none

allow --component flag to be used to select a VM
  packages/celotool/src/lib/port_forward.ts
Due: none

Migrate up to 23
  packages/cli/package.json
  packages/contractkit/package.json
Due: none

🚚 move files from static to public directory
  packages/web/public/assets/CeloColorLogo.zip
  packages/web/public/assets/CeloColorLogoReverse.zip
  packages/web/public/assets/CeloGlyphs.zip
  packages/web/public/assets/CeloLogoPackage.zip
  packages/web/public/assets/CeloMonochromeLogo.zip
  packages/web/public/assets/CeloMonochromeLogoReverse.zip
  packages/web/public/images/AboutPreview.jpg
  packages/web/public/static/favicon.ico
  packages/web/public/static/normalize.css
  packages/web/src/about/VideoCover.tsx
  packages/web/src/brandkit/Logo.tsx
Due: none

Renames reserve diversion ratio
  packages/protocol/contracts/governance/EpochRewards.sol
Due: protocol

Address comments
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/test/governance/governance.ts
Due: protocol

Improvements from review
  packages/contractkit/src/wrappers/Election.ts
  packages/utils/src/address.ts
  packages/utils/src/collections.ts
Due: none
