Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

Switching back to multiplier
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/validators.ts
Due: protocol

Changing more names
  packages/protocol/test/governance/validators.ts
Due: protocol

updating accounts expected
  packages/protocol/specs/AccountsExpected.json
Due: protocol

Updating gas limits in all places
  packages/dev-utils/src/ganache-setup.ts
  packages/protocol/scripts/devchain.ts
Due: protocol

WIP
  packages/mobile/src/apollo/types.ts
  packages/mobile/src/transactions/TransactionFeed.tsx
  packages/mobile/src/transactions/reducer.ts
  packages/utils/src/phoneNumbers.ts
  packages/walletkit/src/contract-utils.ts
Due: mobile

Audit fixes for Reserve (#1816)
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/interfaces/IReserve.sol
  packages/protocol/test/governance/epochrewards.ts
  packages/protocol/test/stability/reserve.ts
Due: protocol

tests working
  packages/cli/src/commands/account/show-claimed-accounts.ts
Due: none

lint
  packages/cli/src/commands/account/show-claimed-accounts.ts
Due: none

Update genesis value, show name in election:list, fix assertRevert (#2216)
  baklava_genesis_balances.json
  packages/cli/src/commands/election/list.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.test.ts
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/lib/test-utils.ts
  packages/protocol/test/governance/validators.ts
  packages/protocol/test/stability/reserve.ts
Due: protocol

Ok
  packages/web/src/brandkit/tests/__snapshots__/Showcase.test.tsx.snap
Due: none

Add back accidentally removed election:list name field
  packages/cli/src/commands/election/list.ts
Due: none

Delete commented out code
  packages/mobile/src/transactions/TransactionFeed.tsx
Due: mobile

Adding slashing multiplier to validators.sol and reward calculation (#2239)
  packages/dev-utils/src/ganache-setup.ts
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IValidators.sol
  packages/protocol/contracts/governance/test/MockValidators.sol
  packages/protocol/migrations/12_validators.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/runTests.js
  packages/protocol/scripts/devchain.ts
  packages/protocol/test/governance/validators.ts
  packages/protocol/truffle-config.js
Due: protocol

Put back ts ignore
  packages/mobile/src/transactions/TransactionFeed.tsx
Due: mobile

Fix lint/build errors
  packages/mobile/src/apollo/__mockData__.ts
  packages/mobile/src/transactions/ExchangeFeedItem.test.tsx
Due: mobile

Change to contributors per comment in sigma
  packages/web/static/locales/en/about.json
Due: none

Fix comment tsignore
  packages/mobile/src/transactions/TransactionFeed.tsx
Due: mobile

Various CLI improvements
  packages/cli/src/commands/account/unlock.ts
  packages/cli/src/commands/exchange/dollars.ts
  packages/cli/src/commands/exchange/gold.ts
Due: none

Fix types
  packages/mobile/src/apollo/__mockData__.ts
  packages/mobile/src/apollo/types.ts
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/exchange/saga.ts
  packages/mobile/src/stableToken/saga.test.ts
  packages/mobile/src/tokens/saga.ts
  packages/mobile/src/transactions/ExchangeFeedItem.test.tsx
  packages/mobile/src/transactions/TransactionFeed.test.tsx
  packages/mobile/src/transactions/TransactionFeed.tsx
  packages/mobile/src/transactions/TransferFeedItem.test.tsx
  packages/mobile/src/transactions/reducer.ts
Due: mobile

Upate snapshots
  packages/mobile/src/transactions/__snapshots__/TransactionFeed.test.tsx.snap
Due: mobile

Add snapshot for Privacy page
  packages/web/__mocks__/next-server/config.ts
  packages/web/pages/__snapshots__/privacy.test.tsx.snap
  packages/web/pages/privacy.test.tsx
  packages/web/src/header/OpenGraph.tsx
Due: none

Upload bootnode enode to gcs
  packages/celotool/src/cmds/deploy/initial/testnet.ts
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/celotool/src/lib/testnet-utils.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/terraform-modules/testnet/outputs.tf
Due: none

Image stubs Terms page
  packages/web/__mocks__/ImageStub.ts
  packages/web/jest.config.js
  packages/web/pages/__snapshots__/terms.test.tsx.snap
  packages/web/pages/__snapshots__/user-agreement.test.tsx.snap
  packages/web/pages/terms.test.tsx
  packages/web/pages/user-agreement.test.tsx
Due: none

FAQ snap
  packages/web/jest.config.js
  packages/web/pages/__snapshots__/faq.test.tsx.snap
  packages/web/pages/faq.test.tsx
Due: none

Add missing react
  packages/web/src/icons/Arrow.tsx
Due: none

Add docs involving bootnode
  packages/docs/getting-started/running-a-validator.md
Due: none

Replace Event with Transaction type
  packages/mobile/src/apollo/types.ts
  packages/mobile/src/home/TransactionsList.tsx
  packages/mobile/src/transactions/TransactionFeed.tsx
  packages/mobile/src/transactions/reducer.ts
Due: mobile

Remove useless echo and specify enode URL
  packages/docs/getting-started/running-a-validator.md
Due: none

Add --rm flag to one time container runs
  packages/docs/getting-started/faucet.md
  packages/docs/getting-started/running-a-full-node.md
  packages/docs/getting-started/running-a-validator.md
Due: none

Do the same for full nodes
  packages/docs/getting-started/running-a-full-node.md
Due: none

Fix lint
  packages/celotool/src/lib/testnet-utils.ts
Due: none

Add validators to VoterReward and make rewards:show display average validator score
  packages/cli/src/commands/rewards/show.ts
  packages/contractkit/src/wrappers/Election.ts
Due: none

Make averageValidatorScore a helper function
  packages/cli/src/commands/rewards/show.ts
Due: none

Revert unneeded changes
  packages/mobile/locales/en-US/nuxVerification2.json
  packages/mobile/locales/es-419/nuxVerification2.json
  packages/react-components/styles/fonts.tsx
Due: mobile

Add --rm flag to one time container runs (#2291)
  packages/docs/getting-started/faucet.md
  packages/docs/getting-started/running-a-full-node.md
  packages/docs/getting-started/running-a-validator.md
Due: none

Fix deploy issues
  package.json
  packages/web/package.json
  yarn.lock
Due: none

Add more tests
  packages/web/pages/about.test.tsx
  packages/web/pages/stake-off/__snapshots__/terms.test.tsx.snap
  packages/web/pages/stake-off/terms.test.tsx
  packages/web/src/brandkit/color/Palette.tsx
  packages/web/src/brandkit/common/TopBar.tsx
Due: none

WIP
  packages/web/pages/experience/brand/color.test.tsx
Due: none

Boom
  packages/web/src/brandkit/tests/__snapshots__/Showcase.test.tsx.snap
Due: none
