Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

:twisted_rightwards_arrows: key imagery
  packages/web/server/AssetBase.ts
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/brandkit/KeyImagery.tsx
  packages/web/src/brandkit/common/CCLicense.tsx
  packages/web/src/brandkit/common/Showcase.tsx
  packages/web/src/layout/ScreenSize.tsx
Due: none

Wtf
  packages/web/src/brandkit/KeyImagery.tsx
Due: none

Fix exchange
  packages/mobile/src/exchange/saga.ts
Due: mobile

Add dep for types
  packages/mobile/package.json
Due: mobile

Redirect to datasaver when necessary
  packages/mobile/locales/en-US/accountScreen10.json
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/account/DataSaver.tsx
  packages/mobile/src/geth/actions.ts
  packages/mobile/src/geth/reducer.ts
  packages/mobile/src/geth/saga.ts
  packages/mobile/src/geth/selectors.ts
  packages/mobile/src/invite/JoinCelo.tsx
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/web3/actions.ts
  packages/mobile/src/web3/saga.ts
  packages/mobile/src/web3/selectors.ts
Due: mobile

a human readable description for governance proposals added + unit te… (#2321)
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/Proposals.sol
  packages/protocol/test/governance/governance.ts
Due: protocol

Add contractkit types
  packages/mobile/package.json
  packages/mobile/src/index.d.ts
Due: mobile

Finish testing
  packages/mobile/src/account/DataSaver.tsx
  packages/mobile/src/geth/saga.ts
  packages/mobile/src/invite/JoinCelo.tsx
  packages/mobile/src/web3/saga.ts
Due: mobile

Remove if true used for testing
  packages/mobile/src/web3/saga.ts
Due: mobile

Remove unused comment
  packages/mobile/src/web3/saga.ts
Due: mobile

:white_check_mark: Add test for Key Imagery Page
  packages/web/__mocks__/react-lazyload-fadein.ts
  packages/web/src/_page-tests/experience/__snapshots__/key-imagery.test.tsx.snap
  packages/web/src/_page-tests/experience/key-imagery.test.tsx
  packages/web/src/brandkit/KeyImagery.tsx
Due: none

Update tests
  packages/mobile/__mocks__/@celo/contractkit/index.ts
  packages/mobile/src/fees/saga.test.ts
  packages/mobile/src/invite/saga.test.ts
  packages/mobile/src/stableToken/saga.test.ts
  packages/mobile/src/tokens/saga.ts
  packages/mobile/src/web3/gas.test.ts
  packages/mobile/test/utils.ts
Due: mobile

:white_check_mark: add test for leaderboard and abortableFetch
  packages/web/src/dev/LeaderBoard.test.tsx
  packages/web/src/utils/abortableFetch.test.ts
Due: none

:fire: remove missionText file
  packages/web/src/home/MissionText.tsx
Due: none

:wrench: increase coverage targets on web mobile
  .codecov.yml
Due: none

Add typedoc
  packages/contractkit/package.json
  packages/contractkit/typedoc.json
Due: none

Add parsing for governance view
  packages/cli/src/commands/governance/view.ts
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/wrappers/Governance.ts
Due: none

Fix bug
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Due: protocol

improved formatting in election:compare
  packages/cli/src/commands/election/compare.ts
  packages/cli/src/commands/network/downtime.ts
Due: none

showing downtime stats
  packages/cli/src/commands/network/downtime.ts
Due: none

added more info columns
  packages/cli/src/commands/election/compare.ts
  packages/cli/src/commands/network/downtime.ts
Due: none

added more info columns
  packages/cli/src/commands/election/compare.ts
Due: none

fixed contractskit
  packages/contractkit/src/wrappers/VestingFactoryWrapper.ts
  packages/contractkit/src/wrappers/VestingInstanceWrapper.ts
  packages/protocol/contracts/governance/VestingInstance.sol
Due: protocol

show score
  packages/cli/src/commands/election/compare.ts
Due: none

extended info command
  packages/cli/src/commands/vesting/info.ts
Due: none

Downtime slashing when epoch changes (#2436)
  packages/protocol/contracts/governance/DowntimeSlasher.sol
  packages/protocol/test/governance/downtime_slasher.ts
Due: protocol

fixed remaining commands
  packages/cli/src/commands/vesting/lock-gold.ts
  packages/cli/src/commands/vesting/relock-gold.ts
  packages/cli/src/commands/vesting/revoke.ts
  packages/cli/src/commands/vesting/withdraw.ts
Due: none

fixing compilation
  packages/cli/src/commands/election/run.ts
  packages/protocol/test/governance/governance.ts
Due: protocol

fixes to unit tests
  packages/protocol/test/governance/vesting.ts
Due: protocol

docs
  packages/docs/command-line-interface/election.md
  packages/docs/command-line-interface/network.md
Due: none

commite smart contracts and related ts configs
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/common/interfaces/IAccounts.sol
  packages/protocol/contracts/governance/VestingFactory.sol
  packages/protocol/contracts/governance/VestingInstance.sol
  packages/protocol/contracts/governance/interfaces/IElection.sol
  packages/protocol/contracts/governance/interfaces/ILockedGold.sol
  packages/protocol/contracts/governance/interfaces/IVestingFactory.sol
  packages/protocol/contracts/governance/interfaces/IVestingInstance.sol
  packages/protocol/contracts/governance/proxies/VestingFactoryProxy.sol
  packages/protocol/contracts/governance/test/MockElection.sol
  packages/protocol/lib/registry-utils.ts
  packages/protocol/migrations/11_vesting_factory.ts
  packages/protocol/migrations/12_lockedgold.ts
  packages/protocol/migrations/13_validators.ts
  packages/protocol/migrations/14_election.ts
  packages/protocol/migrations/15_epoch_rewards.ts
  packages/protocol/migrations/16_random.ts
  packages/protocol/migrations/17_attestations.ts
  packages/protocol/migrations/18_escrow.ts
  packages/protocol/migrations/19_blockchainparams.ts
  packages/protocol/migrations/20_governance.ts
  packages/protocol/migrations/21_elect_validators.ts
  packages/protocol/scripts/build.ts
  packages/protocol/test/governance/vesting.ts
Due: protocol

Fix missing translation in wallet and typo in alfajoresstaging env file
  .env.alfajoresstaging
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/redux/sagas.ts
Due: mobile

[Wallet] Fix missing spanish translation (#2539)
  .env.alfajoresstaging
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/redux/sagas.ts
Due: mobile

Fix off by one in getEpochNumberOfBlock()
  packages/cli/src/commands/rewards/slasher.ts
  packages/contractkit/src/kit.ts
  packages/contractkit/src/wrappers/DoubleSigningSlasher.ts
  packages/contractkit/src/wrappers/DowntimeSlasher.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/protocol/contracts/common/UsingPrecompiles.sol
Due: protocol

Actually trigger edge case in tests
  packages/protocol/test/governance/election.ts
Due: protocol

Make changes based on review
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/geth/actions.ts
  packages/mobile/src/geth/reducer.ts
Due: mobile

console.log
  packages/mobile/src/tokens/saga.ts
Due: mobile

Fix tests
  packages/mobile/src/account/DataSaver.test.tsx
  packages/mobile/src/account/__snapshots__/DataSaver.test.tsx.snap
  packages/mobile/src/geth/reducer.ts
  packages/mobile/src/invite/JoinCelo.test.tsx
  packages/mobile/src/redux/selectors.ts
  packages/mobile/test/schemas.ts
Due: mobile

Move getValidatorSignerAddressSet precompile to Election wrapper
  packages/cli/src/commands/rewards/slasher.ts
  packages/contractkit/src/wrappers/DoubleSigningSlasher.ts
  packages/contractkit/src/wrappers/DowntimeSlasher.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/docs/command-line-interface/rewards.md
Due: none

More cleanup of e2e related scripts and docs
  SETUP.md
  packages/mobile/.env
  packages/mobile/.env.test
  packages/mobile/README.md
  packages/mobile/e2e/README.md
  packages/mobile/package.json
  packages/mobile/scripts/run_e2e.sh
  packages/mobile/scripts/start_emulator.sh
  packages/mobile/scripts/wait_for_emulator_to_connect.sh
  packages/mobile/src/config.ts
Due: mobile
