Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

Add auth package
  packages/auth/.env.enc
  packages/auth/.firebaserc
  packages/auth/.gitignore
  packages/auth/README.md
  packages/auth/firebase.json
  packages/auth/package.json
  packages/auth/src/config.ts
  packages/auth/src/index.ts
  packages/auth/tsconfig.json
  packages/auth/tslint.json
  packages/auth/yarn.lock
  scripts/key_placer.sh
  yarn.lock
Due: none

[contractKit] PR fixes
  packages/celotool/src/cmds/bots/auto-vote.ts
  packages/contractkit/package.json
  packages/contractkit/src/kit.ts
  packages/contractkit/src/providers/celo-provider.ts
  packages/contractkit/src/utils/missing-tx-params-populator.test.ts
  packages/contractkit/src/utils/missing-tx-params-populator.ts
  packages/contractkit/src/utils/provider-utils.ts
  packages/contractkit/src/utils/rpc-caller.test.ts
  packages/contractkit/src/utils/rpc-caller.ts
  packages/contractkit/src/utils/wallet.test.ts
  packages/contractkit/src/utils/wallet.ts
  packages/utils/src/address.ts
Due: none

Add readmne
  packages/auth/README.md
Due: none

Fixes translations not applying due to community set not loading on build page.
  packages/web/public/static/locales/en/common.json
  packages/web/public/static/locales/en/community.json
  packages/web/src/shared/ConnectionFooter.tsx
Due: none

Type wrangling
  packages/contractkit/src/explorer/log-explorer.ts
  packages/contractkit/src/kit.test.ts
  packages/contractkit/src/newtypes.d.ts
  packages/contractkit/src/test-utils/PromiEventStub.ts
  packages/contractkit/src/utils/tx-result.ts
  packages/contractkit/src/wrappers/BaseWrapper.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/contractkit/types/web3.d.ts
Due: none

Improve language of cookie/privacy consent banner
  packages/web/public/static/locales/en/common.json
  packages/web/src/header/CookieConsent.tsx
Due: none

Fixing style on account
  packages/protocol/specs/AccountsExpected.json
  packages/protocol/specs/accounts.spec
Due: protocol

Standardise blue colour
  packages/web/src/header/BlueBanner.tsx
  packages/web/src/header/CookieConsent.tsx
Due: none

Remove unneeded logs
  packages/auth/src/index.ts
Due: none

Begin fix for uptime indeterminacy
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

Improve language of cookie/privacy consent banner (#2751)
  packages/web/public/static/locales/en/common.json
  packages/web/src/header/BlueBanner.tsx
  packages/web/src/header/CookieConsent.tsx
Due: none

reduce gas cost due to revert contract change
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

Adding reward testing and removing unnecessary activate
  packages/protocol/contracts/governance/ReleaseGoldFactory.sol
  packages/protocol/contracts/governance/ReleaseGoldInstance.sol
  packages/protocol/contracts/governance/interfaces/IReleaseGoldFactory.sol
  packages/protocol/contracts/governance/interfaces/IReleaseGoldInstance.sol
  packages/protocol/test/governance/vesting.ts
Due: protocol

Fix amountIsInvalid
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
Due: mobile

Make CI pass on Baklava release branch (#2723)
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/e2e-tests/validator_order_tests.ts
  packages/celotool/src/lib/generate_utils.ts
  packages/cli/package.json
  packages/contractkit/package.json
  packages/protocol/package.json
  packages/protocol/runTests.js
  packages/protocol/scripts/build.ts
  packages/protocol/scripts/devchain.ts
Due: protocol

Don't apply istanbul hard fork in template genesis
  packages/celotool/src/lib/genesis_constants.ts
Due: none

showing balances at certain block
  packages/cli/src/commands/account/show-claimed-accounts.ts
Due: none

Add comment about why IS_E2E var is injected instead of set in an env file
  packages/mobile/src/setupE2eEnv.e2e.ts
Due: mobile

Both iOS and Android should use the custom keypad
  packages/mobile/e2e/Transfer.spec.js
Due: mobile

using eqAddress everywhere
  packages/cli/src/commands/validator/status.ts
  packages/contractkit/src/identity/claims/verify.ts
  packages/contractkit/src/identity/metadata.ts
Due: none

Fix import order
  packages/celotool/src/cmds/deploy/switch.ts
Due: none

added prompt to validator group
  packages/cli/src/commands/validatorgroup/register.ts
Due: none

added prompt for validator
  packages/cli/package.json
  packages/cli/src/commands/validator/register.ts
  packages/cli/src/commands/validatorgroup/register.ts
  yarn.lock
Due: none

Multiple blockscout instances (#2589)
  .env.baklava
  packages/celotool/src/cmds/deploy/destroy/blockscout.ts
  packages/celotool/src/cmds/deploy/initial/blockscout.ts
  packages/celotool/src/cmds/deploy/migrate/blockscout.ts
  packages/celotool/src/cmds/deploy/switch.ts
  packages/celotool/src/cmds/deploy/switch/blockscout.ts
  packages/celotool/src/cmds/deploy/upgrade/blockscout.ts
  packages/celotool/src/lib/blockscout.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/helm-charts/blockscout/templates/_helpers.tpl
  packages/helm-charts/blockscout/templates/blockscout-web.ingress.yaml
  packages/helm-charts/blockscout/templates/blockscout.secret.yaml
  packages/helm-charts/testnet/scripts/create-network.sh
Due: none

update docs
  packages/docs/developer-resources/contractkit/reference/classes/_identity_metadata_.identitymetadatawrapper.md
  packages/docs/developer-resources/contractkit/reference/modules/_identity_claims_verify_.md
  packages/docs/developer-resources/contractkit/reference/modules/_identity_metadata_.md
Due: none

Keep e2e artifacts
  .circleci/config.yml
  packages/mobile/.gitignore
  packages/mobile/scripts/run_e2e.sh
Due: mobile

fixing tests
  packages/cli/src/commands/validator/register.test.ts
Due: none

update docs
  packages/docs/command-line-interface/validator.md
  packages/docs/command-line-interface/validatorgroup.md
Due: none

Add menu item and initial set-up
  packages/mobile/locales/en-US/accountScreen10.json
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/Security.tsx
  packages/mobile/src/app/actions.ts
  packages/mobile/src/app/reducers.ts
  packages/mobile/src/app/saga.test.ts
  packages/mobile/src/app/saga.ts
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/Screens.tsx
Due: mobile

Make Pin Confirmation adjustable to different scenarios
  packages/mobile/android/app/src/main/java/org/celo/mobile/MainActivity.java
  packages/mobile/src/account/saga.ts
  packages/mobile/src/app/actions.ts
  packages/mobile/src/app/saga.ts
  packages/mobile/src/app/selectors.ts
  packages/mobile/src/pincode/PincodeConfirmation.tsx
  packages/mobile/test/schemas.ts
Due: mobile

Final implementation for CustomPin implementation
  packages/mobile/ios/celo/AppDelegate.m
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/saga.ts
  packages/mobile/src/app/Background.test.tsx
  packages/mobile/src/app/Background.tsx
  packages/mobile/src/app/__snapshots__/Background.test.tsx.snap
  packages/mobile/src/app/actions.ts
  packages/mobile/src/app/reducers.ts
  packages/mobile/src/app/saga.test.ts
  packages/mobile/src/app/saga.ts
  packages/mobile/src/app/selectors.ts
  packages/mobile/src/geth/saga.ts
  packages/mobile/src/navigator/NavigationService.ts
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/NavigatorWrapper.tsx
  packages/mobile/src/navigator/Screens.tsx
  packages/mobile/src/pincode/PincodeConfirmation.tsx
  packages/mobile/test/schemas.ts
  packages/mobile/test/values.ts
Due: mobile

fix linting error
  packages/mobile/src/account/Account.tsx
Due: mobile

Spanish i18n + small issues
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/navigator/NavigationService.ts
  packages/mobile/src/pincode/PincodeConfirmation.tsx
Due: mobile

Don't do partial cache restoration for pods
  .circleci/config.yml
Due: none

Ignore android/ios build folders in watchman
  .watchmanconfig
  packages/mobile/.watchmanconfig
Due: mobile

[contractKit] PR fixes
  packages/contractkit/src/providers/celo-provider.ts
  packages/contractkit/src/utils/sign-typed-data-utils.ts
  packages/contractkit/src/utils/tx-params-normalizer.test.ts
  packages/contractkit/src/utils/tx-params-normalizer.ts
Due: none

Ignore android/ios build folders in watchman (#2757)
  .watchmanconfig
  packages/mobile/.watchmanconfig
Due: mobile

Fix broken translations (#2750)
  packages/web/public/static/locales/en/common.json
  packages/web/public/static/locales/en/community.json
  packages/web/src/shared/ConnectionFooter.tsx
Due: none

[Wallet] Allow small gold transactions on Exchange Screen (#2753)
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
Due: mobile

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
