Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: 'packages/mobile/'
        flags: mobile
        threshold: 5%
        target: 70%
      web:
        paths: 'packages/web/'
        flags: web
        threshold: 2%
        target: 75%
      protocol:
        paths: 'packages/protocol/'
        flags: protocol
        threshold: 5%
        target: 90%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

gcmode=archive in txnodes to avoid pruning chain data
  packages/helm-charts/testnet/templates/txnode.statefulset.yaml
  packages/terraform-modules-public/testnet/modules/tx-node/startup.sh
  packages/terraform-modules/testnet/main.tf
  packages/terraform-modules/testnet/modules/full-node/main.tf
  packages/terraform-modules/testnet/modules/full-node/startup.sh
  packages/terraform-modules/testnet/modules/full-node/variables.tf
Due: none

No need to create an empty watchman config
  .circleci/config.yml
Due: none

Switch to cocoapods cdn for faster install
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
Due: mobile

Cache pods
  .circleci/config.yml
Due: none

support slash function is rules
  packages/protocol/specs/lockedGold.spec
Due: protocol

Add template for sentry config for CI builds
  packages/mobile/ios/sentry.properties.template
Due: mobile

Skip uploading debug symbols for debug builds
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
Due: mobile

Build all modile deps
  .circleci/config.yml
Due: none

Fix build command
  .circleci/config.yml
Due: none

Temp debug yarn cache not working
  .circleci/config.yml
Due: none

Workaround save_cache not supporting globbing paths
  .circleci/config.yml
Due: none

Bump cache version
  .circleci/config.yml
Due: none

Add instructions for docs
  packages/contractkit/DEVELOP.md
Due: none

Point CI back to celo blockchain master
  .circleci/config.yml
Due: none

[Wallet] Clean up forno mode (#2584)
  packages/mobile/.env
  packages/mobile/.env.alfajores
  packages/mobile/.env.integration
  packages/mobile/.env.pilot
  packages/mobile/.env.pilotstaging
  packages/mobile/.env.production
  packages/mobile/.env.staging
  packages/mobile/.env.test
  packages/mobile/README.md
  packages/mobile/locales/en-US/accountScreen10.json
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/account/DataSaver.tsx
  packages/mobile/src/account/__snapshots__/DataSaver.test.tsx.snap
  packages/mobile/src/account/actions.ts
  packages/mobile/src/account/reducer.ts
  packages/mobile/src/app/saga.test.ts
  packages/mobile/src/app/saga.ts
  packages/mobile/src/config.ts
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/geth/actions.ts
  packages/mobile/src/geth/networkConfig.ts
  packages/mobile/src/geth/reducer.ts
  packages/mobile/src/geth/saga.ts
  packages/mobile/src/geth/selectors.ts
  packages/mobile/src/invite/JoinCelo.test.tsx
  packages/mobile/src/invite/JoinCelo.tsx
  packages/mobile/src/invite/saga.test.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/redux/sagas.ts
  packages/mobile/src/redux/selectors.ts
  packages/mobile/src/shared/DisconnectBanner.tsx
  packages/mobile/src/transactions/send.ts
  packages/mobile/src/web3/actions.ts
  packages/mobile/src/web3/contracts.ts
  packages/mobile/src/web3/reducer.ts
  packages/mobile/src/web3/saga.test.ts
  packages/mobile/src/web3/saga.ts
  packages/mobile/src/web3/selectors.ts
  packages/mobile/test/schemas.ts
  packages/mobile/test/utils.ts
Due: mobile

Some changes to opsec script
  packages/opsec-audit/opsec-audit.sh
Due: none

Remove deletion of node_modules/@celo
  .circleci/config.yml
Due: none

[Wallet] Upgrade version to 1.6.0 and cleanup redux store migrations
  packages/mobile/.env.integration
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/main/assets/custom/LicenseDisclaimer.txt
  packages/mobile/android/gradle.properties
  packages/mobile/fastlane/README.md
  packages/mobile/ios/celo-tvOS/Info.plist
  packages/mobile/ios/celo-tvOSTests/Info.plist
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/ios/celo/Info.plist
  packages/mobile/ios/celoTests/Info.plist
  packages/mobile/locales/en-US/global.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/package.json
  packages/mobile/src/redux/migrations.test.ts
  packages/mobile/src/redux/migrations.ts
  packages/mobile/src/redux/store.ts
  packages/mobile/test/schemas.ts
Due: mobile

Update sms hash code
  .env.alfajoresstaging
Due: none

Fix test failures from merge conflicts
  packages/mobile/test/schemas.ts
Due: mobile

toggle strict check with an env variable
  packages/cli/src/utils/command.ts
Due: none

add hints and callouts
  packages/docs/celo-codebase/protocol/identity/accounts.md
Due: none

move the files around and make some edits
  packages/docs/SUMMARY.md
  packages/docs/developer-resources/contractkit/key-usage.md
  packages/docs/node-operations/key-management.md
Due: none

Add docs for Accounts key/signer management (#2604)
  packages/docs/SUMMARY.md
  packages/docs/node-operations/key-management.md
Due: none

Fix issue with notification count Remove incorrect Logger.showMessage call when sending payment
  packages/mobile/src/escrow/EscrowedPaymentListScreen.tsx
  packages/mobile/src/escrow/reducer.ts
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/home/NotificationBox.tsx
  packages/mobile/src/home/selectors.ts
  packages/mobile/src/send/saga.ts
Due: mobile

Changes from deploy
  .env.alfajores
  packages/helm-charts/README.md
  packages/protocol/truffle-config.js
Due: protocol

Update alfajores.enc
  .env.mnemonic.alfajores.enc
Due: none

Fix detox framework not present when restoring node_modules from cache
  .circleci/config.yml
Due: none

[Wallet] Upgrade version to 1.6.0 and cleanup redux store migrations (#2636)
  packages/mobile/.env.integration
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/main/assets/custom/LicenseDisclaimer.txt
  packages/mobile/android/gradle.properties
  packages/mobile/fastlane/README.md
  packages/mobile/ios/celo-tvOS/Info.plist
  packages/mobile/ios/celo-tvOSTests/Info.plist
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/ios/celo/Info.plist
  packages/mobile/ios/celoTests/Info.plist
  packages/mobile/locales/en-US/global.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/package.json
  packages/mobile/src/escrow/EscrowedPaymentListScreen.tsx
  packages/mobile/src/escrow/reducer.ts
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/home/NotificationBox.tsx
  packages/mobile/src/home/selectors.ts
  packages/mobile/src/redux/migrations.test.ts
  packages/mobile/src/redux/migrations.ts
  packages/mobile/src/redux/store.ts
  packages/mobile/src/send/saga.ts
  packages/mobile/test/schemas.ts
Due: mobile

Add isReserveLow function (#2395)
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/interfaces/IReserve.sol
  packages/protocol/test/governance/epochrewards.ts
  packages/protocol/test/stability/reserve.ts
Due: protocol

Updating tests and adding canvote canvalidate flags
  packages/protocol/contracts/common/interfaces/IAccounts.sol
  packages/protocol/contracts/governance/ReleaseGoldFactory.sol
  packages/protocol/contracts/governance/ReleaseGoldInstance.sol
  packages/protocol/contracts/governance/interfaces/IReleaseGoldFactory.sol
  packages/protocol/test/governance/release_gold.ts
Due: protocol

Remove only
  packages/protocol/test/governance/release_gold.ts
Due: protocol

Comments and fixing todos
  packages/protocol/contracts/governance/ReleaseGoldInstance.sol
  packages/protocol/test/governance/release_gold.ts
Due: protocol

Increase sync test timeout
  .circleci/config.yml
Due: none

Support issuer selection under key rotation
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/test/identity/attestations.ts
Due: protocol

Community reward via governable fraction (#2328)
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/migrations/15_epoch_rewards.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/epochrewards.ts
Due: protocol

update key rotation docs and add glossary entry
  packages/docs/SUMMARY.md
  packages/docs/getting-started/glossary.md
  packages/docs/node-operations/key-management.md
  packages/docs/operations-manual/key-management.md
Due: none
