Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

Fixing bugs, adding tests but still fixing tests
  packages/protocol/test/governance/election.ts
Due: protocol

Fixing tests
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Due: protocol

Changing names and changing votes counter to public
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Due: protocol

Fix lint.
  packages/protocol/contracts/common/UsingPrecompiles.sol
Due: protocol

Improve efficiency of whitelist tally
  packages/protocol/contracts/governance/Governance.sol
Due: protocol

Add tests for validator authorized signer whitelist hotfix
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/test/governance/governance.ts
Due: protocol

Update expected gas cost in transfer tests
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

fixed linter and fixed sortedOracles unit tests
  packages/protocol/contracts/stability/SortedOracles.sol
  packages/protocol/test/stability/sortedoracles.ts
Due: protocol

Update expectedGas constant in Transfer tests
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

reverted back to initial gas to avoid merge conflicts
  packages/protocol/scripts/bash/ganache.sh
Due: protocol

Add infinite pagination to Leaderboard (#2339)
  packages/web/src/dev/LeaderBoard.tsx
Due: none

more cleanup
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/tslint.json
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/DowntimeSlasher.sol
Due: protocol

more cleanup
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/migrations/23_elect_validators.ts
Due: protocol

if long time has passed, do not limit median rate change
  packages/protocol/contracts/stability/SortedOracles.sol
  packages/protocol/migrations/05_sortedoracles.ts
  packages/protocol/migrationsConfig.js
Due: protocol

small fixes
  packages/protocol/test/stability/sortedoracles.ts
Due: protocol

review comments
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/interfaces/IReserve.sol
  packages/protocol/migrations/07_reserve.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/epochrewards.ts
  packages/protocol/test/stability/reserve.ts
Due: protocol

fixing lint
  packages/protocol/migrations/19_governance_slasher.ts
  packages/protocol/migrations/20_double_signing_slasher.ts
  packages/protocol/migrations/21_downtime_slasher.ts
  packages/protocol/migrations/23_elect_validators.ts
  packages/protocol/test/common/integration.ts
  packages/protocol/test/governance/lockedgold.ts
Due: protocol

cli and contractkit tests
  packages/cli/package.json
  packages/contractkit/package.json
Due: none

Add tests for new components
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/src/alert/__snapshots__/AlertBanner.test.tsx.snap
  packages/mobile/src/identity/reducer.ts
  packages/mobile/src/import/ImportContacts.test.tsx
  packages/mobile/src/import/ImportContacts.tsx
  packages/mobile/src/import/__snapshots__/ImportContacts.test.tsx.snap
  packages/mobile/src/invite/EnterInviteCode.tsx
  packages/mobile/src/navigator/Screens.tsx
  packages/mobile/src/send/ContactSyncBanner.test.tsx
  packages/mobile/src/send/ContactSyncBanner.tsx
  packages/mobile/src/send/SendCallToAction.test.tsx
  packages/mobile/src/send/__snapshots__/ContactSyncBanner.test.tsx.snap
  packages/mobile/src/send/__snapshots__/SendCallToAction.test.tsx.snap
  packages/react-components/icons/Error.tsx
Due: mobile

Limechain/16xx (#1982)
  packages/protocol/contracts/common/GasPriceMinimum.sol
  packages/protocol/contracts/common/GoldToken.sol
  packages/protocol/contracts/common/MultiSig.sol
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/identity/Escrow.sol
  packages/protocol/contracts/stability/Exchange.sol
  packages/protocol/contracts/stability/SortedOracles.sol
  packages/protocol/contracts/stability/test/MockStableToken.sol
  packages/protocol/migrations/06_gaspriceminimum.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/common/gaspriceminimum.ts
  packages/protocol/test/common/multisig.ts
  packages/protocol/test/common/multisig.ts.old
  packages/protocol/test/stability/sortedoracles.ts
Due: protocol

changed visibility modifiers
  packages/protocol/contracts/stability/Reserve.sol
Due: protocol

lint
  packages/contractkit/src/web3-contract-cache.ts
Due: none

updates circleci branch
  .circleci/config.yml
Due: none

Add spanish translations
  packages/mobile/locales/es-419/sendFlow7.json
Due: mobile

fixing tests
  packages/protocol/test/common/multisig.ts
Due: protocol

fixing tests
  packages/protocol/test/stability/reserve.ts
Due: protocol

run each test only once
  packages/protocol/package.json
Due: protocol

Fixing multisig tests (#2342)
  packages/protocol/package.json
  packages/protocol/test/common/multisig.ts
  packages/protocol/test/stability/reserve.ts
Due: protocol

Replace Animated RN with CSS transitions to save hundred Kb
  packages/web/src/header/Header.3.tsx
Due: none

Save a few K by combining dark and light logos (each was 2.7k before)
  packages/web/src/logos/Logo.tsx
  packages/web/src/logos/LogoDarkBg.tsx
  packages/web/src/logos/LogoLightBg.tsx
Due: none

Added daily limit for reserve spending (#2303)
  packages/protocol/contracts/common/test/MockGoldToken.sol
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/interfaces/IReserve.sol
  packages/protocol/migrations/07_reserve.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/epochrewards.ts
  packages/protocol/test/stability/reserve.ts
Due: protocol

Use experimental chuncker
  packages/web/next.config.js
Due: none

Move to published version
  packages/web/package.json
Due: none

Update leaderboard url
  packages/web/env-config.js.enc
Due: none

Improve init error message when the node is not synced
  packages/attestation-service/src/db.ts
Due: none

changes acc. to PR's comments
  packages/cli/src/commands/vesting/authorize-voter.ts
  packages/cli/src/commands/vesting/authorize.ts
  packages/cli/src/commands/vesting/create-account.ts
  packages/cli/src/commands/vesting/info.ts
  packages/cli/src/commands/vesting/lock-gold.ts
  packages/cli/src/commands/vesting/pause.ts
  packages/cli/src/commands/vesting/relock-gold.ts
  packages/cli/src/commands/vesting/revoke.ts
  packages/cli/src/commands/vesting/set-account.ts
  packages/cli/src/commands/vesting/unlock-gold.ts
  packages/cli/src/commands/vesting/withdraw-gold.ts
  packages/cli/src/commands/vesting/withdraw.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/contractkit/src/wrappers/VestingFactoryWrapper.ts
  packages/contractkit/src/wrappers/VestingInstanceWrapper.ts
  packages/protocol/contracts/governance/VestingFactory.sol
  packages/protocol/contracts/governance/VestingInstance.sol
  packages/protocol/contracts/governance/interfaces/IVestingInstance.sol
  packages/protocol/test/common/accounts.ts
  packages/protocol/test/governance/vesting.ts
Due: protocol

added minor changes
  packages/cli/src/commands/vesting/authorize-voter.ts
  packages/cli/src/commands/vesting/create-account.ts
  packages/cli/src/commands/vesting/info.ts
  packages/cli/src/commands/vesting/withdraw-gold.ts
  packages/cli/src/commands/vesting/withdraw.ts
Due: none

Updated readme
  packages/terraform-modules-public/example/README.md
Due: none

Updated example module dir
  packages/terraform-modules-public/example/main.tf
Due: none

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
