Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

Small cleanup
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

Reset pincode cache if unlock fails (#1430)
  packages/mobile/src/pincode/PincodeCache.ts
  packages/mobile/src/web3/saga.ts
Due: mobile

Implement tobin tax, untested
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/exchange/actions.ts
  packages/mobile/src/exchange/saga.ts
Due: mobile

Add local currencies symbols
  packages/mobile/src/localCurrency/consts.ts
  packages/mobile/src/localCurrency/hooks.ts
  packages/mobile/src/localCurrency/selectors.ts
Due: mobile

Remove not used memo
  packages/mobile/src/components/CurrencyDisplay.tsx
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/home/CeloDollarsOverview.tsx
  packages/mobile/src/send/TransferConfirmationCard.tsx
  packages/mobile/src/transactions/actions.ts
Due: mobile

Show local currency in transactions feed
  packages/mobile/src/transactions/TransferFeedItem.tsx
Due: mobile

Use local currency on feed and confirmation cards
  packages/mobile/src/components/CurrencyDisplay.tsx
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/send/TransferConfirmationCard.tsx
  packages/mobile/src/transactions/ExchangeFeedItem.tsx
Due: mobile

Add currency symbol on home overview
  packages/mobile/src/home/CeloDollarsOverview.tsx
  packages/mobile/src/localCurrency/hooks.ts
Due: mobile

Store attestationRequestFeeToken on each Attestation
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/interfaces/IAttestations.sol
  packages/protocol/test/identity/attestations.ts
Due: protocol

WIP fixing tests
  packages/mobile/src/exchange/reducer.ts
  packages/mobile/src/exchange/saga.ts
  packages/mobile/src/stableToken/saga.test.ts
  packages/mobile/src/tokens/saga.ts
Due: mobile

Add tobin tax
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/exchange/actions.ts
  packages/mobile/src/exchange/reducer.ts
Due: mobile

Fix Accounts tests
  packages/celotool/src/lib/generate_utils.ts
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/common/interfaces/IAccounts.sol
  packages/protocol/test/common/accounts.ts
Due: protocol

Properly delete the unselected request
  packages/protocol/contracts/identity/Attestations.sol
Due: protocol

Adjust CLI
  packages/cli/src/commands/account/authorize.ts
  packages/docs/command-line-interface/account.md
Due: none

Fix lint
  packages/protocol/contracts/identity/Attestations.sol
Due: protocol

Fix CK
  packages/contractkit/src/wrappers/Accounts.ts
  packages/protocol/contracts/common/Accounts.sol
Due: protocol

Delete after event emission
  packages/protocol/contracts/identity/Attestations.sol
Due: protocol

Fix tests
  packages/mobile/src/components/__snapshots__/AccountOverview.test.tsx.snap
  packages/mobile/src/exchange/ExchangeConfirmationCard.test.tsx
  packages/mobile/src/home/__snapshots__/CeloDollarsOverview.test.tsx.snap
  packages/mobile/src/home/__snapshots__/WalletHome.test.tsx.snap
  packages/mobile/src/send/__snapshots__/TransferConfirmationCard.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/ExchangeFeedItem.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransactionFeed.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransferFeedItem.test.tsx.snap
Due: mobile

[Wallet] Update local currency styles and layout (#1325)
  packages/mobile/src/components/CurrencyDisplay.tsx
  packages/mobile/src/components/__snapshots__/AccountOverview.test.tsx.snap
  packages/mobile/src/exchange/ExchangeConfirmationCard.test.tsx
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/home/CeloDollarsOverview.tsx
  packages/mobile/src/home/__snapshots__/CeloDollarsOverview.test.tsx.snap
  packages/mobile/src/home/__snapshots__/WalletHome.test.tsx.snap
  packages/mobile/src/localCurrency/consts.ts
  packages/mobile/src/localCurrency/hooks.ts
  packages/mobile/src/localCurrency/selectors.ts
  packages/mobile/src/send/TransferConfirmationCard.tsx
  packages/mobile/src/send/__snapshots__/TransferConfirmationCard.test.tsx.snap
  packages/mobile/src/transactions/ExchangeFeedItem.tsx
  packages/mobile/src/transactions/TransferFeedItem.tsx
  packages/mobile/src/transactions/__snapshots__/ExchangeFeedItem.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransactionFeed.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransferFeedItem.test.tsx.snap
  packages/mobile/src/transactions/actions.ts
Due: mobile

Channel works
  packages/mobile/src/firebase/firebase.ts
Due: mobile

Added channel unsuscribe method and push is now used with yield call
  packages/mobile/src/firebase/firebase.ts
Due: mobile

remove stale mock object
  packages/mobile/test/values.ts
Due: mobile

[Wallet] Use exit on iOS since we can't restart like Android (#1424)
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/locales/en-US/global.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/package.json
  packages/mobile/src/app/AppLoading.tsx
  packages/mobile/src/app/ErrorScreen.tsx
  packages/mobile/src/app/__snapshots__/AppLoading.test.tsx.snap
  packages/mobile/src/utils/AppRestart.ts
  yarn.lock
Due: mobile

[Wallet] Fix firebase initialization error on iOS after reinstalling the app (#1423)
  packages/mobile/ios/celo/AppDelegate.m
  packages/mobile/src/firebase/firebase.ts
Due: mobile

Fix QR code scanning after pressing back Fix navigation tree for QR code paths Improve organization of Account related screens in navigator Convert some cancel buttons to back buttons in nav headers
  packages/mobile/src/account/Analytics.tsx
  packages/mobile/src/account/EditProfile.tsx
  packages/mobile/src/localCurrency/SelectLocalCurrency.tsx
  packages/mobile/src/navigator/NavigationService.ts
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/Screens.tsx
  packages/mobile/src/qrcode/QRScanner.tsx
Due: mobile

wrap up
  packages/mobile/src/firebase/firebase.test.ts
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/sentry/saga.ts
Due: mobile

remove redundant locales
  packages/mobile/locales/en-US/global.json
  packages/mobile/locales/es-419/global.json
Due: mobile

add non firebase check
  packages/mobile/src/firebase/firebase.ts
Due: mobile

Show the number with the correct rounding.
  packages/mobile/src/utils/formatting.test.ts
  packages/mobile/src/utils/formatting.ts
Due: mobile

Fixed selector
  packages/mobile/src/firebase/notifications.ts
Due: mobile

update tests for escrow
  packages/mobile/src/send/__snapshots__/TransferConfirmationCard.test.tsx.snap
Due: mobile

[Wallet] Show the currency values with correct rounding. (#1435)
  packages/mobile/src/utils/formatting.test.ts
  packages/mobile/src/utils/formatting.ts
Due: mobile

use more recent celo-blockchain/geth commit
  .env
Due: none

add cli command to report oracle values
  packages/cli/src/commands/oracle/report.ts
  packages/docs/command-line-interface/oracle.md
Due: none

[Wallet] Fix repeated QR code scanning and related navigation issues (#1439)
  packages/mobile/src/account/Analytics.tsx
  packages/mobile/src/account/EditProfile.tsx
  packages/mobile/src/localCurrency/SelectLocalCurrency.tsx
  packages/mobile/src/navigator/NavigationService.ts
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/Screens.tsx
  packages/mobile/src/qrcode/QRScanner.tsx
Due: mobile

console.info is prefered over console.log, so replace .log instances
  packages/protocol/migrations/02_registry.ts
  packages/protocol/migrations/04_goldtoken.ts
  packages/protocol/migrations/07_reserve.ts
  packages/protocol/migrations/08_stabletoken.ts
  packages/protocol/migrations/09_exchange.ts
  packages/protocol/migrations/16_governance.ts
  packages/protocol/migrations/17_elect_validators.ts
Due: protocol

update jest test escrow
  packages/blockchain-api/test/blockscout.test.ts
Due: none

WIP integration truffle plugin for blockscout contract verification
  packages/celotool/src/cmds/deploy/initial/verify-contracts.ts
  packages/celotool/src/cmds/deploy/upgrade/verify-contracts.ts
  packages/protocol/package.json
  packages/protocol/scripts/bash/verify_contracts.sh
  packages/protocol/truffle-config.js
Due: protocol

add return type to version check
  packages/mobile/src/firebase/firebase.ts
Due: mobile

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
