Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

Transiently add verificiation-pool-api to docker
  dockerfiles/transaction-metrics-exporter/Dockerfile
Due: none

More imports as absolute imports
  packages/celotool/src/cmds/account.ts
  packages/celotool/src/cmds/account/faucet-multiple.ts
  packages/celotool/src/cmds/account/faucet.ts
  packages/celotool/src/cmds/account/invite.ts
  packages/celotool/src/cmds/account/list.ts
  packages/celotool/src/cmds/account/lookup.ts
  packages/celotool/src/cmds/account/revoke.ts
  packages/celotool/src/cmds/account/verify.ts
  packages/celotool/src/cmds/account/weekly_faucet.ts
  packages/celotool/src/cmds/backup.ts
  packages/celotool/src/cmds/contract_addresses.ts
  packages/celotool/src/cmds/copy_contract_artifacts.ts
  packages/celotool/src/cmds/copy_policies.ts
  packages/celotool/src/cmds/deploy.ts
  packages/celotool/src/cmds/fork_env.ts
  packages/celotool/src/cmds/gcp/remove-leaked-forwarding-rules.ts
  packages/celotool/src/cmds/generate/genesis-file.ts
  packages/celotool/src/cmds/geth/build.ts
  packages/celotool/src/cmds/geth/create_account.ts
  packages/celotool/src/cmds/geth/get_gold_balance.ts
  packages/celotool/src/cmds/geth/init.ts
  packages/celotool/src/cmds/geth/simulate_client.ts
  packages/celotool/src/cmds/geth/static_nodes.ts
  packages/celotool/src/cmds/geth/trace.ts
  packages/celotool/src/cmds/links.ts
  packages/celotool/src/cmds/monitoring.ts
  packages/celotool/src/cmds/monitoring/delete.ts
  packages/celotool/src/cmds/monitoring/list.ts
  packages/celotool/src/cmds/port_forward.ts
  packages/celotool/src/cmds/restore.ts
  packages/celotool/src/cmds/switch.ts
  packages/celotool/src/cmds/transactions.ts
  packages/celotool/src/lib/artifacts.ts
  packages/celotool/src/lib/cluster.ts
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
Due: none

Add dependencies for e2e tests
  packages/celotool/package.json
  yarn.lock
Due: none

fix: use relative imports for e2e tests
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
Due: none

fix tranfer test
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
Due: none

Update backup tests and snapshots
  packages/mobile/src/account/__snapshots__/Account.test.tsx.snap
  packages/mobile/src/backup/Backup.test.tsx
  packages/mobile/src/backup/BackupComplete.test.tsx
  packages/mobile/src/backup/BackupIntroduction.test.tsx
  packages/mobile/src/backup/BackupPhrase.test.tsx
  packages/mobile/src/backup/__snapshots__/Backup.test.tsx.snap
  packages/mobile/src/backup/__snapshots__/BackupComplete.test.tsx.snap
  packages/mobile/src/backup/__snapshots__/BackupIntroduction.test.tsx.snap
  packages/mobile/src/backup/__snapshots__/BackupPhrase.test.tsx.snap
  packages/mobile/src/backup/__snapshots__/BackupPhraseContainer.test.tsx.snap
  packages/mobile/src/backup/__snapshots__/BackupQuestion.test.tsx.snap
  packages/mobile/src/backup/utils.ts
  packages/mobile/src/home/NotificationBox.test.tsx
  packages/mobile/src/import/__snapshots__/ImportWallet.test.tsx.snap
  packages/mobile/src/redux/selectors.test.ts
  packages/mobile/src/redux/selectors.ts
  packages/mobile/test/schemas.ts
Due: mobile

Publish a new version of @celo/walletkit v0.0.15
  packages/walletkit/package.json
Due: none

Remove unused Reserve.burnToken function
  packages/protocol/contracts/stability/Reserve.sol
Due: protocol

Add quiz snap test
  packages/mobile/src/backup/BackupQuiz.test.tsx
  packages/mobile/src/backup/__snapshots__/BackupQuiz.test.tsx.snap
Due: mobile

Add missing Spanish locale strings
  packages/mobile/locales/en-US/backupKeyFlow6.json
  packages/mobile/locales/es-419/backupKeyFlow6.json
  packages/mobile/locales/es-419/nuxRestoreWallet3.json
Due: mobile

Fix failing jest tests for react-navigation-backhandler
  packages/mobile/jest.config.js
Due: mobile

Use fixidity-like arithmetic in tests
  packages/protocol/lib/fixidity.ts
  packages/protocol/test/stability/exchange.ts
Due: protocol

Upload bootnode enodes when deploying vm testnets
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/testnet-utils.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/mobile/package.json
  packages/mobile/src/geth/geth.ts
  packages/terraform-modules/testnet/outputs.tf
  packages/walletkit/index.ts
  packages/walletkit/src/bootnode-utils.ts
  yarn.lock
Due: mobile

Upgrade cli package
  packages/celotool/package.json
  packages/cli/package.json
  packages/mobile/package.json
  packages/transaction-metrics-exporter/package.json
Due: mobile

Add README-dev.md
  README-dev.md
Due: none

Add todo for social backup continue
  packages/mobile/src/backup/BackupSocial.tsx
Due: mobile

Add todo for BackupComplete back button
  packages/mobile/src/backup/BackupComplete.tsx
Due: mobile

Discovery works with bootnodes pulled from google cloud
  packages/mobile/package.json
  packages/mobile/src/geth/geth.ts
  yarn.lock
Due: mobile

Disable continue button before backup shared
  packages/mobile/src/backup/BackupPhraseContainer.tsx
  packages/mobile/src/backup/BackupSocial.tsx
Due: mobile

Store mnemonic parts in state to prevent change on rerender
  packages/mobile/src/backup/BackupSocial.tsx
Due: mobile

Navigate back to account after backup complete
  packages/mobile/src/backup/BackupComplete.tsx
Due: mobile

Don't skip tests
  packages/contractkit/src/wrappers/Exchange.test.ts
Due: none

Remove unused onShare value
  packages/mobile/src/backup/BackupPhraseContainer.tsx
Due: mobile

[CircleCI]Run protocol test with and without coverage
  .circleci/config.yml
Due: none

Add --affiliates flag to validatorgroup:show
  packages/cli/src/commands/validatorgroup/show.ts
  packages/contractkit/src/wrappers/Validators.ts
Due: none

Repoint CircleCI to master
  .circleci/config.yml
Due: none

Clean up
  packages/blockchain-api/app.trevor2.yaml
  packages/celotool/src/lib/utils.ts
  packages/mobile/.env
  packages/mobile/.env.trevor1
  packages/mobile/package.json
  packages/mobile/src/geth/geth.ts
  packages/mobile/src/geth/network-config.ts
  packages/protocol/migrationsConfig.js
  packages/terraform-modules/testnet/modules/bootnode/startup.sh
  packages/terraform-modules/testnet/modules/validator/startup.sh
  yarn.lock
Due: mobile, protocol

[celotool] Add missing dependencies
  packages/celotool/package.json
Due: none

[protocol] Move fixidity.ts to utils
  .circleci/config.yml
  packages/celotool/package.json
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/protocol/migrations/06_gaspriceminimum.ts
  packages/protocol/migrations/08_stabletoken.ts
  packages/protocol/migrations/09_exchange.ts
  packages/protocol/package.json
  packages/protocol/test/common/fixidity.ts
  packages/protocol/test/common/gaspriceminimum.ts
  packages/protocol/test/governance/governance.ts
  packages/protocol/test/stability/exchange.ts
  packages/protocol/test/stability/stabletoken.ts
  packages/utils/src/fixidity.ts
Due: protocol

Add Nexmo as a text provider for MX and US numbers
  packages/verification-pool-api/index.d.ts
  packages/verification-pool-api/package.json
  packages/verification-pool-api/src/config.ts
  packages/verification-pool-api/src/verification.ts
  yarn.lock
Due: none

[celotool] Cleanup genesis block generation
  .env
  .env.alfajores
  .env.alfajoresstaging
  .env.integration
  .env.integrationtesting
  .env.pilot
  .env.pilotstaging
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/generate_utils.ts
  packages/celotool/src/lib/genesis_constants.ts
Due: none

adapting to the same code format
  packages/protocol/contracts/common/Proxy.sol
Due: protocol

adding Warning to avoid using the isContract function from a constructor
  packages/protocol/contracts/common/Proxy.sol
Due: protocol

adding Linux on-boarding steps, setting up TOC
  SETUP.md
Due: none

Make backup content scrollable
  packages/mobile/src/backup/BackupComplete.tsx
Due: mobile

Point to a different db for now
  packages/notification-service/config/config.pilot.env
Due: none

Switch back db
  packages/mobile/android/app/src/pilot/google-services.json.enc
Due: mobile

It was using alfajores
  packages/notification-service/config/config.pilot.env
  packages/notification-service/src/firebase.ts
Due: none
