Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

Improve utils with hexToBuffer
  packages/contractkit/src/wrappers/BaseWrapper.ts
  packages/mobile/src/identity/commentKey.ts
  packages/mobile/src/verify/VerificationCodeRow.tsx
  packages/utils/src/address.ts
Due: mobile

Fix style in tests
  packages/contractkit/src/wrappers/Governance.test.ts
Due: none

small fixes to contracts + more unit tests
  packages/protocol/contracts/governance/VestingFactory.sol
  packages/protocol/contracts/governance/VestingInstance.sol
  packages/protocol/test/governance/vesting.ts
Due: protocol

added activate functionality to the cli added activate functionality to contractkit added revoke active/pending functionality to contractkit
  packages/cli/src/commands/election/activate.ts
  packages/cli/src/commands/network/id.ts
  packages/contractkit/package.json
  packages/contractkit/src/wrappers/Election.ts
Due: none

EvgeniPirianov
  packages/protocol/test/governance/vesting.ts
Due: protocol

Usage Example
  packages/web/src/brandkit/Typography.tsx
  packages/web/src/brandkit/typography/UseageExample.tsx
  packages/web/static/locales/en/brand.json
Due: none

Fix ilocal keys
  packages/web/static/locales/en/brand.json
Due: none

Right on
  packages/web/src/brandkit/Typography.tsx
  packages/web/src/brandkit/common/SectionTitle.tsx
Due: none

Type overhaul w han
  packages/web/src/brandkit/Typography.tsx
  packages/web/src/brandkit/color/Pigment.tsx
  packages/web/src/brandkit/common/SectionTitle.tsx
  packages/web/src/brandkit/common/Showcase.tsx
  packages/web/src/brandkit/logo/LogoExample.tsx
  packages/web/src/brandkit/typography/UseageExample.tsx
  packages/web/src/dev/DeveloperUpdates.tsx
  packages/web/src/fauceting/MicroComponents.tsx
  packages/web/src/styles.ts
Due: none

Make default node URL consistent in celocli (#1805)
  packages/cli/src/commands/config/set.ts
  packages/docs/command-line-interface/config.md
Due: none

Fix protocol tests
  packages/protocol/test/identity/attestations.ts
Due: protocol

Passing async function to describe() is a bug
  packages/protocol/test/common/accounts.ts
  packages/protocol/test/common/extractfunctionsignature.ts
  packages/protocol/test/common/integration.ts
  packages/protocol/test/common/migration.ts
  packages/protocol/test/common/proxy.ts
  packages/protocol/test/identity/attestations.ts
  packages/protocol/test/stability/reserve.ts
Due: protocol

Judement
  packages/web/src/brandkit/Color.tsx
  packages/web/src/brandkit/logo/Judgement.tsx
Due: none

Deploy new version of Celostats and minnor change from celo-blockchain (#1714)
  .env
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/ethstats.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/helm-charts/ethstats/templates/ethstats.deployment.yaml
  packages/helm-charts/ethstats/templates/ethstats.secret.yaml
  packages/helm-charts/ethstats/values.yaml
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/helm-charts/testnet/templates/ethstats.secret.yaml
  packages/helm-charts/testnet/templates/txnode.statefulset.yaml
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Due: none

Improve Logo page on mobile
  packages/web/src/brandkit/Logo.tsx
  packages/web/src/brandkit/logo/LogoExample.tsx
  packages/web/src/community/EcoFund.tsx
  packages/web/src/logos/RingsGlyph.tsx
  packages/web/src/shared/Footer.3.tsx
  packages/web/src/styles.ts
Due: none

LOGOGOSOGOOGOS
  packages/web/src/brandkit/Color.tsx
  packages/web/src/brandkit/Logo.tsx
  packages/web/src/brandkit/color/Palette.tsx
  packages/web/src/brandkit/color/Pigment.tsx
  packages/web/src/brandkit/common/data.ts
Due: none

Configurable genesis balances for val 0, other vals, other accounts
  .env
  .env.alfajores
  .env.integration
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/generate_utils.ts
  packages/celotool/src/lib/genesis_constants.ts
  packages/celotool/src/lib/helm_deploy.ts
Due: none

Bad merge
  packages/celotool/src/lib/env-utils.ts
Due: none

Better var name
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/generate_utils.ts
Due: none

Fix up balances
  packages/celotool/src/lib/generate_utils.ts
Due: none

Change URI to be /experience/brand/*
  packages/web/pages/_app.tsx
  packages/web/pages/experience/brand/color.tsx
  packages/web/pages/experience/brand/icons.tsx
  packages/web/pages/experience/brand/index.tsx
  packages/web/pages/experience/brand/key-imagery.tsx
  packages/web/pages/experience/brand/logo.tsx
  packages/web/pages/experience/brand/typography.tsx
  packages/web/src/brandkit/common/TopBar.tsx
  packages/web/src/shared/menu-items.ts
Due: none

Various CLI fixes
  packages/cli/package.json
  packages/cli/src/commands/account/transferdollar.ts
  packages/cli/src/commands/account/transfergold.ts
  packages/cli/src/commands/election/list.ts
  packages/cli/src/commands/election/show.ts
  packages/cli/src/commands/election/vote.ts
  packages/cli/src/commands/exchange/list.ts
  packages/cli/src/commands/exchange/selldollar.ts
  packages/cli/src/commands/exchange/sellgold.ts
  packages/cli/src/commands/lockedgold/lock.ts
  packages/cli/src/commands/lockedgold/withdraw.ts
  packages/cli/src/commands/validator/list.ts
  packages/cli/src/commands/validator/register.ts
  packages/cli/src/commands/validatorgroup/member.ts
  packages/cli/src/utils/command.ts
  packages/cli/src/utils/helpers.ts
  packages/contractkit/package.json
  packages/contractkit/src/wrappers/Accounts.test.ts
  packages/contractkit/src/wrappers/Attestations.ts
  packages/contractkit/src/wrappers/BaseWrapper.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.test.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/protocol/contracts/common/linkedlists/SortedLinkedList.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Due: protocol

Cleanup
  packages/cli/src/commands/account/transferdollar.ts
  packages/cli/src/commands/account/transfergold.ts
  packages/cli/src/commands/election/vote.ts
  packages/cli/src/utils/helpers.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/protocol/contracts/common/linkedlists/SortedLinkedList.sol
Due: protocol

Add CLI command to activate votes
  packages/cli/src/commands/election/activate.ts
  packages/cli/src/utils/helpers.ts
  packages/contractkit/src/wrappers/Accounts.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/protocol/contracts/governance/Election.sol
Due: protocol

Address comments
  packages/cli/src/commands/lockedgold/lock.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/docs/command-line-interface/account.md
  packages/docs/command-line-interface/lockedgold.md
  packages/docs/command-line-interface/validator.md
  packages/docs/command-line-interface/validatorgroup.md
Due: none

Cleanup
  packages/cli/src/commands/election/activate.ts
Due: none

Update faucet to pull from the reserve when possible
  packages/celotool/src/cmds/account/faucet.ts
  packages/contractkit/src/wrappers/Reserve.ts
  packages/protocol/migrations/07_reserve.ts
Due: protocol

Cleanup
  packages/celotool/src/cmds/account/faucet.ts
Due: none

Fix circle config
  .circleci/config.yml
Due: none

Update docs
  packages/docs/command-line-interface/election.md
Due: none

Configurable genesis balances (#1838)
  .env
  .env.alfajores
  .env.integration
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/generate_utils.ts
  packages/celotool/src/lib/genesis_constants.ts
  packages/celotool/src/lib/helm_deploy.ts
Due: none

First rev
  .env
  .env.integration
  packages/celotool/src/lib/ethstats.ts
  packages/protocol/migrations/20_elect_validators.ts
Due: protocol

Fix bug in assigning val 0 balance in genesis
  packages/celotool/src/lib/generate_utils.ts
Due: none

Fix e2e tests
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/lib/generate_utils.ts
Due: none

Refactor
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

Update val 0 balance for group 1
  .env.integration
  packages/celotool/src/lib/generate_utils.ts
Due: none

Fix sources for funds for validator migration
  .env.integration
  packages/celotool/src/lib/generate_utils.ts
  packages/protocol/migrations/19_governance.ts
  packages/protocol/migrations/20_elect_validators.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/scripts/bash/init_network.sh
Due: protocol

more unit tests added
  packages/protocol/test/governance/vesting.ts
Due: protocol

Fix typo
  packages/protocol/test/governance/epochrewards.ts
Due: protocol

Add ability to show voter information to election:show
  packages/cli/src/commands/election/activate.ts
  packages/cli/src/commands/election/show.ts
  packages/contractkit/src/wrappers/Election.ts
Due: none
