Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

Add back in zeroSync check in addLocalAccount
  packages/mobile/src/web3/contracts.ts
Due: mobile

Turn zeroSync on/off now working in same session (geth always running)
  packages/mobile/src/web3/contracts.ts
  packages/mobile/src/web3/saga.ts
Due: mobile

remove accidentally added script file
  packages/protocol/tmp/lapsing_validators.js
Due: protocol

Fix wrapSend
  packages/contractkit/src/wrappers/Attestations.ts
Due: none

removed leftoever thunk mentions
  packages/mobile/android/app/src/main/assets/custom/LicenseDisclaimer.txt
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/paymentRequest/PaymentRequestConfirmation.tsx
  packages/mobile/src/redux/store.ts
  packages/mobile/src/sentry/actions.ts
  packages/mobile/test/utils.ts
Due: mobile

add comment on magic constant
  packages/protocol/lib/web3-utils.ts
Due: protocol

Rename
  packages/protocol/contracts/identity/Attestations.sol
Due: protocol

Begin e2e attestations test
  packages/celotool/src/e2e-tests/attestations.ts
  packages/celotool/src/e2e-tests/exit_test.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

Add sync mode checker to initial app load. Tested going from geth to zerosync
  packages/mobile/src/app/saga.ts
  packages/mobile/src/web3/saga.ts
Due: mobile

Add leaderboard
  packages/web/src/dev/Cover.tsx
  packages/web/src/dev/LeaderBoard.tsx
  packages/web/src/dev/Racer.tsx
Due: none

Update Footer (#1331)
  packages/web/src/shared/Button.3.tsx
  packages/web/src/shared/Footer.3.tsx
  packages/web/src/shared/menu-items.ts
  packages/web/static/locales/en/common.json
Due: none

Rename to initiallyZeroSync mode, use put in toggle saga
  packages/mobile/src/app/saga.ts
  packages/mobile/src/web3/contracts.ts
Due: mobile

App refresh for either mode
  packages/mobile/src/app/saga.ts
Due: mobile

update firebase version check function + add tests
  packages/mobile/src/firebase/firebase.test.ts
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/test/values.ts
Due: mobile

Suggestions from mariano
  packages/faucet/database-rules.bolt
  packages/faucet/src/database-helper.ts
  packages/web/server/FirebaseClient.ts
  packages/web/src/fauceting/RequestFunds.tsx
Due: none

web3/saga cleanup
  packages/mobile/.env
  packages/mobile/src/web3/contracts.ts
  packages/mobile/src/web3/saga.ts
Due: mobile

Only show that gold was sent for faucet not for invite
  packages/faucet/src/database-helper.ts
  packages/web/src/fauceting/MicroComponents.tsx
Due: none

Preinstall go and rust
  .circleci/config.yml
  dockerfiles/circleci/Dockerfile
  packages/celotool/ci_test_attestations.sh
  packages/celotool/src/e2e-tests/attestations_tests.ts
  packages/contractkit/src/wrappers/Attestations.ts
Due: none

Use existing defaults
  .circleci/config.yml
Due: none

Fix wrapper error
  .circleci/config.yml
  packages/celotool/src/cmds/account/verify.ts
Due: none

Reset test order
  .circleci/config.yml
Due: none

Update title
  packages/web/src/download/AppStores.tsx
  packages/web/static/locales/en/download.json
Due: none

Enforce wait for selectIssuers
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/interfaces/IAttestations.sol
  packages/protocol/contracts/identity/interfaces/IRandom.sol
  packages/protocol/contracts/identity/test/MockRandom.sol
  packages/protocol/migrations/14_attestations.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/identity/attestations.ts
Due: protocol

minor fix phoneHash
  packages/mobile/src/identity/identity.ts
  packages/utils/src/identity.ts
Due: mobile

Store zeroSync param separate from sync mode
  packages/mobile/.env
  packages/mobile/src/config.ts
  packages/mobile/src/geth/consts.ts
  packages/mobile/src/geth/networkConfig.ts
  packages/mobile/src/geth/saga.ts
  packages/mobile/src/web3/contracts.ts
  packages/mobile/src/web3/reducer.ts
  packages/mobile/src/web3/saga.ts
Due: mobile

Fix election test
  packages/protocol/test/governance/election.ts
Due: protocol

Update env files with zeroSync mode
  packages/mobile/.env.alfajores
  packages/mobile/.env.pilot
  packages/mobile/.env.pilotstaging
  packages/mobile/.env.production
  packages/mobile/.env.staging
  packages/mobile/.env.test
  packages/mobile/src/config.ts
Due: mobile

Update accounts snapshot
  packages/mobile/src/account/__snapshots__/Account.test.tsx.snap
Due: mobile

Clean up for review
  packages/mobile/.env
  packages/mobile/src/web3/contracts.ts
Due: mobile

E2E Attestations test + various e2e improvements (#1417)
  .circleci/config.yml
  dockerfiles/circleci/Dockerfile
  packages/celotool/ci_test_attestations.sh
  packages/celotool/src/cmds/account/verify.ts
  packages/celotool/src/e2e-tests/attestations_tests.ts
  packages/celotool/src/e2e-tests/exit_test.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/contractkit/src/wrappers/Attestations.ts
Due: none

changed proxiedvalidatorport cmd line option to proxiedvalidatorendpoint
  packages/celotool/src/e2e-tests/utils.ts
Due: none

Update blockscout version
  .env
Due: none

Deploy celo's image of ethstats
  .env
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/ethstats.ts
  packages/helm-charts/ethstats/values.yaml
Due: none

Use validator set precompiles in Attestations (#1248)
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/test/TestAttestations.sol
  packages/protocol/migrationsConfig.js
  packages/protocol/test/identity/attestations.ts
Due: protocol

Fix vertical alignment of word on quiz screen
  packages/mobile/src/account/actions.ts
  packages/mobile/src/backup/BackupQuiz.tsx
  packages/mobile/src/backup/__snapshots__/BackupQuiz.test.tsx.snap
Due: mobile

remove hardcoded test address
  packages/celotool/src/lib/generate_utils.ts
Due: none

Reset iOS keychain on first app run to fix firebase initialization error after reinstalling the app
  packages/mobile/ios/celo/AppDelegate.m
Due: mobile

Fixed types and action function
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/firebase/saga.ts
  packages/mobile/src/paymentRequest/PaymentRequestConfirmation.tsx
Due: mobile
