Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

Cleanup scripts related to e2e testing and add new run_e2e.sh
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/proguard-rules.pro
  packages/mobile/android/app/src/debug/AndroidManifest.xml
  packages/mobile/android/app/src/debug/res/xml/network_security_config.xml
  packages/mobile/e2e/README.md
  packages/mobile/e2e/Transfer.spec.js
  packages/mobile/e2e/init.js
  packages/mobile/package.json
  packages/mobile/scripts/build_e2e.sh
  packages/mobile/scripts/run_app.sh
  packages/mobile/scripts/run_e2e.sh
  packages/mobile/scripts/start_emulator.sh
  packages/mobile/src/config.ts
  yarn.lock
Due: mobile

add unfreeze-contracts command to celotool
  packages/celotool/src/cmds/unfreeze_contracts.ts
Due: none

fix lint checks
  packages/celotool/src/cmds/unfreeze_contracts.ts
Due: none

Fix verify-contracts file dependency missing (#2426)
  package.json
Due: none

Add unfreeze-contracts command to celotool (#2433)
  packages/celotool/src/cmds/unfreeze_contracts.ts
Due: none

Catch exceptions during polling (#2432)
  packages/transaction-metrics-exporter/src/blockchain.ts
Due: none

Update e2e tests for changes to slashing values
  packages/celotool/src/e2e-tests/slashing_tests.ts
Due: none

Memoize gold exchange rates requests (per request)
  packages/blockchain-api/src/currencyConversion/GoldExchangeRateAPI.test.ts
  packages/blockchain-api/src/currencyConversion/GoldExchangeRateAPI.ts
Due: none

removed duplicated code
  packages/leaderboard/src/upload.ts
Due: none

Add getNextNeverElectedValidatorGroup
  packages/celotool/src/cmds/bots/auto-vote.ts
  packages/contractkit/src/wrappers/Validators.ts
Due: none

isReportActive function implemented, unit tests for isReportActive, isReportActive added in MockSortedOracles fot testing purposes
  packages/protocol/contracts/stability/Exchange.sol
  packages/protocol/contracts/stability/SortedOracles.sol
  packages/protocol/contracts/stability/interfaces/ISortedOracles.sol
  packages/protocol/contracts/stability/test/MockSortedOracles.sol
  packages/protocol/test/stability/sortedoracles.ts
Due: protocol

MultiSig -> simplify initialization with addOwner and changeRequirement
  packages/protocol/contracts/common/MultiSig.sol
Due: protocol

Add proper Spanish translations (#2427)
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/locales/es-419/inviteFlow11.json
  packages/mobile/locales/es-419/paymentRequestFlow.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/locales/es-419/walletFlow5.json
Due: mobile

Rollback zeroSync toggle in case it was not successful
  packages/mobile/locales/en-US/accountScreen10.json
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/account/DataSaver.tsx
  packages/mobile/src/account/__snapshots__/DataSaver.test.tsx.snap
  packages/mobile/src/web3/saga.ts
Due: mobile

added optimization
  packages/protocol/contracts/governance/VestingFactory.sol
Due: protocol

can now check if has been down
  packages/cli/src/commands/slash/downtime.ts
  packages/cli/src/utils/command.ts
  packages/utils/src/collections.ts
Due: none

added dry run
  packages/cli/src/commands/slash/downtime.ts
Due: none

fixing it?
  packages/protocol/contracts/governance/DowntimeSlasher.sol
Due: protocol

parameterize more things. Add in ability to randomly select an unelected group
  .env
  .env.baklava
  .env.baklavastaging
  packages/celotool/src/cmds/bots/auto-vote.ts
  packages/celotool/src/lib/env-utils.ts
Due: none

added comment
  packages/cli/src/commands/slash/downtime.ts
Due: none

Add test for TransactionsList
  packages/mobile/src/transactions/TransactionsList.test.tsx
  packages/mobile/src/transactions/TransactionsList.tsx
  packages/mobile/src/transactions/__snapshots__/TransactionsList.test.tsx.snap
Due: mobile

added visualization
  packages/cli/src/commands/slash/downtime.ts
Due: none

Add unit tests and cli checks for validator hotfix interaction (#2340)
  packages/celotool/src/cmds/deploy/upgrade/hotfix.ts
  packages/cli/src/commands/governance/approve.ts
  packages/cli/src/commands/governance/approvehotfix.ts
  packages/cli/src/commands/governance/execute.ts
  packages/cli/src/commands/governance/executehotfix.ts
  packages/cli/src/commands/governance/preparehotfix.ts
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/commands/governance/upvote.ts
  packages/cli/src/commands/governance/vote.ts
  packages/cli/src/commands/governance/whitelisthotfix.ts
  packages/cli/src/commands/validator/list.ts
  packages/cli/src/utils/checks.ts
  packages/contractkit/src/wrappers/Accounts.ts
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/test/governance/governance.ts
  packages/web/src/header/Header.3.tsx
  packages/web/src/shared/darkSpinner.json
  packages/web/src/shared/greenSpinner.json
  packages/web/src/shared/whiteSpinner.json
  packages/web/static/locales/en/about.json
  packages/web/static/locales/en/brand.json
Due: protocol

Add Spanish translations
  packages/mobile/locales/es-419/accountScreen10.json
Due: mobile

Refactor Modal
  packages/mobile/src/account/DataSaver.tsx
Due: mobile

added a command to analyze downtime
  packages/cli/src/commands/slash/analyze.ts
Due: none

Add governance cli checks and docs examples
  packages/cli/package.json
  packages/cli/src/commands/governance/approve.ts
  packages/cli/src/commands/governance/approvehotfix.ts
  packages/cli/src/commands/governance/execute.ts
  packages/cli/src/commands/governance/executehotfix.ts
  packages/cli/src/commands/governance/list.ts
  packages/cli/src/commands/governance/preparehotfix.ts
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/commands/governance/upvote.ts
  packages/cli/src/commands/governance/view.ts
  packages/cli/src/commands/governance/viewhotfix.ts
  packages/cli/src/commands/governance/vote.ts
  packages/cli/src/commands/governance/whitelisthotfix.ts
  packages/docs/command-line-interface/governance.md
Due: none

[Wallet] Cleanup unused stateprops references to the e164<->address mappings and remove unused contact field in escrow payments to avoid confusion
  packages/mobile/src/account/Invite.tsx
  packages/mobile/src/escrow/EscrowedPaymentListItem.tsx
  packages/mobile/src/escrow/EscrowedPaymentListScreen.tsx
  packages/mobile/src/escrow/ReclaimPaymentConfirmationScreen.tsx
  packages/mobile/src/escrow/__mocks__.ts
  packages/mobile/src/escrow/__snapshots__/ReclaimPaymentConfirmationScreen.test.tsx.snap
  packages/mobile/src/escrow/actions.ts
  packages/mobile/src/send/Send.tsx
  packages/mobile/test/values.ts
Due: mobile

Fix racing condition of analytics track vs init.
  packages/web/__mocks__/@segment/in-eu.ts
  packages/web/__mocks__/load-segment.ts
  packages/web/src/analytics/analytics.test.ts
  packages/web/src/analytics/analytics.ts
  packages/web/src/utils/utils.ts
Due: none

added comments acc. to asa + mariano
  packages/protocol/contracts/governance/VestingFactory.sol
  packages/protocol/contracts/governance/VestingInstance.sol
  packages/protocol/contracts/governance/interfaces/IVestingInstance.sol
Due: protocol

new syntax for method selectors in newly delpoyed version
  packages/protocol/specs/lockedGold.spec
Due: protocol

Remove console log
  packages/web/src/analytics/analytics.ts
  packages/web/src/utils/utils.ts
Due: none

[Wallet] Cleanup unused StateProps references (#2439)
  packages/mobile/src/account/Invite.tsx
  packages/mobile/src/escrow/EscrowedPaymentListItem.tsx
  packages/mobile/src/escrow/EscrowedPaymentListScreen.tsx
  packages/mobile/src/escrow/ReclaimPaymentConfirmationScreen.tsx
  packages/mobile/src/escrow/__mocks__.ts
  packages/mobile/src/escrow/__snapshots__/ReclaimPaymentConfirmationScreen.test.tsx.snap
  packages/mobile/src/escrow/actions.ts
  packages/mobile/src/send/Send.tsx
  packages/mobile/test/values.ts
Due: mobile

Handle promises
  packages/web/src/home/HomeSystems.tsx
  packages/web/src/join/Benefits.tsx
  packages/web/src/join/JoinPage.tsx
Due: none

Add contributors id for about#contributors navigation Fixes https://github.com/celo-org/celo-labs/issues/215
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/about/About.test.tsx
  packages/web/src/about/Team.tsx
Due: none

Add feeCurrency to base command flags
  packages/cli/src/base.ts
Due: none

Typo
  packages/celotool/src/e2e-tests/slashing_tests.ts
Due: none

Use correct color and coin order on about page circle of coins Fixes https://github.com/celo-org/celo-labs/issues/216
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/community/connect/FullCircle.tsx
Due: none

[Wallet] Rollback zeroSync toggle in case it was not successful (#2434)
  packages/mobile/locales/en-US/accountScreen10.json
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/account/DataSaver.tsx
  packages/mobile/src/account/__snapshots__/DataSaver.test.tsx.snap
  packages/mobile/src/web3/saga.ts
Due: mobile

some fixes
  packages/leaderboard/src/upload.ts
Due: none
