Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

Point to nambrot/accounts for e2e tests
  .circleci/config.yml
Due: none

Make precompile public
  packages/protocol/contracts/common/UsingPrecompiles.sol
Due: protocol

Adjust CK
  packages/contractkit/src/wrappers/Attestations.ts
Due: none

[Wallet] Get React Native Hot Reloading Working (#1551)
  packages/mobile/package.json
  packages/mobile/src/navigator/NavigatorWrapper.tsx
  yarn.lock
Due: mobile

Fix migrations
  packages/protocol/migrations/11_validators.ts
  packages/protocol/migrations/17_elect_validators.ts
  packages/protocol/migrationsConfig.js
Due: protocol

Add selectIssuers Transaction (#1327)
  packages/celotool/src/cmds/account/verify.ts
  packages/celotool/src/e2e-tests/attestations_tests.ts
  packages/contractkit/src/wrappers/Attestations.ts
  packages/protocol/contracts/common/SafeCast.sol
  packages/protocol/contracts/common/SafeCastTest.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/interfaces/IAttestations.sol
  packages/protocol/contracts/identity/interfaces/IRandom.sol
  packages/protocol/contracts/identity/test/MockRandom.sol
  packages/protocol/migrations/14_attestations.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/common/safecast.ts
  packages/protocol/test/governance/election.ts
  packages/protocol/test/identity/attestations.ts
  packages/utils/src/attestations.ts
Due: protocol

Point e2e tests back
  .circleci/config.yml
Due: none

Point e2e tests back (#1562)
  .circleci/config.yml
Due: none

Fix tests
  packages/mobile/src/verify/VerificationLoadingScreen.tsx
  packages/mobile/src/verify/__snapshots__/Verify.test.tsx.snap
Due: mobile

Added env variable for authorized and banned enodes in celostats
  .env
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/ethstats.ts
  packages/helm-charts/ethstats/templates/ethstats.deployment.yaml
  packages/helm-charts/ethstats/values.yaml
Due: none

Add snapshots
  packages/mobile/src/verify/VerificationEducationScreen.test.tsx
  packages/mobile/src/verify/VerificationInputScreen.test.tsx
  packages/mobile/src/verify/VerificationInterstitialScreen.test.tsx
  packages/mobile/src/verify/VerificationInterstitialScreen.tsx
  packages/mobile/src/verify/VerificationLearnMoreScreen.test.tsx
  packages/mobile/src/verify/VerificationLoadingScreen.test.tsx
  packages/mobile/src/verify/VerificationSuccessScreen.test.tsx
  packages/mobile/src/verify/__snapshots__/VerificationEducationScreen.test.tsx.snap
  packages/mobile/src/verify/__snapshots__/VerificationInputScreen.test.tsx.snap
  packages/mobile/src/verify/__snapshots__/VerificationInterstitialScreen.test.tsx.snap
  packages/mobile/src/verify/__snapshots__/VerificationLearnMoreScreen.test.tsx.snap
  packages/mobile/src/verify/__snapshots__/VerificationLoadingScreen.test.tsx.snap
  packages/mobile/src/verify/__snapshots__/VerificationSuccessScreen.test.tsx.snap
Due: mobile

Added timout to the commands
  .circleci/config.yml
Due: none

this shouldn't live here
  scripts/oracle-reporting.py
Due: none

Address the comments from @jmrossy
  packages/mobile/src/app/actions.ts
  packages/mobile/test/schemas.ts
Due: mobile

Undo change to nav wrapper
  packages/mobile/src/navigator/NavigatorWrapper.tsx
Due: mobile

Do not require PIN for Safeguards in case of initial onboarding
  packages/mobile/src/backup/BackupSocialIntro.tsx
Due: mobile

Use getAccount instead of getConnectedAccount
  packages/mobile/src/app/saga.ts
Due: mobile

fix tests
  packages/mobile/src/app/saga.test.ts
Due: mobile

Use stashed
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Due: none

Add Lottie package and new loading animation Implement skip modal in verification education screen Implement most of verification loading screen Remove unused dropdown modal package
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/locales/en-US/nuxVerification2.json
  packages/mobile/package.json
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/components/Carousel.tsx
  packages/mobile/src/icons/LoadingSpinner.tsx
  packages/mobile/src/icons/loadingSpinnerGreen.json
  packages/mobile/src/navigator/Headers.tsx
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/verify/VerificationEducationScreen.test.tsx
  packages/mobile/src/verify/VerificationEducationScreen.tsx
  packages/mobile/src/verify/VerificationLoadingScreen.tsx
  packages/mobile/src/verify/__snapshots__/VerificationEducationScreen.test.tsx.snap
  packages/mobile/src/verify/__snapshots__/VerificationLoadingScreen.test.tsx.snap
  packages/verifier/package.json
  patches/react-native-modal-dropdown+0.6.2.patch
  yarn.lock
Due: mobile

Fix tests and leftover bit in Account
  packages/mobile/src/account/Account.tsx
  packages/react-components/components/BaseNotification.test.tsx
  packages/react-components/components/__snapshots__/BaseNotification.test.tsx.snap
Due: mobile

bump migrateTo to match new number of blockchainparams.ts
  packages/celotool/src/e2e-tests/exit_test.ts
Due: none

end-to-end tests passing, not accounting for voting yield and multiplier
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/contractkit/src/base.ts
  packages/contractkit/src/contract-cache.ts
  packages/contractkit/src/kit.ts
  packages/contractkit/src/web3-contract-cache.ts
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/lib/web3-utils.ts
  packages/protocol/migrations/19_elect_validators.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/scripts/build.ts
Due: protocol

Fix lint
  packages/protocol/test/governance/governance.ts
Due: protocol

Support protocol hotfixing (#613)
  packages/contractkit/src/test-utils/ganache.setup.ts
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/Proposals.sol
  packages/protocol/contracts/governance/interfaces/IGovernance.sol
  packages/protocol/contracts/governance/test/GovernanceTest.sol
  packages/protocol/migrationsConfig.js
  packages/protocol/runTests.js
  packages/protocol/scripts/devchain.ts
  packages/protocol/test/governance/governance.ts
  packages/protocol/truffle-config.js
Due: protocol

Engagement area of build page with mobile support
  packages/web/src/dev/BuildPage.tsx
  packages/web/src/dev/Cover.tsx
  packages/web/src/dev/Engage.tsx
  packages/web/src/dev/FullStack.tsx
  packages/web/src/dev/cakeLayering.jpg
  packages/web/src/dev/cakeProtector.png
  packages/web/src/icons/blog-dark.png
  packages/web/src/icons/documentation-dark.png
  packages/web/src/icons/download-dark.png
  packages/web/src/icons/faucet-dark.png
  packages/web/static/locales/en/dev.json
Due: none

Fix typo
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

Working helm chart with refactor and manual addSentry
  packages/celotool/src/lib/generate_utils.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/helm-charts/testnet/templates/sentry.service.yaml
  packages/helm-charts/testnet/templates/sentry.statefulset.yaml
  packages/helm-charts/testnet/templates/validators.service.yaml
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
  packages/helm-charts/testnet/values.yaml
Due: none

Fix Buttons on Firebox being wrong sized
  packages/web/src/shared/Button.3.tsx
Due: none

Add space between buttons
  packages/web/src/dev/Engage.tsx
Due: none

Avoid re-encrypting key files with yarn keys:encrypt command (#1560)
  scripts/key_placer.sh
Due: none

end-to-end tests adjusted for rewards multiplier
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/governance/test/EpochRewardsTest.sol
  packages/protocol/migrations/13_epoch_rewards.ts
  packages/protocol/migrationsConfig.js
Due: protocol

bump migration number on validator order tests
  packages/celotool/src/e2e-tests/validator_order_tests.ts
Due: none

end-to-end tests working
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/protocol/contracts/governance/EpochRewards.sol
Due: protocol

When scrolling up our little illogical re attaches to the flow
  packages/web/src/dev/FullStack.tsx
  packages/web/src/dev/LayersIllo.tsx
  packages/web/src/dev/StackSection.tsx
Due: none

Fix merge conflicts
  packages/protocol/contracts/governance/Governance.sol
Due: protocol

Remove non-throwing modifier
  packages/protocol/contracts/baklava/Freezable.sol
  packages/protocol/contracts/baklava/test/FreezableTest.sol
  packages/protocol/contracts/stability/Exchange.sol
  packages/protocol/test/baklava/freezable.ts
Due: protocol
