Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

Simplify expression:
  dockerfiles/celotool/Dockerfile
Due: none

Add comment
  dockerfiles/celotool/Dockerfile
Due: none

Simplified expression didn't work
  dockerfiles/celotool/Dockerfile
Due: none

Revert changes in flags for Geth 1.9 support
  packages/docs/getting-started/running-a-full-node.md
  packages/docs/getting-started/running-a-validator.md
Due: none

Add docs about securing nodes and services (#2746)
  packages/docs/SUMMARY.md
  packages/docs/operations-manual/securing-nodes-and-services.md
Due: none

[Wallet] Add null check to import screen nav prop
  packages/mobile/src/import/ImportWallet.tsx
Due: mobile

updates to lockedgold spec and clenaup
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/specs/harnesses/GoldTokenHarness.sol
  packages/protocol/specs/harnesses/LockedGoldHarness.sol
  packages/protocol/specs/lockedGold.spec
Due: protocol

Update member.ts
  packages/cli/src/commands/validatorgroup/member.ts
Due: none

Update validatorgroup.md
  packages/docs/command-line-interface/validatorgroup.md
Due: none

drop trailing period
  packages/cli/src/commands/validatorgroup/member.ts
Due: none

link to goldtoken in a nicer way, update the totalpreserve rule
  .circleci/config.yml
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/lockedGold.conf
  packages/protocol/specs/LockedGoldExpected.json
  packages/protocol/specs/harnesses/GoldTokenHarness.sol
  packages/protocol/specs/harnesses/LockedGoldHarness.sol
  packages/protocol/specs/lockedGold.spec
Due: protocol

address PR comments
  packages/mobile/src/account/Security.tsx
  packages/mobile/src/app/saga.ts
  packages/mobile/src/geth/saga.ts
  packages/mobile/src/navigator/NavigationService.ts
  packages/mobile/src/navigator/NavigatorWrapper.tsx
Due: mobile

[Wallet] Add null check to import screen nav prop (#2791)
  packages/mobile/src/import/ImportWallet.tsx
Due: mobile

added a parameter to limit number of attestations, improved worst case complexity
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/Escrow.sol
  packages/protocol/contracts/identity/interfaces/IAttestations.sol
  packages/protocol/contracts/identity/test/MockAttestations.sol
  packages/protocol/migrations/17_attestations.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/identity/attestations.ts
Due: protocol

forbid committing zero randomness
  packages/protocol/contracts/identity/Random.sol
Due: protocol

calculate quorum the same way as minQuorumSize in geth
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/Governance.sol
Due: protocol

donot overwrite escrows
  packages/protocol/contracts/identity/Escrow.sol
Due: protocol

some more tweaks to tbhe auto-vote command
  .env.baklava
  packages/celotool/src/cmds/bots/auto-vote.ts
Due: none

oops
  packages/protocol/contracts/identity/Escrow.sol
Due: protocol

fixing tests
  packages/protocol/contracts/governance/test/GovernanceTest.sol
Due: protocol

Fix yarn install cache miss
  .circleci/config.yml
Due: none

We still need postinstall
  .circleci/config.yml
Due: none

remove deeplinks and fix iOS
  packages/mobile/ios/celo.xcodeproj/xcshareddata/xcschemes/celo.xcscheme
  packages/mobile/src/app/saga.ts
  packages/mobile/src/invite/EnterInviteCode.test.tsx
  packages/mobile/src/invite/EnterInviteCode.tsx
  packages/mobile/src/invite/actions.ts
  packages/mobile/src/invite/reducer.ts
  packages/mobile/src/invite/saga.test.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/utils/appstore.ts
  packages/mobile/test/schemas.ts
Due: mobile

fix link
  packages/mobile/src/firebase/dynamicLinks.test.ts
Due: mobile

Fix build issues
  packages/mobile/ios/Podfile.lock
  packages/mobile/locales/es-419/sendFlow7.json
Due: mobile

Bump invite fee higher (#2774)
  packages/mobile/android/gradle.properties
  packages/mobile/src/account/__snapshots__/InviteReview.test.tsx.snap
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/send/__snapshots__/TransferReviewCard.test.tsx.snap
Due: mobile

Use all relevant package.json as part of the cache key so we can spot uncommitted yarn.lock changes
  .circleci/config.yml
Due: none

Fix GNU find warning about maxdepth option
  .circleci/config.yml
Due: none

[docs] re-organize references
  packages/contractkit/package.json
  packages/contractkit/scripts/linkdocs.ts
  packages/docs/SUMMARY.md
Due: none

Change sandbox url to celoOrg real PR feed back fixes
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/dev/DevelopersPage.tsx
  packages/web/src/dev/Engage.tsx
  packages/web/src/dev/FullStack.tsx
  packages/web/src/dev/Sandbox.tsx
  packages/web/src/react-native-aug.d.ts
Due: none

Fix blend mode
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/dev/CodeEditor.tsx
Due: none

Increment ContractKit ver to 0.2.13 and Utils to 0.1.18
  packages/attestation-service/package.json
  packages/celotool/package.json
  packages/cli/package.json
  packages/contractkit/package.json
  packages/dappkit/package.json
  packages/leaderboard/package.json
  packages/mobile/package.json
  packages/protocol/package.json
  packages/react-components/package.json
  packages/transaction-metrics-exporter/package.json
  packages/utils/package.json
  packages/verifier/package.json
  packages/walletkit/package.json
Due: mobile, protocol

Increment ContractKit ver to 0.2.13 and Utils to 0.1.18 (#2799)
  packages/attestation-service/package.json
  packages/celotool/package.json
  packages/cli/package.json
  packages/contractkit/package.json
  packages/dappkit/package.json
  packages/leaderboard/package.json
  packages/mobile/package.json
  packages/protocol/package.json
  packages/react-components/package.json
  packages/transaction-metrics-exporter/package.json
  packages/utils/package.json
  packages/verifier/package.json
  packages/walletkit/package.json
Due: mobile, protocol

[docs] re-order. Rename cDollar -> cUsd, cGold -> cGLD
  packages/cli/src/utils/checks.ts
  packages/contractkit/README.md
  packages/contractkit/scripts/linkdocs.ts
  packages/contractkit/src/kit.ts
  packages/contractkit/src/wrappers/Exchange.ts
  packages/docs/SUMMARY.md
  packages/docs/developer-resources/contractkit/README.md
  packages/docs/developer-resources/contractkit/examples.md
  packages/docs/developer-resources/contractkit/reference/README.md
  packages/docs/developer-resources/contractkit/reference/classes/_kit_.contractkit.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_exchange_.exchangewrapper.md
  packages/docs/developer-resources/contractkit/setup.md
Due: none

Don't enable istanbul hardfork on e2e
  packages/celotool/src/lib/genesis_constants.ts
Due: none

Update summary with desired path for tutorials
  packages/docs/SUMMARY.md
Due: none

Celo collective benefits area
  packages/web/public/static/locales/en/collective.json
  packages/web/src/collective/Benefits.tsx
  packages/web/src/collective/Collective.tsx
  packages/web/src/collective/Sweep.tsx
  packages/web/src/header/Header.3.tsx
Due: none

Update tutorial link
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/dev/CoverActions.tsx
  packages/web/src/shared/menu-items.ts
Due: none

Increment ContractKit version to 0.2.14
  packages/attestation-service/package.json
  packages/celotool/package.json
  packages/cli/.npmignore
  packages/cli/package.json
  packages/contractkit/package.json
  packages/leaderboard/package.json
  packages/mobile/package.json
Due: mobile

Spreading Stylesheets does not work
  packages/web/src/dev/Engage.tsx
  packages/web/src/dev/FullStack.tsx
Due: none

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
