Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

This works. Maybe I can make better
  packages/web/src/dev/FullStack.tsx
Due: none

Allow a specified address to disable/enable the Exchange (#1467)
  packages/protocol/contracts/baklava/Freezable.sol
  packages/protocol/contracts/baklava/test/FreezableTest.sol
  packages/protocol/contracts/stability/Exchange.sol
  packages/protocol/contracts/stability/interfaces/IExchange.sol
  packages/protocol/migrations/09_exchange.ts
  packages/protocol/test/baklava/freezable.ts
  packages/protocol/test/stability/exchange.ts
Due: protocol

Fix e2e on CI (#1537)
  .circleci/config.yml
  packages/mobile/package.json
  packages/mobile/scripts/ci-e2e.sh
  packages/mobile/scripts/unlock.sh
  scripts/run_e2e.sh
Due: mobile

Fix linting
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/test/EpochRewardsTest.sol
  packages/protocol/contracts/governance/test/ValidatorsTest.sol
Due: protocol

Add natspecs
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/protocol/contracts/governance/EpochRewards.sol
Due: protocol

reduce gold requirement for contractkit tests
  packages/protocol/migrationsConfig.js
Due: protocol

Highlight ALL layers when code
  packages/web/src/dev/FullStack.tsx
  packages/web/src/dev/LayersIllo.tsx
  packages/web/src/dev/StackSection.tsx
Due: none

Be sure to migrate random contract in validator order end-to-end tests
  packages/celotool/src/e2e-tests/validator_order_tests.ts
Due: none

Re-work locked gold requirements for validators and groups (#1474)
  packages/celotool/src/e2e-tests/validator_order_tests.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IGovernance.sol
  packages/protocol/contracts/governance/interfaces/IValidators.sol
  packages/protocol/contracts/governance/test/MockGovernance.sol
  packages/protocol/contracts/governance/test/MockValidators.sol
  packages/protocol/migrations/12_validators.ts
  packages/protocol/migrations/19_elect_validators.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/election.ts
  packages/protocol/test/governance/governance.ts
  packages/protocol/test/governance/lockedgold.ts
  packages/protocol/test/governance/validators.ts
Due: protocol

Increase ganache gas limit
  packages/protocol/scripts/bash/ganache.sh
Due: protocol

Increase ganache gas limit (#1569)
  packages/protocol/scripts/bash/ganache.sh
Due: protocol

Add toBuffer transformer to BaseWrapper
  packages/contractkit/src/wrappers/BaseWrapper.ts
Due: none

Add Proposal and Transaction interaction to GovernanceWrapper
  packages/contractkit/src/wrappers/Governance.ts
Due: none

Add propose function
  packages/contractkit/src/wrappers/Governance.ts
Due: none

Add hotfix functions to Governance wrapper
  packages/contractkit/src/wrappers/BaseWrapper.ts
  packages/contractkit/src/wrappers/Governance.ts
Due: none

Add upvote function to Governance wrapper
  packages/contractkit/src/wrappers/Governance.ts
Due: none

Add approve, vote, and execute functions to Governance wrapper
  packages/contractkit/src/wrappers/Governance.ts
Due: none

Add TODOs for using proxyCall and proxySend
  packages/contractkit/src/wrappers/Governance.ts
Due: none

[Wallet] Protect Backup Key and Safeguards with PIN (#1556)
  packages/mobile/src/account/saga.test.ts
  packages/mobile/src/account/saga.ts
  packages/mobile/src/app/actions.ts
  packages/mobile/src/app/reducers.ts
  packages/mobile/src/app/saga.test.ts
  packages/mobile/src/app/saga.ts
  packages/mobile/src/backup/BackupIntroduction.test.tsx
  packages/mobile/src/backup/BackupIntroduction.tsx
  packages/mobile/src/backup/BackupSocialIntro.test.tsx
  packages/mobile/src/backup/BackupSocialIntro.tsx
  packages/mobile/src/backup/__snapshots__/BackupIntroduction.test.tsx.snap
  packages/mobile/test/schemas.ts
Due: mobile

New geth and blockscout images
  .env
Due: none

WIP upgrade verifier app to RN 61
  packages/verifier/android/app/build.gradle
  packages/verifier/android/app/react.gradle
  packages/verifier/android/app/src/main/java/org/celo/verifier/MainActivity.java
  packages/verifier/android/app/src/main/java/org/celo/verifier/MainApplication.java
  packages/verifier/android/build.gradle
  packages/verifier/android/gradle.properties
  packages/verifier/android/gradle/wrapper/gradle-wrapper.properties
  packages/verifier/android/settings.gradle
Due: none

[Wallet] Create new carousel component (#1555)
  packages/mobile/package.json
  packages/mobile/src/components/Carousel.tsx
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/Screens.tsx
  packages/mobile/src/verify/Input.tsx
  packages/mobile/src/verify/VerificationLoadingScreen.tsx
  packages/mobile/src/verify/Verify.test.tsx
  packages/mobile/src/verify/__snapshots__/Verify.test.tsx.snap
  packages/react-components/styles/colors.tsx
  yarn.lock
Due: mobile

Deleted deprecated firebase class
  packages/verifier/android/app/src/main/java/org/celo/verifier/InstanceIdService.java
Due: none

metro bundler starts
  packages/verifier/metro.config.js
Due: none

updaated AsyncStoragePackage (not sure if this commit is required)
  packages/verifier/android/app/build.gradle
  packages/verifier/android/app/src/main/java/org/celo/verifier/MainApplication.java
  packages/verifier/android/settings.gradle
  packages/verifier/ios/verifier.xcodeproj/project.pbxproj
  packages/verifier/package.json
  packages/verifier/src/redux/configureStore.ts
Due: none

Use service IPs, refactor
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/helm-charts/testnet/templates/sentry.service.yaml
  packages/helm-charts/testnet/templates/sentry.statefulset.yaml
  packages/helm-charts/testnet/templates/txnode.statefulset.yaml
Due: none

Bump e2e test migrate numbers where needed (#1567)
  packages/celotool/src/e2e-tests/exit_test.ts
Due: none

Add letsencrypt_email terraform var
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/terraform-modules/testnet/main.tf
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/main.tf
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/variables.tf
  packages/terraform-modules/testnet/variables.tf
Due: none

Progress on input screen
  packages/mobile/locales/en-US/nuxVerification2.json
  packages/mobile/src/verify/VerificationEducationScreen.tsx
  packages/mobile/src/verify/VerificationInputScreen.tsx
  packages/react-components/components/TextInput.tsx
  packages/react-components/icons/InviteCodeIcon.tsx
Due: mobile

Solved link error with storage
  packages/verifier/android/app/build.gradle
  packages/verifier/android/app/src/main/java/org/celo/verifier/MainApplication.java
  packages/verifier/android/settings.gradle
  packages/verifier/ios/verifier.xcodeproj/project.pbxproj
  packages/verifier/src/redux/configureStore.ts
Due: none

Use correct letsencrypt dockerfile
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/ssl-startup.sh
Due: none

Small cleanup
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

Transition to using proxyCall
  packages/contractkit/src/wrappers/Governance.ts
Due: none

[Wallet] Set up new verification screen skeletons (#1563)
  packages/mobile/src/components/DevSkipButton.tsx
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/Screens.tsx
  packages/mobile/src/verify/VerificationEducationScreen.test.tsx
  packages/mobile/src/verify/VerificationEducationScreen.tsx
  packages/mobile/src/verify/VerificationInputScreen.test.tsx
  packages/mobile/src/verify/VerificationInputScreen.tsx
  packages/mobile/src/verify/VerificationInterstitialScreen.test.tsx
  packages/mobile/src/verify/VerificationInterstitialScreen.tsx
  packages/mobile/src/verify/VerificationLearnMoreScreen.test.tsx
  packages/mobile/src/verify/VerificationLearnMoreScreen.tsx
  packages/mobile/src/verify/VerificationLoadingScreen.test.tsx
  packages/mobile/src/verify/VerificationSuccessScreen.test.tsx
  packages/mobile/src/verify/VerificationSuccessScreen.tsx
  packages/mobile/src/verify/__snapshots__/VerificationEducationScreen.test.tsx.snap
  packages/mobile/src/verify/__snapshots__/VerificationInputScreen.test.tsx.snap
  packages/mobile/src/verify/__snapshots__/VerificationInterstitialScreen.test.tsx.snap
  packages/mobile/src/verify/__snapshots__/VerificationLearnMoreScreen.test.tsx.snap
  packages/mobile/src/verify/__snapshots__/VerificationLoadingScreen.test.tsx.snap
  packages/mobile/src/verify/__snapshots__/VerificationSuccessScreen.test.tsx.snap
Due: mobile

Add missing spanish strings
  packages/mobile/locales/es-419/nuxVerification2.json
Due: mobile

Initial terraform have validators with internal ips
  packages/terraform-modules/testnet/modules/startup-scripts/full-node.sh
  packages/terraform-modules/testnet/modules/validator/main.tf
Due: none

Support claim signatures and support Keybase claims
  packages/cli/package.json
  packages/cli/src/commands/account/change-attestation-service-url.ts
  packages/cli/src/commands/account/change-domain.ts
  packages/cli/src/commands/account/change-name.ts
  packages/cli/src/commands/account/claim-attestation-service-url.ts
  packages/cli/src/commands/account/claim-domain.ts
  packages/cli/src/commands/account/claim-keybase.ts
  packages/cli/src/commands/account/claim-name.ts
  packages/cli/src/commands/account/create-metadata.ts
  packages/cli/src/commands/account/get-metadata.ts
  packages/cli/src/commands/account/show-metadata.ts
  packages/cli/src/utils/cli.ts
  packages/cli/src/utils/exec.ts
  packages/cli/src/utils/identity.ts
  packages/contractkit/src/identity/claims/claim.ts
  packages/contractkit/src/identity/claims/keybase.ts
  packages/contractkit/src/identity/claims/types.ts
  packages/contractkit/src/identity/metadata.test.ts
  packages/contractkit/src/identity/metadata.ts
  packages/utils/src/address.ts
Due: none

Set up modal
  packages/mobile/src/verify/VerificationInputScreen.tsx
Due: mobile

Add content to learn more screen
  packages/mobile/locales/en-US/nuxVerification2.json
  packages/mobile/src/verify/VerificationLearnMoreScreen.tsx
Due: mobile

Fix contrct deploy metadata creationa
  packages/celotool/ci_test_governance.sh
  packages/celotool/src/cmds/deploy/initial/contracts.ts
Due: none

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
