Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

Remove balance refresh on payment notification received
  packages/mobile/src/firebase/notifications.ts
Due: mobile

Faucet fixes
  packages/faucet/package.json
  packages/faucet/src/celo-adapter.ts
  packages/faucet/src/database-helper.ts
  packages/faucet/src/test-driver.ts
  yarn.lock
Due: none

Added DISABLE_WEBAPP to blockscout indexer
  packages/helm-charts/blockscout/templates/blockscout-indexer.deployment.yaml
  packages/helm-charts/blockscout/templates/blockscout-web.deployment.yaml
Due: none

Fix using incorrect gcs bucket for downloading production artifacts
  packages/walletkit/bin/build-sdk.js
Due: none

[Wallet] Update balance on new transaction (#2548)
  packages/mobile/src/firebase/notifications.ts
  packages/mobile/src/transactions/TransactionsList.test.tsx
  packages/mobile/src/transactions/TransactionsList.tsx
Due: mobile

Support issuer selection under key rotation (#2645)
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/test/identity/attestations.ts
Due: protocol

Fix quote
  packages/walletkit/bin/build-sdk.js
Due: none

Add dotenv to devDependencies
  packages/walletkit/package.json
Due: none

Re-enable install_dependencies
  .circleci/config.yml
Due: none

update packages
  packages/faucet/package.json
  packages/faucet/src/tx.ts
  yarn.lock
Due: none

[WalletKit] Fix using incorrect gcs bucket for downloading production artifacts (#2651)
  packages/walletkit/bin/build-sdk.js
  packages/walletkit/package.json
Due: none

- add migration
  packages/celotool/src/cmds/geth/start.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/lib/geth.ts
Due: none

Fix bugs
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/invite/saga.ts
Due: mobile

add node upgrade instructions
  packages/docs/SUMMARY.md
  packages/docs/celo-codebase/protocol/governance.md
  packages/docs/operations-manual/key-management.md
  packages/docs/operations-manual/node-upgrades.md
Due: none

Add checks to CI for generated kit docs
  .circleci/config.yml
Due: none

Consolidate function
  packages/faucet/src/contracts/Escrow.ts
  packages/faucet/src/contracts/GoldToken.ts
  packages/faucet/src/contracts/StableToken.ts
  packages/faucet/src/contracts/types/Escrow.d.ts
  packages/faucet/src/contracts/types/GoldToken.d.ts
  packages/faucet/src/contracts/types/StableToken.d.ts
  packages/faucet/src/database-helper.ts
Due: none

Use kit web3
  packages/faucet/src/celo-adapter.ts
Due: none

Gitignore
  packages/faucet/.gitignore
Due: none

Allow lowercase validator addresses when reordering groups (#2628)
  packages/contractkit/src/wrappers/Validators.test.ts
  packages/contractkit/src/wrappers/Validators.ts
Due: none

Adding lastEpochBlock to randomness
  packages/protocol/contracts/identity/Random.sol
  packages/protocol/contracts/identity/interfaces/IRandom.sol
  packages/protocol/contracts/identity/test/TestRandom.sol
Due: protocol

[Wallet] A few missing things from the 1.6.0 deployment
  packages/mobile/Gemfile.lock
  packages/mobile/android/gradle.properties
Due: mobile

Fixing types
  packages/faucet/package.json
  packages/faucet/scripts/test-celo-adapter.ts
  packages/faucet/scripts/transfer-funds.ts
  packages/faucet/src/celo-adapter.ts
  packages/faucet/src/index.ts
Due: none

adding a command to analyze group voters
  packages/cli/src/commands/election/compare.ts
  packages/cli/src/commands/election/voters.ts
  packages/leaderboard/src/checkVotes.ts
Due: none

improved showing group voters
  packages/cli/src/commands/election/compare.ts
  packages/cli/src/commands/election/voters.ts
Due: none

hmm
  packages/cli/src/commands/election/voters.ts
Due: none

Update react-native-contacts to work with iOS 13
  packages/mobile/package.json
  packages/react-components/package.json
  yarn.lock
Due: mobile

Update Podfile.lock
  packages/mobile/ios/Podfile.lock
Due: mobile

[Wallet] Fix empty contacts on iOS 13 (#2697)
  packages/mobile/ios/Podfile.lock
  packages/mobile/package.json
  packages/react-components/package.json
  yarn.lock
Due: mobile

[Wallet] A few missing things from the 1.6.0 deployment (#2686)
  packages/mobile/Gemfile.lock
  packages/mobile/android/gradle.properties
Due: mobile

align expected
  packages/protocol/specs/AccountsExpected.json
  packages/protocol/specs/LockedGoldExpected.json
Due: protocol

[Wallet] Add missing photos permission and update permission descriptions
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo/Info.plist
Due: mobile

Fix spacing
  packages/mobile/ios/celo/Info.plist
Due: mobile

expand on node upgarde instructions
  packages/docs/operations-manual/key-management.md
  packages/docs/operations-manual/node-upgrades.md
Due: none

Using precompiles and adding test
  packages/protocol/contracts/identity/Random.sol
  packages/protocol/contracts/identity/interfaces/IRandom.sol
  packages/protocol/contracts/identity/test/TestRandom.sol
  packages/protocol/test/identity/random.ts
Due: protocol

Adding test for previous last block of epoch
  packages/protocol/contracts/identity/Random.sol
  packages/protocol/test/identity/random.ts
Due: protocol

spelling error
  packages/contractkit/src/web3-contract-cache.ts
Due: none

compilation errors
  packages/cli/src/commands/election/voters.ts
Due: none

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
