Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

expose signer through getValidator (#1997)
  packages/contractkit/src/wrappers/Validators.ts
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/test/governance/validators.ts
Due: protocol

Tweaks
  packages/docs/celo-codebase/protocol/identity/metadata.md
  packages/docs/celo-codebase/protocol/stability/tobin-tax.md
  packages/docs/celo-codebase/protocol/transactions/escrow.md
  packages/docs/celo-codebase/protocol/transactions/gas-pricing.md
Due: none

rename localpath to localgeth
  packages/celotool/src/cmds/local_testnet.ts
Due: none

add node flag and adjust celotool verify flag description
  packages/celotool/src/cmds/account/verify.ts
  packages/cli/src/base.ts
  packages/cli/src/commands/account/new.ts
  packages/cli/src/commands/account/unlock.ts
  packages/cli/src/commands/config/get.ts
  packages/cli/src/commands/config/set.ts
  packages/contractkit/src/wrappers/Attestations.ts
  packages/docs/command-line-interface/config.md
Due: none

checkpoint
  packages/cli/src/commands/validator/status.ts
  packages/cli/src/utils/checks.ts
Due: none

Add validator table to cli commands
  packages/cli/src/commands/election/current.ts
  packages/cli/src/commands/election/run.ts
  packages/cli/src/commands/validator/list.ts
Due: none

Display signer
  packages/cli/src/commands/validator/list.ts
Due: none

Publish new cli and contractkit
  packages/attestation-service/package.json
  packages/celotool/package.json
  packages/cli/package.json
  packages/contractkit/package.json
  packages/mobile/package.json
Due: mobile

removing ATTESTATION_KEY
  packages/docs/getting-started/running-attestation-service.md
Due: none

adding ETHSTATS flag
  scripts/run-docker-validator-network.sh
Due: none

Baklava deploy
  .env.baklava
  packages/celotool/src/cmds/deploy/initial/vm-testnet.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/protocol/truffle-config.js
  packages/terraform-modules/testnet-network/main.tf
  packages/terraform-modules/testnet/main.tf
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/main.tf
  packages/terraform-modules/testnet/modules/validator/startup.sh
Due: protocol

adapting again to new master and bringing back etherbase flag for proxy
  packages/docs/getting-started/running-a-validator.md
  scripts/run-docker-validator-network.sh
Due: none

Increased ethstats resources
  packages/helm-charts/ethstats/templates/ethstats.deployment.yaml
Due: none

Add a space on payment request
  packages/mobile/src/home/__snapshots__/NotificationBox.test.tsx.snap
  packages/mobile/src/notifications/__snapshots__/IncomingPaymentRequestSummaryNotification.test.tsx.snap
  packages/mobile/src/notifications/__snapshots__/OutgoingPaymentRequestSummaryNotification.test.tsx.snap
  packages/mobile/src/paymentRequest/PaymentRequestNotificationInner.tsx
  packages/mobile/src/paymentRequest/__snapshots__/PaymentRequestNotificationInner.test.tsx.snap
Due: mobile

Add a space on payment request (#1935)
  packages/mobile/src/home/__snapshots__/NotificationBox.test.tsx.snap
  packages/mobile/src/notifications/__snapshots__/IncomingPaymentRequestSummaryNotification.test.tsx.snap
  packages/mobile/src/notifications/__snapshots__/OutgoingPaymentRequestSummaryNotification.test.tsx.snap
  packages/mobile/src/paymentRequest/PaymentRequestNotificationInner.tsx
  packages/mobile/src/paymentRequest/__snapshots__/PaymentRequestNotificationInner.test.tsx.snap
Due: mobile

Add ability to convert to/from cGLD or cUSD
  packages/blockchain-api/.env
  packages/blockchain-api/.gitignore
  packages/blockchain-api/package.json
  packages/blockchain-api/src/config.ts
  packages/blockchain-api/src/currencyConversion.ts
  packages/blockchain-api/src/currencyConversion/CurrencyConversionAPI.test.ts
  packages/blockchain-api/src/currencyConversion/CurrencyConversionAPI.ts
  packages/blockchain-api/src/currencyConversion/ExchangeRateAPI.test.ts
  packages/blockchain-api/src/currencyConversion/ExchangeRateAPI.ts
  packages/blockchain-api/src/currencyConversion/GoldExchangeRateAPI.test.ts
  packages/blockchain-api/src/currencyConversion/GoldExchangeRateAPI.ts
  packages/blockchain-api/src/currencyConversion/consts.ts
  packages/blockchain-api/src/currencyConversion/index.ts
  packages/blockchain-api/src/firebase.ts
  packages/blockchain-api/src/schema.ts
  packages/mobile/src/firebase/db-rules.json
  yarn.lock
Due: mobile

Update tests for migration to contract kit
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/__snapshots__/Account.test.tsx.snap
  packages/mobile/src/identity/contactMapping.test.ts
  packages/mobile/src/identity/verification.test.ts
  packages/utils/src/async.test.ts
Due: mobile

Mock contractkit to speed up jest tests
  packages/blockchain-api/__mocks__/@celo/contractkit.ts
Due: none

wip refactor
  packages/terraform-modules-public/testnet/main.tf
  packages/terraform-modules-public/testnet/modules/proxy/main.tf
  packages/terraform-modules-public/testnet/modules/proxy/startup.sh
  packages/terraform-modules-public/testnet/modules/proxy/variables.tf
  packages/terraform-modules-public/testnet/modules/tx-node/main.tf
  packages/terraform-modules-public/testnet/modules/tx-node/startup.sh
  packages/terraform-modules-public/testnet/modules/tx-node/variables.tf
  packages/terraform-modules-public/testnet/outputs.tf
  packages/terraform-modules-public/testnet/variables.tf
Due: none

Disabled Button and change text to Coming Soon as its not available yet
  packages/web/src/dev/Engage.tsx
Due: none

DOCS correct typos (#1965)
  packages/docs/getting-started/alfajores-testnet.md
  packages/docs/getting-started/faucet.md
  packages/docs/getting-started/using-the-mobile-wallet.md
Due: none

addressed comment about naming of mapping from address to Balances
  packages/protocol/contracts/governance/LockedGold.sol
Due: protocol

Update docker images for integration deploy
  .env
  .env.integration
Due: none

Skip builds if only docs changed
  .circleci/config.yml
  packages/docs/HELLO.md
Due: none

Update encrypted mnemonic files
  .env.mnemonic.enc
  .env.mnemonic.integration.enc
Due: none

Update docker image and instructions (#2000)
  packages/docs/getting-started/running-attestation-service.md
Due: none

New Icon Designs
  packages/web/src/dev/features/custody.png
  packages/web/src/dev/features/evm.png
  packages/web/src/dev/features/gas.png
  packages/web/src/dev/features/gov.png
  packages/web/src/dev/features/pki.png
  packages/web/src/dev/features/stable.png
  packages/web/src/dev/features/stake.png
  packages/web/src/dev/features/ultra.png
Due: none

Update contrackit for tme
  packages/transaction-metrics-exporter/package.json
  yarn.lock
Due: none

Replace icon s
  packages/web/src/dev/devEvents.png
  packages/web/src/dev/devNews.png
Due: none

Update TME docker images
  .env
  .env.integration
Due: none

Touchups for Stakeoff Leaderboard (#1993)
  packages/web/env-config.js.enc
  packages/web/src/dev/Cover.tsx
  packages/web/src/dev/Engage.tsx
  packages/web/src/dev/FullStack.tsx
  packages/web/src/dev/LeaderBoard.tsx
  packages/web/src/dev/LeaderBoardApp.tsx
  packages/web/src/dev/SDK.png
  packages/web/src/dev/devEvents.png
  packages/web/src/dev/devNews.png
  packages/web/src/dev/features/custody.png
  packages/web/src/dev/features/evm.png
  packages/web/src/dev/features/gas.png
  packages/web/src/dev/features/gov.png
  packages/web/src/dev/features/pki.png
  packages/web/src/dev/features/stable.png
  packages/web/src/dev/features/stake.png
  packages/web/src/dev/features/ultra.png
  packages/web/src/home/HomeSystems.tsx
  packages/web/src/icons/chevron.tsx
  packages/web/src/join/Benefits.tsx
  packages/web/src/shared/menu-items.ts
  packages/web/static/locales/en/dev.json
Due: none

removing irrelevant comment
  packages/protocol/contracts/governance/LockedGold.sol
Due: protocol

Next round of review improvements
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/test/governance/epochrewards.ts
Due: protocol

Typo
  .circleci/config.yml
Due: none

Test
  packages/docs/HELLO.md
Due: none

Fix lints
  packages/protocol/contracts/stability/Reserve.sol
Due: protocol

Cleanup from PR
  packages/web/server/AssetBase.ts
  packages/web/src/brandkit/Color.tsx
  packages/web/src/brandkit/IconsPage.tsx
  packages/web/src/brandkit/KeyImagery.tsx
  packages/web/src/brandkit/Typography.tsx
  packages/web/src/brandkit/common/Fetch.tsx
  packages/web/src/shared/menu-items.ts
Due: none

Simplify expression using FixidityLib for FixidityLib.Fraction
  packages/protocol/contracts/stability/Reserve.sol
Due: protocol

Workaround for ethstats issues
  .env.baklava
  packages/celotool/src/lib/blockscout.ts
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/ethstats.ts
  packages/helm-charts/ethstats/templates/ethstats.deployment.yaml
Due: none

deep links work (tests does not)
  packages/mobile/android/app/build.gradle
  packages/mobile/package.json
  packages/mobile/src/home/WalletHome.tsx
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/utils/dynamicLink.ts
Due: mobile

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
