Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

Patch tslint auto fix for macOS Catalina until tslint#6.x is out
  patches/tslint+5.20.0.patch
Due: none

[Wallet] Handle `/v/<code` deep links for phone verifications
  packages/mobile/src/app/App.tsx
  packages/mobile/src/app/actions.ts
  packages/mobile/src/app/saga.test.ts
  packages/mobile/src/app/saga.ts
  packages/mobile/src/identity/reducer.ts
  packages/mobile/src/identity/verification.ts
Due: mobile

Fix lint errors and add iOS deeplinks support
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo/AppDelegate.m
  packages/mobile/ios/celo/Info.plist
  packages/mobile/test/schemas.ts
Due: mobile

Add upgrade load-test
  packages/celotool/src/cmds/deploy/initial/load-test.ts
  packages/celotool/src/cmds/deploy/upgrade/load-test.ts
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/load-test.ts
Due: none

Add deep links to verification SMS
  packages/attestation-service/src/requestHandlers/attestation.ts
  packages/mobile/src/verify/VerificationCodeRow.tsx
  packages/walletkit/src/attestations.ts
Due: mobile

Make default node URL consistent in celocli
  packages/cli/src/commands/config/set.ts
  packages/docs/command-line-interface/config.md
Due: none

Testnet helm chart uses common init container, update .env files
  .env
  .env.alfajores
  .env.alfajoresstaging
  .env.integration
  .env.integrationtesting
  .env.pilot
  .env.pilotstaging
  packages/celotool/src/lib/load-test.ts
  packages/celotool/src/lib/testnet-utils.ts
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Due: none

fix sleep issue, better help usage
  packages/celotool/src/cmds/deploy/initial/load-test.ts
  packages/celotool/src/cmds/geth/simulate_client.ts
Due: none

Format
  packages/terraform-modules-public/testnet/modules/validator/startup.sh
Due: none

[cli] Add local-signing capability + commands for oracle reporting (#1724)
  packages/cli/src/base.ts
  packages/cli/src/commands/oracle/rates.ts
  packages/cli/src/commands/oracle/report.ts
  packages/docs/command-line-interface/oracle.md
Due: none

fix tests
  packages/mobile/src/verify/__snapshots__/VerificationInputScreen.test.tsx.snap
Due: mobile

removing CELO_NETWORK variable for simplicity
  packages/docs/getting-started/running-a-validator-alfajores.md
  packages/docs/getting-started/running-a-validator-baklava.md
  scripts/run-docker-validator-network.sh
Due: none

extended interfaces and minor fixes to contracts
  packages/protocol/contracts/common/interfaces/IAccounts.sol
  packages/protocol/contracts/governance/VestingFactory.sol
  packages/protocol/contracts/governance/VestingInstance.sol
  packages/protocol/contracts/governance/interfaces/ILockedGold.sol
Due: protocol

Update examples.md
  packages/docs/developer-resources/contractkit/examples.md
Due: none

CI: changes back to master (#1799)
  .circleci/config.yml
Due: none

fixing deploy block
  scripts/run-docker-validator-network.sh
Due: none

added vesting interface
  packages/protocol/contracts/common/interfaces/IVestingInstance.sol
Due: protocol

write attempt
  deleteme.txt
Due: none

adding screen to the loop allowing to attach/deattach to multiple sessions
  scripts/run-docker-validator-network.sh
Due: none

removing commented commands
  scripts/run-docker-validator-network.sh
Due: none

Fix completion of attestation with attestation signers
  packages/celotool/src/cmds/account/verify.ts
  packages/contractkit/src/wrappers/Attestations.ts
  packages/helm-charts/attestation-service/templates/attestation.statefulset.yaml
Due: none

Colors true
  packages/web/pages/_document.tsx
  packages/web/src/brandkit/Color.tsx
  packages/web/src/brandkit/color/Palette.tsx
  packages/web/src/brandkit/color/Pigment.tsx
  packages/web/src/brandkit/common/Page.tsx
  packages/web/src/icons/CopyIcon.tsx
  packages/web/src/shared/Hoverable.tsx
  packages/web/src/styles.ts
  packages/web/static/locales/en/brand.json
Due: none

fix ordering
  packages/web/src/home/HomeOracle.tsx
Due: none

Support singular claim types (#1793)
  packages/contractkit/src/identity/claims/attestation-service-url.test.ts
  packages/contractkit/src/identity/claims/types.ts
  packages/contractkit/src/identity/metadata.ts
Due: none

Update docker image
  .env
Due: none

Change console.log to console.debug to fix lint
  packages/celotool/src/e2e-tests/utils.ts
Due: none

Oops
  packages/cli/src/commands/lockedgold/lock.ts
Due: none

Fix
  packages/cli/src/commands/lockedgold/lock.ts
Due: none

Wip
  packages/terraform-modules-public/example/README.md
  packages/terraform-modules-public/example/main.tf
  packages/terraform-modules-public/example/outputs.tf
  packages/terraform-modules-public/example/variables.tf
  packages/terraform-modules-public/testnet/README.md
  packages/terraform-modules-public/testnet/main.tf
  packages/terraform-modules-public/testnet/modules/attestation-service/main.tf
  packages/terraform-modules-public/testnet/modules/attestation-service/variables.tf
  packages/terraform-modules-public/testnet/modules/validator/startup.sh
  packages/terraform-modules-public/testnet/variables.tf
Due: none

Change console.debug to console.error
  packages/celotool/src/e2e-tests/utils.ts
Due: none

Add ability to partially re-lock pending withdrawals (#1749)
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/cli/src/commands/election/current.ts
  packages/cli/src/commands/election/list.ts
  packages/cli/src/commands/election/run.ts
  packages/cli/src/commands/election/show.ts
  packages/cli/src/commands/election/validatorset.ts
  packages/cli/src/commands/lockedgold/lock.ts
  packages/cli/src/commands/validator/list.ts
  packages/contractkit/src/wrappers/Accounts.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/LockedGold.test.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/docs/command-line-interface/account.md
  packages/docs/command-line-interface/election.md
  packages/docs/command-line-interface/lockedgold.md
  packages/docs/command-line-interface/validator.md
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/test/governance/lockedgold.ts
Due: protocol

Update comments based on review
  packages/mobile/src/web3/saga.ts
Due: mobile

Stash
  packages/celotool/src/e2e-tests/utils.ts
Due: none

protocol/contracts/Reserve: Clone addCustodialAddress() from addToken(), add getReserveGoldBalance() for #1617
  packages/protocol/contracts/stability/Reserve.sol
Due: protocol

Undo changes meant for another branch
  packages/celotool/README.md
  packages/celotool/src/e2e-tests/utils.ts
Due: none

Support validating claims (#1792)
  packages/attestation-service/src/requestHandlers/status.ts
  packages/celotool/src/cmds/deploy/initial/contracts.ts
  packages/cli/src/commands/account/claim-attestation-service-url.ts
  packages/cli/src/utils/identity.ts
  packages/contractkit/src/identity/claims/attestation-service-url.test.ts
  packages/contractkit/src/identity/claims/attestation-service-url.ts
  packages/contractkit/src/identity/claims/claim.ts
  packages/contractkit/src/identity/claims/types.ts
  packages/utils/src/io.ts
Due: none

Add comment
  packages/mobile/src/web3/saga.ts
Due: mobile

remove some duplicate docs
  packages/docs/celo-codebase/protocol/transactions/full-node-incentives.md
  packages/docs/celo-codebase/protocol/transactions/gas-pricing.md
Due: none
