Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

[Wallet] Fix crash in release mode when navigating on iOS (#2326)
  packages/mobile/ios/Podfile.lock
  packages/mobile/package.json
  packages/verifier/package.json
  yarn.lock
Due: mobile

[Wallet] Fix exchange input on iOS and feed item display (#2319)
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
  packages/mobile/src/exchange/__snapshots__/ExchangeTradeScreen.test.tsx.snap
  packages/mobile/src/transactions/ExchangeFeedItem.tsx
  packages/mobile/src/transactions/__snapshots__/TransactionFeed.test.tsx.snap
Due: mobile

Ditto for verifier
  packages/verifier/__mocks__/src/i18n.ts
  packages/verifier/src/components/TransactionReview/VerificationReviewScreen.tsx
  packages/verifier/src/i18n.ts
  packages/verifier/src/shared/ErrorScreen.tsx
Due: none

Adding error messages to contracts (#1182)
  packages/dev-utils/src/ganache-setup.ts
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/common/GasPriceMinimum.sol
  packages/protocol/contracts/common/MultiSig.sol
  packages/protocol/contracts/common/linkedlists/LinkedList.sol
  packages/protocol/contracts/common/linkedlists/SortedLinkedList.sol
  packages/protocol/contracts/common/linkedlists/SortedLinkedListWithMedian.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Proposals.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/SortedOracles.sol
  packages/protocol/contracts/stability/StableToken.sol
  packages/protocol/runTests.js
  packages/protocol/scripts/bash/ganache.sh
  packages/protocol/scripts/devchain.ts
  packages/protocol/truffle-config.js
Due: protocol

Fixes on the linter for the result message
  packages/protocol/contracts/common/UsingPrecompiles.sol
Due: protocol

fixed function modifier
  packages/protocol/contracts/governance/Proposals.sol
Due: protocol

Temporarily commit CELO_BLOCKCHAIN_BRANCH_TO_TEST: victor/slashing-precompiles to master
  .circleci/config.yml
Due: none

activate pending votes. have an envvar for voting probability. Deal with multiple voters
  .env
  packages/celotool/src/cmds/bots/voting.ts
  packages/celotool/src/lib/env-utils.ts
Due: none

Finish implementation of new flow
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/Invite.tsx
  packages/mobile/src/account/__snapshots__/Account.test.tsx.snap
  packages/mobile/src/account/__snapshots__/Invite.test.tsx.snap
  packages/mobile/src/alert/__snapshots__/AlertBanner.test.tsx.snap
  packages/mobile/src/home/WalletHome.test.tsx
  packages/mobile/src/home/WalletHome.tsx
  packages/mobile/src/identity/contactMapping.test.ts
  packages/mobile/src/identity/contactMapping.ts
  packages/mobile/src/invite/EnterInviteCode.tsx
  packages/mobile/src/recipients/RecipientPicker.tsx
  packages/mobile/src/recipients/recipient.ts
  packages/mobile/src/send/ContactSyncBanner.tsx
  packages/mobile/src/send/Send.tsx
  packages/mobile/src/send/SendSearchInput.tsx
  packages/mobile/test/schemas.ts
  packages/react-components/icons/Error.tsx
Due: mobile

Add new and modified precompiles to UsingPrecompiles.sol (#2318)
  .circleci/config.yml
  packages/protocol/contracts/common/UsingPrecompiles.sol
Due: protocol

Complete codependent slashing precompile PRs
  .circleci/config.yml
Due: none

try to have setup be a thing (failed). work on deploy
  packages/celotool/src/cmds/bots/setup-voting-bot-accounts.ts
  packages/celotool/src/cmds/deploy/initial/voting-bot.ts
  packages/celotool/src/lib/migration-utils.ts
  packages/celotool/src/lib/voting-bot.ts
  packages/protocol/migrations/20_elect_validators.ts
Due: protocol

started cleanup
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

Comment out broken proposalID emit
  packages/cli/src/commands/governance/propose.ts
Due: none

Fix more conflicts
  packages/cli/src/utils/command.ts
  packages/mobile/src/escrow/saga.ts
Due: mobile

Complete codependent slashing precompile PRs (#2333)
  .circleci/config.yml
Due: none

Fix celotool calldetails references
  packages/celotool/src/cmds/transactions/list.ts
Due: none

Fix LockedGold wrapper tests
  packages/contractkit/src/wrappers/LockedGold.test.ts
Due: none

Fix governance cli docs
  packages/docs/command-line-interface/governance.md
Due: none

Improvements from @mariano's review. concurrentValuesMap is quite nice now.
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/utils/src/async.ts
Due: none

Move validator fetching for associated rewards to cli rewards:show
  packages/cli/src/commands/rewards/show.ts
  packages/contractkit/src/wrappers/Accounts.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
Due: none

More fixes + additional CK methods
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/wrappers/Governance.ts
Due: none

Add celotool command to deploy a hotfix
  packages/celotool/src/cmds/deploy/upgrade/hotfix.ts
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/governance/proxy.ts
Due: none

More comments
  packages/celotool/src/cmds/deploy/upgrade/hotfix.ts
Due: none

Update hotfix examples and error message
  packages/celotool/src/cmds/deploy/upgrade/hotfix.ts
Due: none

Fix usages of epoch
  packages/cli/src/commands/rewards/show.ts
  packages/contractkit/src/kit.ts
  packages/contractkit/src/wrappers/Accounts.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
Due: none

Proof read
  packages/cli/src/commands/rewards/show.ts
  packages/contractkit/src/kit.ts
Due: none

update yarn.lock
  yarn.lock
Due: none

Celotool command for deploying hotfixes (#2142)
  packages/celotool/src/cmds/deploy/upgrade/hotfix.ts
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/governance/proxy.ts
  packages/contractkit/src/wrappers/Governance.ts
Due: none

Correct broken link formatting
  packages/docs/getting-started/running-a-validator.md
Due: none

Minor language correction in overview.md docs (#2300)
  packages/docs/overview.md
Due: none

cli: Add rewards:show (#2160)
  packages/cli/src/base.ts
  packages/cli/src/commands/election/current.ts
  packages/cli/src/commands/election/list.ts
  packages/cli/src/commands/election/run.ts
  packages/cli/src/commands/oracle/rates.ts
  packages/cli/src/commands/rewards/show.ts
  packages/cli/src/commands/validator/list.ts
  packages/cli/src/commands/validatorgroup/list.ts
  packages/contractkit/src/kit.ts
  packages/contractkit/src/wrappers/Accounts.ts
  packages/contractkit/src/wrappers/BaseWrapper.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/docs/command-line-interface/rewards.md
  packages/docs/command-line-interface/validator.md
  packages/utils/src/async.ts
Due: none

Add infinite pagination to Leaderboard
  packages/web/src/dev/LeaderBoard.tsx
Due: none

WIP, working out bugs in election interface
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Due: protocol

function complete, still need to add more tests and clean style
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Due: protocol

Addressing review, adding more tests and adding registry constraint
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Due: protocol
