Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

Update with new istanbul lookback window size flag (#1820)
  .circleci/config.yml
  .env
  packages/celotool/src/cmds/geth/run.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/generate_utils.ts
Due: none

Update migration config to correct protocol parameters (#1822)
  packages/celotool/src/e2e-tests/utils.ts
  packages/contractkit/src/wrappers/Accounts.test.ts
  packages/contractkit/src/wrappers/SortedOracles.test.ts
  packages/contractkit/src/wrappers/Validators.test.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/scripts/devchain.ts
  packages/protocol/truffle-config.js
Due: protocol

Point end-to-end tests back to master (#1824)
  .circleci/config.yml
Due: none

added vesting factory migration
  packages/protocol/contracts/governance/proxies/VestingFactoryProxy.sol
  packages/protocol/lib/registry-utils.ts
  packages/protocol/migrations/21_vesting_factory.ts
  packages/protocol/scripts/build.ts
Due: protocol

hmm
  yarn.lock
Due: none

Freeze rewards distribution
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/migrations/14_epoch_rewards.ts
  packages/protocol/test/governance/epochrewards.ts
Due: protocol

added readme, marged master
  packages/leaderboard/README.md
  packages/leaderboard/package.json
  packages/leaderboard/src/board.ts
  yarn.lock
Due: none

Get things working again
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/terraform-modules/testnet/main.tf
  packages/terraform-modules/testnet/modules/full-node/main.tf
  packages/terraform-modules/testnet/modules/full-node/variables.tf
  packages/terraform-modules/testnet/modules/tx-node/outputs.tf
  packages/terraform-modules/testnet/modules/validator/main.tf
Due: none

Adding attestation service to the docker test script. Needs to be tested with a publicly available attestation-service docker image as soon as this as published.
  scripts/run-docker-validator-network.sh
Due: none

Adjust disconnect banner view condititions
  packages/mobile/src/geth/geth.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/redux/selectors.ts
  packages/mobile/src/shared/DisconnectBanner.tsx
  packages/mobile/src/web3/actions.ts
  packages/mobile/src/web3/reducer.ts
  packages/mobile/src/web3/saga.test.ts
  packages/mobile/src/web3/saga.ts
Due: mobile

Minor Contractkit changes (#1819)
  packages/attestation-service/src/requestHandlers/attestation.ts
  packages/contractkit/src/index.ts
  packages/contractkit/src/wrappers/Attestations.ts
  packages/contractkit/src/wrappers/BaseWrapper.ts
  packages/contractkit/src/wrappers/GasPriceMinimum.ts
Due: none

added new migration and vesting unit tests template
  packages/protocol/contracts/governance/VestingFactory.sol
  packages/protocol/migrations/11_vesting_factory.ts
  packages/protocol/migrations/12_lockedgold.ts
  packages/protocol/migrations/13_validators.ts
  packages/protocol/migrations/14_election.ts
  packages/protocol/migrations/15_epoch_rewards.ts
  packages/protocol/migrations/16_random.ts
  packages/protocol/migrations/17_attestations.ts
  packages/protocol/migrations/18_escrow.ts
  packages/protocol/migrations/19_blockchainparams.ts
  packages/protocol/migrations/20_governance.ts
  packages/protocol/migrations/21_elect_validators.ts
  packages/protocol/test/governance/vesting.ts
Due: protocol

remove websocket secret from vm testnets
  packages/terraform-modules/testnet/modules/tx-node/startup.sh
  packages/terraform-modules/testnet/modules/validator/startup.sh
Due: none

Add txpool to rpc apis on tx nodes
  packages/terraform-modules/testnet/modules/full-node/startup.sh
Due: none

specifying the right attestation service web3 provider config
  packages/docs/getting-started/running-attestation-service.md
  scripts/run-docker-validator-network.sh
Due: none

Fix some merge conflicts
  packages/celotool/src/lib/vm-testnet-utils.ts
Due: none

Run terraform fmt
  packages/terraform-modules/testnet/main.tf
Due: none

return at least true, when the function is returning bool (#1825)
  packages/protocol/contracts/governance/Election.sol
Due: protocol

fixing the validator account unlock
  packages/docs/getting-started/running-a-validator-baklava.md
  scripts/run-docker-validator-network.sh
Due: none

changing attestation service starting command
  scripts/run-docker-validator-network.sh
Due: none

bump versions of the recently published packages: cli, contractkit, utils. Update dependency versions
  packages/attestation-service/package.json
  packages/blockchain-api/package.json
  packages/celotool/package.json
  packages/cli/package.json
  packages/cli/src/utils/identity.ts
  packages/contractkit/package.json
  packages/dappkit/package.json
  packages/mobile/package.json
  packages/notification-service/package.json
  packages/protocol/package.json
  packages/react-components/package.json
  packages/transaction-metrics-exporter/package.json
  packages/utils/package.json
  packages/verification-pool-api/package.json
  packages/verifier/package.json
  packages/walletkit/package.json
  packages/web/package.json
  yarn.lock
Due: mobile, protocol

Fixes
  packages/terraform-modules-public/README.md
  packages/terraform-modules-public/example/README.md
  packages/terraform-modules-public/example/variables.tf
  packages/terraform-modules-public/testnet/main.tf
  packages/terraform-modules-public/testnet/modules/attestation-service/main.tf
  packages/terraform-modules-public/testnet/modules/attestation-service/variables.tf
  packages/terraform-modules-public/testnet/modules/proxy/startup.sh
  packages/terraform-modules-public/testnet/modules/proxy/variables.tf
  packages/terraform-modules-public/testnet/modules/tx-node-load-balancer/variables.tf
  packages/terraform-modules-public/testnet/modules/tx-node/variables.tf
  packages/terraform-modules-public/testnet/modules/validator/main.tf
  packages/terraform-modules-public/testnet/modules/validator/startup.sh
  packages/terraform-modules-public/testnet/modules/validator/variables.tf
  packages/terraform-modules-public/testnet/variables.tf
Due: none

Give more cGLD to validator 0 in genesis
  packages/celotool/src/lib/generate_utils.ts
Due: none

Fixed firewall rules
  packages/terraform-modules-public/testnet/main.tf
Due: none

Fix yarn build
  packages/celotool/src/cmds/deploy/initial/verify-contracts.ts
Due: none

printing validator and proxy status messages
  scripts/run-docker-validator-network.sh
Due: none

fixing quotes
  scripts/run-docker-validator-network.sh
Due: none

Test rewards are not distributed after freezing
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

adding reference to running a validator script
  packages/docs/getting-started/running-a-validator-baklava.md
  packages/docs/getting-started/running-a-validator.md
Due: none

add .env and mnemonic. fix bugs in terraform modules
  .env.baklavastaging
  .env.mnemonic.baklavastaging.enc
  packages/celotool/src/lib/utils.ts
  packages/terraform-modules/testnet/modules/validator/main.tf
  scripts/key_placer.sh
Due: none

Included Cloud SQL Proxy
  packages/terraform-modules-public/testnet/modules/attestation-service/main.tf
  packages/terraform-modules-public/testnet/modules/attestation-service/startup.sh
Due: none

Onboarding feedback (#1811)
  SETUP.md
  packages/celotool/README.md
  packages/celotool/src/e2e-tests/utils.ts
Due: none

various tweaks to maybe get things to work
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/terraform-modules/testnet/modules/full-node/main.tf
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/main.tf
  packages/terraform-modules/testnet/modules/validator/main.tf
Due: none

Improvements from PR review. Decide "not fixing" is least bad option for #1301
  packages/protocol/contracts/stability/Reserve.sol
Due: protocol

Swap in contract kit for wallet kit
  packages/celotool/src/cmds/account/invite.ts
  packages/celotool/src/cmds/account/verify.ts
  packages/contractkit/src/wrappers/Attestations.ts
  packages/mobile/src/identity/reducer.ts
  packages/mobile/src/identity/verification.ts
Due: mobile

Add setAssetAllocations unit test
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/test/stability/reserve.ts
Due: protocol

Fetching icons from airtbale and and displaying on page nice
  packages/web/pages/brand/icons.tsx
  packages/web/server/AssetBase.ts
  packages/web/src/brandkit/IconsPage.tsx
  packages/web/src/brandkit/Typography.tsx
  packages/web/src/brandkit/common/Fetch.tsx
  packages/web/src/brandkit/common/Page.tsx
  packages/web/src/brandkit/common/Showcase.tsx
  packages/web/src/brandkit/common/constants.tsx
  packages/web/src/home/version3/HomeCover.tsx
  packages/web/src/styles.ts
  packages/web/static/locales/en/brand.json
Due: none

Further disable tests
  packages/contractkit/src/wrappers/Governance.test.ts
Due: none

Update to use new contractkit utilities
  packages/cli/src/commands/governance/approve.ts
  packages/cli/src/commands/governance/approvehotfix.ts
  packages/cli/src/commands/governance/execute.ts
  packages/cli/src/commands/governance/executehotfix.ts
  packages/cli/src/commands/governance/preparehotfix.ts
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/commands/governance/upvote.ts
  packages/cli/src/commands/governance/vote.ts
  packages/cli/src/commands/governance/whitelisthotfix.ts
  packages/cli/src/utils/governance.ts
Due: none

Address Nam's PR comments
  packages/contractkit/src/explorer/block-explorer.ts
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/wrappers/Governance.ts
Due: none

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
