Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

improvements for toSolidityBytes
  packages/contractkit/src/wrappers/BaseWrapper.ts
Due: none

Minor attestation service fixes
  cloudbuild.yaml
  packages/helm-charts/attestation-service/templates/attestation.secret.yaml
Due: none

Fix lint
  packages/cli/src/commands/account/get-metadata.ts
  packages/cli/src/commands/account/show-metadata.ts
Due: none

Remove ecrecoverpublickey precompile
  .circleci/config.yml
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/cli/src/commands/account/claims.test.ts
  packages/cli/src/commands/validator/register.ts
  packages/cli/src/commands/validator/update-bls-key.ts
  packages/cli/src/utils/command.ts
  packages/cli/src/utils/helpers.ts
  packages/contractkit/src/wrappers/Accounts.test.ts
  packages/contractkit/src/wrappers/Accounts.ts
  packages/contractkit/src/wrappers/Validators.test.ts
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IValidators.sol
  packages/protocol/contracts/governance/test/MockValidators.sol
  packages/protocol/migrations/20_elect_validators.ts
  packages/utils/src/address.ts
  packages/utils/src/signatureUtils.ts
Due: protocol

Minor attestation service fixes (#1680)
  cloudbuild.yaml
  packages/helm-charts/attestation-service/templates/attestation.secret.yaml
Due: none

Add updateEcdsaKey test
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/test/governance/validators.ts
Due: protocol

remove .only
  packages/protocol/test/governance/validators.ts
Due: protocol

Update docs
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/docs/command-line-interface/account.md
  packages/docs/command-line-interface/validator.md
Due: none

Remove integration sync test
  .circleci/config.yml
  packages/celotool/ci_test_sync_with_network.sh
  packages/celotool/geth_tests/network_sync_test.sh
  packages/celotool/src/e2e-tests/verify_ultralight_geth_logs.ts
Due: none

Update dependencies
  packages/cli/package.json
  packages/protocol/package.json
Due: protocol

Fix governance test
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

Static version of Menu us looking good
  packages/web/pages/brand/index.tsx
  packages/web/src/brandkit/Page.tsx
  packages/web/src/brandkit/Sidebar.tsx
Due: none

Use block explorer parser in proposal utility
  packages/contractkit/src/explorer/block-explorer.ts
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/wrappers/BaseWrapper.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/utils/src/address.ts
Due: none

Make timeout test specific
  packages/contractkit/jest.config.js
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/test-utils/jest.setup.js
  packages/contractkit/src/wrappers/Governance.test.ts
Due: none

Update Dark backgrounds text color (#1677)
  packages/web/src/community/connect/CoverArea.tsx
  packages/web/src/dev/BuildPage.tsx
  packages/web/src/dev/CoverAction.tsx
  packages/web/src/dev/Feature.tsx
  packages/web/src/dev/StackSection.tsx
  packages/web/src/fauceting/MicroComponents.tsx
  packages/web/src/styles.ts
Due: none

[Wallet] Limit QR code scanner to 1 code per second (#1676)
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo/Info.plist
  packages/mobile/src/qrcode/QRScanner.tsx
Due: mobile

wip
  packages/celotool/src/lib/geth.ts
Due: none

Use the country of the phone number for determining the default local currency
  packages/mobile/src/localCurrency/selectors.test.ts
  packages/mobile/src/localCurrency/selectors.ts
Due: mobile

Renamed sentry by proxy
  packages/celotool/src/cmds/ssh-vm-node.ts
  packages/celotool/src/lib/generate_utils.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/helm-charts/testnet/templates/proxy.service.yaml
  packages/helm-charts/testnet/templates/proxy.statefulset.yaml
  packages/helm-charts/testnet/templates/sentry.service.yaml
  packages/helm-charts/testnet/templates/sentry.statefulset.yaml
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
  packages/terraform-modules/testnet/modules/full-node/startup.sh
  packages/terraform-modules/testnet/modules/validator/main.tf
  packages/terraform-modules/testnet/modules/validator/startup.sh
Due: none

Fixed quotes
  packages/helm-charts/testnet/templates/_helpers.tpl
Due: none

Fixed variable name
  packages/helm-charts/testnet/templates/proxy.statefulset.yaml
Due: none

Testing reduced jvm options since we're setting them in gradle.properties
  .circleci/config.yml
Due: none

[Wallet] Use the country of the phone number for determining the default local currency (#1684)
  packages/mobile/src/localCurrency/selectors.test.ts
  packages/mobile/src/localCurrency/selectors.ts
Due: mobile

Switch to correct cluster when fauceting
  packages/celotool/src/cmds/account/faucet.ts
Due: none

Switch to correct cluster when fauceting (#1687)
  packages/celotool/src/cmds/account/faucet.ts
Due: none

WIP: Adding baklava validator documentation
  packages/docs/getting-started/running-a-validator.md
Due: none

Added command for getting proxy ip
  packages/docs/getting-started/running-a-validator.md
Due: none

Added explicit contract argument
  packages/celotool/src/cmds/deploy/initial/verify-contracts.ts
Due: none

Linting: log->debug
  packages/celotool/src/cmds/deploy/initial/verify-contracts.ts
Due: none

Brand kit general layout
  packages/web/pages/_app.tsx
  packages/web/src/brandkit/MobileMenu.tsx
  packages/web/src/brandkit/Page.tsx
  packages/web/src/brandkit/Sidebar.tsx
  packages/web/src/brandkit/TopBar.tsx
Due: none

Remove static builder class
  packages/contractkit/src/governance/proposals.ts
Due: none

Add more local currencies
  packages/mobile/src/localCurrency/consts.ts
Due: mobile

Fix lint
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/wrappers/Attestations.ts
  packages/contractkit/src/wrappers/BaseWrapper.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Exchange.ts
  packages/contractkit/src/wrappers/GasPriceMinimum.ts
  packages/contractkit/src/wrappers/GoldTokenWrapper.ts
  packages/contractkit/src/wrappers/Governance.test.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/contractkit/src/wrappers/Reserve.ts
  packages/contractkit/src/wrappers/SortedOracles.ts
  packages/contractkit/src/wrappers/StableTokenWrapper.ts
  packages/contractkit/src/wrappers/Validators.ts
Due: none

Updated snapshot
  packages/mobile/src/localCurrency/__snapshots__/SelectLocalCurrency.test.tsx.snap
Due: mobile

Docs
  packages/docs/command-line-interface/account.md
Due: none

Remove 3 letters code from feed items from now
  packages/mobile/src/transactions/TransferFeedItem.tsx
  packages/mobile/src/transactions/__snapshots__/TransactionFeed.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransferFeedItem.test.tsx.snap
Due: mobile

[Wallet] Add more local currencies (#1698)
  packages/mobile/src/localCurrency/__snapshots__/SelectLocalCurrency.test.tsx.snap
  packages/mobile/src/localCurrency/consts.ts
  packages/mobile/src/transactions/TransferFeedItem.tsx
  packages/mobile/src/transactions/__snapshots__/TransactionFeed.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransferFeedItem.test.tsx.snap
Due: mobile

Fix tests
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

Update modal
  packages/mobile/src/account/CeloLite.tsx
  packages/mobile/src/web3/saga.ts
Due: mobile

point circle back to celo-blockchain master
  .circleci/config.yml
Due: none
