Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

Added native phone picker
  packages/mobile/locales/en.json
  packages/react-components/components/PhoneNumberInput.tsx
Due: mobile

clean up
  packages/react-components/components/PhoneNumberInput.tsx
Due: none

adding comment and linting
  packages/protocol/contracts/common/Proxy.sol
Due: protocol

lint
  packages/react-components/components/PhoneNumberInput.tsx
  packages/react-components/index.d.ts
Due: none

Add GRADLE_OPTS note to SETUP.md
  SETUP.md
Due: none

[Wallet] Add script to build sdk for env before running yarn dev
  packages/mobile/package.json
  packages/mobile/scripts/pre-dev.sh
Due: mobile

add report function to sorted oracles wrapper
  packages/contractkit/src/driver.ts
  packages/contractkit/src/wrappers/SortedOracles.test.ts
  packages/contractkit/src/wrappers/SortedOracles.ts
  packages/protocol/contracts/common/linkedlists/SortedLinkedList.sol
  packages/protocol/migrations/08_stabletoken.ts
Due: protocol

[Wallet] Add script to build sdk for env before running yarn dev (#1312)
  packages/mobile/package.json
  packages/mobile/scripts/pre-dev.sh
Due: mobile

Allow validators to specify an attestationKey with which they sign attestations
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/interfaces/IAttestations.sol
  packages/protocol/lib/signing-utils.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/bondeddeposits.ts
  packages/protocol/test/identity/attestations.ts
  packages/utils/src/address.ts
  packages/utils/src/attestations.ts
Due: protocol

Always write key to disk to allow to switch into zero sync mode
  packages/mobile/src/web3/saga.ts
Due: mobile

Add simple test
  packages/utils/src/signatureUtils.test.ts
Due: none

Use the LockedGold account address as the canonical address for the issuer in Attestations
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/test/identity/attestations.ts
Due: protocol

Reduce line length
  packages/protocol/contracts/identity/Attestations.sol
Due: protocol

New integration tags
  .env.integration
Due: none

Add celo lite settings component
  packages/mobile/src/account/CeloLite.tsx
Due: mobile

Add celo lite settings link
  packages/mobile/locales/en-US/accountScreen10.json
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/CeloLite.tsx
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/Screens.tsx
Due: mobile

PR comments
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/interfaces/IAttestations.sol
  packages/protocol/test/identity/attestations.ts
  packages/utils/src/signatureUtils.test.ts
Due: protocol

Update state to keep track of sync mode, account in web3 keystore
  packages/mobile/.env
  packages/mobile/src/web3/actions.ts
  packages/mobile/src/web3/reducer.ts
  packages/mobile/src/web3/saga.ts
  packages/mobile/src/web3/selectors.ts
Due: mobile

Beef up documentation
  packages/celotool/src/e2e-tests/utils.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

Add step to install typescript and other minor edits (#1256)
  SETUP.md
Due: none

Only upload genesis if upgrade resetting
  packages/celotool/src/cmds/deploy/upgrade/testnet.ts
Due: none

Fix linting issues
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

Make celo lite settings screen responsive
  packages/mobile/src/account/CeloLite.tsx
Due: mobile

Add documentation
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/test/MockLockedGold.sol
Due: protocol

Update mobile client version
  packages/mobile/package.json
  yarn.lock
Due: mobile

Fix interface
  packages/protocol/contracts/governance/test/MockLockedGold.sol
Due: protocol

Finalize tests
  packages/protocol/contracts/governance/test/MockValidators.sol
  packages/protocol/test/governance/governance.ts
Due: protocol

Expire previously upvoted proposals
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/test/governance/governance.ts
Due: protocol

Mobile and tablet sizes working
  packages/web/src/dev/FullStack.tsx
  packages/web/src/dev/StackSection.tsx
Due: none

Use authorization scheme like LockedGold
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/interfaces/IAttestations.sol
  packages/protocol/test/identity/attestations.ts
Due: protocol

fix hash link scroll to correct offset
  packages/web/package.json
  packages/web/pages/_app.tsx
  yarn.lock
Due: none

Address comments
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/test/governance/lockedgold.ts
Due: protocol

Update text for fellows and eco system fund
  packages/web/src/fellowship/FellowCover.tsx
  packages/web/static/locales/en/ecosystem.json
  packages/web/static/locales/en/fellowship.json
Due: none

Add laspsing validators script to identify validators that aren't proposing blocks
  packages/protocol/tmp/lapsing_validators.js
Due: protocol

Point to asaj/pos-2
  .circleci/config.yml
Due: none

Split single validator group into multiple as needed
  packages/protocol/migrations/17_elect_validators.ts
  packages/protocol/migrationsConfig.js
Due: protocol

linter changes
  packages/protocol/migrations/17_elect_validators.ts
Due: protocol

Fix broken Discord link
  packages/docs/developer-resources/introduction.md
Due: none

Add revealIssuers tx
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/interfaces/IAttestations.sol
  packages/protocol/test/identity/attestations.ts
Due: protocol

Allow validators to specify an attestationKey with which they sign attestations (#1313)
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/interfaces/IAttestations.sol
  packages/protocol/lib/signing-utils.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/bondeddeposits.ts
  packages/protocol/test/identity/attestations.ts
  packages/utils/src/address.ts
  packages/utils/src/attestations.ts
  packages/utils/src/signatureUtils.test.ts
Due: protocol

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
