Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

changed getting epoch number, let's see if everything keeps working...
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/DowntimeSlasher.sol
  packages/protocol/contracts/governance/SlasherUtil.sol
  packages/protocol/contracts/governance/test/MockLockedGold.sol
  packages/protocol/test/governance/double_signing_slasher.ts
  packages/protocol/test/governance/downtime_slasher.ts
Due: protocol

Make a header to double sign
  packages/celotool/src/e2e-tests/slashing_tests.ts
Due: none

Remove dollar sign in bash cmds
  packages/docs/celo-codebase/protocol/identity/metadata.md
Due: none

Remove dollar signs in bash cmds
  packages/docs/celo-codebase/protocol/identity/metadata.md
Due: none

changed name to hashHeader
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/test/MockUsingPrecompiles.sol
Due: protocol

Remove dollar signs in bash cmds (#2316)
  packages/docs/celo-codebase/protocol/identity/metadata.md
Due: none

Test parses current block number
  packages/celotool/src/e2e-tests/slashing_tests.ts
  packages/protocol/contracts/common/UsingPrecompiles.sol
Due: protocol

Add hashHeader and getBlockNumberFromHeader to UsingPrecompiles
  packages/protocol/contracts/common/UsingPrecompiles.sol
Due: protocol

Run three validators
  packages/celotool/src/e2e-tests/slashing_tests.ts
Due: none

add remaining precompiles
  packages/protocol/contracts/common/UsingPrecompiles.sol
Due: protocol

make linter happy
  packages/protocol/contracts/common/UsingPrecompiles.sol
Due: protocol

point to ci victor/slashing-precompiles
  .circleci/config.yml
Due: none

Bump @celo/utils to 0.1.5-dev (#2164)
  .circleci/config.yml
  README-dev.md
  packages/attestation-service/package.json
  packages/celotool/package.json
  packages/cli/package.json
  packages/contractkit/package.json
  packages/dappkit/package.json
  packages/mobile/package.json
  packages/notification-service/package.json
  packages/protocol/package.json
  packages/react-components/package.json
  packages/transaction-metrics-exporter/package.json
  packages/utils/package.json
  packages/verification-pool-api/package.json
  packages/verifier/package.json
  packages/walletkit/package.json
  packages/web/package.json
  yarn.lock
Due: mobile, protocol

WIP, working out bugs in election interface
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Due: protocol

function complete, still need to add more tests and clean style
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Due: protocol

Fixing bugs, adding tests but still fixing tests
  packages/protocol/test/governance/election.ts
Due: protocol

Fixing tests
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Due: protocol

Addressing review, adding more tests and adding registry constraint
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Due: protocol

Adding slashing fn and groundwork for testing if we want to add involved unit tests
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/interfaces/IElection.sol
  packages/protocol/contracts/governance/test/MockElection.sol
  packages/protocol/test/governance/lockedgold.ts
Due: protocol

Adding events, changing names, and starting to add more tests
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/interfaces/IElection.sol
  packages/protocol/contracts/governance/test/MockElection.sol
  packages/protocol/test/governance/lockedgold.ts
Due: protocol

a human readable description for governance proposals added + unit test update
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/Proposals.sol
  packages/protocol/test/governance/governance.ts
Due: protocol

Fix exchange input on iOS
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
  packages/mobile/src/exchange/__snapshots__/ExchangeTradeScreen.test.tsx.snap
Due: mobile

Don't display currency code for exchange feed items (like for transfers)
  packages/mobile/src/transactions/ExchangeFeedItem.tsx
  packages/mobile/src/transactions/__snapshots__/TransactionFeed.test.tsx.snap
Due: mobile

Updated ethstats tag
  .env
  .env.baklava
  .env.baklavastaging
Due: none

Updated blockscout image commit
  .env
Due: none

Fix tests
  packages/celotool/src/lib/ethstats.ts
Due: none

added changes as per Asa's comments
  packages/protocol/contracts/common/GasPriceMinimum.sol
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/migrations/06_gaspriceminimum.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/common/gaspriceminimum.ts
  packages/protocol/test/common/multisig.ts
Due: protocol

debug
  packages/protocol/test/common/integration.ts
Due: protocol

test for governance slashing working
  packages/protocol/migrations/19_governance_slasher.ts
  packages/protocol/migrations/20_double_signing_slasher.ts
  packages/protocol/migrations/21_downtime_slasher.ts
  packages/protocol/test/common/integration.ts
Due: protocol

returning locked gold
  .circleci/config.yml
Due: none

typo
  .circleci/config.yml
Due: none

new locked gold expected
  packages/protocol/specs/LockedGoldExpected.json
Due: protocol

run all scripts and check in the end
  .circleci/config.yml
Due: none

election migration works
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/migrations/23_elect_validators.ts
  packages/protocol/test/common/integration.ts
Due: protocol

checked precompile names
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/DowntimeSlasher.sol
  packages/protocol/contracts/governance/test/MockUsingPrecompiles.sol
Due: protocol

Refactored assembly to regular solidity static calls
  packages/protocol/contracts/common/UsingPrecompiles.sol
Due: protocol

Removed fractionMulExp commented old assembly code
  packages/protocol/contracts/common/UsingPrecompiles.sol
Due: protocol

Ethstats variables as env variables (#2183)
  .env
  .env.baklava
  .env.baklavastaging
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/ethstats.ts
  packages/helm-charts/ethstats/templates/ethstats.deployment.yaml
Due: none

integration test now subtracts voting gold
  packages/protocol/migrations/23_elect_validators.ts
  packages/protocol/test/common/integration.ts
Due: protocol

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
