Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

Address security group feedback
  packages/azure/components/network.json
Due: none

@codyborn feedback
  packages/azure/.gitignore
  packages/azure/README.md
  packages/azure/README.mustache
  packages/azure/components/network.json
Due: none

Future work
  packages/azure/README.md
Due: none

Future work
  packages/azure/README.mustache
Due: none

template.json
  packages/azure/template.json
Due: none

README.md updates, etc
  packages/azure/README.md
  packages/azure/README.mustache
  packages/azure/attester/celo-node-run
  packages/azure/template.json
  packages/azure/validator/celo-validator-run
Due: none

Removing unnecessary await
  packages/protocol/test/governance/double_signing_slasher.ts
Due: protocol

[N17] Different address nomenclature for precompiled contracts (#2901)
  packages/protocol/contracts/common/GoldToken.sol
Due: protocol

Adding lastEpochBlock to random.sol (#2685)
  packages/protocol/contracts/identity/Random.sol
  packages/protocol/test/identity/random.ts
Due: protocol

fix gif in jest test
  packages/web/jest.config.js
  packages/web/src/shared/ChangeStory.tsx
Due: none

snapshots
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/key-imagery.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
Due: none

remove commented out code
  packages/web/src/shared/Footer.tsx
Due: none

[protocol] updates for failed tests
  packages/protocol/migrations/24_governance.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/runTests.js
  packages/protocol/test/common/integration.ts
Due: protocol

Don't update exchange buckets if the oldest oracle report is expired (#2888)
  packages/protocol/contracts/stability/Exchange.sol
  packages/protocol/contracts/stability/SortedOracles.sol
  packages/protocol/contracts/stability/interfaces/ISortedOracles.sol
  packages/protocol/contracts/stability/test/MockSortedOracles.sol
  packages/protocol/test/stability/exchange.ts
  packages/protocol/test/stability/sortedoracles.ts
Due: protocol

Prove control of walletAddress
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/cli/src/commands/account/proof-of-possession.ts
  packages/contractkit/src/wrappers/Accounts.test.ts
  packages/contractkit/src/wrappers/Accounts.ts
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_accounts_.accountswrapper.md
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/common/interfaces/IAccounts.sol
  packages/protocol/contracts/governance/ReleaseGoldInstance.sol
  packages/protocol/contracts/governance/interfaces/IReleaseGoldInstance.sol
  packages/protocol/test/common/accounts.ts
  packages/protocol/test/identity/attestations.ts
Due: protocol

[N14] Broken links in comments (#2900)
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/stability/StableToken.sol
Due: protocol

Fix concatenation
  packages/protocol/contracts/common/Signatures.sol
Due: protocol

Update docs
  packages/docs/developer-resources/contractkit/reference/classes/_kit_.contractkit.md
Due: none

[N06] Lack of consistency (#2897)
  packages/protocol/contracts/common/Accounts.sol
Due: protocol

Remove duplicated epochNumberOfBlock
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/DowntimeSlasher.sol
Due: protocol

[N12] Incomplete docstrings (#2778)
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/common/FeeCurrencyWhitelist.sol
  packages/protocol/contracts/common/GasPriceMinimum.sol
  packages/protocol/contracts/common/GoldToken.sol
  packages/protocol/contracts/common/Registry.sol
  packages/protocol/contracts/common/linkedlists/AddressLinkedList.sol
  packages/protocol/contracts/common/linkedlists/AddressSortedLinkedList.sol
  packages/protocol/contracts/common/linkedlists/AddressSortedLinkedListWithMedian.sol
  packages/protocol/contracts/common/linkedlists/IntegerSortedLinkedList.sol
  packages/protocol/contracts/common/linkedlists/LinkedList.sol
  packages/protocol/contracts/common/linkedlists/SortedLinkedList.sol
  packages/protocol/contracts/common/linkedlists/SortedLinkedListWithMedian.sol
  packages/protocol/contracts/governance/BlockchainParameters.sol
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/DowntimeSlasher.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/GovernanceSlasher.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/Escrow.sol
  packages/protocol/contracts/identity/Random.sol
  packages/protocol/contracts/stability/Exchange.sol
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/SortedOracles.sol
Due: protocol

Allow a new beneficiary
  packages/protocol/contracts/governance/ReleaseGoldInstance.sol
  packages/protocol/test/governance/release_gold.ts
Due: protocol

Correct epoch definitions in protocol and contractkit (#2623)
  packages/contractkit/src/kit.ts
  packages/docs/developer-resources/contractkit/reference/classes/_kit_.contractkit.md
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/DowntimeSlasher.sol
  packages/protocol/contracts/governance/test/MockUsingPrecompiles.sol
  packages/protocol/lib/test-utils.ts
  packages/protocol/test/governance/downtime_slasher.ts
  packages/protocol/test/governance/validators.ts
Due: protocol

Sets governance thresholds during migration
  packages/protocol/governanceConstitution.js
  packages/protocol/migrations/22_governance.ts
Due: protocol

[protocol] update contractKit tests to pass
  packages/contractkit/src/wrappers/Governance.ts
  packages/dev-utils/src/migration-override.json
  packages/protocol/migrations/24_governance.ts
  packages/protocol/migrationsConfig.js
Due: protocol

Update transfer_tests stableTokenTransferGasCost
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

address feedback
  packages/protocol/contracts/common/GasPriceMinimum.sol
  packages/protocol/contracts/common/GoldToken.sol
  packages/protocol/contracts/stability/StableToken.sol
  packages/protocol/contracts/stability/interfaces/IStableToken.sol
Due: protocol

[protocol] updated autogenerated docs for contract kit
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_governance_.governancewrapper.md
Due: none

adds test for governance constitutions
  packages/protocol/lib/web3-utils.ts
  packages/protocol/migrations/22_governance.ts
  packages/protocol/test/common/integration.ts
Due: protocol

Address comments
  packages/contractkit/src/wrappers/SortedOracles.ts
  packages/protocol/contracts/stability/SortedOracles.sol
Due: protocol

[L22] Not following the fail-loudly principle (#2894)
  packages/protocol/contracts/common/MultiSig.sol
  packages/protocol/test/common/multisig.ts
Due: protocol

Working on local testnet, some style changes incoming
  packages/protocol/scripts/bash/deploy_release_contracts.sh
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
  packages/protocol/scripts/truffle/releaseGoldContracts.json
Due: protocol

Freeze initial reserve gold (#2577)
  packages/protocol/contracts/stability/Exchange.sol
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/interfaces/IReserve.sol
  packages/protocol/contracts/stability/test/MockReserve.sol
  packages/protocol/migrations/07_reserve.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/epochrewards.ts
  packages/protocol/test/stability/reserve.ts
Due: protocol

Address feedback
  packages/protocol/contracts/common/FixidityLib.sol
Due: protocol

Update yard.lock
  yarn.lock
Due: none

WIP fetch contributors before page load
  packages/web/src/about/About.tsx
  packages/web/src/about/Backers.tsx
  packages/web/src/about/Team.tsx
Due: none

switch to native fetching directly
  packages/web/src/about/About.tsx
Due: none

Fix dappkit in the wallet
  packages/dappkit/package.json
  packages/mobile/src/dappkit/DappKitSignTxScreen.tsx
  yarn.lock
Due: mobile

[Wallet] Fix invites because of different dev bundleId on Android and iOS (#2918)
  packages/mobile/src/account/saga.ts
  packages/mobile/src/app/saga.test.ts
  packages/mobile/src/app/saga.ts
  packages/mobile/src/invite/saga.test.ts
  packages/mobile/src/invite/saga.ts
Due: mobile

First pass, works but sends dupes
  packages/mobile/src/app/ErrorMessages.ts
  packages/mobile/src/identity/verification.ts
  packages/mobile/src/tokens/saga.ts
  packages/mobile/src/transactions/saga.ts
  packages/mobile/src/transactions/send.ts
  packages/mobile/src/utils/typescript.ts
  packages/utils/src/future.ts
Due: mobile

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
