Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

[wallet] Reversed sort of Payment Requests (#1654)
  packages/mobile/src/firebase/saga.ts
Due: mobile

Changed comment
  packages/mobile/src/fees/saga.ts
Due: mobile

[wallet] Doesn't calculate fee on empty balance (#1652)
  packages/mobile/src/fees/saga.test.ts
  packages/mobile/src/fees/saga.ts
  packages/mobile/src/stableToken/reducer.ts
Due: mobile

Address feedback
  packages/mobile/src/components/Avatar.tsx
Due: mobile

[Wallet] Fix scrolling and some related style issues with tx review frame (#1653)
  packages/mobile/locales/en-US/nuxVerification2.json
  packages/mobile/locales/es-419/nuxVerification2.json
  packages/mobile/src/account/__snapshots__/Account.test.tsx.snap
  packages/mobile/src/account/__snapshots__/InviteReview.test.tsx.snap
  packages/mobile/src/components/Avatar.tsx
  packages/mobile/src/escrow/__snapshots__/ReclaimPaymentConfirmationScreen.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/PaymentRequestConfirmation.test.tsx.snap
  packages/mobile/src/qrcode/__snapshots__/QRCode.test.tsx.snap
  packages/mobile/src/send/TransferConfirmationCard.tsx
  packages/mobile/src/send/TransferReviewCard.tsx
  packages/mobile/src/send/__snapshots__/SendConfirmation.test.tsx.snap
  packages/mobile/src/send/__snapshots__/TransferConfirmationCard.test.tsx.snap
  packages/mobile/src/send/__snapshots__/TransferReviewCard.test.tsx.snap
  packages/react-components/components/Avatar.tsx
  packages/react-components/components/ReviewFrame.tsx
  packages/react-components/components/__snapshots__/Avatar.test.tsx.snap
  packages/react-components/components/__snapshots__/ReviewFrame.test.tsx.snap
  packages/verifier/src/components/TransactionReview/__snapshots__/VerificationReviewScreen.test.tsx.snap
Due: mobile

Fix signing issue breaking verification for Alfajores/Pilot
  packages/mobile/locales/en-US/nuxVerification2.json
  packages/mobile/locales/es-419/nuxVerification2.json
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/__snapshots__/Account.test.tsx.snap
  packages/mobile/src/identity/verification.test.ts
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/verify/VerificationEducationScreen.tsx
  packages/mobile/src/verify/VerificationFailedModal.tsx
  packages/mobile/src/verify/VerificationSuccessScreen.tsx
  packages/walletkit/package.json
  packages/walletkit/src/attestations.ts
  packages/walletkit/src/contract-utils.ts
Due: mobile

Fix import ordering
  packages/mobile/src/identity/verification.test.ts
Due: mobile

[Wallet] Fix verification signing issue for Alfajores/Pilot (#1655)
  packages/mobile/locales/en-US/nuxVerification2.json
  packages/mobile/locales/es-419/nuxVerification2.json
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/__snapshots__/Account.test.tsx.snap
  packages/mobile/src/identity/verification.test.ts
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/verify/VerificationEducationScreen.tsx
  packages/mobile/src/verify/VerificationFailedModal.tsx
  packages/mobile/src/verify/VerificationSuccessScreen.tsx
  packages/walletkit/package.json
  packages/walletkit/src/attestations.ts
  packages/walletkit/src/contract-utils.ts
Due: mobile

Fix lint
  packages/celotool/src/cmds/deploy/initial/vm-testnet.ts
  packages/celotool/src/lib/prom-to-sd-utils.ts
Due: none

Add resource limit
  packages/helm-charts/prometheus-to-sd/values.yaml
Due: none

create an isSyncing function to extract the wait logic
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

handle nan
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

Allow fail when scaling down statefulset
  packages/celotool/src/lib/helm_deploy.ts
  packages/celotool/src/lib/kubernetes.ts
Due: none

review comments
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

Export geth metrics on VM testnet (#1351)
  packages/celotool/src/cmds/deploy/destroy/vm-testnet.ts
  packages/celotool/src/cmds/deploy/initial/vm-testnet.ts
  packages/celotool/src/cmds/deploy/upgrade/vm-testnet.ts
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/prom-to-sd-utils.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/helm-charts/prometheus-to-sd/templates/deployment.yaml
  packages/helm-charts/prometheus-to-sd/values.yaml
  packages/terraform-modules/testnet/main.tf
  packages/terraform-modules/testnet/modules/bootnode/main.tf
  packages/terraform-modules/testnet/modules/tx-node/main.tf
  packages/terraform-modules/testnet/modules/tx-node/outputs.tf
  packages/terraform-modules/testnet/modules/tx-node/startup.sh
  packages/terraform-modules/testnet/modules/tx-node/variables.tf
  packages/terraform-modules/testnet/modules/validator/main.tf
  packages/terraform-modules/testnet/modules/validator/outputs.tf
  packages/terraform-modules/testnet/modules/validator/startup.sh
  packages/terraform-modules/testnet/modules/validator/variables.tf
  packages/terraform-modules/testnet/outputs.tf
  packages/terraform-modules/testnet/variables.tf
Due: none

Add spinner and tip text to verification input screen Improve code organization of input screen components
  packages/mobile/locales/en-US/nuxVerification2.json
  packages/mobile/locales/es-419/nuxVerification2.json
  packages/mobile/src/verify/VerificationCodeRow.test.tsx
  packages/mobile/src/verify/VerificationCodeRow.tsx
  packages/mobile/src/verify/VerificationInputScreen.test.tsx
  packages/mobile/src/verify/VerificationInputScreen.tsx
  packages/mobile/src/verify/VerificationLoadingScreen.tsx
  packages/mobile/src/verify/__snapshots__/VerificationCodeRow.test.tsx.snap
  packages/mobile/src/verify/__snapshots__/VerificationInputScreen.test.tsx.snap
Due: mobile

Undo loading screen change
  packages/mobile/src/verify/VerificationLoadingScreen.tsx
Due: mobile

Remove keybase test
  packages/cli/src/commands/account/claims.test.ts
Due: none

Add timestamp to top banner messages
  packages/mobile/src/alert/AlertBanner.tsx
  packages/mobile/src/invite/utils.ts
  packages/mobile/src/shared/BackupPrompt.tsx
  packages/react-components/components/SmartTopAlert.test.tsx
  packages/react-components/components/SmartTopAlert.tsx
  packages/verifier/src/components/ErrorBox.tsx
  packages/verifier/src/components/MessageBanner.tsx
Due: mobile

Fix lint from prettify
  packages/protocol/contracts/common/Accounts.sol
Due: protocol

Fix type error
  packages/react-components/components/SmartTopAlert.tsx
Due: none

Fix merge conflicts and simplify code
  packages/mobile/src/app/saga.test.ts
  packages/mobile/src/app/saga.ts
  packages/mobile/src/firebase/firebase.test.ts
  packages/mobile/src/firebase/firebase.ts
Due: mobile

revert most changes to governance test
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

[Wallet] Add timestamp to top banner messages (#1657)
  packages/mobile/src/alert/AlertBanner.tsx
  packages/mobile/src/invite/utils.ts
  packages/mobile/src/shared/BackupPrompt.tsx
  packages/react-components/components/SmartTopAlert.test.tsx
  packages/react-components/components/SmartTopAlert.tsx
  packages/verifier/src/components/ErrorBox.tsx
  packages/verifier/src/components/MessageBanner.tsx
Due: mobile

Simplify proposal utilities
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/wrappers/Governance.test.ts
Due: none

Fix lint
  packages/contractkit/src/governance/index.ts
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/wrappers/Governance.test.ts
  packages/contractkit/src/wrappers/Governance.ts
Due: none

Support claim signatures and support Keybase claims (#1575)
  packages/celotool/ci_test_governance.sh
  packages/celotool/src/cmds/deploy/initial/contracts.ts
  packages/cli/package.json
  packages/cli/src/commands/account/change-attestation-service-url.ts
  packages/cli/src/commands/account/change-domain.ts
  packages/cli/src/commands/account/change-name.ts
  packages/cli/src/commands/account/claim-attestation-service-url.ts
  packages/cli/src/commands/account/claim-domain.ts
  packages/cli/src/commands/account/claim-keybase.ts
  packages/cli/src/commands/account/claim-name.ts
  packages/cli/src/commands/account/claims.test.ts
  packages/cli/src/commands/account/create-metadata.ts
  packages/cli/src/commands/account/get-metadata.ts
  packages/cli/src/commands/account/register-metadata.ts
  packages/cli/src/commands/account/show-metadata.ts
  packages/cli/src/utils/cli.ts
  packages/cli/src/utils/exec.ts
  packages/cli/src/utils/identity.ts
  packages/contractkit/src/identity/claims/claim.ts
  packages/contractkit/src/identity/claims/keybase.ts
  packages/contractkit/src/identity/claims/types.ts
  packages/contractkit/src/identity/metadata.test.ts
  packages/contractkit/src/identity/metadata.ts
  packages/docs/command-line-interface/account.md
  packages/utils/src/address.ts
Due: none

Optimized Attestation view calls and removal of the reveal TX (#1578)
  packages/attestation-service/config/config.json
  packages/celotool/src/cmds/account/verify.ts
  packages/celotool/src/e2e-tests/attestations_tests.ts
  packages/contractkit/src/wrappers/Attestations.ts
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/common/interfaces/IAccounts.sol
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/interfaces/IAttestations.sol
  packages/protocol/test/common/accounts.ts
  packages/protocol/test/identity/attestations.ts
  packages/utils/package.json
  packages/utils/src/parsing.ts
Due: protocol

Address comments
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/governance/test/EpochRewardsTest.sol
  packages/protocol/lib/test-utils.ts
  packages/protocol/migrations/20_elect_validators.ts
  packages/protocol/test/governance/epochrewards.ts
Due: protocol

Whoops
  packages/protocol/contracts/governance/test/EpochRewardsTest.sol
  packages/protocol/test/governance/epochrewards.ts
Due: protocol

Increase jest timeout
  packages/contractkit/jest.config.js
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/test-utils/jest.setup.js
Due: none

Fix epoch rewards tests
  packages/protocol/contracts/governance/test/EpochRewardsTest.sol
  packages/protocol/test/governance/epochrewards.ts
Due: protocol

Fix lint
  packages/contractkit/jest.config.js
  packages/contractkit/src/test-utils/jest.setup.js
  packages/utils/src/address.ts
Due: none

bls: switch g1/g2
  packages/celotool/package.json
  packages/celotool/src/lib/generate_utils.ts
  packages/protocol/package.json
  yarn.lock
Due: protocol

temporarily changes ci
  .circleci/config.yml
Due: none

Add account claim
  packages/attestation-service/src/attestation.ts
  packages/attestation-service/src/request.ts
  packages/cli/src/commands/account/claim-account.ts
  packages/cli/src/commands/account/claims.test.ts
  packages/contractkit/src/identity/claims/account.ts
  packages/contractkit/src/identity/claims/claim.ts
  packages/contractkit/src/identity/claims/types.ts
  packages/contractkit/src/identity/metadata.test.ts
  packages/contractkit/src/identity/metadata.ts
  packages/utils/src/address.ts
  packages/utils/src/io.ts
Due: none

Update README with how to deploy initial testnet
  packages/celotool/README.md
Due: none

WIP
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/cli/src/commands/account/authorize.test.ts
  packages/cli/src/commands/account/authorize.ts
  packages/cli/src/commands/validator/register.ts
  packages/cli/src/commands/validator/update-bls-key.ts
  packages/cli/src/utils/command.ts
  packages/cli/src/utils/helpers.ts
  packages/contractkit/src/wrappers/Accounts.ts
  packages/contractkit/src/wrappers/Validators.test.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IValidators.sol
  packages/protocol/contracts/governance/test/MockValidators.sol
  packages/protocol/migrations/20_elect_validators.ts
  packages/protocol/test/common/accounts.ts
  packages/protocol/test/governance/validators.ts
  packages/utils/src/address.ts
  packages/utils/src/bls.ts
Due: protocol

Update circleci config
  .circleci/config.yml
Due: none

Add AddressClaim verification
  packages/cli/src/commands/account/get-metadata.ts
  packages/cli/src/utils/command.ts
  packages/contractkit/src/identity/claims/account.test.ts
  packages/contractkit/src/identity/claims/account.ts
  packages/contractkit/src/identity/claims/claim.ts
  packages/contractkit/src/identity/claims/types.ts
  packages/contractkit/src/identity/metadata.test.ts
  packages/contractkit/src/identity/metadata.ts
  packages/utils/src/io.ts
Due: none

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
