Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

Updated example
  packages/docs/command-line-interface/election.md
Due: none

adding events
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/governance/Validators.sol
Due: protocol

added changes to tickets 16xx
  packages/protocol/contracts/common/GoldToken.sol
  packages/protocol/contracts/common/MultiSig.sol
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/identity/Escrow.sol
  packages/protocol/contracts/stability/Exchange.sol
  packages/protocol/contracts/stability/test/MockStableToken.sol
Due: protocol

Fix tests
  packages/celotool/src/e2e-tests/sync_tests.ts
Due: none

extended the multisig checks
  packages/protocol/contracts/common/MultiSig.sol
  packages/protocol/test/common/multisig.ts.old
Due: protocol

Small pre-stake-off CLI cleanup (#1953)
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/sync_tests.ts
  packages/cli/src/commands/account/show.ts
  packages/cli/src/commands/election/show.ts
  packages/cli/src/commands/election/vote.ts
  packages/cli/src/commands/lockedgold/unlock.ts
  packages/cli/src/utils/checks.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/docs/command-line-interface/election.md
  packages/docs/command-line-interface/introduction.md
  packages/docs/getting-started/running-a-validator.md
  packages/protocol/migrationsConfig.js
  packages/utils/src/signatureUtils.ts
Due: protocol

fixed formatting in solidity files
  packages/protocol/contracts/governance/VestingFactory.sol
  packages/protocol/contracts/governance/VestingInstance.sol
Due: protocol

added safemath
  packages/protocol/contracts/stability/test/MockStableToken.sol
Due: protocol

added test for events
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/protocol/contracts/governance/Election.sol
Due: protocol

Fix error calculating fees on currencies with high exchange rate
  packages/mobile/src/tokens/saga.ts
Due: mobile

Fix error calculating fees on currencies with high exchange rate (#1937)
  packages/mobile/src/tokens/saga.ts
Due: mobile

clarification about env vars
  packages/docs/getting-started/running-a-validator.md
Due: none

Add repo structure with short package descriptions, links, other info
  README.md
Due: none

fixing a couple of commands for running the attestation service
  packages/docs/getting-started/running-a-validator.md
Due: none

add helm chart for oracle cronjob
  packages/helm-charts/oracle/.helmignore
  packages/helm-charts/oracle/Chart.yaml
  packages/helm-charts/oracle/templates/oracle.cronjob.yaml
  packages/helm-charts/oracle/templates/oracle.secret.yaml
  packages/helm-charts/oracle/values.yaml
Due: none

celotool command for deploying an oracle job (WIP)
  packages/celotool/src/cmds/deploy/initial/oracle.ts
  packages/celotool/src/lib/oracle.ts
Due: none

more helm chart work
  packages/celotool/src/lib/attestation-service.ts
  packages/celotool/src/lib/oracle.ts
  packages/helm-charts/oracle/templates/oracle.cronjob.yaml
  packages/helm-charts/oracle/values.yaml
Due: none

move some values into .env. add a dockerfile for a standalone cli image without geth
  .env
  dockerfiles/cli-standalone/Dockerfile
  packages/celotool/src/lib/endpoints.ts
  packages/celotool/src/lib/oracle.ts
  packages/helm-charts/oracle/templates/oracle.cronjob.yaml
Due: none

added registry entry for factory and interfaces for vesting contracts
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/VestingFactory.sol
  packages/protocol/contracts/governance/VestingInstance.sol
  packages/protocol/contracts/governance/interfaces/IVestingFactory.sol
  packages/protocol/contracts/governance/interfaces/IVestingInstance.sol
Due: protocol

deal with some envVars in a better way
  .env
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/oracle.ts
  packages/helm-charts/oracle/templates/oracle.cronjob.yaml
Due: none

hardcode a node's IP because forno is broken. fix some bits of the celotool deployment command for the oracle
  .env.baklavastaging
  dockerfiles/cli-standalone/Dockerfile
  packages/celotool/src/lib/oracle.ts
  packages/helm-charts/oracle/templates/oracle.cronjob.yaml
Due: none

various things to make the oracle actually work
  .env.baklavastaging
  dockerfiles/cli-standalone/Dockerfile
  packages/attestation-service/package.json
  packages/celotool/package.json
  packages/celotool/src/lib/oracle.ts
  packages/cli/package.json
  packages/cli/src/commands/oracle/report.ts
  packages/contractkit/package.json
  packages/mobile/package.json
  yarn.lock
Due: mobile

get rid of temporary hardcode now that forno works
  packages/celotool/src/lib/oracle.ts
Due: none

yarn.lock cleanup via yarn install
  yarn.lock
Due: none

added the setAccount shorthand method to conractskit, contract and unit tests
  packages/contractkit/src/wrappers/VestingInstanceWrapper.ts
  packages/protocol/contracts/governance/VestingInstance.sol
  packages/protocol/contracts/governance/interfaces/IVestingInstance.sol
  packages/protocol/test/governance/vesting.ts
Due: protocol

add reference to celocli
  packages/celotool/package.json
  yarn.lock
Due: none

Added moved firebase links to right java file
  packages/mobile/android/app/src/main/java/org/celo/mobile/MainApplication.java
  packages/verifier/android/app/src/main/java/org/celo/verifier/MainApplication.java
Due: mobile

make oracle schedule be in the .env file
  .env
  .env.alfajores
  .env.baklavastaging
  .env.integration
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/oracle.ts
  packages/helm-charts/oracle/templates/oracle.cronjob.yaml
  packages/helm-charts/oracle/values.yaml
Due: none

adding clarification about ethstats & attestation service
  packages/docs/getting-started/running-a-validator.md
Due: none

remove cli changes from this PR, since they're not in published cli
  packages/cli/package.json
  packages/cli/src/commands/oracle/report.ts
Due: none

fix contractkit dependency for cli
  packages/cli/package.json
Due: none

add the new envvars to all .envs. Use a cli docker image that actually exists
  .env
  .env.alfajores
  .env.alfajoresstaging
  .env.integration
Due: none

Wait for select issuers tx receipt
  packages/mobile/src/identity/verification.ts
  packages/mobile/src/networkInfo/saga.ts
Due: mobile

Fix utils import
  packages/mobile/src/identity/verification.test.ts
  packages/mobile/src/verify/VerificationCodeRow.tsx
Due: mobile

command for running the attestation service
  packages/docs/getting-started/running-attestation-service.md
Due: none

final batch of unit testing
  packages/contractkit/src/wrappers/VestingInstanceWrapper.ts
  packages/protocol/contracts/governance/VestingInstance.sol
  packages/protocol/contracts/governance/interfaces/IVestingInstance.sol
  packages/protocol/test/governance/vesting.ts
Due: protocol

Update info
  packages/web/src/about/team/team-list.ts
Due: none

Specify web deps properly (#1950)
  packages/web/package.json
  packages/web/src/about/team/team-list.ts
Due: none

addOracle expects leading '0x' on the address. Don't assume the addresses come that way
  packages/protocol/migrations/08_stabletoken.ts
Due: protocol

remove minderthreads flag from geth run.ts
  packages/celotool/src/cmds/geth/run.ts
Due: none
