Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

Updated example
  packages/terraform-modules-public/example/main.tf
  packages/terraform-modules-public/example/variables.tf
Due: none

Nearly done contact importing progress reporting
  packages/mobile/locales/en-US/nuxVerification2.json
  packages/mobile/locales/es-419/nuxVerification2.json
  packages/mobile/src/account/Invite.tsx
  packages/mobile/src/identity/actions.ts
  packages/mobile/src/identity/contactMapping.ts
  packages/mobile/src/identity/reducer.ts
  packages/mobile/src/recipients/RecipientPicker.tsx
  packages/mobile/src/send/Send.tsx
Due: mobile

Debugging statements wip
  packages/mobile/src/exchange/saga.ts
  packages/mobile/src/send/SendConfirmation.tsx
  packages/mobile/src/send/saga.ts
  packages/mobile/src/transactions/saga.ts
Due: mobile

Update tests
  packages/mobile/src/account/__snapshots__/InviteReview.test.tsx.snap
  packages/mobile/src/components/__snapshots__/FeeIcon.test.tsx.snap
  packages/mobile/src/escrow/__snapshots__/ReclaimPaymentConfirmationCard.test.tsx.snap
  packages/mobile/src/escrow/__snapshots__/ReclaimPaymentConfirmationScreen.test.tsx.snap
  packages/mobile/src/exchange/__snapshots__/ExchangeConfirmationCard.test.tsx.snap
  packages/mobile/src/exchange/__snapshots__/ExchangeReview.test.tsx.snap
  packages/mobile/src/exchange/__snapshots__/ExchangeTradeScreen.test.tsx.snap
  packages/mobile/src/exchange/__snapshots__/FeeExchangeEducation.test.tsx.snap
  packages/mobile/src/send/__snapshots__/SendConfirmation.test.tsx.snap
  packages/mobile/src/send/__snapshots__/TransferReviewCard.test.tsx.snap
Due: mobile

[Wallet] Refer to Celo Lite as "Data Saver" mode (#2232)
  packages/mobile/README.md
  packages/mobile/locales/en-US/accountScreen10.json
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/DataSaver.test.tsx
  packages/mobile/src/account/DataSaver.tsx
  packages/mobile/src/account/__snapshots__/Account.test.tsx.snap
  packages/mobile/src/account/__snapshots__/DataSaver.test.tsx.snap
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/Screens.tsx
Due: mobile

Revert "Upgrade TS version (#2196)"
  package.json
  packages/blockchain-api/package.json
  packages/celotool/src/cmds/deploy/upgrade/ethstats.ts
  packages/celotool/src/cmds/deploy/upgrade/leaderboard.ts
  packages/celotool/src/cmds/deploy/upgrade/testnet.ts
  packages/celotool/src/cmds/deploy/upgrade/vm-testnet.ts
  packages/cli/package.json
  packages/notification-service/package.json
  packages/react-components/analytics/wrapper.tsx
  packages/react-components/components/TextInput.tsx
  yarn.lock
Due: none

Revert "Upgrade TS version (#2196)" (#2251)
  package.json
  packages/blockchain-api/package.json
  packages/celotool/src/cmds/deploy/upgrade/ethstats.ts
  packages/celotool/src/cmds/deploy/upgrade/leaderboard.ts
  packages/celotool/src/cmds/deploy/upgrade/testnet.ts
  packages/celotool/src/cmds/deploy/upgrade/vm-testnet.ts
  packages/cli/package.json
  packages/notification-service/package.json
  packages/react-components/analytics/wrapper.tsx
  packages/react-components/components/TextInput.tsx
  yarn.lock
Due: none

Add utils as a dep
  packages/blockchain-api/package.json
Due: none

remove array
  packages/web/src/brandkit/Logo.tsx
Due: none

Fix missing Text on website (#2237)
  packages/web/src/brandkit/IconsPage.tsx
  packages/web/src/brandkit/Intro.tsx
  packages/web/src/brandkit/Logo.tsx
  packages/web/src/brandkit/Typography.tsx
  packages/web/src/community/CodeOfConduct.tsx
  packages/web/src/dev/Cover.tsx
  packages/web/src/dev/FaucetPage.tsx
  packages/web/src/i18n.ts
  packages/web/src/shared/Footer.3.tsx
Due: none

Update docs for stopping validator
  packages/docs/getting-started/running-a-validator.md
Due: none

Improvements from next round of feedback
  packages/cli/src/commands/rewards/show.ts
  packages/contractkit/src/kit.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
Due: none

WIP
  packages/web/.babelrc
  packages/web/next-env.d.ts
  packages/web/next.config.js
  packages/web/nodemon.json
  packages/web/package.json
  packages/web/server/Announcement.ts
  packages/web/server/AssetBase.ts
  packages/web/server/EventHelpers.ts
  packages/web/server/FellowshipApp.ts
  packages/web/server/airtable.ts
  packages/web/server/index.ts
  packages/web/src/analytics/analytics.ts
  packages/web/src/forms/EmailForm.tsx
  packages/web/src/header/BlueBanner.tsx
  packages/web/src/header/CookieConsent.tsx
  packages/web/src/join/Rise.tsx
  packages/web/src/layout/ScreenSize.tsx
  packages/web/src/logos/LogoLightBg.tsx
  packages/web/src/react-native-aug.d.ts
  packages/web/src/shared/Button.3.tsx
  packages/web/src/shared/Footer.3.tsx
  packages/web/src/shared/OvalCoin.tsx
  packages/web/tsconfig.json
  yarn.lock
Due: none

Revert "Revert "Upgrade TS version (#2196)" (#2251)"
  package.json
  packages/blockchain-api/package.json
  packages/celotool/src/cmds/deploy/upgrade/ethstats.ts
  packages/celotool/src/cmds/deploy/upgrade/leaderboard.ts
  packages/celotool/src/cmds/deploy/upgrade/testnet.ts
  packages/celotool/src/cmds/deploy/upgrade/vm-testnet.ts
  packages/cli/package.json
  packages/notification-service/package.json
  packages/react-components/analytics/wrapper.tsx
  packages/react-components/components/TextInput.tsx
  yarn.lock
Due: none

Add ts-ignore
  packages/react-components/components/PhoneNumberInput.tsx
Due: none

Force same bignumber version
  package.json
  yarn.lock
Due: none

Force same bignumber version (#2256)
  package.json
  yarn.lock
Due: none

Revert "Revert "Upgrade TS version (#2196)" (#2251)" (#2255)
  package.json
  packages/blockchain-api/package.json
  packages/celotool/src/cmds/deploy/upgrade/ethstats.ts
  packages/celotool/src/cmds/deploy/upgrade/leaderboard.ts
  packages/celotool/src/cmds/deploy/upgrade/testnet.ts
  packages/celotool/src/cmds/deploy/upgrade/vm-testnet.ts
  packages/cli/package.json
  packages/notification-service/package.json
  packages/react-components/analytics/wrapper.tsx
  packages/react-components/components/TextInput.tsx
  yarn.lock
Due: none

Add ts-ignore (#2254)
  packages/react-components/components/PhoneNumberInput.tsx
Due: none

Avoid negative epochs with fresh testnet
  packages/cli/src/commands/rewards/show.ts
  packages/contractkit/src/wrappers/Election.ts
Due: none

fix tests
  packages/protocol/test/governance/validators.ts
Due: protocol

Add space to trigger build
  packages/mobile/README.md
Due: mobile

Remove space added to trigger build
  packages/mobile/README.md
Due: mobile

Remove logging
  packages/contractkit/src/wrappers/Validators.ts
Due: none

Add concurrentValuesMap
  packages/contractkit/src/wrappers/Election.ts
  packages/utils/src/async.ts
Due: none

Improvements from review
  packages/protocol/contracts/stability/Reserve.sol
Due: protocol

Update running-a-validator.md
  packages/docs/getting-started/running-a-validator.md
Due: none

Add accounts page
  packages/docs/celo-codebase/protocol/identity/accounts.md
Due: none

Add validator:status --all
  packages/cli/src/commands/validator/status.ts
  packages/contractkit/src/wrappers/Validators.ts
Due: none

update command to run certora prover
  .circleci/config.yml
Due: none

Update running-a-validator.md (#2259)
  packages/docs/getting-started/running-a-validator.md
Due: none

Remove validator migrations hacks
  packages/protocol/migrations/20_elect_validators.ts
  packages/protocol/scripts/bash/init_network.sh
Due: protocol

adds Testing TSX /react on the web (#2229)
  packages/web/jest.config.js
  packages/web/src/brandkit/common/DownloadButton.tsx
  packages/web/src/brandkit/tests/Showcase.test.tsx
  packages/web/src/brandkit/tests/__snapshots__/Showcase.test.tsx.snap
  packages/web/tsconfig.jest.json
Due: none

added some list utils
  packages/utils/src/collections.test.ts
  packages/utils/src/collections.ts
Due: none

[Wallet] Fix persisted data loss on iOS (#2249)
  packages/mobile/index.js
  packages/mobile/src/apollo/index.ts
  packages/mobile/src/forceCommunityAsyncStorage.ts
Due: mobile

started working on slasher contracts
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/GovernanceSlasher.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/ILockedGold.sol
  packages/protocol/contracts/governance/interfaces/IValidators.sol
  packages/protocol/contracts/governance/proxies/DoubleSigningSlasherProxy.sol
  packages/protocol/contracts/governance/proxies/GovernanceSlasherProxy.sol
Due: protocol

fix massive gas overspending
  packages/protocol/lib/web3-utils.ts
Due: protocol

command name, description
  packages/celotool/src/cmds/bots/voting.ts
Due: none

start local testnet
  packages/celotool/package.json
  packages/celotool/register.sh
  packages/celotool/register_validatorgroup.sh
  packages/celotool/src/cmds/geth/start.ts
  packages/celotool/src/e2e-tests/attestations_tests.ts
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/sync_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/e2e-tests/validator_order_tests.ts
  packages/celotool/src/helpers/account_register.ts
  packages/celotool/src/helpers/add_local_geth.ts
  packages/celotool/src/helpers/election_show.ts
  packages/celotool/src/helpers/start_geth.ts
  packages/celotool/src/helpers/transfer.ts
  packages/celotool/src/helpers/utils.ts
  packages/celotool/src/helpers/validator_register.ts
  packages/celotool/src/helpers/validatorgroup_add.ts
  packages/celotool/src/helpers/validatorgroup_register.ts
  packages/celotool/src/helpers/validatorgroup_vote.ts
  packages/celotool/src/lib/generate_utils.ts
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/utils.ts
  yarn.lock
Due: none

Path conditions:
  mobile: any of: packages/mobile/
  protocol: any of: packages/protocol/
