Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

Align outbound link icon with baseline, and adjust spacing
  packages/web/src/about/Team.tsx
Due: none

Boom
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
Due: none

WIP
  packages/mobile/src/geth/actions.ts
  packages/mobile/src/geth/saga.ts
  packages/mobile/src/web3/saga.ts
Due: mobile

Add cache for medium
  packages/web/server/cache.ts
  packages/web/server/mediumAPI.ts
Due: none

initial docs skeleton
  packages/docs/SUMMARY.md
  packages/docs/developer-resources/reference.md
  packages/docs/developer-resources/walkthroughs/README.md
  packages/docs/developer-resources/walkthroughs/hellocelo.md
  packages/docs/developer-resources/walkthroughs/hellocontracts.md
  packages/docs/developer-resources/walkthroughs/hellodapp.md
  packages/docs/developer-resources/walkthroughs/hellodeploy.md
Due: none

make the accounts actually get added with new structure of the file
  packages/celotool/src/lib/generate_utils.ts
Due: none

Cache events from sortable
  packages/web/server/EventHelpers.ts
Due: none

Cache assets brand /icons / key imagery
  packages/web/server/AssetBase.ts
Due: none

Add frozen to migration config
  packages/celotool/src/e2e-tests/utils.ts
  packages/dev-utils/src/migration-override.json
  packages/protocol/migrations/09_exchange.ts
  packages/protocol/migrations/14_epoch_rewards.ts
  packages/protocol/migrationsConfig.js
Due: protocol

add test for cache module
  packages/web/server/cache.test.ts
Due: none

What is going on
  packages/web/server/mediumAPI.ts
Due: none

Fix circle not being started (#2380)
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/about/Team.tsx
  packages/web/src/community/connect/FullCircle.tsx
Due: none

Accelerate time based parameters (#2377)
  packages/protocol/migrationsConfig.js
Due: protocol

added further changes and fixes to contract
  packages/protocol/contracts/governance/VestingInstance.sol
  packages/protocol/contracts/governance/interfaces/IVestingInstance.sol
Due: protocol

Right on
  packages/web/server-env-config.js.enc
  packages/web/server/Announcement.ts
  packages/web/server/announcement.test.ts
  packages/web/server/cache.ts
  packages/web/server/geoip.ts
  packages/web/server/index.ts
Due: none

added election-realted funcs
  packages/contractkit/src/wrappers/VestingFactoryWrapper.ts
  packages/protocol/contracts/governance/VestingInstance.sol
  packages/protocol/contracts/governance/interfaces/IVestingInstance.sol
Due: protocol

final fixes and changes to contract
  packages/protocol/contracts/governance/VestingFactory.sol
  packages/protocol/contracts/governance/VestingInstance.sol
  packages/protocol/contracts/governance/interfaces/IElection.sol
  packages/protocol/contracts/governance/interfaces/IVestingFactory.sol
Due: protocol

Serve papers from celo.org
  packages/web/public/papers/CBDC_Velocity_Copic-Franke.pdf
  packages/web/public/papers/Celo_A_Multi_Asset_Cryptographic_Protocol_for_Decentralized_Social_Payments.pdf
  packages/web/public/papers/Celo_Stability_Analysis.pdf
  packages/web/src/home/HomeSystems.tsx
Due: none

Cleans up isReserveLow function
  packages/protocol/contracts/governance/EpochRewards.sol
Due: protocol

Rename calculateReserveRatio to getReserveRatio
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/interfaces/IReserve.sol
  packages/protocol/test/stability/reserve.ts
Due: protocol

Cleans up getReserveRatio test
  packages/protocol/test/stability/reserve.ts
Due: protocol

Reverting to old lockedgold amount and new voting amount
  packages/protocol/migrations/23_elect_validators.ts
  packages/protocol/migrationsConfig.js
Due: protocol

Integration deploy
  .env.integration
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Due: none

Changing onlySlasher to wrap around onlyRegisteredContracts
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/ILockedGold.sol
  packages/protocol/contracts/governance/test/MockLockedGold.sol
  packages/protocol/test/governance/validators.ts
Due: protocol

Add DowntimeSlasherWrapper
  packages/contractkit/src/base.ts
  packages/contractkit/src/web3-contract-cache.ts
  packages/contractkit/src/wrappers/DowntimeSlasher.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/protocol/scripts/build.ts
Due: protocol

fixes acc. to PR comments
  packages/protocol/contracts/common/MultiSig.sol
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/stability/SortedOracles.sol
  packages/protocol/contracts/stability/StableToken.sol
  packages/protocol/test/stability/sortedoracles.ts
Due: protocol

adding flag to force printing the environment variables
  scripts/run-docker-validator-network.sh
Due: none

The validator/full-node docker script should use bootnodes file (#2388)
  scripts/run-docker-validator-network.sh
Due: none

More feedback improvements
  packages/terraform-modules-public/testnet/modules/attestation-service/startup.sh
  packages/terraform-modules-public/testnet/modules/proxy/startup.sh
  packages/terraform-modules-public/testnet/modules/tx-node/startup.sh
  packages/terraform-modules-public/testnet/modules/validator/startup.sh
Due: none

alternate version of bug-fix for balance constants
  packages/celotool/src/lib/generate_utils.ts
Due: none

Integration deploy (#2397)
  .env.integration
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Due: none

oops. meant to put this in an alternate PR
  packages/celotool/src/lib/generate_utils.ts
Due: none

Revert "[Wallet] Fix slow activity feed tx confirmations (#2290)"
  packages/mobile/src/apollo/__mockData__.ts
  packages/mobile/src/apollo/types.ts
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/exchange/saga.ts
  packages/mobile/src/home/TransactionsList.tsx
  packages/mobile/src/stableToken/saga.test.ts
  packages/mobile/src/tokens/saga.ts
  packages/mobile/src/transactions/ExchangeFeedItem.test.tsx
  packages/mobile/src/transactions/TransactionFeed.test.tsx
  packages/mobile/src/transactions/TransactionFeed.tsx
  packages/mobile/src/transactions/TransferFeedItem.test.tsx
  packages/mobile/src/transactions/__snapshots__/TransactionFeed.test.tsx.snap
  packages/mobile/src/transactions/reducer.ts
  packages/walletkit/src/contract-utils.ts
Due: mobile

[WiP] New schema to support historical rates in the transaction feed
  packages/blockchain-api/src/blockscout.ts
  packages/blockchain-api/src/schema.ts
  packages/mobile/codegen.yml
  packages/mobile/package.json
  packages/mobile/scripts/updateGraphQlSchema.ts
  packages/mobile/src/account/InviteReview.tsx
  packages/mobile/src/apollo/__mockData__.ts
  packages/mobile/src/apollo/fragmentTypes.json
  packages/mobile/src/apollo/index.ts
  packages/mobile/src/apollo/types.ts
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/exchange/Activity.tsx
  packages/mobile/src/exchange/saga.ts
  packages/mobile/src/firebase/notifications.ts
  packages/mobile/src/home/TransactionsList.tsx
  packages/mobile/src/localCurrency/saga.ts
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListItem.tsx
  packages/mobile/src/send/SendAmount.tsx
  packages/mobile/src/send/SendConfirmation.tsx
  packages/mobile/src/send/TransferConfirmationCard.test.tsx
  packages/mobile/src/send/TransferConfirmationCard.tsx
  packages/mobile/src/send/TransferReviewCard.test.tsx
  packages/mobile/src/send/TransferReviewCard.tsx
  packages/mobile/src/stableToken/saga.test.ts
  packages/mobile/src/tokens/saga.ts
  packages/mobile/src/transactions/ExchangeFeedItem.test.tsx
  packages/mobile/src/transactions/ExchangeFeedItem.tsx
  packages/mobile/src/transactions/TransactionFeed.test.tsx
  packages/mobile/src/transactions/TransactionFeed.tsx
  packages/mobile/src/transactions/TransactionReviewScreen.tsx
  packages/mobile/src/transactions/TransferFeedIcon.tsx
  packages/mobile/src/transactions/TransferFeedItem.test.tsx
  packages/mobile/src/transactions/TransferFeedItem.tsx
  packages/mobile/src/transactions/actions.ts
  packages/mobile/src/transactions/reducer.ts
  packages/mobile/src/transactions/transferFeedUtils.ts
  yarn.lock
Due: mobile

[WiP] Fix types and restore functionalities (except standby transaction)
  packages/blockchain-api/src/blockscout.ts
  packages/mobile/src/apollo/__mockData__.ts
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/exchange/Activity.tsx
  packages/mobile/src/exchange/ExchangeHomeScreen.tsx
  packages/mobile/src/home/WalletHome.test.tsx
  packages/mobile/src/home/WalletHome.tsx
  packages/mobile/src/localCurrency/saga.ts
  packages/mobile/src/transactions/ExchangeFeedItem.test.tsx
  packages/mobile/src/transactions/ExchangeFeedItem.tsx
  packages/mobile/src/transactions/TransactionFeed.test.tsx
  packages/mobile/src/transactions/TransactionFeed.tsx
  packages/mobile/src/transactions/TransactionsList.tsx
  packages/mobile/src/transactions/TransferFeedItem.test.tsx
  packages/mobile/src/transactions/TransferFeedItem.tsx
Due: mobile

Prevent the verification of a verified number and address
  packages/mobile/src/identity/verification.ts
  packages/mobile/src/import/saga.test.ts
  packages/mobile/src/import/saga.ts
Due: mobile

Restore better log message
  packages/walletkit/src/contract-utils.ts
Due: none

add ws port and istanbul api
  packages/celotool/src/cmds/local_testnet.ts
  packages/celotool/src/e2e-tests/utils.ts
Due: none

Address comments
  packages/mobile/locales/en-US/exchangeFlow9.json
  packages/mobile/locales/es-419/exchangeFlow9.json
  packages/mobile/src/exchange/CeloGoldHistoryChart.tsx
  packages/mobile/src/exchange/__snapshots__/CeloGoldHistoryChart.test.tsx.snap
Due: mobile

Prevent the verification of a verified number and address (#2304)
  packages/mobile/src/identity/verification.ts
  packages/mobile/src/import/saga.test.ts
  packages/mobile/src/import/saga.ts
Due: mobile
