Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

e2e tests for slashing contracts (#2341)
  .circleci/config.yml
  packages/celotool/ci_test_slashing.sh
  packages/celotool/src/e2e-tests/slashing_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/tslint.json
  packages/cli/package.json
  packages/contractkit/package.json
  packages/contractkit/src/base.ts
  packages/contractkit/src/web3-contract-cache.ts
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/SlasherUtil.sol
  packages/protocol/migrations/20_double_signing_slasher.ts
  packages/protocol/migrations/21_downtime_slasher.ts
  packages/protocol/migrations/23_elect_validators.ts
  packages/protocol/package.json
  packages/protocol/scripts/build.ts
  packages/protocol/test/common/integration.ts
  packages/protocol/test/governance/lockedgold.ts
  yarn.lock
Due: protocol

Moving fn inside registry, optimizing for gas
  packages/protocol/contracts/common/Registry.sol
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/common/interfaces/IRegistry.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/ILockedGold.sol
  packages/protocol/contracts/governance/test/MockLockedGold.sol
  packages/protocol/test/governance/validators.ts
Due: protocol

Using twilio by default in example
  packages/terraform-modules-public/example/variables.tf
Due: none

Added note about geth-exporter metrics
  packages/terraform-modules-public/README.md
Due: none

Fix typo
  packages/terraform-modules-public/testnet/modules/attestation-service/variables.tf
  packages/terraform-modules-public/testnet/variables.tf
Due: none

Fund voting bot accounts in genesis (#2392)
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/generate_utils.ts
Due: none

Renamed variables
  packages/terraform-modules-public/example/README.md
  packages/terraform-modules-public/example/main.tf
  packages/terraform-modules-public/example/variables.tf
  packages/terraform-modules-public/testnet/main.tf
  packages/terraform-modules-public/testnet/modules/attestation-service/variables.tf
  packages/terraform-modules-public/testnet/modules/proxy/main.tf
  packages/terraform-modules-public/testnet/modules/proxy/variables.tf
  packages/terraform-modules-public/testnet/modules/tx-node/variables.tf
  packages/terraform-modules-public/testnet/modules/validator/main.tf
  packages/terraform-modules-public/testnet/modules/validator/variables.tf
  packages/terraform-modules-public/testnet/variables.tf
Due: none

[WiP] Map standby transactions to the new types for rendering with local amounts
  packages/blockchain-api/src/schema.ts
  packages/mobile/src/apollo/types.ts
  packages/mobile/src/localCurrency/actions.ts
  packages/mobile/src/localCurrency/convert.ts
  packages/mobile/src/localCurrency/reducer.ts
  packages/mobile/src/localCurrency/saga.test.ts
  packages/mobile/src/localCurrency/saga.ts
  packages/mobile/src/redux/migrations.test.ts
  packages/mobile/src/redux/migrations.ts
  packages/mobile/src/send/SendAmount.test.tsx
  packages/mobile/src/send/SendAmount.tsx
  packages/mobile/src/send/TransferReviewCard.tsx
  packages/mobile/src/transactions/ExchangeFeedItem.tsx
  packages/mobile/src/transactions/TransactionFeed.test.tsx
  packages/mobile/src/transactions/TransactionFeed.tsx
  packages/mobile/src/transactions/TransactionsList.test.tsx
  packages/mobile/src/transactions/TransactionsList.tsx
  packages/mobile/src/transactions/TransferFeedItem.test.tsx
  packages/mobile/src/transactions/TransferFeedItem.tsx
  packages/mobile/src/transactions/reducer.ts
  packages/mobile/test/schemas.ts
Due: mobile

Cleans up naming in governance test
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

Cleans up epoch rewards test
  packages/protocol/test/governance/epochrewards.ts
Due: protocol

Deduplicate target gold supply increase logic
  packages/protocol/contracts/governance/EpochRewards.sol
Due: protocol

[WiP] Use MoneyAmount type in the exchange confirmation card
  packages/mobile/src/components/CurrencyDisplay.tsx
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/transactions/ExchangeFeedItem.tsx
Due: mobile

Add first version of public terraform module. (#1771)
  packages/terraform-modules-public/.gitignore
  packages/terraform-modules-public/README.md
  packages/terraform-modules-public/example/README.md
  packages/terraform-modules-public/example/main.tf
  packages/terraform-modules-public/example/outputs.tf
  packages/terraform-modules-public/example/variables.tf
  packages/terraform-modules-public/testnet/main.tf
  packages/terraform-modules-public/testnet/modules/attestation-service/main.tf
  packages/terraform-modules-public/testnet/modules/attestation-service/startup.sh
  packages/terraform-modules-public/testnet/modules/attestation-service/variables.tf
  packages/terraform-modules-public/testnet/modules/proxy/main.tf
  packages/terraform-modules-public/testnet/modules/proxy/outputs.tf
  packages/terraform-modules-public/testnet/modules/proxy/startup.sh
  packages/terraform-modules-public/testnet/modules/proxy/variables.tf
  packages/terraform-modules-public/testnet/modules/tx-node/main.tf
  packages/terraform-modules-public/testnet/modules/tx-node/outputs.tf
  packages/terraform-modules-public/testnet/modules/tx-node/startup.sh
  packages/terraform-modules-public/testnet/modules/tx-node/variables.tf
  packages/terraform-modules-public/testnet/modules/validator/main.tf
  packages/terraform-modules-public/testnet/modules/validator/outputs.tf
  packages/terraform-modules-public/testnet/modules/validator/startup.sh
  packages/terraform-modules-public/testnet/modules/validator/variables.tf
  packages/terraform-modules-public/testnet/outputs.tf
  packages/terraform-modules-public/testnet/variables.tf
Due: none

Try out web coverage
  .circleci/config.yml
  .codecov.yml
Due: none

set genesis account balance list to phase 2
  baklava_genesis_balances.json
Due: none

Add coverage artifact
  .circleci/config.yml
Due: none

remove erroneously added addresses
  baklava_genesis_balances.json
Due: none

Sort on correct vote amount in validator election migration
  packages/protocol/migrations/23_elect_validators.ts
Due: protocol

[Slashing] Adding whitelist checks for onlySlasher to Validators.sol (#2347)
  packages/protocol/contracts/common/Registry.sol
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/common/interfaces/IRegistry.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/ILockedGold.sol
  packages/protocol/contracts/governance/test/MockLockedGold.sol
  packages/protocol/migrations/19_governance_slasher.ts
  packages/protocol/migrations/20_double_signing_slasher.ts
  packages/protocol/migrations/21_downtime_slasher.ts
  packages/protocol/test/governance/lockedgold.ts
  packages/protocol/test/governance/validators.ts
Due: protocol

Clarify documentation on validator proxy (#2371)
  packages/docs/getting-started/running-a-validator.md
Due: none

run coverage
  packages/web/package.json
Due: none

Adjustment to home banner / mobile menu (#2408)
  packages/web/src/header/Header.3.tsx
  packages/web/src/home/HomeAnimation.tsx
  packages/web/src/home/version3/HomeCover.tsx
Due: none

Add comments to public functions in wrappers
  packages/contractkit/src/kit.ts
  packages/contractkit/src/wrappers/DoubleSigningSlasher.ts
  packages/contractkit/src/wrappers/DowntimeSlasher.ts
  packages/contractkit/src/wrappers/Validators.ts
Due: none

Make attestation opt-in (#2230)
  packages/celotool/src/lib/attestation-service.ts
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/common/interfaces/IAccounts.sol
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/test/common/accounts.ts
  packages/protocol/test/identity/attestations.ts
Due: protocol

Sort on correct vote amount in validator election migration (#2417)
  packages/protocol/migrations/23_elect_validators.ts
Due: protocol

Update genesis block accounts config to be correct for phase 2 (#2416)
  baklava_genesis_balances.json
Due: none

Copy finding slashing lessers & greaters from protocol/test/common/integration.ts
  packages/cli/src/commands/rewards/slasher.ts
  packages/contractkit/src/wrappers/DoubleSigningSlasher.ts
  packages/contractkit/src/wrappers/DowntimeSlasher.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/LockedGold.ts
Due: none

Slashing params for stake off phase 2
  packages/protocol/migrationsConfig.js
Due: protocol

baklava update, fix gcloud upload
  .env.baklava
  packages/celotool/src/lib/testnet-utils.ts
Due: none

Update network id
  packages/docs/getting-started/reconnecting-to-network.md
  packages/docs/getting-started/running-a-full-node.md
  packages/docs/getting-started/running-a-validator.md
  packages/protocol/scripts/bash/init_network.sh
  packages/protocol/truffle-config.js
  packages/terraform-modules-public/example/variables.tf
  scripts/run-docker-validator-network.sh
  scripts/validator-config.rc
Due: protocol

bump @celo/celocli version
  packages/cli/package.json
Due: none

Improvements from review
  packages/cli/src/commands/rewards/slasher.ts
  packages/contractkit/src/wrappers/DoubleSigningSlasher.ts
  packages/contractkit/src/wrappers/DowntimeSlasher.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/utils/src/collections.ts
Due: none

bump utils and contractkit versions
  packages/attestation-service/package.json
  packages/blockchain-api/package.json
  packages/celotool/package.json
  packages/cli/package.json
  packages/contractkit/package.json
  packages/dappkit/package.json
  packages/leaderboard/package.json
  packages/mobile/package.json
  packages/notification-service/package.json
  packages/protocol/package.json
  packages/react-components/package.json
  packages/transaction-metrics-exporter/package.json
  packages/utils/package.json
  packages/verification-pool-api/package.json
  packages/verifier/package.json
  packages/walletkit/package.json
  packages/web/package.json
Due: mobile, protocol

Add react-testing-library
  packages/web/package.json
  packages/web/src/header/BlueBanner.test.tsx
  packages/web/src/header/BlueBanner.tsx
  yarn.lock
Due: none

Remove Jest-dom assertions line as I never to it working
  packages/web/src/header/BlueBanner.test.tsx
Due: none

Add mapAddressIndex
  packages/cli/src/commands/rewards/slasher.ts
  packages/contractkit/src/wrappers/DoubleSigningSlasher.ts
  packages/contractkit/src/wrappers/DowntimeSlasher.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/utils/src/address.ts
Due: none

Blockscout deploy
  .env.baklava
Due: none

Add migration override for test since test epochlen is hard-coded
  packages/protocol/runTests.js
Due: protocol

Remove --rm
  packages/docs/getting-started/running-a-validator.md
Due: none

Remove start at migration 12
  packages/protocol/scripts/bash/init_network.sh
Due: protocol
