Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

Fix
  .circleci/config.yml
Due: none

Add AccountClaim to Metadata (#1663)
  packages/attestation-service/src/attestation.ts
  packages/attestation-service/src/request.ts
  packages/cli/src/commands/account/claim-account.ts
  packages/cli/src/commands/account/claims.test.ts
  packages/cli/src/commands/account/get-metadata.ts
  packages/cli/src/commands/account/show-metadata.ts
  packages/cli/src/utils/command.ts
  packages/cli/src/utils/identity.ts
  packages/contractkit/src/identity/claims/account.test.ts
  packages/contractkit/src/identity/claims/account.ts
  packages/contractkit/src/identity/claims/claim.ts
  packages/contractkit/src/identity/claims/types.ts
  packages/contractkit/src/identity/metadata.ts
  packages/docs/command-line-interface/account.md
  packages/utils/src/address.ts
  packages/utils/src/io.ts
Due: none

[contractKit] release v0.2.0
  packages/contractkit/package.json
Due: none

Start development version of ContractKit
  packages/attestation-service/package.json
  packages/celotool/package.json
  packages/cli/package.json
  packages/contractkit/package.json
  packages/mobile/package.json
  yarn.lock
Due: mobile

Fix tests
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/protocol/contracts/governance/test/MockValidators.sol
Due: protocol

Remove unnecessary awaits
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

Run all tests
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

Give lots of gas
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

use new ck
  packages/blockchain-api/package.json
Due: none

fix ci
  .circleci/config.yml
Due: none

Section nav
  packages/web/pages/_app.tsx
  packages/web/src/brandkit/Logo.tsx
  packages/web/src/brandkit/Page.tsx
Due: none

yarn
  yarn.lock
Due: none

Redo pages
  packages/web/src/brandkit/Color.tsx
  packages/web/src/brandkit/Intro.tsx
  packages/web/src/brandkit/Logo.tsx
  packages/web/src/brandkit/Typography.tsx
Due: none

Remove unused field component
  packages/mobile/src/components/Field.test.tsx
  packages/mobile/src/components/Field.tsx
Due: mobile

Update fonts based on Corey spec
  packages/mobile/locales/en-US/exchangeFlow9.json
  packages/mobile/locales/es-419/exchangeFlow9.json
  packages/mobile/src/exchange/ExchangeHomeScreen.tsx
  packages/mobile/src/navigator/Navigator.tsx
  packages/react-components/styles/fonts.tsx
Due: mobile

Add new exchange screen
  packages/mobile/src/exchange/ExchangeBuyScreen.tsx
Due: mobile

Steal this from other branch
  packages/web/package.json
  packages/web/pages/_app.tsx
  yarn.lock
Due: none

WIP
  packages/mobile/src/exchange/ExchangeBuyScreen.tsx
  packages/mobile/src/exchange/ExchangeHomeScreen.tsx
Due: mobile

Restart with clean nodes before every test with demurrage
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

Sane scroll behavior
  packages/web/pages/_app.tsx
  packages/web/src/brandkit/Page.tsx
Due: none

Fix blockchain-api tests
  package.json
  packages/blockchain-api/jest.config.js
  packages/blockchain-api/package.json
  packages/transaction-metrics-exporter/package.json
  yarn.lock
Due: none

Revert changes to CI
  .circleci/config.yml
Due: none

REmove logging
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

Use constants for all paths
  packages/web/src/brandkit/Color.tsx
  packages/web/src/brandkit/Intro.tsx
  packages/web/src/brandkit/KeyImagery.tsx
  packages/web/src/brandkit/Logo.tsx
  packages/web/src/brandkit/Page.tsx
  packages/web/src/brandkit/Sidebar.tsx
  packages/web/src/brandkit/Typography.tsx
  packages/web/src/shared/menu-items.ts
Due: none

Mining blocks
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/lib/generate_utils.ts
Due: none

Point end-to-end tests to correct branch
  .circleci/config.yml
  packages/celotool/src/e2e-tests/utils.ts
Due: none

Revert migration changes and disable validator dependent tests
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/test-utils/migration-override.json
  packages/contractkit/src/wrappers/Governance.test.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/protocol/migrations/20_elect_validators.ts
Due: protocol

Fix utils usage
  packages/mobile/src/import/saga.ts
Due: mobile

Fix explorer args
  packages/contractkit/src/explorer/base.ts
  packages/contractkit/src/explorer/block-explorer.ts
  packages/mobile/src/verify/VerificationCodeRow.tsx
  packages/transaction-metrics-exporter/src/blockchain.ts
Due: mobile

Fix flaky unit tests
  packages/celotool/src/e2e-tests/attestations_tests.ts
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/test/governance/epochrewards.ts
  packages/protocol/test/stability/stabletoken.ts
Due: protocol

Fix flaky end-to-end transfer, protocol unit tests (#1734)
  packages/celotool/src/e2e-tests/attestations_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/test/governance/epochrewards.ts
  packages/protocol/test/stability/stabletoken.ts
Due: protocol

Support blacklisting country codes for the attestation service
  packages/attestation-service/README.md
  packages/attestation-service/config/.env.development
  packages/attestation-service/migrations/20191015211858-create-attestation.js
  packages/attestation-service/nodemon.json
  packages/attestation-service/src/attestation.ts
  packages/attestation-service/src/db.ts
  packages/attestation-service/src/index.ts
  packages/attestation-service/src/models/attestation.ts
  packages/attestation-service/src/request.ts
  packages/attestation-service/src/sms.ts
  packages/attestation-service/src/sms/base.ts
  packages/attestation-service/src/sms/index.ts
  packages/attestation-service/src/sms/nexmo.ts
  packages/utils/src/address.ts
Due: none

Fix build
  packages/utils/src/address.ts
Due: none

Remove end-to-end attestations test from circle
  .circleci/config.yml
Due: none

Minnor changes. Added missing option to proxy
  packages/docs/getting-started/running-a-validator.md
Due: none

Added helper function to get the list of current validators (#1713)
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/protocol/contracts/governance/Election.sol
Due: protocol

removing `miner.verificationpool` flag for baklava validators
  packages/docs/getting-started/running-a-validator.md
Due: none

Remove end-to-end attestations test from circle (#1739)
  .circleci/config.yml
Due: none

added documentation about how to run a full node in baklava network
  packages/docs/getting-started/running-a-full-node.md
Due: none

Forcing lowercase in authorized etherbase accounts
  .env
  packages/helm-charts/ethstats/templates/ethstats.deployment.yaml
Due: none
