Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: "packages/mobile/"
        flags: mobile
        threshold: 40%
        target: 10%
      protocol:
        paths: "packages/protocol/"
        flags: protocol
        threshold: 5%
        target: 90%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

Fix
  packages/celotool/src/e2e-tests/governance_tests.ts
Due: none

Finish implementation of new invite design
  packages/mobile/locales/en-US/global.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/locales/es-419/nuxNamePin1.json
  packages/mobile/src/components/CodeRow.test.tsx
  packages/mobile/src/components/CodeRow.tsx
  packages/mobile/src/components/__snapshots__/CodeRow.test.tsx.snap
  packages/mobile/src/invite/EnterInviteCode.test.tsx
  packages/mobile/src/invite/EnterInviteCode.tsx
  packages/mobile/src/invite/__snapshots__/EnterInviteCode.test.tsx.snap
  packages/mobile/src/invite/actions.ts
  packages/mobile/src/invite/reducer.test.ts
  packages/mobile/src/invite/reducer.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/verify/VerificationCodeRow.test.tsx
  packages/mobile/src/verify/VerificationCodeRow.tsx
  packages/mobile/src/verify/VerificationInputScreen.tsx
  packages/mobile/src/verify/__snapshots__/VerificationCodeRow.test.tsx.snap
  packages/mobile/src/verify/__snapshots__/VerificationInputScreen.test.tsx.snap
  packages/mobile/test/schemas.ts
  packages/react-components/components/KeyboardSpacer.tsx
Due: mobile

added vesting contracts
  packages/protocol/contracts/governance/VestingFactory.sol
  packages/protocol/contracts/governance/VestingInstance.sol
Due: protocol

Add @celo/dev-utils (#1753)
  dockerfiles/attestation-service/Dockerfile
  dockerfiles/celotool/Dockerfile
  packages/cli/jest.config.js
  packages/cli/package.json
  packages/cli/src/commands/account/authorize.test.ts
  packages/cli/src/commands/account/claims.test.ts
  packages/cli/src/commands/account/register.test.ts
  packages/cli/src/test-utils/ganache.setup.ts
  packages/cli/src/test-utils/ganache.teardown.ts
  packages/contractkit/jest.config.js
  packages/contractkit/package.json
  packages/contractkit/src/identity/claims/account.test.ts
  packages/contractkit/src/identity/metadata.test.ts
  packages/contractkit/src/test-utils/ganache-test.ts
  packages/contractkit/src/test-utils/ganache.setup.ts
  packages/contractkit/src/test-utils/ganache.teardown.ts
  packages/contractkit/src/test-utils/matchers.ts
  packages/contractkit/src/utils/signing.test.ts
  packages/contractkit/src/utils/tx-signing.test.ts
  packages/contractkit/src/wrappers/Accounts.test.ts
  packages/contractkit/src/wrappers/Exchange.test.ts
  packages/contractkit/src/wrappers/GoldToken.test.ts
  packages/contractkit/src/wrappers/SortedOracles.test.ts
  packages/contractkit/src/wrappers/StableToken.test.ts
  packages/contractkit/src/wrappers/Validators.test.ts
  packages/dev-utils/.gitignore
  packages/dev-utils/package.json
  packages/dev-utils/src/ganache-setup.ts
  packages/dev-utils/src/ganache-teardown.ts
  packages/dev-utils/src/ganache-test.ts
  packages/dev-utils/src/matchers.ts
  packages/dev-utils/src/migration-override.json
  packages/dev-utils/tsconfig.json
  packages/dev-utils/tslint.json
Due: none

Organize css
  packages/mobile/src/exchange/ExchangeBuyScreen.tsx
Due: mobile

PR feedback
  packages/react-components/components/PhoneNumberInput.test.tsx
  packages/react-components/components/PhoneNumberInput.tsx
Due: none

Left code ready to support iOS without repeating code
  packages/react-components/components/PhoneNumberInput.test.tsx
  packages/react-components/components/PhoneNumberInput.tsx
Due: none

Support Twilio in the attestation service (#1754)
  packages/attestation-service/config/.env.development
  packages/attestation-service/package.json
  packages/attestation-service/src/attestation.ts
  packages/attestation-service/src/models/attestation.ts
  packages/attestation-service/src/sms/base.ts
  packages/attestation-service/src/sms/index.ts
  packages/attestation-service/src/sms/twilio.ts
Due: none

setting up LockedGold
  .circleci/config.yml
Due: none

import CeloProvider from lib...
  packages/cli/src/base.ts
  packages/contractkit/src/index.ts
Due: none

set stabletoken as default, use toFixed()
  packages/cli/src/commands/oracle/report.ts
Due: none

e2e-tests: Log execCmd failures
  packages/celotool/src/e2e-tests/utils.ts
Due: none

Add status endpoint
  packages/attestation-service/src/env.ts
  packages/attestation-service/src/index.ts
  packages/attestation-service/src/request.ts
  packages/attestation-service/src/requestHandlers/attestation.ts
  packages/attestation-service/src/requestHandlers/status.ts
  packages/attestation-service/src/sms/index.ts
  packages/attestation-service/src/sms/nexmo.ts
  packages/attestation-service/src/sms/twilio.ts
  packages/utils/src/collections.ts
Due: none

Fix lint
  packages/attestation-service/src/sms/index.ts
Due: none

protocol/contracts: setTobinTaxStalenessThreshold() in Reserve initialize for #1603
  packages/protocol/contracts/stability/Reserve.sol
Due: protocol

Allow optional proof of posession for the attestation key
  packages/attestation-service/package.json
  packages/attestation-service/src/index.ts
  packages/attestation-service/src/request.ts
  packages/attestation-service/src/requestHandlers/status.ts
  packages/utils/src/io.ts
  yarn.lock
Due: none

Working simulate client
  packages/celotool/src/cmds/deploy/initial/load-test.ts
  packages/celotool/src/cmds/geth/simulate_client.ts
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/load-test.ts
  packages/helm-charts/.gitignore
  packages/helm-charts/common/Chart.yaml
  packages/helm-charts/common/README.md
  packages/helm-charts/common/templates/_helpers.tpl
  packages/helm-charts/common/values.yaml
  packages/helm-charts/load-test/requirements.lock
  packages/helm-charts/load-test/requirements.yaml
  packages/helm-charts/load-test/templates/load-test.configmap.yaml
  packages/helm-charts/load-test/templates/load-test.secret.yaml
  packages/helm-charts/load-test/templates/load-test.statefulset.yaml
  packages/helm-charts/testnet/requirements.yaml
Due: none

Factor out intrinsic gas values
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

Extract blacklist parsing
  packages/attestation-service/src/sms/base.ts
  packages/attestation-service/src/sms/nexmo.ts
  packages/attestation-service/src/sms/twilio.ts
Due: none

Debugging in progress
  packages/mobile/src/app/App.tsx
  packages/mobile/src/app/reducers.ts
  packages/mobile/src/geth/saga.ts
  packages/mobile/src/web3/reducer.ts
  packages/mobile/src/web3/saga.ts
Due: mobile

Create catchAsyncErrorHandler
  packages/attestation-service/src/request.ts
Due: none

Switch e2e tests back to master
  .circleci/config.yml
Due: none

Address comments
  packages/celotool/src/e2e-tests/sync_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
Due: none

Remove debugging lines
  packages/mobile/src/app/App.tsx
  packages/mobile/src/app/reducers.ts
  packages/mobile/src/geth/saga.ts
Due: mobile

renaming methods
  packages/react-components/components/PhoneNumberInput.test.tsx
  packages/react-components/components/PhoneNumberInput.tsx
Due: none

augment web3 transaction types with gateway fee information
  packages/contractkit/src/providers/celo-private-keys-subprovider.ts
  packages/contractkit/types/web3.d.ts
Due: none

revert changes to walletkit
  packages/walletkit/index.ts
  packages/walletkit/src/contract-utils-v2.ts
  packages/walletkit/src/contract-utils.ts
  packages/walletkit/src/signing-utils.ts
  packages/walletkit/src/transaction-utils.ts
  packages/walletkit/test/contract-utils-v2.test.ts
  packages/walletkit/test/transaction-utils.test.ts
Due: none

adjust transfer test to match new behavior
  packages/celotool/src/e2e-tests/transfer_tests.ts
Due: none

[wallet] UX fixes for native phone number (#1717)
  packages/react-components/components/PhoneNumberInput.test.tsx
  packages/react-components/components/PhoneNumberInput.tsx
Due: none

Logo page basic content first pass
  packages/web/src/brandkit/Logo.tsx
  packages/web/src/brandkit/Page.tsx
  packages/web/src/brandkit/constants.tsx
  packages/web/src/brandkit/images/Check.png
  packages/web/src/brandkit/images/ClearspaceImage.png
  packages/web/src/brandkit/images/X.png
  packages/web/src/brandkit/images/lilah.jpg
  packages/web/src/brandkit/images/lilahOverlay.jpg
  packages/web/src/brandkit/logo/Judgement.tsx
  packages/web/src/brandkit/logo/LogoExample.tsx
  packages/web/src/brandkit/logo/LogoWithBackground.tsx
  packages/web/src/brandkit/logo/SectionTitle.tsx
  packages/web/src/i18n.ts
  packages/web/src/logos/LogoLightBg.tsx
  packages/web/src/logos/RingsLight.tsx
  packages/web/src/styles.ts
  packages/web/static/locales/en/brand.json
Due: none

consolidate branch changes to one line
  .circleci/config.yml
Due: none

Address #1301 without changing ABI. Is this an improvement?
  packages/protocol/contracts/stability/Reserve.sol
Due: protocol

Add in words (WIP)
  packages/web/src/brandkit/Intro.tsx
  packages/web/src/brandkit/Logo.tsx
  packages/web/src/brandkit/images/sizing.png
  packages/web/src/brandkit/logo/Judgement.tsx
  packages/web/src/brandkit/logo/LogoWithBackground.tsx
  packages/web/src/brandkit/logo/SectionTitle.tsx
  packages/web/static/locales/en/brand.json
Due: none

Fix web3 saga
  packages/mobile/.env
  packages/mobile/src/web3/saga.ts
Due: mobile

PR cleanup
  packages/mobile/.env
  packages/mobile/src/web3/reducer.ts
  packages/mobile/src/web3/saga.ts
Due: mobile

Fix comment
  packages/mobile/src/web3/saga.ts
Due: mobile

Better white spacing
  packages/web/src/brandkit/Logo.tsx
  packages/web/src/brandkit/logo/LogoWithBackground.tsx
  packages/web/src/brandkit/logo/SectionTitle.tsx
  packages/web/static/locales/en/brand.json
Due: none

Add more wallet home tests
  packages/mobile/src/home/WalletHome.test.tsx
  packages/mobile/src/home/__snapshots__/WalletHome.test.tsx.snap
Due: mobile

bump gas cost for alternative currencies to account for extra credit op
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/protocol/migrationsConfig.js
Due: protocol
