Repository celo-org/celo-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, protocol

.codecov.yml:

coverage:
  status:
    project:
      default: off
      mobile:
        paths: 'packages/mobile/'
        flags: mobile
        threshold: 5%
        target: 70%
      web:
        paths: 'packages/web/'
        flags: web
        threshold: 2%
        target: 75%
      protocol:
        paths: 'packages/protocol/'
        flags: protocol
        threshold: 5%
        target: 90%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default: off

flags:
  mobile:
    paths:
      - packages/mobile/
  protocol:
    paths:
      - packages/protocol/

📸
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/build/__snapshots__/index.test.tsx.snap
Due: none

Use kaniko v0.16.0 as recommended until https://github.com/GoogleContainerTools/kaniko/issues/1045 is fixed
  cloudbuild.yaml
Due: none

[dev-utils] Copy the ganache chain for every test run
  packages/cli/package.json
  packages/cli/src/test-utils/ganache.setup.ts
  packages/contractkit/package.json
  packages/contractkit/src/test-utils/ganache.setup.ts
  packages/dev-utils/package.json
  packages/dev-utils/src/ganache-setup.ts
  packages/protocol/package.json
  packages/protocol/scripts/devchain.ts
  yarn.lock
Due: protocol

Allow .env references during celotool docker build tests
  dockerfiles/celotool/Dockerfile
Due: none

Fix missing paramers to reserve.initialize
  packages/protocol/test/governance/epochrewards.ts
Due: protocol

💫 magic
  packages/web/pages/collective.tsx
  packages/web/src/collective/Collective.tsx
  packages/web/src/community/connect/Sweep.tsx
Due: none

Updates twitter handle (#2775)
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/build/__snapshots__/index.test.tsx.snap
  packages/web/src/header/OpenGraph.tsx
  packages/web/src/shared/SocialChannels.tsx
Due: none

🖼 Got the “code editor” image in looks so good
  packages/web/src/dev/CodeEditor.tsx
  packages/web/src/dev/Sandbox.tsx
  packages/web/src/shared/svg.tsx
Due: none

Convert fracMulExp interface to use FixidityLib.Fraction
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/stability/StableToken.sol
  packages/protocol/contracts/stability/interfaces/IStableToken.sol
  packages/protocol/test/stability/stabletoken.ts
Due: protocol

add more complete comments on doc strings
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/StableToken.sol
Due: protocol

added exchange as another role for reserve
  packages/protocol/contracts/stability/Exchange.sol
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/interfaces/IReserve.sol
  packages/protocol/contracts/stability/test/MockReserve.sol
  packages/protocol/migrations/09_exchange.ts
  packages/protocol/test/stability/reserve.ts
Due: protocol

first attempt
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Due: protocol

cleanup
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Due: protocol

more cleanup
  packages/protocol/test/governance/election.ts
Due: protocol

Add invite deeplink and dynamic AppStore ID fetching
  packages/mobile/__mocks__/react-native-firebase.ts
  packages/mobile/__mocks__/react-native-version-check.ts
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/src/account/InviteReview.test.tsx
  packages/mobile/src/account/InviteReview.tsx
  packages/mobile/src/app/saga.ts
  packages/mobile/src/firebase/dynamicLinks.test.ts
  packages/mobile/src/firebase/dynamicLinks.ts
  packages/mobile/src/invite/EnterInviteCode.test.tsx
  packages/mobile/src/invite/EnterInviteCode.tsx
  packages/mobile/src/invite/actions.ts
  packages/mobile/src/invite/reducer.ts
  packages/mobile/src/invite/saga.test.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/invite/utils.ts
  packages/mobile/src/send/saga.ts
  packages/mobile/src/utils/appstore.ts
  packages/mobile/test/schemas.ts
Due: mobile

[dev-utils] separate commands
  packages/cli/.gitignore
  packages/cli/package.json
  packages/cli/src/test-utils/ganache.setup.ts
  packages/contractkit/.gitignore
  packages/contractkit/package.json
  packages/contractkit/src/test-utils/ganache.setup.ts
  packages/dev-utils/src/ganache-setup.ts
  packages/protocol/package.json
  packages/protocol/scripts/devchain.ts
Due: protocol

[contractKit] add comments
  packages/contractkit/src/utils/rpc-caller.ts
Due: none

Add getUnfrozenReserveGoldBalance() to MockReserve
  packages/protocol/contracts/stability/test/MockReserve.sol
Due: protocol

Use unwrapped fixidity fractios in fractionMulExp interface
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/stability/StableToken.sol
  packages/protocol/contracts/stability/interfaces/IStableToken.sol
  packages/protocol/test/stability/stabletoken.ts
Due: protocol

Add tracking
  packages/web/src/dev/Sandbox.tsx
Due: none

Woo woo
  packages/web/src/community/connect/Sweep.tsx
Due: none

Updates from talk with Taylor
  packages/web/src/dev/DevelopersPage.tsx
  packages/web/src/dev/Engage.tsx
  packages/web/src/dev/Phone.tsx
  packages/web/src/dev/Sandbox.tsx
Due: none

Improve comments
  packages/protocol/contracts/common/UsingPrecompiles.sol
Due: protocol

[dev-utils] Avoid devchain datadir corruption between test runs (#2776)
  packages/cli/.gitignore
  packages/cli/package.json
  packages/cli/src/test-utils/ganache.setup.ts
  packages/contractkit/.gitignore
  packages/contractkit/package.json
  packages/contractkit/src/test-utils/ganache.setup.ts
  packages/dev-utils/package.json
  packages/dev-utils/src/ganache-setup.ts
  packages/protocol/package.json
  packages/protocol/scripts/devchain.ts
  yarn.lock
Due: protocol

Use FixidityLib.digits() instead of constant 24
  packages/protocol/contracts/common/UsingPrecompiles.sol
Due: protocol

change capitalization of DApp to dApp
  packages/docs/developer-resources/dappkit/README.md
Due: none

Collecting collectivists
  packages/web/public/static/locales/en/collective.json
  packages/web/src/collective/ColLogo.tsx
  packages/web/src/collective/Collective.tsx
  packages/web/src/collective/CollectiveForm.tsx
  packages/web/src/collective/CollectiveMission.tsx
  packages/web/src/collective/Sweep.tsx
  packages/web/src/i18n.ts
  packages/web/src/shared/menu-items.ts
Due: none

Update packages/docs/operations-manual/securing-nodes-and-services.md
  packages/docs/operations-manual/securing-nodes-and-services.md
Due: none

Only copy the .env.alfajoresstaging referenced by walletkit build
  dockerfiles/celotool/Dockerfile
Due: none

Fit and finished Developers SDK page
  packages/web/public/static/locales/en/dev.json
  packages/web/src/_page-tests/build/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/dev/DevelopersPage.tsx
  packages/web/src/dev/Feature.tsx
  packages/web/src/dev/Features.tsx
  packages/web/src/dev/FullStack.tsx
  packages/web/src/dev/Phone.tsx
  packages/web/src/dev/dev-og.png
Due: none

🤯 Breaking Change to Menu add developers change build to validators, connect to community
  packages/web/pages/validators/index.tsx
  packages/web/server/index.ts
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/build/index.test.tsx
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/key-imagery.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/header/Header.3.tsx
  packages/web/src/shared/menu-items.ts
Due: none

Retrieve revert reason if transaction reverted
  packages/celotool/src/cmds/transactions/describe.ts
Due: none

Put back fractionMulExp because we need to use StableCoin.digits_
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/stability/StableToken.sol
  packages/protocol/contracts/stability/interfaces/IStableToken.sol
Due: protocol

Reset css fixes https://github.com/celo-org/celo-labs/issues/326
  packages/web/public/static/normalize.css
Due: none

Registry harness style fixes
  packages/protocol/specs/harnesses/RegistryHarness.sol
Due: protocol

Update validate meta description
  packages/web/src/dev/BuildPage.tsx
Due: none

build:ts walletkit, build everything else
  dockerfiles/celotool/Dockerfile
Due: none
